/* dialog as chat */

.chat,
.chat > form {
  position: relative; /* overstates though */
  display: flex;
  flex-direction: column;
}
.chat > input:not([type="submit"]),
.chat > output,
.chat > form {
  margin-bottom: 1em;
  font-family: sans-serif;
}
.chat > input:not([type="submit"]),
.chat > output,
.chat > form > input:not([type="submit"]),
.chat > form > fieldset > input:not([type="submit"]),
.chat > form > output {
  flex: auto;
  padding: 0.66em 1em;
  border-radius: 2em;
}
.chat > output,
.chat > form > output {
  background: GrayText;
}
.chat > form {
  outline: 1px solid #ff27;
}
.chat > input,
.chat > form > input,
.chat > form > fieldset > input {
  font-size: 100%;
  border: none;
}
.chat > input:not([type="submit"]),
.chat > form > input:not([type="submit"]),
.chat > form > fieldset > input:not([type="submit"]) {
  background: Highlight;
}
.chat > form > input[type="submit"],
.chat > form > fieldset > input[type="submit"] {
  cursor: pointer;
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #fff7;
}
.chat > form > fieldset > input[type="submit"] {
  position: absolute;
  margin-top: 0.33em;
}
.chat > form > input[type="submit"] {
  position: absolute;
  top: 0.5em;
}

/* output / input */
@media all {
  .chat > output,
  .chat > form > output {
    align-self: flex-start;
    border-top-left-radius: 0;
  }
  .chat > form {
    text-align: right;
  }
  .chat > input:not([type="submit"]),
  .chat > form > input:not([type="submit"]),
  .chat > form > fieldset > input:not([type="submit"]) {
    align-self: flex-end;
    border-top-right-radius: 0;
  }
  .chat > form > fieldset > input:not([type="submit"]) {
    padding-left: 2em;
  }
  .chat > form > fieldset > input[type="submit"] {
    margin-left: 0.25em;
    margin-right: 1em;
  }
}

/* input / output */
@media none {
  .chat > output,
  .chat > form > output {
    align-self: flex-end;
    border-top-right-radius: 0;
  }
  .chat > form {
    text-align: left;
  }
  .chat > form > fieldset {
    width: fit-content;
    position: relative;
  }
  .chat > input:not([type="submit"]),
  .chat > form > input:not([type="submit"]),
  .chat > form > fieldset > input:not([type="submit"]) {
    align-self: flex-start;
    border-top-left-radius: 0;
  }
  .chat > form > fieldset > input:not([type="submit"]) {
    padding-left: 1em;
  }
  .chat > form > fieldset > input[type="submit"] {
    right: 0;
    margin-right: 1em;
  }
}
