/* COPIED from dialog.html on this date */
/* THEEEEN, I messed with it.  split of -as-chat class */

@import "./dialog-chat.css";

.dialog-as-repl dialog {
  display: block;
  /* position: relative; */
  max-width: 1em;
  max-height: 1em;
  overflow: hidden;
  transition: 0.2s;
}
.dialog-as-repl dialog[open] {
  max-width: 40rem;
  max-height: 80vh;
}
.dialog-as-repl dialog > form:focus-within {
  background-color: ActiveText;
}
