@import "./dialog.css";

html {
  background: hsl(0deg, 15%, 5%);
  color: hsl(180deg, 55%, 30%);
}
body {
  /* font-size: 18pt; */
  display: grid;
  grid-template-columns: 1fr 1fr; /* 50-50 split to avoid thrash */
  grid-template-rows: auto auto 1fr;
  align-items: start;
  grid-template-areas: "header document" "chat document" "system document" "timeline timeline";
  margin: 0; /* beat user agent default */
}
button {
  font-size: 100%;
}

body > :is(dialog, .dialog, article, main, header, .timestream) {
  overflow: auto; /* else grid cells may grow! */
}
/* often the culprit */
/* prettier-ignore */
pre { overflow: auto }

/* prettier-ignore */
body > header { grid-area: header }
/* prettier-ignore */
body > output { grid-area: footer }
/* prettier-ignore */
body > main { grid-area: document; }
/* prettier-ignore */
body > aside { grid-area: system }
/* prettier-ignore */
body > iframe { grid-area: iframe }
/* prettier-ignore */
body > figure { grid-area: timeline }
/* prettier-ignore */
body > :is(dialog, .dialog) { grid-area: chat }

/* The media query is just to get a region for prettier-ignore */
/* prettier-ignore */
@media none {
  body > iframe { display: none; }
  body { grid-template-areas: "header document" "chat document" "system document" }
}

a[wiki],
a[data-datetime] {
  cursor: pointer;
  font-weight: bolder;
}
a[wiki]:hover {
  color: LinkText;
}
a[wiki][data-clicked="true"] {
  color: VisitedText;
}
body > dialog {
  /* appearance: none doesn't work on dialog */
  position: relative; /* beat dialog default */
  width: auto; /* beat dialog default */
  height: auto; /* beat dialog default */
  /* margin:auto was centering this vertically (in a grid cell)! */
  margin-top: 0; /* beat dialog default */
}
body > :is(dialog, .dialog) {
  background-color: #fff7;
  /* prevent content from causing grid items to expand */
  box-sizing: border-box;
  width: 100%;
}
body > :is(dialog, .dialog) > article {
  flex: auto;
}
article {
  /* But actually I want this to be whatever the document would have been */
  /* I think this is a thing where layers would help */
  background-color: Canvas;
  color: initial;
  border: 0.25em dashed #7777;
  padding-left: 1em;
  margin-bottom: 1em;
}

body > iframe {
  width: 100%;
  height: 50vh;
  overflow: auto;
  box-sizing: border-box;
}

section section {
  padding-left: 2em;
}

output[data-query]:before {
  display: block;
  content: "Matches for " attr(data-query);
  font-size: 300%;
  margin-right: 1em;
}

/* I want this in text/phrasing content but not markers */
a /* or blockquote? or li? */ time {
  /* text-decoration: underline; */
}
time {
  color: Highlight;
  font-family: sans-serif;
}

[aria-role="contentinfo"] {
  color: GrayText;
}

ul.timeline {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.timeline {
  --timeline-extent: 50; /*PROVISIONAL*/
  /* position: relative; */ /* overkill */
  --year-span: calc(var(--to-year) - var(--from-year));
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}
.timeline > * {
  position: relative;
  /* TODO: to use a variable extent here */
  left: calc(50% * (var(--year) - var(--from-year)) / var(--year-span));
  /* and here */
  /* expanding this on hover is lousy */
  /*
  max-width: calc(
    50% - (50% * (var(--year) - var(--from-year)) / var(--year-span))
  );
   */
  max-width: calc(
    100% - (50% * (var(--year) - var(--from-year)) / var(--year-span))
  );
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  /* allow wrapping
  max-width: calc(
    100% - (50% * (var(--year) - var(--from-year)) / var(--year-span)) - 4em
  );
  overflow: visible;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-indent: -4em;
  margin-left: 4em;
*/
}
.timeline > li:before {
  /* okay but it's cleaner without this, and it's also inconsistent across fonts */
  /* But... you need something for collapsed mode */
  content: "📍";
}

.timestream mark {
  background: initial; /* beat mark default */
  color: inherit; /* beat mark default */
}
/* for links to the current topic... */
.timestream mark {
  /* mark and marktext are not implemented in FF */
  /* but it's not a good look anyway */
  border-bottom: 1px solid #ff07;
  display: inline-block;
}
svg.timestream-bands--transition {
  display: block; /* avoid gap */
  width: 100%;
  height: 5em;
}
@media all {
  html {
    box-sizing: border-box;
    height: calc(100% - 2 * 2rem);
    overflow-y: auto;
  }
  body {
    display: block;
    position: relative;
    height: 100%;
    overflow-y: hidden;
    box-sizing: border-box;
    border: 0.25em solid orange;
  }
  body > :is(header, footer, aside, main) {
    display: none;
  }
  body > :is(dialog, .dialog) {
    position: absolute;
    margin: auto;
    background-color: #7777;
    overflow: auto;
    width: 30rem;
    height: 10rem;
    z-index: 2;
    max-width: 100%;
  }
  body > .timestream {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }
  body > .timestream:first-of-type {
    padding: 10rem 2rem 4rem;
  }

  body > article {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2;
  }
}

a[href*="redlink=1"] {
  color: GrayText;
}
/* a few items have images, just flag them for now  */
li img {
  background: red;
  max-height: 1em; /* also prevent from throwing off height of collapsed group */
}

/* time streams */

.timestream-section {
  border: 0.25em dashed #7777;
  /* try dashed for dividers instead */
  border: 0.25em solid #7777;
  padding: 0; /* we need to control alignment absolutely */
}
.timestream-section > [data-part="timeline"] > [data-part="layers"] {
  perspective: 30rem; /* goes on (positioning?) parent to affect transformed children */
}
.timestream-section > [data-part="timeline"] > [data-part="layers"] > * {
  transform-origin: top left;
  transition: transform 300ms;
}
.timestream-section.show-layers
  > [data-part="timeline"]
  > [data-part="layers"]
  > * {
  border: 1px solid #34d8;
  transform: translate3d(
      calc(10rem * (var(--child-index) - 1) + 3rem),
      calc(1rem * (var(--child-index) - 1)),
      calc(5rem * (var(--child-index) - 1))
    )
    rotateY(60deg) rotateX(0deg);
}

/* nth-child (general) */
/* prettier-ignore */
@media all {
  :nth-child(1) { --child-index: 1 }
  :nth-child(2) { --child-index: 2 }
  :nth-child(3) { --child-index: 3 }
  :nth-child(4) { --child-index: 4 }
  :nth-child(5) { --child-index: 5 }
  :nth-child(6) { --child-index: 6 }
  :nth-child(7) { --child-index: 7 }
  :nth-child(8) { --child-index: 8 }
  :nth-child(9) { --child-index: 9 }
  :nth-child(10) { --child-index: 10 }
}

.timestream-section > [data-part="controls"] {
  float: right;
  position: relative;
  z-index: 1;
}
.timestream-section > figure[data-part="timeline"] {
  margin: 0; /* beat figure default */
}
.timestream-section > [data-part="timeline"] > figcaption {
  padding-top: 1.5em; /* get past absolutely-positioned markers */
  padding-bottom: 0.5em;
  color: initial;
  color: #777; /* read against dark or light */
  font-size: larger;
}
.timestream-section li {
  background: canvas;
  background: #fffa;
  border-radius: 4px;
  color: canvastext;
  /* dark mode... might not need color though */
  background: #000a;
  color: #ddd8;
}
.timestream-bands {
  --hue: 240deg;
  --saturation: 0%;
  --luminosity: 0%;
  fill: transparent; /* beat default black */
}
.timestream-section > [data-part="timeline"] > [data-part="layers"] {
  position: relative;
}

.timestream .tile-layer > .timestream-bands {
  position: absolute;
  top: 0;
  left: 0;
  /* Setting right/bottom doesn't work for `svg` element */
  width: 100%;
  height: 101%; /* prevent 1px gaps between groups (see also js) */
  z-index: -1;
}
.timestream-band {
  /* clip-path: path("M0 0 L50 0 L50 101 L0 101 L0 0"); /\* gapminder *\/ */
  /* when not using shading, we can extend these past 50 without problem */
  clip-path: path("M0 0 L100 0 L100 101 L0 101 L0 0"); /* gapminder */
}
.timestream-band > * {
  vector-effect: non-scaling-stroke;
}
.timestream-band > .divider {
  stroke: #fffa;
  stroke: #777a;
  stroke: #35c7; /* gray looks too much like section border */
  stroke: highlight; /* a bit much but it does connect with time coloring */
  opacity: 0.5;
  stroke-width: 2;
  stroke-dasharray: 7 3;
  fill: none; /* though moot now, I got rid of shading */
}
.timestream-band.exotic > .divider {
  opacity: 0.15;
}
.timestream-band > .shade {
  /* 
  fill: hsl(var(--hue), var(--saturation), var(--luminosity));
  fill: hsl(0deg, 0%, 45%);
 */
}

/* tiles */
.timestream .tile-layer {
  min-height: 10em;
}
.timestream .tile-layer > .tile {
  position: absolute;
  height: 100%;
  overflow: hidden;
}
.timestream .tile-layer > .tile > [data-part="label"] {
  font-family: sans-serif;
  font-weight: bold;
  color: initial;
}
.timestream .tile-layer[data-unit="https://vocabs.acdh.oeaw.ac.at/unit_of_time/Year"] > .tile
{
  --year-span: calc(var(--to-year) - var(--from-year));
  --T: 50%; /* SHOULD be 100%... this is really about list items */
  left: calc(var(--T) * (var(--year) - var(--from-year)) / var(--year-span));
  width: calc(var(--T) / var(--year-span));
}

/* tags */

.timestream .tags {
  color: #7777; /* can read against dark or light */
}
.timestream .tags .tag {
  font-size: calc(1em + 1em * (var(--hits) - 1) / var(--max-hits));
}

/* collapsing section */

.timestream .timeline > li {
  transition: margin-top 500ms;
}
.timestream-section:not(:last-of-type) .timeline > li:not(:first-child) {
  margin-top: -1.2em;
}
.timestream-section:not(:last-of-type) .timeline > li {
  background: none;
}
.timestream-section:not(:last-of-type) .timeline > li :is(a, span) {
  visibility: hidden;
}

/* This is neat but moves links out from under you */
/* better to do all at once for a compact versus full view */
@media none {
  .timeline li {
    /* see above */
    /* transition: 250ms; */
  }
  .timeline li:hover {
    transition-duration: 250ms;
  }
  .timeline li:not(:hover) {
    font-size: 0;
  }
  .timeline li:not(:hover) a {
    margin-right: 0.75em;
  }
  .timeline li:before,
  .timeline li a {
    transition: inherit;
    font-size: initial;
  }
}

/* FROM year-based-timeframes */
[data-tile-of],
[data-tiles-of] > .tile {
  position: absolute;
}
[data-tiles-of] {
  position: relative;
}
/* prettier-ignore */
@media all {
[data-tiles-of="Year"]      , [data-tile-of="Year"]       { --year-multiplier: 1 }
[data-tiles-of="Decade"]    , [data-tile-of="Decade"]     { --year-multiplier: 10 }
[data-tiles-of="Century"]   , [data-tile-of="Century"]    { --year-multiplier: 100 }
[data-tiles-of="Millennium"], [data-tile-of="Millennium"] { --year-multiplier: 1000 }
}
[data-tile-of],
[data-tiles-of] > .tile {
  --year-span: calc(var(--to-year) - var(--from-year));
  --time-extent: calc(100% * var(--year-multiplier) / var(--year-span));
}
/* prettier-ignore */
@media all {
[data-tile-of="Year"]      , [data-tiles-of="Year"]       > * { --year-base: var(--year) }
[data-tile-of="Decade"]    , [data-tiles-of="Decade"]     > * { --year-base: var(--decade) }
[data-tile-of="Century"]   , [data-tiles-of="Century"]    > * { --year-base: var(--century) }
[data-tile-of="Millennium"], [data-tiles-of="Millennium"] > * { --year-base: var(--millennium) }
/* TBD see ./year-based-timeframes.html */
[data-tile-of="Millennium"], [data-tiles-of="Millennium"] > * { --year-base: calc(var(--millennium) - 1) }
}
[data-tile-of],
[data-tiles-of] > .tile {
  --time-offset: calc(
    100% * ((var(--year-base) * var(--year-multiplier)) - var(--from-year)) /
      var(--year-span)
  );
}
[data-tile-of],
[data-tiles-of] > .tile {
  left: var(--time-offset);
  width: var(--time-extent);
  /* DEBUG */
  border: 1px solid red;
  min-height: 1em;
}

/* specialization */
/* `.timestream` here is just a way of saying “not necessarily” */
.timestream [data-tiles-of] {
  overflow-x: hidden;
  min-height: 2em; /* tiles are positioned & don't produce any height */
  border: 1px solid blue;
}
