@import "./html.css";
@import "./dialog.css";

html {
  background: hsl(0deg, 15%, 5%);
  color: hsl(180deg, 55%, 30%);
}
body {
  font-size: 18pt;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 50-50 split to avoid thrash */
  grid-template-rows: auto auto 1fr;
  align-items: start;
  grid-template-areas: "header document" "chat document" "system document" "timeline timeline";
  margin: 0; /* beat user agent default */
}

body > :is(dialog, .dialog, article, main, header) {
  overflow: auto; /* else grid cells may grow! */
}
/* often the culprit */
/* prettier-ignore */
pre { overflow: auto }

/* prettier-ignore */
body > header { grid-area: header }
/* prettier-ignore */
body > output { grid-area: footer }
/* prettier-ignore */
body > main { grid-area: document; }
/* prettier-ignore */
body > aside { grid-area: system }
/* prettier-ignore */
body > iframe { grid-area: iframe }
/* prettier-ignore */
body > figure { grid-area: timeline }
/* prettier-ignore */
body > :is(dialog, .dialog) { grid-area: chat }

/* The media query is just to get a region for prettier-ignore */
/* prettier-ignore */
@media (max-width: 0) {
  body > iframe { display: none; }
  body { grid-template-areas: "header document" "chat document" "system document" }
}

a[wiki] {
  cursor: pointer;
  font-weight: bolder;
}
a[wiki]:hover {
  color: LinkText;
}
a[wiki][data-clicked="true"] {
  color: VisitedText;
}
body > dialog {
  /* appearance: none doesn't work on dialog */
  position: relative; /* beat dialog default */
  width: auto; /* beat dialog default */
  height: auto; /* beat dialog default */
  /* margin:auto was centering this vertically (in a grid cell)! */
  margin-top: 0; /* beat dialog default */
}
body > :is(dialog, .dialog) {
  background-color: #fff7;
  /* prevent content from causing grid items to expand */
  box-sizing: border-box;
  width: 100%;
}
body > :is(dialog, .dialog) > article {
  flex: auto;
}
article {
  /* But actually I want this to be whatever the document would have been */
  /* I think this is a thing where layers would help */
  background-color: Canvas;
  color: initial;
  border: 0.25em dashed #7777;
  padding-left: 1em;
  margin-bottom: 1em;
}

body > iframe {
  width: 100%;
  height: 50vh;
  overflow: auto;
  box-sizing: border-box;
}

section section {
  padding-left: 2em;
}

output[data-query]:before {
  display: block;
  content: "Matches for " attr(data-query);
  font-size: 300%;
  margin-right: 1em;
}

/* I want this in text/phrasing content but not markers */
a /* or blockquote? or li? */ time {
  /* text-decoration: underline; */
}
time {
  color: Highlight;
  font-family: sans-serif;
}

[aria-role="contentinfo"] {
  color: GrayText;
}

ul.timeline {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.timeline {
  --timeline-extent: 50; /*PROVISIONAL*/
  /* position: relative; */ /* overkill */
  --year-span: calc(var(--to-year) - var(--from-year));
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}
.timeline > * {
  position: relative;
  /* TODO: to use a variable extent here */
  left: calc(50% * (var(--year) - var(--from-year)) / var(--year-span));
  /* and here */
  /* expanding this on hover is lousy */
  /*
  max-width: calc(
    50% - (50% * (var(--year) - var(--from-year)) / var(--year-span))
  );
   */
  max-width: calc(
    100% - (50% * (var(--year) - var(--from-year)) / var(--year-span))
  );
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  /* allow wrapping
  max-width: calc(
    100% - (50% * (var(--year) - var(--from-year)) / var(--year-span)) - 4em
  );
  overflow: visible;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-indent: -4em;
  margin-left: 4em;
*/
}
.timeline > :hover {
  /* TODO: use variable extent here */
  /* see above re lousy */
  /*
  max-width: calc(
    100% - (50% * (var(--year) - var(--from-year)) / var(--year-span))
  );
 */
}
.timeline > li:before {
  content: "📍";
}
.time-band-markers {
  min-height: 1em;
}
.time-band-markers > .time-band-label {
  position: absolute;
  top: 0;
  font-family: sans-serif;
  font-weight: bold;
  color: initial;
}
svg.time-bands--transition {
  display: block; /* avoid gap */
}
@media (min-width: 0) {
  html {
    box-sizing: border-box;
    height: calc(100% - 2 * 2rem);
    overflow-y: auto;
  }
  body {
    display: block;
    position: relative;
    height: 100%;
    overflow-y: hidden;
    box-sizing: border-box;
    border: 0.25em solid orange;
  }
  body > :is(header, footer, aside, main) {
    display: none;
  }
  body > :is(dialog, .dialog) {
    position: absolute;
    margin: auto;
    background-color: #7777;
    overflow: auto;
    width: 35rem;
    height: 10rem;
    z-index: 1;
    max-width: 100%;
  }
  body > figure {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }
  body > figure:first-of-type {
    margin-top: 10rem;
  }

  body > article {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2;
  }
}

a[href*="redlink=1"] {
  color: GrayText;
}
/* a few items have images, just flag them for now  */
li img {
  background: red;
  max-height: 1em; /* also prevent from throwing off height of collapsed group */
}

.timeline-container .timeline {
  min-height: 1em;
}
.timeline-container .timeline > li {
  /* transition: margin-top 500ms; */
  /* b/c we mess with font-size too */
  transition: 500ms;
}
.timeline-container > :not(:last-of-type) .timeline > li:not(:first-child) {
  /* rem in case we're messing with its font size... */
  margin-top: -1.17rem;
}
.timeline-container > :not(:last-of-type) .timeline > li {
  background: none;
}
.timeline-container > :not(:last-of-type) .timeline > li :is(a, span) {
  visibility: hidden;
}

/* Log timeline */

.log-timeline {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}
.log-timeline:is(ul, ol) {
  list-style: none;
  padding-left: 0;
}

.log-timeline--compact,
.log-timeline--compact-rtl {
  min-height: 15em;
}
.log-timeline--compact > li {
  width: 2em;
  white-space: nowrap;
  transform-origin: top left;
  transform: rotate(45deg);
}
.log-timeline--compact-rtl > li {
  width: 2em;
  white-space: nowrap;
  transform-origin: top right;
  transform: translateY(13em) rotate(-45deg);
}

.log-timeline--with-stuff {
  min-height: 15em;
}
.log-timeline--with-stuff > * {
  flex: auto;
  box-sizing: border-box;
  border: 3px solid red;
  display: flex;
  flex-direction: column;
}
.log-timeline--with-stuff > * > b {
  position: absolute;
  transform-origin: top left;
  transform: rotate(45deg);
}

.log-timeline--bookshelf {
  margin-top: 15em;
}
.log-timeline--bookshelf > * {
  flex: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.log-timeline--bookshelf > * > b {
  position: absolute;
  transform-origin: top left;
  transform: translateY(-100%) rotate(-45deg);
}

.log-timeline--nested {
  margin-bottom: 1em;
}
.log-timeline--nested div {
  border: 2px solid orange;
}

.log-timeline--nested-structure {
  margin-bottom: 1em;
}
.log-timeline--nested-structure div {
  margin: 0.5em;
  padding: 0.25em;
  background-color: #ccc2;
  box-shadow: 0 0 0.4em #3337;
}
.log-timeline--nested-structure div:hover {
  background-color: #fff2;
}

.log-timeline--nested-history {
  margin-bottom: 1em;
}
.log-timeline--nested-history div {
  margin: 0.5em;
  padding: 0.5em;
  box-shadow: inset 0 0 0.4em #3337;
  background-color: #aaa1;
}
.log-timeline--nested-history div:hover {
  background-color: #aaa0;
}

.time-ruler--flex {
  position: relative;
  min-height: 30rem;
  overflow-x: auto;
}
.time-ruler--flex > .narrower {
  position: absolute;
  width: 100%;
}
.time-ruler--flex .narrower {
  display: flex;
}
.time-ruler--flex time {
  white-space: nowrap;
}
.time-ruler--flex .narrower > * {
  flex: 1 1 1em;
  overflow: hidden;
  transition: 300ms;
}
.time-ruler--flex .narrower > :hover {
  flex-grow: 4;
  background: #ff32;
}
.time-ruler--flex .narrower:hover > :not(:hover) {
  flex-grow: 0.66;
}
.time-ruler--flex section {
  padding-left: 0;
  box-sizing: border-box;
  border: 1px solid #3339;
}

/* time streams */

figure.timestream-section {
  margin: 0; /* beat figure default */
}
.timestream-section > figcaption {
  padding-top: 1.5em; /* get past absolutely-positioned markers */
  color: initial;
  color: #7777; /* read against dark or light */
  font-size: larger;
}
.timestream-section {
  position: relative;
}
.timestream-section li {
  background: canvas;
  background: #fffa;
  border-radius: 4px;
  color: canvastext;
  /* dark mode... might not need color though */
  background: #000a;
  color: #ddd8;
}
.time-bands {
  --hue: 240deg;
  --saturation: 0%;
  --luminosity: 0%;
  fill: transparent; /* beat default black */
}
figure > .time-bands {
  position: absolute;
  top: 0;
  left: 0;
  /* Setting right/bottom doesn't work for `svg` element */
  width: 100%;
  height: 101%; /* prevent 1px gaps between groups (see also js) */
  z-index: -1;
}
.time-band {
  clip-path: path("M0 0 L50 0 L50 101 L0 101 L0 0"); /* gapminder */
}
.time-band > * {
  vector-effect: non-scaling-stroke;
}
.time-band > .divider {
  stroke: #fffa;
  stroke: highlight;
  stroke: #777a;
  stroke-width: 1;
  fill: none;
}
.time-band > .shade {
  /* 
  fill: hsl(var(--hue), var(--saturation), var(--luminosity));
  fill: hsl(0deg, 0%, 45%);
 */
}

/* prettier-ignore */
@media (min-width: 0) {
.time-bands > :nth-child(1) { --luminosity: 10% }
.time-bands > :nth-child(2) { --luminosity: 20% }
.time-bands > :nth-child(3) { --luminosity: 30% }
.time-bands > :nth-child(4) { --luminosity: 40% }
.time-bands > :nth-child(5) { --luminosity: 50% }
.time-bands > :nth-child(6) { --luminosity: 60% }
.time-bands > :nth-child(7) { --luminosity: 70% }
.time-bands > :nth-child(8) { --luminosity: 80% }
.time-bands > :nth-child(9) { --luminosity: 90% }
.time-bands > :nth-child(10) { --luminosity: 100% }
}

/* time ranges */
.timestream-section .periods {
  display: flex;
  width: 50%; /* TODO: to use a variable extent here */
}
.timestream-section .period {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(100% * var(--r));
  overflow-x: hidden; /* only way to prevent growing outside of basis */
  color: initial;
  text-align: center;
}
.tags {
  color: #7777; /* can read against dark or light */
}
.timestream-section .tag {
  font-size: calc(1em + 1em * (var(--hits) - 1) / var(--max-hits));
  color: #7777; /* can read against dark or light */
}

/* This is neat but moves links out from under you */
/* better to do all at once for a compact versus full view */
@media (max-width: 0) {
  .timeline li {
    /* see above */
    /* transition: 250ms; */
  }
  .timeline li:hover {
    transition-duration: 250ms;
  }
  .timeline li:not(:hover) {
    font-size: 0;
  }
  .timeline li:not(:hover) a {
    margin-right: 0.75em;
  }
  .timeline li:before,
  .timeline li a {
    transition: inherit;
    font-size: initial;
  }
}
