<article>
  <style data-tangle-file="~/style/quote-blocks.css">
    [data-dom-tag],
    [data-dom-tag] > [data-part="attributes"],
    [data-dom-tag] > [data-part="attributes"] > :is(dt, dd),
    [data-dom-tag] > [data-part="attributes"] > div,
    [data-dom-tag] > [data-part="attributes"] > div > :is(dt, dd) {
      margin: unset;
      display: inline-block;
      vertical-align: baseline;
    }
    [data-dom-tag] {
      margin: 1em;
      padding: 1ch;
      border: 1pt solid #3337;
      background: #7773;
      font-family: var(--font-family-sans-serif, sans-serif);
    }
    [data-dom-tag] > [data-part="tag"] {
      color: CanvasText;
      font-weight: bold;
    }
    [data-dom-tag] > [data-part="attributes"] > :is(dt, dd),
    [data-dom-tag] > [data-part="attributes"] > div > :is(dt, dd) {
      background: GrayText;
      background: rgba(127, 127, 127, 0.6);
      padding: 2pt 1ch;
    }
    [data-dom-tag] > [data-part="attributes"] > dt,
    [data-dom-tag] > [data-part="attributes"] > div > dt {
      border-start-start-radius: 1ch;
      border-end-start-radius: 1ch;
      font-weight: bold;
      color: CanvasText;
      color: rgba(0, 0, 0, 0.8);
    }
    [data-dom-tag] > [data-part="attributes"] > dd,
    [data-dom-tag] > [data-part="attributes"] > div > dd {
      border-start-end-radius: 1ch;
      border-end-end-radius: 1ch;
      color: Canvas;
      color: rgba(255, 255, 255, 0.8);
    }

    /* Hmm... */
    xsl-template {
      display: none;
    }
  </style>
  <style>
    style {
      display: block;
      white-space: pre;
      font-family: sans-serif;
      font-family: var(--font-family-sans-serif, sans-serif);
    }
  </style>
  <h1>blocks <time datetime="2023-02-26T05:55:34Z"></time></h1>
  <p>
    <time datetime="2023-02-26T05:55:42Z"></time>Proposal: represent exotic
    elements as blocks. Where <q>exotic</q> elements are those not from a
    recognized vocabulary.
  </p>
  <p>
    <time datetime="2023-02-26T05:57:00Z"></time>I would rather say, that I
    could positively identify things that should be represented this way. And I
    may end up falling back to that. Or I could make a rule like, all elements
    with names containing hyphens. Assuming the first part of a hyphenated name
    is its (unqualified) namespace.
  </p>

  <p>
    <time datetime="2023-03-02T20:27:14Z"></time>As it's unfolded, this is just
    <a href="quote-unquote.html#notebook-quote"><q>quote</q></a
    >. It renders the element's name <em>instead of</em> the element itself, and
    same for attributes. Everything else has default handling, meaning text will
    be copied as-is.
  </p>

  <p>
    <time datetime="2023-03-02T20:19:23Z"></time>All that by itself will float
    away. Remember, this is about glue. We <q>bind</q> to the rules by saying
    <q>After saying anything with a hyphenated name, show its structure.</q>.
  </p>

  <xsl-template match="*[contains(name(), '-')]" mode="insert-after-end">
    <output>
      <xsl-apply-templates select="." mode="quote-as-html" />
    </output>
  </xsl-template>
  <p>
    <time datetime="2023-02-26T06:04:00Z"></time>This works on an element tagged
    <code>no-reallleee</code> as follows:
  </p>
  <no-reallleee></no-reallleee>
  <p>
    <time datetime="2023-02-26T06:05:41Z"></time>However, I it does not apply to
    the <code>xsl-template</code> element and so on, above.
  </p>
  <p>
    <time datetime="2023-02-26T06:12:55Z"></time>That may be because those
    <code>xsl-</code>'s are replaced with <code>xsl:</code>'s before the
    macroexpander sees it? But no, that conversion would be done only when its
    transforms are actually being constructed. You must keep it as hyphen for
    the HTML document, that's the whole reason we need both.
  </p>
  <p>
    <time datetime="2023-02-26T06:16:01Z"></time>What if I asked for
    <code>xsl-template</code> specifically?
  </p>
  <!-- prettier-ignore -->
  <pre>
      &lt;xsl-template match="xsl-template" mode="insert-before-begin"&gt;
        &lt;output&gt;
          Oi! An XSL element! &lt;code&gt;&lt;xsl-value-of select="name()" /&gt;&lt;/code&gt;.
        &lt;/output&gt;
      &lt;/xsl-template&gt;
      </pre>
  <p><time datetime="2023-02-26T06:22:53Z"></time>It's not working.</p>
  <p>
    <time datetime="2023-02-26T06:24:58Z"></time>Are those specifically excluded
    during weaving?
  </p>
  <p>
    <time datetime="2023-02-26T06:26:04Z"></time>No, and they're not making it
    past macroexpand, which I can easily see in the intermediate file.
  </p>
  <p>
    <time datetime="2023-02-26T06:30:08Z"></time>They're specifically left out
    during macroexpand, why?
  </p>
  <p>
    <time datetime="2023-02-26T06:31:03Z"></time>Taking that line out breaks the
    build:
  </p>
  <!-- prettier-ignore -->
  <pre>* 0) [0.250s] pages
tup error: Explicitly named file '{$tangled-file}' not found in subdir '.'
      </pre>
  <p>
    <time datetime="2023-02-26T06:31:45Z"></time>It looks like this is causing
    it to process something that it had been ignoring.
  </p>
  <p>
    <time datetime="2023-02-26T06:34:20Z"></time>What does the transform
    actually say here? That expression shouldn't be seen by Tup.
  </p>
  <p>
    <time datetime="2023-02-26T06:41:30Z"></time>Oh, oh, duh. This is a
    <q>quote/unquote</q> problem. When I don't exclude the xsl templates, I get
    an unevaluated <code>notebook-tuprule</code> directive from a macro that
    emits one. And just how do I know that it's not real?
  </p>
  <p>
    <time datetime="2023-02-26T06:43:13Z"></time>My first thought is, don't read
    <code>tuprule</code> deeply. But yeah that is kind of a problem. If you're
    going to have these XSL templates among the input, whose job is it in
    general to keep you from matching real-looking markup inside a template?
    Like, a rule that's meant to fire against an individual <code>a</code> would
    not work against an <code>a</code> that's part of a template. Even if it did
    not crash, it would be misleading since no such transformation would have
    been done on the rules being depicted.
  </p>
  <p>
    <time datetime="2023-02-26T06:50:06Z"></time>Okay, okay, it's not good to
    apply macros to the macroexpansions.
  </p>
  <p>
    <time datetime="2023-02-26T06:49:47Z"></time>Still, you can't just lose
    them. How can I persist them in the document without this problem?
  </p>
  <p>
    <time datetime="2023-02-26T06:54:55Z"></time>Okay I can get around that by
    saying
  </p>
  <!-- prettier-ignore -->
  <pre>      &lt;xsl:copy-of select="//notebook-tuprule[not(ancestor::*[starts-with(name(), 'xsl-')])]" /&gt;
</pre>
  <p>
    <time datetime="2023-02-26T06:55:55Z"></time>It doesn't solve the general
    problem, but it's cheap and lets me proceed.<time
      datetime="2023-02-26T06:56:16Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-02-26T07:01:10Z"></time>Yeah this is weirdly recursive.
    I mean, trying to use macroexpand rules to make the template elements
    visible.
  </p>
  <p>
    <time datetime="2023-02-26T07:05:33Z"></time>Much of this could be done with
    CSS using something like
    <code>:not(a, b, ... [html, svg, and mathml elements...])</code>
  </p>
  <p>
    <time datetime="2023-02-26T07:06:34Z"></time>I mean, the existence of the
    elements could be indicated that way. But the tags could not be reflected.
    And the attributes would not be reflected.<time
      datetime="2023-02-26T07:07:17Z"
    ></time>
  </p>
</article>
