<article>
  <style>
    style,
    script {
      display: block;
      white-space: pre;
      font-family: var(--font-family-sans-serif, sans-serif);
    }
    script[type]::before {
      content: attr(type);
      font-family: var(--font-family-sans-serif, sans-serif);
      color: GrayText;
    }
  </style>
  <header>
    <pre
      style="font-family: inherit"
    ><time datetime="2023-03-02T17:47:41Z"></time>Hello.  I am a composition notebook.
I fold into myself the things I need.
To be a part of me is to be slow-cooked
and get carried away as far as we please
<time datetime="2023-03-02T19:39:27Z"></time>
</pre>
    <details open>
      <summary>
        <time datetime="2023-03-02T19:24:42Z"></time>More about this...
      </summary>
      <p>
        <time datetime="2023-03-02T19:03:54Z"></time>Notebooks like this can be
        produced on most computers using things you already have, or can get
        from public archives.
      </p>
      <p>
        <time datetime="2023-03-02T19:06:47Z"></time>You can produce notebooks
        from wherever you are.
      </p>
      <p>
        <time datetime="2023-03-02T19:08:50Z"></time>Some of the things you'll
        need are right here in this document—they better be! I mean my special
        document-making recipes.
      </p>
      <p>
        <time datetime="2023-03-02T19:09:59Z"></time>We'll use some more general
        cookware that's already already on your computer.
      </p>
      <p>
        <time datetime="2023-03-02T19:11:59Z"></time>With that, we may also
        import some ingredients and things from sources afar.
      </p>
    </details>
    <p>
      <a href="../bootstrap/rules.sh" download="rules.sh"
        >Download <code>../bootstrap/rules.sh</code></a
      >
    </p>
  </header>
  <article id="composition-notebook-bootstrap">
    <h1>bootstrap <time datetime="2023-03-02T17:47:37Z"></time></h1>
    <p>
      <time datetime="2023-03-02T17:50:28Z"></time>Well, when the notebook gets
      too full, we'll have to discard things or stop adding to it. That assumes
      we have a way to see what things are in it, and how much space they take
      up.
    </p>
    <figure>
      <figcaption>document-bootstrap lifecycle</figcaption>
      <script id="document-bootstrap-lifecycle" type="graphviz:dot">
        digraph {
        document -> bootstrap [label=create]
        bootstrap -> document [label=download]}
      </script>
    </figure>
  </article>
  <article>
    <h2><time datetime="2023-03-02T20:48:49Z"></time>bootstrap work notes</h2>
    <p>
      <time datetime="2023-03-02T20:49:02Z"></time>What do you expect the
      download link to do? The simplest possible path from an HTML document on
      your file system in an unknown location to a working system would require
      at least two steps:
    </p>
    <ul>
      <li>
        <time datetime="2023-03-02T20:51:02Z"></time>The person activates a
        download (of a boot script) to some location
      </li>
      <li>
        <time datetime="2023-03-02T20:52:26Z"></time>On most systems, the person
        would have to give this script execute permission somehow. 👋
      </li>
      <li>
        <time datetime="2023-03-02T20:52:04Z"></time>The person goes to that
        location in the host and executes it.
      </li>
    </ul>
    <p>
      <time datetime="2023-03-02T20:53:35Z"></time>An alternative to giving the
      script permissions would be to load it indirectly, like through
      <code>bash -c</code>.
    </p>
    <p>
      <time datetime="2023-03-02T20:54:10Z"></time>There's also the question of
      how robust the download link can be. The most robust possible thing would
      be a download link that has the necessary content ended in the
      <code>href</code> itself. This will work even without script. I think the
      only wrinkle is that such links can't know where the document actually is.
      If the script is going to read from the HTML file (which would be a good
      way to keep its size down), then it would have to be informed of the
      source file's location somehow. This could be done via script by adding it
      to the link.
    </p>
    <p>
      <time datetime="2023-03-02T20:56:54Z"></time>To keep things moving, let's
      assume we'll have a way to pass that name to the script.
    </p>
    <p>
      <time datetime="2023-03-02T20:58:39Z"></time>What does the script do? It
      needs to commandeer a directory. Where should it do that?
    </p>
    <p>
      <time datetime="2023-03-02T20:59:41Z"></time>Assuming that it's given the
      location of an HTML document from which it can extract other things, why
      not set up camp near there? Create a subdirectory in the same place with
      some well-known name (e.g. <code>composition-notebook</code>), serially
      numbering a suffix until one is available.<time
        datetime="2023-03-02T21:01:40Z"
      ></time>
    </p>
  </article>
  <form>
    <fieldset>
      <legend>notebookery</legend>
      <a download="notebookery.sh">Download notebookery.sh</a>
      <p>
        <time datetime="2023-03-03T04:33:39Z"></time>To use the script, you need
        to give it to a shell interpreter.
      </p>
      <!-- prettier-ignore -->
      <pre>$ bash -f notebookery.sh</pre>
      <!-- prettier-ignore -->
      <script type="bash" name="notebookery.sh">#!/usr/bin/sh
set -e

known_command() {
  command -v "$1" > /dev/null
}

# requires git, apt, and root... sigh
get_tup() {
  sudo apt update
  sudo apt install --yes build-essential pkg-config libfuse3-dev libpcre3-dev
  git clone https://github.com/gittup/tup.git
  cd tup
  ./bootstrap.sh

  if ! known_command tup; then
    export PATH="$(realpath tup):$PATH"
  fi
  echo 'tup'
}

get_xsltproc() {
  sudo apt install --yes xsltproc
}

ensure_tup() {
  if ! known_command tup; then get_tup; fi
}

ensure_xsltproc() {
  if ! known_command xsltproc; then get_xsltproc; fi
}

find_a_place() {
  local name="${1:-sandbox}"
  if [ ! -e "$name" ]; then echo "$name"; fi
  local number=0
  local serial="$name-$number"
  while [ -e "$serial" ] ; do
    $(( ++number ))
    serial="$name-$number"
  done
  echo "$serial"
}  

prepare_tup_project() {
  local name="$1"
  local place=$(find_a_place "$name")
  mkdir -p "$place"
  touch "$place/Tupfile.ini"
  echo 'ROOT = $(TUP_CWD)' > "$place/Tuprules.tup"
  echo "$place"
}

bootstrap_composition_notebook() {
  echo 'Ensuring Tup...'
  local tup=$(get_tup)
  # ensure_tup
  ensure_xsltproc
  local notebook=$(prepare_tup_project 'notebook')
  # okay now where does the “content” come from
}

bootstrap_composition_notebook "$@"
</script>
    </fieldset>

    <fieldset>
      <legend>go</legend>
      <a download="go.sh"></a>
      <!-- prettier-ignore -->
      <script type="bash" name="go.sh">
if tup "$@" -j1; then
    # Run in `foreground` mode as a background job so signals are propagated.
    trap 'tup stop' INT TERM
    tup monitor --autoupdate --foreground "$@" &
    monitor_pid="$!"
    wait "$monitor_pid"
fi
          </script>
    </fieldset>
    <script>
      {
        const context = document.currentScript.closest("form");
        const matches = context.querySelectorAll("fieldset");
        for (const ele of matches) {
          const a = ele.querySelector("a[download]");
          const script = ele.querySelector("script");
          const { name, text } = script;
          const blob = new Blob([text], { type: "text/plain" });
          const href = URL.createObjectURL(blob);
          a.href = href;
        }
      }
    </script>
  </form>
  <p>
    <time datetime="2023-03-03T03:12:15Z"></time>What becomes pretty clear is
    that we need to push the Tup project down a level, in terms of what's
    considered by the system.
  </p>
  <p>
    <time datetime="2023-03-03T03:14:03Z"></time>For example we need to put Tup
    somewhere, if it was not found on the system. Indeed, we need a place to
    build it. The off-tree web cache is another instance.
  </p>
  <p>
    <time datetime="2023-03-03T03:16:51Z"></time>So lets suppose that our
    purview includes some <q>public</q> place in the userland file system. Any
    number of notebooks only needs one Tup. And any number of web caches. Those
    are in some sense derivative. Tup is an interpreter of Tup rules. We could
    carry binaries, but good citizens build their own in this land.
  </p>
  <p>
    <time datetime="2023-03-03T03:20:00Z"></time>That said, I do not follow that
    better citizenship is to build and install to a system-defined (like LHS)
    location for everyone to use. It's everyone else's breakage that we're
    trying to get away from. If you're going to survive, you must have siege
    mentality.
  </p>
  <p>
    <time datetime="2023-03-03T05:01:59Z"></time>Things are working the first
    time today, so I'm keeping my mouth shut. But I did notice during
    <code>apt update</code> a half dozen of these:
  </p>
  <!-- prettier-ignore -->
  <pre>
WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

E: Unmet dependencies. Try 'apt --fix-broken install' with no packages (or specify a solution).
</pre>
  <p>
    <time datetime="2023-03-03T05:02:55Z"></time>I'm sorry what?
    <q>apt does not have a stable CLI interface</q>?
    <q>Use with caution in scripts</q>? What <em>does</em>
    <code>apt</code> have, if it doesn't have a stable CLI interface? I guess
    there's some <code>libapt</code> that's the <q>real</q> thing??
  </p>
  <p>
    <time datetime="2023-03-03T05:05:26Z"></time>I don't know what to make of
    the second part either, where <code>apt</code> goes on to recommend its
    unstable interface. The script successfully built Tup right there under my
    Downloads directory, where I think I'll be living before long.<time
      datetime="2023-03-03T05:08:08Z"
    ></time>
  </p>
</article>
