<article id="cloning">
  <h2>
    <time datetime="2023-02-18T19:20:50Z"></time>cloning<del>
      pseudo-macro<time datetime="2023-02-23T03:14:43Z"></time
    ></del>
  </h2>
  <h2>
    <time datetime="2023-02-18T18:09:44Z"></time>meta: putting
    <a href="time-perspectives.html"></a> into the notebook
  </h2>
  <p>
    <time datetime="2023-02-18T18:10:03Z"></time>I made that document completely
    <q>by hand</q>, before <a href="the_system.html">the system</a>. Some things
    were going well, but I hit the limit of what I could (or was willing) to do
    with no power tools.<time datetime="2023-02-18T18:11:07Z"></time>
  </p>
  <p>
    <time datetime="2023-02-18T18:11:36Z"></time>In particular, what I couldn't
    do was to say something in one place and have it appear in multiple places.
    This is mere templating and doesn't even require compute, beyond the
    matching of locations. The system is no system if it doesn't provide the
    means for that.
  </p>
  <p>
    <time datetime="2023-02-18T18:12:55Z"></time>And it does provide the means,
    but it doesn't provide the vocabulary.
  </p>
  <p>
    <time datetime="2023-02-18T18:13:26Z"></time>The closest things in the
    existing vocabulary are <q>tangle</q> and <q>include</q>. In fact, what I
    want here is some <em>recomposition</em> of the two. Let's illustrate.<time
      datetime="2023-02-18T18:14:26Z"
    ></time>
  </p>
  <!-- prettier-ignore -->
  <script id="tangle" type="graphviz:dot">
digraph {
  rankdir=LR
  subgraph cluster_doc_a {
    label="🌞 (source)"
    a_x_1 [label="block 1 for ♥"]
    a_x_2 [label="block 2 for ♥"]
    a_y_1 [label="block 1 for ♦"]
    a_y_2 [label="block 2 for ♦"]
  }
  subgraph cluster_doc_b {
  label="🌙 (source)"
    b_z_1 [label="block 1 for ♣"]
    b_z_2 [label="block 2 for ♣"]
  }
  { a_x_1 a_x_2 } -> "tangled file ♥"
  { a_y_1 a_y_2 } -> "tangled file ♦"
  { b_z_1 b_z_2 } -> "tangled file ♣"
}
          </script>
  <p>
    <time datetime="2023-02-18T18:40:26Z"></time>In other words, tangle produces
    many files from one document.
  </p>
  <p>
    <time datetime="2023-02-18T18:40:39Z"></time>Conversely, include can place
    one file into a document in any number of places.<time
      datetime="2023-02-18T18:40:56Z"
    ></time>
  </p>
  <script id="include" type="graphviz:dot">
    digraph {
      rankdir=LR
      subgraph cluster_doc_a {
      label="🌞 (woven)"
        a_heart_1 [label="placeholder 1 for ♥"]
        a_diamond_1 [label="placeholder 1 for ♦"]
        a_diamond_2 [label="placeholder 2 for ♦"]
      }
      subgraph cluster_doc_b {
        label="document 🌙 (woven)"
        b_heart_1 [label="placeholder 1 for ♥"]
        b_heart_2 [label="placeholder 2 for ♥"]
        b_club_1 [label="placeholder for ♣"]
        b_club_2 [label="placeholder for ♣"]
      }
      "file ♥" -> { a_heart_1 b_heart_1 }
      "file ♦" -> { a_diamond_1 a_diamond_2 }
      "file ♣" -> { b_club_1 b_club_2 }
    }
  </script>
  <aside>
    <p>
      <time datetime="2023-02-18T18:56:07Z"></time>At present, tangles can only
      come from regular files, a.k.a. source documents.<time
        datetime="2023-02-18T18:56:31Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-18T18:41:49Z"></time>Includes can come from
      regular or generated files.<time datetime="2023-02-18T18:42:09Z"></time>
    </p>
  </aside>
  <p>
    <time datetime="2023-02-18T18:56:34Z"></time>What I want in this case is
    something like a <q>clone</q> operation. Indeed, HTML provides something for
    this, the <code>&lt;template&gt;</code> element that is invisible by default
    and meant to be referenced by custom components. My education about Web
    Components is limited. But I'm certain that I can interpret a
    <code>template</code> element as the source of a duplicate operation, as
    well as I can with any other. Indeed, forget about template, because I don't
    know that it should have special treatment.
  </p>
  <p>
    <time datetime="2023-02-18T18:59:02Z"></time>We can clone using those
    operations, without introducing a new primitive. We can simply
    <code>tangle</code> a file from the document (at the
    <q>template</q> location) and <code>include</code> it at the
    <q>placeholder</q> locations.
  </p>
  <p>
    <time datetime="2023-02-18T19:01:19Z"></time>Of course, doing this via Tup
    rules will mean that you get an intermediate file. If you cannot tolerate
    such files persisting across such operations, you could use Tup's
    <code>t</code> flag to make them transient. I think this would be worse than
    leaving them idle, though, as a unchanged tangle (the normal case) will not
    propagate downstream.
  </p>
  <p>
    <time datetime="2023-02-18T19:03:12Z"></time>In an in-process
    interpretation, those intermediate would not be created in the first place.
    Tup interprets into files, so files are what we get.
  </p>
  <p>
    <time datetime="2023-02-18T19:05:01Z"></time>Of course, the
    <q>clone</q> operation also has interactive interpretation. I could make
    elements right now that should be replicated, as if symlinked, to different
    locations in the document tree, and such updates could very well propagate
    to those mirror locations. Such interpretation can be done using the script
    host after a document is loaded.
  </p>
  <p>
    <time datetime="2023-02-18T19:07:20Z"></time>To that end, expressing this as
    a collection of <code>tangle</code> and <code>include</code> operations is
    not only redundant, but overfit (If you interpret
    <code>data-target-file</code> and <code>data-include-file</code> as
    filenames).
  </p>
  <p><time datetime="2023-02-18T19:08:47Z"></time>So for the proposal.</p>
  <ul>
    <li>
      <time datetime="2023-02-18T19:09:06Z"></time>Recognize
      <code>data-clone-of-id</code> on empty elements as indicating that the
      content should mirror that of the thing specified in id.
    </li>
    <li>
      <time datetime="2023-02-18T19:12:13Z"></time
      ><code>data-clone-of-id</code> on an non-empty element is an error.
    </li>
  </ul>
  <p>
    <time datetime="2023-02-18T19:13:48Z"></time>The way I would think of this,
    I wouldn't actually construct a rule, but I'd rewrite the source element
    (thing referenced anywhere by <code>data-clone-of-id</code>) as having a
    <code>data-tangle-file</code> attribute with a computed
    <q>throwaway</q> filename. Then I would <q>rewrite</q> the elements doing
    the referencing with <code>data-include-file</code> attributes referencing
    that file.
  </p>
  <p>
    <time datetime="2023-02-18T19:16:25Z"></time>This should incude the
    necessary rules on its own.
  </p>
  <p>
    <time datetime="2023-02-18T19:16:48Z"></time>Two ways of going about this:
  </p>
  <ul>
    <li>
      <time datetime="2023-02-18T19:17:12Z"></time>fulfill the immediate need by
      writing the necessary transforms into the bootstrapper by any means
      necessary
    </li>
    <li>
      <time datetime="2023-02-18T19:17:49Z"></time>introduce
      <a href="the_system.html#notebook-macroexpand">macroexpansion</a>
    </li>
  </ul>
  <p>
    <time datetime="2023-02-18T19:18:28Z"></time>I'm going with the first one
    for now.<time datetime="2023-02-18T19:18:34Z"></time>
  </p>
  <p>
    <time datetime="2023-02-18T19:23:05Z"></time>Actually why? Just solve the
    problem. You need a macroexpand stage. At this point, it's easier to add a
    processing stage than more bespoke stuff. And the hope is that this stage
    can absorb the bespoke stuff that's there. Also, it will be kinda fun.<time
      datetime="2023-02-18T19:23:50Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-02-18T20:29:29Z"></time>I note that the clone source
    does not really need to be unique. On the source side, it's just a shorthand
    for tangle, so you could clone from something that spans across multiple
    blocks. Indeed, if I ever decide to put macroexpansions into tangle
    itself... one thing at a time.<time datetime="2023-02-18T20:31:06Z"></time>
  </p>
  <p>
    <time datetime="2023-02-19T00:13:08Z"></time>Don't look now, but I
    implemented four <code>insert-</code> operations, which I haven't used yet.
    Incidentally, these operations were the basis for getflow and (IMO)
    substantially cover what is needed to build web sites.<time
      datetime="2023-02-19T00:15:47Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-02-19T00:15:50Z"></time>It happens that I also need one
    of them in order to complete the clone expansion. To include a file, you
    have to wrap it in XML.
  </p>
  <p>
    <time datetime="2023-02-19T00:17:31Z"></time>Actually. This is a little
    tricky. I only want to issue the rule on the <em>first</em> element serving
    as the clone source. Remember technically there can be more than one.
    Anyway, this has to be done by adding an element somewhere.<time
      datetime="2023-02-19T00:18:51Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-02-19T00:26:10Z"></time>It worked! I'm calling it a
    day.<time datetime="2023-02-19T00:26:15Z"></time>
  </p>
  <section>
    <h2><time datetime="2023-02-23T03:16:30Z"></time>Definitions</h2>
    <p>
      <time datetime="2023-02-23T03:16:38Z"></time>Cloning is implemented as a
      set of <a href="the_system.html#notebook-macroexpand">macros</a>.
    </p>
    <template>
      <xsl-key
        name="clone-of-id"
        match="*[@data-clone-of-id]"
        use="@data-clone-of-id"
      />
      <xsl-key name="id" match="*[@id]" use="@id" />

      <!-- so you can put these intermediates in a directory -->
      <xsl-template match="node() | @*" mode="tangled-filename">
        <xsl-value-of
          disable-output-escaping="yes"
          select="concat('cloning/', .)"
        />
      </xsl-template>
      <xsl-template match="node() | @*" mode="wrapped-filename">
        <xsl-value-of
          disable-output-escaping="yes"
          select="concat('wrapped/', .)"
        />
      </xsl-template>

      <!-- clone expands to: -->

      <!-- one wrapping rule per file -->
      <!-- note that there can be more than one block -->
      <!-- SO WE should only take the first one here... use key+generate-id for that -->
      <xsl-template
        match="*[key('clone-of-id', @id)]"
        mode="insert-before-begin"
      >
        <xsl-variable name="tangled-file">
          <xsl-apply-templates select="@id" mode="tangled-filename" />
        </xsl-variable>
        <xsl-variable name="wrapped-file">
          <xsl-apply-templates select="@id" mode="wrapped-filename" />
        </xsl-variable>
        <notebook-tuprule
          input="~/{$tangled-file}"
          extra-inputs="~/program/wrap-in-xml.sh"
          process="cat '%f' | $(ROOT)/program/wrap-in-xml.sh > '%o'"
          output="~/{$wrapped-file}"
          label="xml wrap %f"
        />
      </xsl-template>

      <!-- - one tangle per data-clone-of-id referent -->
      <xsl-template match="*[key('clone-of-id', @id)]" mode="insert-attributes">
        <xsl-attribute name="data-tangle-file">
          <!-- HACK: unfortunately I think tangle takes project paths while include does not -->
          <xsl-text>~/</xsl-text>
          <xsl-apply-templates select="@id" mode="tangled-filename" />
        </xsl-attribute>
      </xsl-template>

      <!-- - one include per data-clone-of-id reference -->
      <xsl-template match="*[@data-clone-of-id]" mode="insert-attributes">
        <xsl-attribute name="data-include-file">
          <!-- HACK: unfortunately I think tangle takes project paths while include does not -->
          <xsl-text>../</xsl-text>
          <xsl-apply-templates
            select="@data-clone-of-id"
            mode="wrapped-filename"
          />
        </xsl-attribute>
      </xsl-template>

      <xsl-template
        match="*[@data-clone-of-id][not(key('id', @data-clone-of-id))]"
        mode="insert-attributes"
      >
        <xsl-message terminate="yes"
          >No such thing to clone! <xsl-value-of select="@data-clone-of-id"
        /></xsl-message>
      </xsl-template>

      <xsl-template
        match="*[node()][key('clone-of-id', @data-clone-of-id)]"
        mode="insert-attributes"
      >
        <xsl-message terminate="yes"
          >Clone placeholder must be empty <xsl-value-of select="@id"
        /></xsl-message>
      </xsl-template>
    </template>
  </section>
</article>
