<article>
  <p>
    <time datetime="2023-01-28T04:41:20Z"></time> Each of the HTML elements
    teaches us something. Each element is unique.
  </p>
  <p>
    <time datetime="2023-01-28T04:42:15Z"></time> <code>dialog</code> is
    classified as an interactive element, but it is not interactive itself. It
    only signals interactivity.
  </p>
  <p>
    <time datetime="2023-01-28T04:43:27Z"></time> Like <code>details</code>,
    <code>dialog</code> has an <code>open</code> state. But
    <code>dialog</code> has no default affordance of its own. A dialog can be
    made closable without script by putting just about any button in it. But you
    need script to re-open a dialog once closed.
    <time datetime="2023-01-28T04:45:46Z"></time>
  </p>
  <p>
    <time datetime="2023-01-28T04:33:46Z"></time> Interactivity is not the
    default in the web. I did not know what to make of this observation. It
    stands at odds with the ideal of dynamic userspace.
  </p>
  <p>
    <time datetime="2023-01-28T04:38:14Z"></time> But I recently got around to
    finishing
    <a>Broad Band: The untold story of the women who made the Internet</a> by
    Claire Evans. And I heard it in someone else's words: "the Web isn't
    constructive."
  </p>
  <p>
    <time datetime="2023-01-28T04:46:50Z"></time> Isn't constructive... isn't
    constructive. Yeah. <time datetime="2023-01-28T04:47:07Z"></time>
  </p>
  <p>
    <time datetime="2023-01-28T06:02:46Z"></time> A
    <q>constructive dialog</q> is a dialog that builds. A constructive dialog
    transforms statements into building blocks. Literally.
    <time datetime="2023-01-28T06:07:21Z"></time>
  </p>
  <p>
    <time datetime="2023-03-02T05:05:28Z"></time>I've gotten very sidetracked
    into <a href="the_system.html">the system</a> and particularly the notion
    that just because I can do something <q>server-side</q>, that I should. The
    beauty of open world is that it can be any of the above. You get what you
    get and you don't throw a fit.
  </p>
  <p>
    <time datetime="2023-03-02T05:08:19Z"></time>It's once again important to me
    that I can make things in userland.
  </p>
  <p>
    <time datetime="2023-03-02T05:08:57Z"></time>To be clear, I think that I
    have sufficient tools to make things with <q>macros</q>.
  </p>

  <xsl-template match="notebook-ruler" mode="insert-after-begin">
    <figure>
      <figcaption>
        <xsl-value-of select="concat(@unit, ' ruler')" />
      </figcaption>
      <xsl-variable name="unit" select="@unit" />
      <xsl-variable name="items">
        <xsl-call-template name="countdown">
          <xsl-with-param name="n" select="@to" />
        </xsl-call-template>
      </xsl-variable>
      <ol>
        <xsl-for-each select="ex:node-set($items)/*">
          <li><xsl-value-of select="." /></li>
        </xsl-for-each>
      </ol>
    </figure>
  </xsl-template>

  <xsl-template name="countdown">
    <xsl-param name="n" />
    <xsl-if test="$n &gt;= 0">
      <item><xsl-value-of select="$n" /></item>
      <xsl-call-template name="countdown">
        <xsl-with-param name="n" select="$n - 1" />
      </xsl-call-template>
    </xsl-if>
  </xsl-template>
  <notebook-ruler unit="in" to="20" />
</article>
