<article>
  <style>
    style,
    script {
      display: block;
      white-space: pre;
      font-family: var(--font-family-sans-serif, sans-serif);
    }
  </style>
  <h1>dom invariants <time datetime="2023-01-22T02:37:59Z"></time></h1>
  <p>
    <time datetime="2023-01-25T23:49:36Z"></time> How would you describe a
    computer interface? You'd say, there's a box here with some words, and
    there's a button inside that box. There's a thing over there for messages.
  </p>
  <p>
    <time datetime="2023-01-25T23:51:17Z"></time> You'd talk about boxes and
    panels and windows, and forms, and areas, and other things.
  </p>
  <p>
    <time datetime="2023-01-25T23:52:21Z"></time> And sometimes you could say
    that they were <strong>related</strong> in some ways. Like, this panel
    <em>has</em> this knob.
  </p>
  <p>
    <time datetime="2023-01-25T23:54:10Z"></time> Sometimes you could even
    relate those things with the <strong>real world</strong>, like, that number
    <em>represents</em> the temperature of my heatsink.
  </p>
  <p>
    <time datetime="2023-01-25T23:53:30Z"></time> That's how you would describe
    the interfaces that you see. Those are the concepts that were intended, and
    all going well, that is the model communicated, from human to human.
  </p>
  <p>
    <time datetime="2023-01-25T23:57:45Z"></time> You would think that such
    descriptions are also what we tell to the machine. I have spent nearly three
    quarters of my life in this profession, and <em>I</em> would still think so,
    all evidence to the contrary.
    <time datetime="2023-01-26T00:00:27Z"></time>
  </p>
  <p>
    <time datetime="2023-01-26T00:21:27Z"></time> I don't want to say
    <em>what to do</em>. I want to say <em>what is true</em>.
  </p>
  <p>
    <time datetime="2023-01-22T03:52:39Z"></time> In short: I want to stop
    telling a script host about the dom, I want to tell a
    <em>database</em> about it. A knowledge graph, specifically.
  </p>
  <p>
    <time datetime="2023-01-22T04:25:16Z"></time> One of the goals is to support
    <em>rules</em> about how things are constructed, rules which can be
    contributed by different parties for different purposes, but which avoid
    conflict through orthogonality and constraint relaxation.
    <time datetime="2023-01-22T04:27:53Z"></time>
  </p>
  <p>
    <time datetime="2023-01-22T02:42:44Z"></time> Anyway, in a world like that,
    how do we mess with the document? I mean how do we build things, construct
    things?
  </p>
  <p>
    <time datetime="2023-01-22T02:43:20Z"></time> We do it by first
    <em>describing</em> a DOM tree. And by describing it to a knowledge graph
    under some interpretation we must be asserting the existence of such things.
  </p>
  <p>
    <time datetime="2023-01-22T02:47:30Z"></time> The other thing we must do is
    to relate the thing to <em>this document</em> in some way.
  </p>
  <p>
    <time datetime="2023-01-22T02:50:10Z"></time> To that end, the system
    defines terms referring to singleton parts of <q>global</q> singleton
    document. It is admittedly a closed-world interpretation, to say such things
    are singular in any environment.
  </p>
  <p>
    <time datetime="2023-01-22T02:52:16Z"></time> On the other hand, it is the
    job of description logics to describe the world, and the reality in a web
    browser environment that <em>one document</em>, and nothing else, divides
    you from the person. Nothing cometh but by the document, nor goeth from no
    more.
  </p>
  <p>
    <time datetime="2023-01-22T02:55:04Z"></time>
    Now suppose that the interpreter of your world-description has the power to
    a arrange reality in some ways. You may describe a
    <q>state of affairs</q>, as logicians will say, that could be interpreted as
    against the present reality.
  </p>
  <aside>
    <p>
      <time datetime="2023-01-22T02:57:58Z"></time> (In the present system, the
      interpreter automatically accepts all propositions as true. That is, you
      <em>assert</em> and <em>retract</em> to the interpreter, you don't just
      <q>add</q> and <q>remove</q> as you would with a collection. The
      truth-valuation of the statements in a knowledge graph is completely
      separate from the matter of the graph's storage, transmission, indexing,
      querying, and so on. You don't have to accept a worldview to share it and
      operate on it. At bottom, RDF is just syntax. You're never obligated to
      interpret a graph.)
    </p>
  </aside>
  <section>
    <h2>prior art <time datetime="2023-01-22T03:41:32Z"></time></h2>
    <p>
      <time datetime="2023-01-22T03:02:48Z"></time>
      I am not aware of other document tools based on description logics, or
      which take this kind of truth-maintenance approach, but it seems likely
      that these concepts have been explored before.
    </p>
  </section>
  <section>
    <h2>the drivers</h2>
  </section>
  <p>
    <time datetime="2023-01-22T03:07:39Z"></time> There are two kinds of
    mechanisms:
  </p>
  <dl>
    <div>
      <dt>reflecting</dt>
      <dd>
        concepts whose interpretation matches some existing thing (e.g. a global
        document)
      </dd>
    </div>
    <div>
      <dt>reifying</dt>
      <dd>
        concepts that we can conjure from nothing
        <time datetime="2023-01-22T03:12:25Z"></time>
      </dd>
    </div>
  </dl>

  <aside>
    <p>
      <time datetime="2023-01-22T03:12:29Z"></time> I was using these techniques
      in an environment that was fully under graph interpretation already. And I
      expect that is the best way to work with these concepts. (They were
      basically the motivator.)
    </p>
    <p>
      <time datetime="2023-01-22T03:14:21Z"></time> The code exists right now
      only as <q>drivers</q> which are operated by the interpreter based on
      facts. I never had any sort of API for this as such.
    </p>
    <p>
      <time datetime="2023-01-22T03:15:06Z"></time> But they have no actual
      dependencies, except on terminology, which is really supposed to be
      copied, not imported.
    </p>
  </aside>

  <section>
    <h3>
      reflect document body
      <time datetime="2023-01-22T03:18:47Z"></time>
    </h3>
    <figure>
      <figcaption>TypeScript code for reflect-document-body code</figcaption>
      <pre>
const { dom } = def.terms;

interface State {
  // TS: `document.body` is typed as this (not `HTMLBodyElement`) in the dom lib.
  element: HTMLElement;
}

export const reflect_DocumentBody = def.driver&lt;State&gt;({
  forType: dom.DocumentBody,
  initialize() {
    this.element = document.body;
  },
  construers: [
    {
      as: dom.Element,
      handler() {
        return this.element;
      },
    },
  ],
  interpreters: {},
});
</pre
      >
    </figure>
  </section>

  <section id="open-container">
    <h3>
      <a href="#open-container">§</a> open container
      <time datetime="2023-01-22T03:26:39Z"></time>
    </h3>
    <p>
      <time datetime="2023-01-22T03:26:44Z"></time>
      <code>OpenContainer</code> is the workhorse of earlier experiments using
      these techniques. It's the backbone of a weakly-constrained network of
      elements.
    </p>
    <p>
      <time datetime="2023-01-23T04:56:32Z"></time> What does it look like to
      use this?
    </p>
    <p>
      <time datetime="2023-01-23T04:57:08Z"></time>
      At bottom you can only do two things in this system: assert a fact, and
      retract a fact.
    </p>
    <p>
      <time datetime="2023-01-23T04:57:44Z"></time>
      Or at least, that's true in the system that we're targeting with this
      apparatus.
    </p>
    <p>
      <time datetime="2023-01-23T04:57:59Z"></time> In a standalone
      implementation—well I never designed one because all these bespoke API's
      are one of the things I really wanted to avoid!
    </p>
    <p>
      <time datetime="2023-01-23T04:59:07Z"></time> Yet the layer is still
      there. And I find that as I decompose the system, this is a small,
      focused, and useful piece of logic independent of the knowledge system.
      It's an interpretation of a few concepts in the domain of DOM documents.
    </p>
    <p>
      <time datetime="2023-01-23T05:01:02Z"></time> Still, answer the question,
      what does the non-logical API look like? (I mean what else can I call it?
      The API lacking a truth foundation. The register-pounding API?) The answer
      to this question is in a <code>pre</code>.
    </p>
    <p>
      <time datetime="2023-01-23T05:04:39Z"></time> The <code>def</code> system
      defines and recognizes a declaration-style DSL which I call the
      <q>description API</q>. With <var>a = def.a</var>, you can say things like
    </p>
    <pre>
a.dom.OpenContainer({ancestors: [a.dom.DocumentBody()]})
        </pre
    >
    <p><time datetime="2023-01-23T05:07:21Z"></time> or</p>
    <pre>
a.dom.OpenContainer({contains: [`Live from <address>Baltimore</address>`]})
        </pre
    >
    <p><time datetime="2023-01-23T05:08:27Z"></time> or</p>
    <pre>
a.dom.OpenContainer({matches: [`[class~="pane"]`, `[id="appendix-a"]`]})
        </pre
    >
    <p>
      <time datetime="2023-01-23T05:09:39Z"></time> and any combination of those
      things. You could also specify a parent:
    </p>
    <pre>
a.dom.OpenContainer({matches: a.dom.DocumentBody()})
        </pre
    >
    <p>
      <time datetime="2023-01-23T05:10:47Z"></time> but by default I used
      ancestors, as it is the looser constraint.
    </p>
    <p>
      <time datetime="2023-01-23T05:11:34Z"></time> That API is designed to deal
      uniformly with expressions in an unbounded number of domains. It knows
      nothing about any of them.
    </p>
    <p>
      <time datetime="2023-01-23T05:13:03Z"></time> Meanwhile, there is a live
      interpreter of statements in the domain. The requirements are captured
      pretty compactly by this interface. I mean, there is not much ceremony to
      remove here.
    </p>
    <section>
      <h3>
        on the possibility of decomposing this further
        <time datetime="2023-01-23T05:44:56Z"></time>
      </h3>
      <p>
        <time datetime="2023-01-23T05:14:09Z"></time> But I always thought that
        I would reconsider how much knowledge these operations needed to share.
        I mean, how cohesive are these relationships of parent, ancestors, what
        you match, and what you have?
      </p>
      <p>
        <time datetime="2023-01-23T05:15:54Z"></time> Surely <q>parent</q> and
        <q>ancestors</q> must have shared knowledge, because
        <q>parent</q> claims beat <q>ancestor</q> claims (ergo you can't process
        ancestor claims without knowledge of parent claims).I would say that is
        a property of the interpretation (because it is), but I think it must be
        due to the concepts, or else interpretations of them could not be
        predictable.
      </p>
      <ul>
        <li>
          <time datetime="2023-01-23T05:17:49Z"></time> Matching takes place on
          type (tag) and attributes.
        </li>
        <li>
          <time datetime="2023-01-23T05:21:17Z"></time> Parent and ancestors
          address with place of residence.
        </li>
        <li>
          <time datetime="2023-01-23T05:21:31Z"></time> Content deals with
          children.
        </li>
      </ul>

      <p>
        <time datetime="2023-01-23T05:35:12Z"></time> Each of these could be
        implemented separately with respect to some element. Right?
      </p>
      <p>
        <time datetime="2023-01-23T05:36:11Z"></time> The main case is, what
        happens if you have to move? This would be the case if you are assigned
        a parent outright, whereas you had been living with ancestors, or the
        claims about your ancestry are changed altogether. You may have to
        <q>pack up and leave</q>.
      </p>
      <p>
        <time datetime="2023-01-23T05:38:10Z"></time> The element may need to
        move to a new location, yes, but as long as you retain a reference to
        the <q>actual</q> element, and as long as your invariants weren't about
        place of residence, we can assume that you're still able to maintain
        without disturbance.
      </p>
      <p>
        <time datetime="2023-01-23T05:39:43Z"></time> But, what about element
        type. If you are implementing <q>matching</q> and you find out that the
        element needs to go from being a <code>div</code> to being an
        <code>pre</code>, then other things maintaining the invariants on the
        element really need to know about that, because the instance is
        changing. The attached implementation provides for all of that, and
        supports the in-place substitution of element type in the same form as
        statements about attributes (that is to say, simple selectors).
        <time datetime="2023-01-23T05:42:50Z"></time>
      </p>
      <p>
        <time datetime="2023-01-23T05:52:29Z"></time> If the element type
        changes, and a new element needs to be provided. I mean, if these
        aspects are all implementing the same protocol, then how is it that one
        of them gets to produce the element and the others don't?
      </p>
      <p>
        <time datetime="2023-01-23T05:53:38Z"></time> I have also been careful
        not to express or imply that there is any <q>real</q> thing inside the
        driver instance that <q>is</q> the thing being represented.
      </p>
      <p>
        <time datetime="2023-01-23T05:57:33Z"></time> To split this up would
        mean to elevate what would otherwise be internal state (the element)
        into something more public.
        <time datetime="2023-01-23T05:58:00Z"></time>
      </p>
    </section>
    <p><time datetime="2023-01-23T05:45:29Z"></time> Imagined API:</p>
    <script>
      {
        function pseudocode() {
          const Hogwarts = OC();
          const Gryffindor = OC();
          const Ravenclaw = OC();
          const Hufflepuff = OC();
          const Slytherin = OC();

          // supposing as multi-valued properties are Array as in the description API
          Gryffindor.ancestors.push(Hogwarts);
          Slytherin.ancestors.push(Hogwarts);
          // etc
        }
      }
    </script>

    <details>
      <summary>original TypeScript implementat</summary>
      <figure>
        <figcaption>TypeScript code of reify-open-container</figcaption>
        <pre>
// ASSUMES current / global document
// (ironically) doesn't handle namespaced attributes
import type { DomAssertion } from "./dom-rules/api";
import { css_to_assertion, operations_to_template } from "./dom-rules/index";

const { dom, js } = def.terms;

interface Ancestor {
  readonly element: Element;
}

interface State {
  tag: string;
  element: Element;
  assertions: Map&lt;Object, DomAssertion&gt;;
  texts: Map&lt;Object, Element | Text&gt;;
  htmls: Map&lt;Object, Iterable&lt;Node&gt;&gt;;
  parent: Element | null;
  ancestor_claimants: Map&lt;Object, Ancestor&gt;;
  chosen_ancestor: Ancestor | null;
  ancestor_claimants_changed(): void;
  assertions_changed(): void;
  // The effective attribute values *we* have set, for reversal
  attributes: Record&lt;string, string&gt;;
}

function depth_of(element: Element) {
  let current: Element["parentNode"] = element;
  let depth = 0;
  while ((current = current.parentNode)) ++depth;
  return depth;
}

// c/o https://stackoverflow.com/a/65090521
function changeTag(node, tag) {
  const clone = createElement(tag);
  for (const attr of node.attributes) {
    clone.setAttributeNS(null, attr.name, attr.value);
  }
  while (node.firstChild) {
    clone.appendChild(node.firstChild);
  }
  node.replaceWith(clone);
  return clone;
}
function createElement(tag) {
  if (tag === "svg") {
    return document.createElementNS("http://www.w3.org/2000/svg", "svg");
  }
  return document.createElementNS("http://www.w3.org/1999/xhtml", tag);
}

export const reify_OpenContainer = def.driver&lt;State&gt;({
  forType: dom.OpenContainer,
  initialize() {
    this.tag = "div";
    this.element = document.createElement(this.tag);
    this.texts = new Map();
    this.htmls = new Map();
    this.assertions = new Map();
    this.ancestor_claimants = new Map();
    this.parent = null;
    this.chosen_ancestor = null;

    this.ancestor_claimants_changed = () =&gt; {
      // We can do no better than to honor our parent
      if (this.parent) return;

      // No contention
      if (this.ancestor_claimants.size === 1) {
        const [first] = this.ancestor_claimants.values();
        this.chosen_ancestor = first;
        first.element.appendChild(this.element);
        return;
      }

      // Multiple claimants: find the deepest
      let max = 0;
      let chosen_ancestor_key: Object | undefined = undefined;
      for (const [key, claimant] of this.ancestor_claimants) {
        const depth = depth_of(claimant.element);
        if (depth &gt; max) {
          max = depth;
          chosen_ancestor_key = key;
          this.chosen_ancestor = claimant;
        }
      }
      // if only there were a good algorithm to get the second-place...
      // we might want to warn if the top two had same depth
      if (this.chosen_ancestor) {
        const { element } = this.chosen_ancestor;
        if (element === this.element) {
          console.warn(`Ignoring element ancestor of itself`, {
            thing: this.UNSAFE_id,
            chosen_ancestor_key,
            element,
          });
        } else if (this.element.parentNode !== element) {
          try {
            element.appendChild(this.element);
          } catch (error) {
            // if (error.code=== "HierarchyRequestError")  {}
            console.error({
              error,
              thing: this,
              element: this.element,
              chosen_ancestor: element,
            });
          }
        }
      }
    };

    this.assertions_changed = () =&gt; {
      const template = operations_to_template(this.assertions.values());
      const { element, attributes } = template;

      // Remove attributes no longer given
      if (this.attributes) {
        for (const name of Object.keys(this.attributes)) {
          if (!(name in attributes)) {
            this.element.removeAttribute(name);
          }
        }
      }
      this.attributes = attributes;

      // Write given attributes
      if (attributes) {
        for (const [name, value] of Object.entries(attributes)) {
          this.element.setAttribute(name, value);
        }
      }

      if (element !== this.tag) {
        console.warn(`${this.tag} -&gt; ${element}`);
        this.element = changeTag(this.element, element);
        this.tag = element;
        this.invalidate();
      }
    };
  },
  destroy() {
    // Detach from parent
    this.element.remove();
  },
  construers: [
    {
      as: dom.Element,
      handler() {
        return this.element;
      },
    },
  ],
  interpreters: {
    [dom.ancestor]: [
      {
        interface: dom.Element,
        assert(value: Element, key) {
          const existing = this.ancestor_claimants.get(key);
          if (existing?.element === value) return;
          this.ancestor_claimants.set(key, { element: value });
          this.ancestor_claimants_changed();
        },
        retract(key) {
          this.ancestor_claimants.delete(key);
          this.ancestor_claimants_changed();
        },
      },
    ],
    [dom.parentNode]: [
      {
        interface: dom.Element,
        assert(value: Element) {
          if (value !== this.parent) {
            this.parent = value;
            this.chosen_ancestor = null;
            value.appendChild(this.element);
          }
        },
        retract() {
          // Only removes if the parent is the one asserted...
          // If it's not, then all bets are off anyway
          if (this.parent) {
            this.parent.removeChild(this.element);
            this.parent = null;
          }
        },
      },
    ],
    [dom.contains]: [
      {
        comment: `Interpret HTML literal as wholly-owned direct content of this element.`,
        interface: def.terms.rdf.HTML,
        // Uses a throwaway template element in order to get parsing of HTML fragment.
        // We retain the children so we can remove them by identity later.
        assert(html: string, key) {
          // Ensure that there's a child node containing (exactly) this HTML.
          if (!this.htmls.has(key)) {
            const template = document.createElement("template");
            template.innerHTML = html;
            const contents = [...template.content.childNodes];
            this.element.appendChild(template.content);
            this.htmls.set(key, contents);
          }
        },
        retract(key) {
          if (this.htmls.has(key)) {
            const contents = this.htmls.get(key)!;
            for (const child of contents) this.element.removeChild(child);
            this.htmls.delete(key);
          }
        },
      },
      {
        interface: js.String,
        assert(text: string, key) {
          // Ensure that there's a child node containing (exactly) this text.
          if (!this.texts.has(key)) {
            const span = document.createElement("span");
            const text_node = document.createTextNode(text);
            span.appendChild(text_node);
            this.element.appendChild(span);
            this.texts.set(key, span);
          }
        },
        retract(key) {
          if (this.texts.has(key)) {
            const node = this.texts.get(key)!;
            this.element.removeChild(node);
            this.texts.delete(key);
          }
        },
      },
    ],
    [dom.matches]: [
      {
        interface: js.String,
        assert(selector: string, key: Object) {
          const assertions = css_to_assertion(selector);
          this.assertions.set(key, assertions);
          this.assertions_changed();
        },
        retract(key: Object) {
          this.assertions.delete(key);
          this.assertions_changed();
        },
      },
    ],
  },
});
</pre
        >
      </figure>
    </details>
    <section>
      <h2>concepts <time datetime="2023-01-22T04:32:06Z"></time></h2>
      <p>
        <time datetime="2023-01-22T04:33:17Z"></time> We use four familiar
        concepts:
      </p>
      <ul>
        <li>parent</li>
        <li>contains</li>
        <li>matches</li>
        <li>ancestors</li>
      </ul>
      <p>
        <time datetime="2023-01-22T04:33:33Z"></time> These are familiar
        certainly to anyone who uses the Document Object Model, but intuitions
        about the <em>familial</em> relations (ancestor and descendant) may
        apply.
      </p>
      <p>
        <time datetime="2023-01-22T04:35:51Z"></time> We have to start with
        parent, or else we'll never see the element. <code>parent</code> is the
        fast track to the world.
      </p>
      <pre>
a.dom.OpenContainer({ parent: a.dom.DocumentBody() });
          </pre
      >
    </section>
    <table>
      <caption>
        same as figure
      </caption>
      <tbody>
        <tr>
          <td>
            <pre>

### parent



Since an empty `&lt;div&gt;` is invisible by default, you might not see the element on
the page. But you can see it in the inspector.

`parent` is a single-valued property.

&gt; If multiple parent claims are made anyway, the driver currently ignores all
&gt; after the first.

### contains

`contains` is the fast track to content.

```javascript
a.dom.OpenContainer({ contains: ["something"] });
```

`contains` can accept strings and HTML literals.

```javascript
a.dom.OpenContainer({
  contains: ["&lt;pre&gt;This is a test&lt;/pre&gt;".dt(def.terms.rdf.HTML)],
});
```

which is equivalent to using the built-in `def.lang.html`:

```javascript
a.dom.OpenContainer({
  contains: [def.lang.html`&lt;pre&gt;This is a test&lt;/pre&gt;`],
});
```

`contains` is a multi-valued property.

```javascript
a.dom.OpenContainer({ contains: [] });
```

Note that an empty collection in one description does not necessarily mean that
the element ultimately has no content. A later statement (by someone else) could
claim additional content on your behalf.

Interpretations are defined for a few types:

- construable as `rdf.HTML`: interpreted as HTML content
- construable as `js.String`: interpreted as text content

&gt; `contains Element` is not (and will not be) directly interpreted by
&gt; OpenContainer. The property _should_ be transitive and thus the converse of
&gt; `ancestors`. Currently though I think it is interpreted more like the converse
&gt; of `parentNode`

The interpreter does not currently, but reserves the right to accept and unbox
stream values.

Outside of that, interpretation is open.

### matches: selector assertions

A small subset of CSS selectors are recognized as `matches`.

```javascript
a.dom.OpenContainer({ matches: ["pre"] });
a.dom.OpenContainer({ matches: [`[class~="A"]`] });
a.dom.OpenContainer({ matches: [`[class~="A"]`, `[class~="B"]`] });
a.dom.OpenContainer({ matches: [`[id="jazz"]`] });
```

You can use `matches` to make statements about

- element tag
- attribute values

#### matching attributes

We can use CSS selectors in the form `[attribute~="value"]`

```javascript
a.dom.OpenContainer({ matches: [`[class~="A"]`] });
a.dom.OpenContainer({ matches: [`[class~="A"]`, `[class~="B"]`] });
a.dom.OpenContainer({ matches: [`[id="jazz"]`] });
```

The attribute-contains operator (`~=`) says that the attribute named includes
the value in a (DOM token) list

If we make a claim that an element matches `[class~="A"]` and then we retract
that claim, the result should be that `class` is based on whatever claims about
it remain. If there are no such claims, the attribute should be removed.

Attibute-equals is also supported, although the attribute-contains form is
preferred as being lower-conflict.

#### matching element

Obviously, claims about an element's type (tag) are the most conflict-prone,
since an element can have only one type. Any two statements with differing tags
are in conflict.

```javascript
a.dom.OpenContainer({ matches: ["a"] });
a.dom.OpenContainer({ matches: ["svg"] });
a.dom.OpenContainer({ matches: ["ex:Space"] });
```

To minimize conflict, element assertions should be used sparingly.

`&lt;div&gt;` is the default element type.

In the case of conflicting assertions, some simple resolutions may be added,
including a coarse specificity ordering on html elements (mainly to put `div`
and `span` at the bottom).

Element also has the distinction of being the most costly to change, for
technical reasons.

If something feels odd about this it's because we usually encounter CSS
selectors in _predicates_ (does it match X?); whereas here, “selectors” are
being used in _assertions_ (make it match X).

### ancestors

We looked at `parent` first. There's another way to get into the document:
`ancestors`.

You can think of `ancestors` as a kind of “weak containment.” Formally, it's
transitive containment.

If I know that “the bag contains the eyeglasses”, then I expect to find the
eyeglasses within the bag.

What if you tell me, "The eyeglasses are in their case."

I know the eyeglasses are in the bag

I know the eyeclasses are in their case.

Both of these things can be true at the same time, so long as the case is in the
bag.

So it is with DOM elements.

The driver is reifying with respect to this element, but it still has to deal
with the reality of other elements. If some things claim to be my ancestors, and
I want it to be true, then I can simply situate myself as their descendant.

&gt; To maintain this truth in the face of outside movements of ancestor elements
&gt; would reuire additional work. The current interpretation of `ancestors` does
&gt; not account for DOM changes that take place after the selection of a claimant.
&gt; It could happen, for example, that a claimant moves to another location that
&gt; is deeper and would thus have caused it to be selected. Regarded in that
&gt; light, I'm not sure that depth is a good or sufficient criteria. I also don't
&gt; see a strategy for deploying a small number of mutation observers to track it.
&gt; The only thing certain is that if all claimants fall on some descendant axis,
&gt; then our element should fall under the last one.

`ancestors` is a multivalued property.

which I get to in a second.

Currently conflict among multiple claimants is resolved

### element lifecycle

The element provided by an instance of OpenContainer will live as long as its
tag.

Since there's a default tag, and since there is some conflict resolution between
conflicting assertions, the tag can change even in a monotonic graph. For
example, the default `div` may change to a `blockquote` element. When the chosen
tag changes, the driver will change out an element in-place by migrating all of
its content to a new element and, in the World interpreter's terms, “invalidates
its construals”, which sends this successor element to all related nodes. If we
were modeling listeners (which we are not currently), we could migrate those
over as well.

</pre
            >
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <footer>
      <p>Original docs: <time datetime="2023-01-22T03:38:10Z"></time></p>
      <textarea>
# dom.OpenContainer

This is a reifying driver for an arbitrary DOM element. It creates an element in
the current document and assumes some jurisdiction over it:

- If the instance is disposed, so is the element.
  - in which case it will orphan its children (with notification)
- It assumes that it may erase attributes for which it retracts values that it
  added earlier
          </textarea
      >
    </footer>
  </section>
  <section>
    <h3>misc <time datetime="2023-01-22T04:00:23Z"></time></h3>
    <p>
      I can make statements that <em>embody</em> some form; but this technique
      has been applied to knowledge graphs with some automatic logical
      entailment. In such cases, inductions can be used to create recursive
      structrures. <q>Weak</q> containment relations are defined so that a mode
      of connecting ancestors and descendants is possible. Multiple ancestor
      claimants are resolved by nearness.
      <time datetime="2023-01-22T03:59:14Z"></time> Conflicting claims indicate
      a logical contradiction.
      <time datetime="2023-01-22T04:08:32Z"></time>
    </p>
    <aside>
      <p>
        <time datetime="2023-01-22T03:57:08Z"></time> (But via reflection, you
        can have two different entities representing the same element. How would
        you resolve between then? Yet it should make no difference, since the
        work done will be the same.)
      </p>
      <p>
        <time datetime="2023-01-22T03:58:04Z"></time> Still, couldn't there be a
        difference in the relinquishment, as to the chosen relation's other
        claims?
      </p>
    </aside>
  </section>
  <section>
    <h2>the grammar <time datetime="2023-01-22T04:01:14Z"></time></h2>
    <p>
      So we have these <em>reflecting</em> concepts
      <time datetime="2023-01-22T04:02:41Z"></time>
    </p>
    <dl>
      <div>
        <dt>document, document head, document body</dt>
        <dd>
          all things of these classes are interpreted as the corresponding
          globals (in an environment permitting of such an interpretation,
          &amp;c) <time datetime="2023-01-22T04:05:35Z"></time> The code is
          trivial as you'd expect.
        </dd>
      </div>
      <div>
        <dt>first matching child</dt>
        <dd>
          relates a given element (usually starting with the
          <code>document body</code>) and a child matching some selector
          <time datetime="2023-01-22T04:04:49Z"></time> I'm not sure that this
          implementation wouldn't generalize to nth-child
        </dd>
      </div>
    </dl>
    <p>And these <em>reflecting</em> concepts</p>
    <dl>
      <div>
        <dt>open container</dt>
        <dd>a dom object that</dd>
      </div>
      <div>
        <dt>closed HTML container</dt>
        <dd>own a subtree. claim HTML contents</dd>
      </div>
      <div>
        <dt>event source</dt>
        <dd>
          forgot I even added this but yeah. Nice addition that lets elements
          participate as sources in declarative graph-based dataflows.
        </dd>
      </div>
    </dl>
    <p>
      <time datetime="2023-01-22T04:37:23Z"></time> What can we describe? What
      can we say or do?
    </p>
    <p>
      <time datetime="2023-01-22T04:37:41Z"></time> We can focus on the
      <em>logical location of things</em>, and derive their physical locations.
    </p>
    <p>
      <time datetime="2023-01-22T04:39:25Z"></time>
      <i>What are the elements?</i>
    </p>
    <p>
      <time datetime="2023-01-22T04:40:17Z"></time> The elements are the
      concepts: the reflecting and reifying types. You need at least one from
      each, and you need to relate them, in order to see anything.
    </p>
    <p>
      <time datetime="2023-01-22T04:41:07Z"></time> You can do most everything
      with just <code>document body</code> and <code>open container</code>. And
      you need literals, for use with <code>contains</code>.
    </p>
    <p>
      <time datetime="2023-01-22T04:43:04Z"></time>
      <i>What is the means of combination?</i>
    </p>
    <p>
      <time datetime="2023-01-22T04:43:13Z"></time> The relations: ancestor and
      parent.
    </p>
    <table id="MDAg2ZIx">
      <caption></caption>
      <tbody>
        <tr>
          <td>
            <p>
              <time datetime="2023-01-22T04:48:27Z"></time> An
              <code>open container</code> is <q>open</q> in the sense of
              <q>open world</q>. Anyone can say anything about it.
            </p>
            <p>
              <time datetime="2023-01-22T04:49:28Z"></time> Wait, so someone
              could just come along and say something to the system and be in
              <em>my</em> component? Correct. If someone knows the name of a
              container in your model, that person can say that
              <q>your</q> container contains a box of lollipops, and—if the
              statement is interpreted correctly—your container would contain a
              box of lollipops. If that sounds like an unlikely story, let me
              introduce you to the inspector!
              <time datetime="2023-01-22T04:54:24Z"></time>
            </p>
            <p>
              <time datetime="2023-01-22T04:58:19Z"></time> This is a system
              tool for composition of uncoordinated things.
            </p>
            <p>
              <time datetime="2023-01-22T04:59:30Z"></time> Any model that wants
              to put something somewhere (outside of itself) can simply say that
              the thing lives in the body.
            </p>
            <p>
              <time datetime="2023-01-22T04:59:54Z"></time> If it's of no
              concern to anyone else, it may simply live at the top level, as a
              direct child of the body.
            </p>
            <p>
              <time datetime="2023-01-22T05:00:51Z"></time> But things will
              start to pile up in the <code>body</code>, kind of like they can
              do on your <q>desktop</q>. In the computer world a
              <q>desktop </q> is a concept that was never well understood by the
              vendors who introduced it to the public, and which no one seems to
              miss.
              <time datetime="2023-01-22T05:03:31Z"></time>
            </p>
            <p>
              <time datetime="2023-01-22T05:03:35Z"></time> Having weak
              containment relations means that I can say, okay, old things, go
              in that box, new things, group by author. Those statements
              <em>add to</em> the original statement, that the things live in
              the body. The statements are free of conflict, and can both be
              honored.
            </p>
          </td>
          <td>
            <details>
              <summary>source</summary>
              <!-- prettier-ignore -->
              <style>
#MDAg2ZIx [data-part] {border: 1pt solid red;}
</style>
            </details>
          </td>
          <td>
            <figure></figure>
            <div class="body"></div>
            <div class="open-container"></div>
            <div class="open-container"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h2>appendices <time datetime="2023-01-23T03:08:27Z"></time></h2>
    <section id="reflect-first-matching-child">
      <a href="#reflect-first-matching-child">§</a>
      <header>
        <p>
          <time datetime="2023-01-23T03:08:41Z"></time> I'm putting this in an
          appendix because its value doesn't warrant its complexity.
        </p>
        <p>
          <time datetime="2023-01-23T03:09:04Z"></time> If I <em>do</em> revisit
          it, I would have to answer why not just match the whole set. The
          reason, as it comes back to me now, is that the driver could not be in
          the business of <em>asserting</em> anything about the world. It is
          only allowed to interpret given facts. Meanwhile, it has only one
          name, and represents exactly that one thing. So for reflection-type
          statements using this mode of interpretation, you need ways of
          identifying things that are individual by definition, hence “first.”
        </p>
        <p>
          <time datetime="2023-01-23T03:11:35Z"></time> I accept that, but I
          also say that it's unintuitive and that if you're going to talk about
          selectors being used to reflect elements, you would have to provide
          simultaneous (monadic) operations on the whole <q>matched set</q>, as
          in Resig [jQuery].
          <time datetime="2023-01-23T03:13:30Z"></time>
        </p>
      </header>
      <h3>
        reflect first matching child
        <time datetime="2023-01-22T03:20:17Z"></time>
      </h3>
      <p>
        <time datetime="2023-01-23T02:59:40Z"></time> This concept lets you say
        things that are <em>almost</em> like a CSS child selectors in the form
        <code>p > s</code>, where <var>p</var> is a reference element and
        <var>c</var> is a simple selector (i.e. one without a combinator). You
        need a reference element to serve as the parent, and will match an
        immediate child of that description. But as written it reflects only the
        first of them. So it's actually more like the XPath expression
        <code>(p::child/*[s])[1]</code>.
        <time datetime="2023-01-23T03:06:17Z"></time>
      </p>
      <aside>
        <p>
          <time datetime="2023-01-23T03:01:26Z"></time> Now I'm wondering why I
          only want this to apply to a single element.
        </p>
        <p>
          <time datetime="2023-01-23T03:06:21Z"></time> The reason must go back
          to how I intended to use it to organize userspace. But at this time I
          want to kind of shelve the whole thing, because I think OC handles
          almost everything of interest.
          <time datetime="2023-01-23T03:07:50Z"></time>
        </p>
      </aside>
      <p>
        <time datetime="2021-12-06"></time> The
        <code>FirstMatchingChild</code> module provides a reflection-type driver
        for child elements matching simple selectors.
      </p>
      <p>
        <time datetime="2021-08-14"></time>
        The scope of this construct is deliberately limited to ensure that an
        efficient implementation is possible. Mutation Observers are used to
        maintain the interpretation, but only to one level (no `subtree`).
      </p>
      <p><time datetime="2021-08-14"></time> Supported selectors:</p>
      <ul>
        <li>wildcard (<code>*</code>) <time datetime="2021-08-14"></time></li>
        <li>
          basic constraints (tag, #id, .class, [attribute])
          <time datetime="2021-08-14"></time>
        </li>
        <li>
          positional (<code>:first-child</code>, <code>:last-child</code>,
          <code>:nth-child</code>, etc)
          <time datetime="2021-08-14"></time>
        </li>
        <li>
          <code>:not()</code> (with same restrictions on predicate)
          <time datetime="2021-08-14"></time>
        </li>
        <li>
          adjacent &amp; following-sibling (<code>x + y</code>,
          <code>x ~ y</code>)
          <time datetime="2021-12-23"></time>
        </li>
        <li>
          some location (<code>:link</code>, etc, but <strong>not</strong>
          <code>:target-within</code>)
          <time datetime="2021-08-14"></time>
        </li>
      </ul>
      <p>
        <time datetime="2021-08-14"></time> <em>Not</em> supported selectors:
      </p>
      <ul>
        <li>
          child / descendant combinators (<code>x &gt; y</code>,
          <code>x y</code>)
          <time datetime="2021-08-14"></time>
        </li>
        <li>
          state or action classes (<code>:hover</code>,
          <code>:active</code>, <code>:focus</code>, etc)
          <time datetime="2021-08-14"></time>
        </li>
      </ul>
      <p>
        <time datetime="2021-08-14"></time>
        This can be used in conjunction with reifying DOM drivers (such as
        <a href="dom-invariants.html#OpenContainer"
          ><code>OpenContainer</code></a
        >
        and
        <a href="dom-invariants.html#ClosedHtmlContainer"
          ><code>ClosedHtmlContainer</code></a
        >
        to coordinate across models using identifiable DOM elements.
      </p>
      <p>
        <time datetime="2021-12-23"></time>
        For example, suppose that a container exists in model A and we want
        model B to be placed inside of it.
      </p>

      <p>
        <time datetime="2023-01-22T03:20:23Z"></time>
        <code>reflect first matching child</code> is a bit more involved since
        it needs to observe changes.
        <time datetime="2023-01-22T03:21:15Z"></time>
      </p>
      <details>
        <summary>
          Original TypeScript code for reflect-first-matching-child driver
          <time datetime="2023-01-23T02:57:45Z"></time>
          <time datetime="2022-09-20">last modified 09-20 @ 22:36</time>
        </summary>

        <figure>
          <figcaption>
            TypeScript code for reflect-first-matching-child driver
          </figcaption>
          <pre>
// See `./first-matching-child.md`

interface State {
  // TODO: make these null, not undefined
  element: Element | undefined | null;
  parent: Element | undefined | null;
  // It's really just a set of strings, but technically the key is opaque
  patterns: Map&lt;Object, string&gt;; // trimmed values
  selector: string | undefined | null;

  observer: MutationObserver;
  // We know it will be an `Element` but the observer returns node
  // TODO: reuse the same observer for all children (could be tricky)
  child_observers: Map&lt;Node, MutationObserver&gt;;
  set_parent(parent?: Element): void;
  patterns_changed(): void;
  disconnect_all(): void;
}

const { dom, js } = def.terms;

const CHILD_LIST = { childList: true };
const ATTRIBUTES = { attributes: true };

export const reflect_FirstMatchingChild = def.driver&lt;State&gt;({
  forType: dom.FirstMatchingChild,
  initialize() {
    // this.element = null;
    // this.parent = null;
    // this.selector = null;
    // These exist throughout the lifetime.  The observer is connected &amp;
    // disconnected as the parent comes &amp; goes.
    this.patterns = new Map();
    this.child_observers = new Map();
    this.disconnect_all = () =&gt; {
      this.observer.disconnect();
      this.child_observers.forEach(it =&gt; it.disconnect());
    };
    this.observer = new MutationObserver(changes =&gt; {
      for (const change of changes) {
        change.addedNodes.forEach(ensure_child_observer);
        change.removedNodes.forEach(remove_child_observer);
      }
      something_changed();
    });

    // Re-evaluate match
    const something_changed = () =&gt; {
      const { selector, parent } = this;
      let match: typeof this.element = undefined;
      if (parent) {
        if (selector) {
          for (const child of parent.children) {
            if (child.matches(selector)) {
              match = child;
              break;
            }
          }
        } else {
          match = parent.firstElementChild ?? undefined;
        }
      }
      if (match !== this.element) {
        this.element = match;
        this.invalidate();
      }
    };

    this.patterns_changed = () =&gt; {
      this.selector = this.patterns.size
        ? [...this.patterns.values()].join("")
        : undefined;
      something_changed();
    };

    const ensure_child_observer = (node: Node) =&gt; {
      if (!this.child_observers.has(node)) {
        // The exact change doesn't matter, we just need to re-check
        const observer = new MutationObserver(something_changed);
        observer.observe(node, ATTRIBUTES);
        this.child_observers.set(node, observer);
      }
    };
    const remove_child_observer = (node: Node) =&gt; {
      const observer = this.child_observers.get(node);
      if (observer) {
        observer.disconnect();
        this.child_observers.delete(node);
      }
    };

    this.set_parent = parent =&gt; {
      if (parent !== this.parent) {
        this.disconnect_all();
        if ((this.parent = parent)) {
          this.observer.observe(parent, CHILD_LIST);
          for (const child of parent.children) ensure_child_observer(child);
        } else {
          this.element = undefined;
        }
        something_changed();
      }
    };
  },
  destroy() {
    this.disconnect_all();
  },
  construers: [
    {
      as: dom.Element,
      handler() {
        return this.element;
      },
    },
  ],
  interpreters: {
    [dom.parentNode]: [
      {
        interface: dom.Element,
        assert(value: Element) {
          this.set_parent(value);
        },
        retract() {
          this.set_parent();
        },
      },
    ],
    [dom.matches]: [
      {
        interface: js.String,
        assert(value: string, key) {
          if (!this.patterns.has(key)) {
            this.patterns.set(key, value.trim());
            this.patterns_changed();
          }
        },
        retract(key) {
          if (this.patterns.has(key)) {
            this.patterns.delete(key);
            this.patterns_changed();
          }
        },
      },
    ],
  },
});
</pre
          >
        </figure>
      </details>
      <footer>
        <details>
          <summary>
            Original docs: <time datetime="2023-01-22T03:38:05Z"></time>
          </summary>
        </details>
        <textarea>

In model A:

```ttl
&lt;outer&gt; a dom:OpenContainer.
```

The most straightforward way to do this would be to say

```
&lt;inner&gt; a dom:OpenContainer; dom:parentNode &lt;outer&gt;.
```

(or indeed)

```
&lt;outer&gt; dom:contains &lt;inner&gt;.
```

I also need to sort out how these two things differ.

## implementation notes

### reuse MutationObserver for child nodes?

According to
[MDN](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver/observe#usage_notes),

&gt; You can call `observe()` multiple times on the same `MutationObserver` to
&gt; watch for changes to different parts of the DOM tree and/or different types of
&gt; changes.

The current implementation creates a new one for each child. Reusing the child
one would be preferable.

As I read this, though, I'm not sure it's worth the extra care you'd need to
take.

Also, based on the section
[“Observation follows nodes when disconnected”](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver/observe#observation_follows_nodes_when_disconnected),
I assume some extra measures would be needed to get things right in such cases.
</textarea
        >
      </footer>
    </section>
    <section>
      <h3>unfiled <time datetime="2023-01-23T03:30:15Z"></time></h3>
      <p>
        <time datetime="2023-01-22T02:38:06Z"></time> I propose that we can have
        new kinds of composition if we express our intentions in the form of
        truth-valued assertions. Considering a graph as a worldview, we can say
        that the composition of worldviews is equivalent to the merging of
        graphs, and in RDF graph merge is practically trivial.
      </p>
      <p>
        <time datetime="2023-01-22T05:25:27Z"></time> This is suited for dynamic
        user interface elements. Elements created this way should probably have
        <code>aria-live="true"</code>.
      </p>
      <aside>
        <p>
          (Regarding the merging of graphs, skolemizing blank nodes can be
          necessary to create “lean” graphs but I believe that a simple merge is
          linear. Non-leanness means that the same anonymous thing may be meant
          by multiple internal labels)
        </p>
        <time datetime="2023-01-22T02:42:40Z"></time>
      </aside>
    </section>
  </section>
  <article>
    <h1>scratch area <time datetime="2023-01-22T05:15:01Z"></time></h1>
    <p>
      <time datetime="2023-01-31T04:58:20Z"></time>The research question: what
      sort <q>content rules</q> could we enforce that would be expressive (say
      enough for simple induction) while avoiding dragnet observation at all
      levels, which would be hostile to everyone involved.<time
        datetime="2023-01-31T05:00:32Z"
      ></time>
    </p>
    <dialog open style="position: relative" id="w6ozLRqQ">
      <form>
        <blockquote><p>world is blue</p></blockquote>
        <figure>
          <div resource="#world" style="--color: blue"></div>
        </figure>
      </form>
      <form>
        <blockquote>
          <p>grass is green</p>
        </blockquote>
        <figure>
          <div resource="#world" style="--color: blue"></div>
          <div resource="#grass" style="--color: green"></div>
        </figure>
      </form>
      <form>
        <blockquote><p>house is red</p></blockquote>
        <figure>
          <div resource="#world" style="--color: blue"></div>
          <div resource="#grass" style="--color: green"></div>
          <div resource="#house" style="--color: red"></div>
        </figure>
      </form>
      <form>
        <blockquote><p>house is in grass</p></blockquote>
        <figure>
          <div resource="#world" class="blue"></div>
          <div resource="#grass" class="green">
            <div resource="#house" class="red"></div>
          </div>
        </figure>
      </form>
      <form>
        <blockquote><p>house is in world</p></blockquote>
        <figure>
          <div resource="#world" class="blue">
            <div resource="#grass" class="green">
              <div resource="#house" class="red"></div>
            </div>
          </div>
        </figure>
        <i>~or~<time datetime="2023-01-23T03:52:09Z"></time></i>
        <figure>
          <div resource="#grass" class="green">
            <div resource="#world" class="blue">
              <div resource="#house" class="red"></div>
            </div>
          </div>
        </figure>
      </form>
      <form>
        <blockquote><p>grass is in world</p></blockquote>
        <figure>
          <div resource="#world" class="blue">
            <div resource="#grass" class="green">
              <div resource="#house" class="red"></div>
            </div>
          </div>
        </figure>
      </form>
      <details>
        <summary>
          maybe next <time datetime="2023-01-23T04:23:07Z"></time>
        </summary>
        <form>
          <blockquote><p>house has front window</p></blockquote>
          <figure>
            <div resource="#world" class="blue">
              <div resource="#grass" class="green">
                <div resource="#house" class="red">
                  <div resource="#front-window"></div>
                </div>
              </div>
            </div>
          </figure>
        </form>
      </details>
      <!-- prettier-ignore -->
      <style>
#w6ozLRqQ {
  font-family: var(--font-family-sans-serif, sans-serif);
}
#w6ozLRqQ div { --color: Canvas }
#w6ozLRqQ .red { --color: red }
#w6ozLRqQ .blue { --color: blue }
#w6ozLRqQ .green { --color: green }
#w6ozLRqQ [resource]::before {
  content: attr(resource);
  display: block;
  margin-inline: 2pt;
  background: #8888;
  color: Canvas;
  opacity: 0.8;
}
#w6ozLRqQ form { display: flex }
#w6ozLRqQ form > * { flex: auto }
#w6ozLRqQ blockquote {
  margin: 1em 1ch;  /* but I mean block/inline... */
  padding-inline: 1ch;
  background: #8888;
  border-radius: 0 1em 1em 1em;
}
#w6ozLRqQ figure div {
  display: inline-block;
  margin-block-end: 1em;
  margin-inline-end: 1ch;
  min-block-size: 3em;
  background: var(--color);
  box-shadow: 0 0 1ch -0.35ch;
  vertical-align: middle;
}
#w6ozLRqQ figure div div {
  margin-inline-start: 1ch;
  margin-block-start: 1em;
}
</style>
    </dialog>
    <details>
      <p>unused now <time datetime="2023-01-23T04:30:40Z"></time></p>
      <pre>
    #w6ozLRqQ textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

  </pre
      >
    </details>
    <p>
      <time datetime="2023-01-22T16:15:41Z"></time> This is a demonstration area
      where you can interactively try out DOM invariants.
    </p>
    <p>
      <time datetime="2023-01-22T05:16:13Z"></time> Use the dialog to talk about
      things.
    </p>
    <p>
      <time datetime="2023-01-22T05:16:22Z"></time> Here are the kinds of things
      you can say:
    </p>
    <ul>
      <li>world is blue</li>
      <li>grass is green</li>
      <li>house is red</li>
      <li>house is in world</li>
      <li>house is in grass</li>
      <li>grass is in world</li>
      <li>house has front window</li>
      <li>house has picture window</li>
      <li>door says no soliciting</li>
      <li>door says welcome</li>
    </ul>
    <aside>
      <p>
        The demo itself probably requires more code than the thing being demoed.
        I might even resort to some <q>imports</q> if it gets fancy. For
        example, I'm doing an ad-hoc dialog here when that is really a separate
        concept that is explored elsewhere.
        <time datetime="2023-01-22T16:18:07Z"></time>
      </p>
      <time datetime="2023-01-22T16:19:50Z"></time>
    </aside>
    <script style="display: block; white-space: pre">
      {
        globalThis.recognizers = [[s => s.endsWith("?"), () => "Dunno"]];
      }
    </script>
    <p>
      <time datetime="2023-01-23T03:16:35Z"></time> Let me just stop you right
      there. <time datetime="2023-01-23T03:16:42Z"></time>
    </p>
    <p>
      <time datetime="2023-01-25T22:57:54Z"></time> In my world, globals are not
      a sin. <time datetime="2023-01-25T22:58:29Z"></time>
    </p>
    <p><time datetime="2023-01-25T22:59:12Z"></time> For example,</p>
    <script style="display: block; white-space: pre">
      {
        const X_IS_IN_Y = /^\s*(?<subject>.+)\s+is\s+in\s+(?<object>.+)\s*$/;
        globalThis.recognizers.push([
          s => s.match(X_IS_IN_Y)?.groups,
          m => JSON.stringify({ ...m, predicate: "ancestor" }),
        ]);
      }
    </script>
    <p>
      <time datetime="2023-01-23T03:17:41Z"></time> This is a simple thing that
      recognizes phrases in the form <q><var>X</var> is in <var>Y</var></q
      >. Like, <q>moon is in sky</q>.
      <time datetime="2023-01-23T03:19:02Z"></time>
    </p>
    <aside>
      <p>
        <time datetime="2023-01-25T22:59:51Z"></time> This pattern is easier to
        read
      </p>
      <pre>(?&lt;subject&gt;.+) is in (?&lt;object&gt;.+)</pre>
      <p>
        <time datetime="2023-01-25T23:04:22Z"></time> but it requires spacing. A
        simple change to the pattern makes it more forgiving.
        <time datetime="2023-01-25T23:04:39Z"></time>
      </p>
    </aside>

    <p>
      <time datetime="2023-01-23T03:19:28Z"></time> And when it has recognized
      the phrase, it answers with a statement, that <var>X</var> has as ancestor
      named <var>Y</var>.
    </p>
    <p>
      <time datetime="2023-01-23T03:56:16Z"></time> So for
      <q>moon is in the sky</q>, this would answer with the statement
      <code>moon ancestor sky</code>, meaning the moon has the sky as its
      ancestor. Poetic, no doubt. The result of mixing metaphors. We have
      <q>ancestor</q> from document-as-tree, and we have
      <q>is in</q> (containment) from document-as-boxes. In the DOM, these two
      are basically identical: you are contained by your ancestors, and you
      contain your descendants. It has to be this way, because the document
      grows like a tree, from the center out. The elders make the way.
      <time datetime="2023-01-23T04:03:11Z"></time>
    </p>
    <p>
      <time datetime="2023-01-23T03:21:03Z"></time> That simple form:
      <code>X somethings Y</code>, is an atomic revolution. It's funny that RDF
      is not embraced by a world which loves metaphors from the physics of the
      invisible.
    </p>
    <p>
      <time datetime="2023-01-23T03:24:16Z"></time>
      Anyway, <q>X somethings Y</q> is the form of all knowledge in the semantic
      web. It is based on that unit. It's something to consider. What is the
      thing that you think qualifies as a unit of knowledge, which can't somehow
      be shoehorned into this form?
      <time datetime="2023-01-23T03:25:46Z"></time>
    </p>
    <p><time datetime="2023-01-23T03:26:51Z"></time> But I digress.</p>
    <script>
      {
        function interpret(message) {
          for (const [recognize, respond] of globalThis.recognizers) {
            try {
              const recognition = recognize(message);
              if (recognition) return respond(recognition);
            } catch (error) {
              return `Recognizer error: ${error}`;
            }
          }
        }

        function print(message, form) {
          const output = document.createElement("output");
          output.innerHTML = `${message}`;
          form.append(output);
        }

        async function read(container) {
          const form = document.createElement("form");
          // form.innerHTML = `<input /><input type="submit" value="✈" />`;
          // split to prevent bad parsing of this literal
          form.innerHTML = `<textarea></${""}textarea><input type="submit" value="💬" />`;
          container.append(form);
          form.querySelector('input:not([type="submit"])')?.focus();
          return new Promise(resolve => {
            function onsubmit(event) {
              event.preventDefault();
              const input = form.querySelector('input:not([type="submit"])');
              const value = input.value;
              resolve({ form, value });
              // But this causes subsequent submissions to reload the page, as is the default
              form.removeEventListener("submit", onsubmit);
            }
            form.addEventListener("submit", onsubmit);
          });
        }

        async function* read_loop(dialog) {
          // yielded-back value could signal eg change to read prompt
          while (true) yield await read(dialog);
        }

        async function actuator(dialog) {
          for await (const the of read_loop(dialog)) {
            const interpretation = interpret(the.value);
            if (the.form) print(interpretation ?? "What??", the.form);
          }
        }

        const article = document.currentScript.closest("article");
        const dialog = article.querySelector("dialog");
        actuator(dialog);
      }
    </script>
    <p>
      <time datetime="2023-01-22T05:58:39Z"></time>
      <del
        >So there's the basic dialog loop code.<time
          datetime="2023-01-23T03:27:35Z"
        ></time>
      </del>
    </p>
    <p>
      <time datetime="2023-01-22T17:37:10Z"></time> That allows me to say
      something like <code>house is in world</code> and get the response
    </p>
    <pre>{"subject":"house","object":"world","predicate":"ancestor"}</pre>
    <p>
      <time datetime="2023-01-22T17:37:49Z"></time> It's brutally simple, and on
      such brutality as this will we build a surprisingly effective demo. I'll
      be pleasantly surprised anyway.
      <time datetime="2023-01-22T17:38:24Z"></time>
    </p>
    <p>
      <time datetime="2023-01-22T17:38:38Z"></time> We need to do more than just
      recognize the utterances. We need to use them to construct a little world.
      <time datetime="2023-01-22T17:42:34Z"></time>
    </p>
    <p>
      <time datetime="2023-01-23T00:45:16Z"></time> By a <q>little world</q> I
      mean a distinct set of facts. A <q>fact</q> is in the form
      <code>subject predicate object</code>. <code>subject</code> and
      <code>predicate</code> are names. <code>object</code> can be a name or a
      value.
    </p>
    <p>
      <time datetime="2023-01-23T00:46:53Z"></time> In this little world, we
      want to interpret the facts as being directly about DOM elements. That is,
      if we way <q>Bob is in house</q>, we're saying that there's an element
      called <q>Bob</q> and an element called <q>house</q>, and that
      <q>house</q> is an <em>ancestor</em> of Bob's.
    </p>
    <p>
      <time datetime="2023-01-23T00:59:26Z"></time> So we could process the
      facts something like this:
    </p>
    <script>
      {
        function process_facts(facts) {
          for (const fact of facts) {
            const { subject, predicate, object } = fact;
            // there is a thing in the world called subject
            // if object is a name, then there is a thing in the world called that
            // assert fact on subject
          }
        }
      }
    </script>
  </article>
</article>
