<article>
  <nav><a href="index.html">home</a></nav>
  <style>
    /* DUPLICATED in the_system */
    notebook-tuprule::before {
      display: block;
      content: ": " attr(input) " | " attr(extra-inputs) "\A |> "attr(process) "\A |> "attr(
          output
        )
        " " attr(outputs) " | " attr(extra-outputs);
      white-space: pre;
      border: 1ch solid Highlight;
    }
    notebook-tuprule[group]::before {
      content: ": " attr(input) " | " attr(extra-inputs) "\A |> "attr(process) "\A |> "attr(
          output
        )
        " " attr(outputs) " | " attr(extra-outputs) " <" attr(group) ">";
    }
  </style>
  <h1>get history<time datetime="2023-01-28T15:22:06Z"></time></h1>
  <p>
    <time datetime="2023-01-28T15:24:04Z"></time> I don't want to talk about
    this here, I've got plenty other docs that I can incorporate as to what's
    etc.
  </p>
  <p>
    <time datetime="2023-01-28T15:24:24Z"></time> What I want to do here is
    bring in the code, <em>and</em> develop build rules to automate this stuff.
  </p>
  <p>
    <time datetime="2023-01-28T17:01:02Z"></time> For now, I do not have a
    proper, <q>closed</q> literate system. It's been a while since I've used
    Tup, and right now I'm just testing the waters again. It's not all blissful,
    to be honest. This round will certainly be a test of whether this kind of
    system can be done more painlessly (than it was in
    <a href="https://gitlab.com/gavinpc/willshake/-/tree/docker/bootstrap"
      >willshake</a
    >).
    <time datetime="2023-01-28T17:02:43Z"></time>
  </p>
  <section>
    <h2>
      Wikipedia cross-language indexing
      <time datetime="2021-06-26"></time>
    </h2>
    <aside>
      <p>
        <time datetime="2023-01-28T17:14:29Z"></time>
        <code>git blame</code> for the Markdown file where I got this says it is
        all from <time datetime="2022-10-26">2022-10-26</time> but I have a copy
        with a file timestamp as old as
        <time datetime="2021-06-26">2021-06-26</time> (and no git history). But
        I know the actual work goes back to about 2018.
        <time datetime="2023-01-28T17:15:04Z"></time>
      </p>
    </aside>
    <p>
      <time datetime="2023-01-28T17:17:57Z"></time> This is about locally
      caching language links between Wikipedia articles.
    </p>
    <p>
      <time datetime="2021-06-26"></time> Essentially it's a local cache of
      information on the site, reorganized somewhat to support lookups by
      language and article.
    </p>
    <p>
      <time datetime="2021-06-26"></time>
      In other words, given two languages, tell me
    </p>
    <ul>
      <li>
        whether a given string (as used in <code>href</code>'s) is a wiki title
        in that Wikipedia
      </li>
      <li>
        if so, what article it corresponds to in a given reference language
      </li>
    </ul>
    <section>
      <h3>requires</h3>
      <ul>
        <li>
          <a href="get-resource-from-internet.html"
            >get resource from internet</a
          >
        </li>
        <li>
          <a href="wikipedia-interop.html">Wikipedia interop</a>
        </li>
        <li>node</li>
        <li>jq</li>
      </ul>
    </section>
    <section>
      <h3>provides</h3>
      <p>
        index-langlinks.sh, a script to create a per-language cross-reference
        index for a given language and list of articles.
      </p>
    </section>
    <section>
      <h3>usage</h3>
      <p>You can call it like this</p>
      <pre>
echo 'Lundi
Mardi
Mercredi
Jeudi
Vendredi
Samedi
Dimanche' | ./index-langlinks.sh fr
          </pre
      >
      <p>
        This will create a JSON file for each language that contains any of
        those articles. Each file will contain a map of the French title to the
        corresponding title in that language.
      </p>
      <p>
        For example, the resulting <code>es.json</code> will look like the
        following (formatted for readability):
      </p>
      <pre>
{
  "langname": "espagnol",
  "autonym": "español",
  "links_to": {
    "fr": {
      "Dimanche": "Domingo",
      "Jeudi": "Jueves",
      "Lundi": "Lunes",
      "Mardi": "Martes",
      "Mercredi": "Mi%C3%A9rcoles",
      "Samedi": "S%C3%A1bado",
      "Vendredi": "Viernes"
    }
  }
}
          </pre
      >
    </section>
    <section>
      <h3>Data model</h3>
      <p>
        Strictly speaking, this is not a <q>cross-reference,</q> since it does
        not support two-way lookup. The underlying data (if this Mediawiki
        documentation about the
        <a href="https://www.mediawiki.org/wiki/Manual:Langlinks_table"
          >Manual:langlinks table</a
        >
        is relevant) uses an association table, which is less redundant and
        closer to the essential model.
      </p>
      <p>
        If I'm reading this correctly, the model is egalitarian at the expense
        of consistency. There is no <q>master</q> identifier of topics separate
        from languages; a topic does not exist until it has an article in some
        language. Thus, it's possible for languages B and C to say different
        things about what an article means in language A. I don't know how this
        is handled by Wikimedia.
      </p>
    </section>
  </section>
  <section>
    <h2>
      Wikipedia multi-lingual timeline index
      <time datetime="2023-01-29T06:48:28Z"></time>
    </h2>
    <pre>
# Wikipedia multi-lingual timeline index

The code in this directory is aimed at creating a complete index of the general
timeline articles in all Wikipedias (i.e. for all languages).

The outer objective is to create a database of timeline items for a given
language. In order to do that you must first know which articles are in scope.

## Dependencies

- [wikipedia](../wikipedia)
- [wiki-tools](../wiki-tools)
- [wiki-language-index](../wiki-language-index)
- node
- jq

## Requires

- a reference language (support for English is provided)

### Reference languages

For this technique to work on languages of which _nothing_ but the ISO code is
known, we need a reference language of which a little bit is known. A reference
language must provide:

- a list of list articles that we expect to link to all of the defined periods
  (such as a complete
  [list of years](https://ja.wikipedia.org/wiki/%E5%B9%B4%E3%81%AE%E4%B8%80%E8%A6%A7),
  as opposed to the more granular tables for, e.g.
  [individual centuries](https://es.wikipedia.org/wiki/Anexo:Tabla_anual_del_siglo_IX).)
- a function for mapping titles to the
  [ISO 8601](https://www.iso.org/obp/ui#iso:std:iso:8601:-1:ed-1:v1:en) time
  periods they identify (if any)

## Provides

For the indicated language, you get a dictionary where

- keys are the titles (as used in wiki links) of all of the (detected) articles
  representing time periods
- values are data structures representing the time period

## Usage

I _think_ you can create a working index just by running:

```sh
./make-all-timeline-indexes.sh
```

That should first create the default reference language (English), then create
indexes for each language with associated timeline items. The first time through
this will take a while, since it will have to fetch about 3,000 articles (with
throttling).

Once that's done, you can verify the results and otherwise use the provided
scripts in various ways.

You can list the timeline titles using `list-timeline-titles.sh`:

```
$ ./list-timeline-titles.sh ja | head -n3
%E7%B4%80%E5%85%83%E5%89%8D0%E5%B9%B4%E4%BB%A3
%E7%B4%80%E5%85%83%E5%89%8D1%E4%B8%96%E7%B4%80
%E7%B4%80%E5%85%83%E5%89%8D1%E5%8D%83%E5%B9%B4%E7%B4%80
```

These are in the format used in wiki links. To see the decoded characters, you
can use:

```sh
$ ./list-timeline-titles.sh ja | head -n3 | while read t; do node -p "decodeURI('$t')"; done
紀元前0年代
紀元前1世紀
紀元前1千年紀
```

For the `make-range-dictionary` component:

Run the script with a language code and provide the list through stdin:

```sh
echo '1880
1890
15th_century
Bologna
Territory
October_15
Juniper
Columbus_Day
1st_millenneum
AD_24
1770s
1400s_(decade)
Turtleneck
5_BC' | node make-range-dictionary en
```

The result is written to stdout (prettified here)

```json
{
  "1880": {
    "year": 1880
  },
  "1890": {
    "year": 1890
  },
  "15th_century": {
    "years": {
      "first": 1401,
      "last": 1500
    }
  },
  "AD_24": {
    "year": 24
  },
  "1770s": {
    "years": {
      "first": 1770,
      "last": 1779
    }
  },
  "1400s_(decade)": {
    "years": {
      "first": 1400,
      "last": 1409
    }
  },
  "5_BC": {
    "year": -5
  }
}
```

## Implementation notes

This must be done as language-agnostically as possible. It would be impractical
if we needed to know the particulars of how timeline articles are named in each
Wikipedia (not to mention particulars of each language itself).

Fortunately, setting aside the fact that everything is based on Christian
year-numbering and decimal cycles, there is nothing _language_-specific about
the actual division of time into periods.

The present strategy is to

- use the English language Wikipedia as a starting point for collecting all
  general timeline articles
- use knowledge of the naming conventions in the English Wikipedia to associate
  those articles with time periods
- use the language links for each English article to find the corresponding
  articles in other languages, where they exist

The upside to this approach is that it's extremely straightforward. Thanks to
“Project Years,” timeline articles in the English Wikipedia are practically
exhaustive and highly regular. The relevant scope can be determined using a few
simple rules.

The main downside to this approach is the possibility of false negatives, which
can arise from

- imperfect linking of English-language articles to corresponding articles in
  other Wikipedias
- “blind spots” due to incongruous timeline breakdowns (i.e. articles that exist
  in other Wikipedias but not in the English one)

## Weird stuff

In digging through this I find some weird things. Here is a place for ones
related to timeline articles

- I saw [January_0](https://en.wikipedia.org/wiki/January_0) in the English
  index and thought it had to be a bug. Nope.

### TODO: get

It turns out that the English Wikipedia's
[List of years](https://en.wikipedia.org/wiki/List_of_years) does not go
backwards past the 9th century BC. So not only are we are missing some years, we
are also not recognizing those years as dates when they are linked to (since we
use the index, not the parser, to make those associations).

### Actually... redirects

Actually, I came across that because the article
[1480s BC](https://en.wikipedia.org/wiki/1480s_BC) (which we do have) has a item
that was not detecting any dates even though it linked to `1481_BC`. In this
particular case, `1481_BC` is a redirect back to `1480s_BC`. I'm too tired to
think about how we should handle redirects.

## ADHC-CH Linked Open Date Entities

Published and maintained by the
[The Austrian Centre for Digital Humanities and Cultural Heritage (ACDH-CH)](https://www.oeaw.ac.at/acdh),
[Linked Open Date Entities (LODE)](https://vocabs.acdh.oeaw.ac.at/date_entities/en/)
is an “Entity Model to describe historical dates”

LODE provides a number of relevant resources for this effort. In principle, LODE
obviates the need for some of the functionality provided here. In particular,
mapping between Wiki article titles, ISO 8601 representations, and date ranges
are all operations that LODE is designed to support.

For the moment, I have transitioned to the use of ISO 8601 representations for
centuries, decades and millennia.

### Note on millennia

While the concept of a millenium does not exist in ISO 8601 as such, ADHC-CH
defines millenia using 8601's format for specifying time intervals (with solidus
as separator). Note that such expressions must be percent-encoded before being
used in IRI's.

In any event, the current data set doesn't use millennia for tagging notes, as
they are too broad to be useful (or at least, the Wikipedia articles are not
organized in the same list format as the smaller units).

### Errata

&gt; YYYY/YYYY (with percent coding: YYYY%2FYYYY) represents a millennium (/ in
&gt; between represents duration):
&gt;
&gt; https://vocabs.acdh.oeaw.ac.at/date/1001%2F2000 (2nd Millennium AD)
&gt; https://vocabs.acdh.oeaw.ac.at/date/-0999%2F0000 (2nd Millennium BC)

The latter entry should be “1st Millennium BC”. (Right?)

&gt; Before the adaptation of the Gregorian calendar, ISO8601:2019 applies the
&gt; proleptic Gregorian calendar. It is the extension of the Gregorian calendar
&gt; backward to the dates before AD 1852 including time Before Christ.

“1852” should be “1582”.


</pre
    >
  </section>
  <section>
    <h2><time datetime="2023-02-01T04:13:05Z"></time>English seed list</h2>
    <p>
      <time datetime="2023-01-29T05:33:36Z"></time> The history thing begins
      with the definition of a kind of <q>seed package</q> for a particular
      language. Here, that language is going to be English. So I may say here
      the things.
    </p>
    <p>
      <time datetime="2023-01-29T05:34:36Z"></time> For English, we use two
      lists:
    </p>
    <ul>
      <li>
        <a
          href="https://en.wikipedia.org/wiki/List_of_decades,_centuries,_and_millennia"
          >List of decades, centuries, and millennia</a
        >
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/List_of_years">List of years</a>
      </li>
    </ul>
    <p>
      <time datetime="2023-02-01T04:11:29Z"></time>Pay no attention to this our
      method du jour of getting files.<time
        datetime="2023-02-01T04:12:13Z"
      ></time>
    </p>
    <notebook-tuprule
      input="~/program/get-resource.sh"
      process="'%f' 'https://en.wikipedia.org/wiki/List_of_years' '%o'"
      output="~/history/seed/en/List_of_years.html"
      label="get list of years"
    />
    <notebook-tuprule
      input="~/program/get-resource.sh"
      process="'%f' 'https://en.wikipedia.org/wiki/List_of_decades,_centuries,_and_millennia' '%o'"
      output="~/history/seed/en/List_of_decades,_centuries,_and_millennia.html"
      label="get list of centuries etc"
    />

    <p>
      <time datetime="2023-01-29T06:12:01Z"></time> I want to put both of the
      above lists through a process.
    </p>
    <p><time datetime="2023-01-29T06:14:16Z"></time> What is the process?</p>
    <p>
      <time datetime="2023-01-29T06:14:45Z"></time> I want to define a set based
      on the result of putting those wiki articles through a function.
    </p>
    <p>
      <time datetime="2023-01-29T06:16:13Z"></time> It is a set of wiki articles
      with corresponding ISO values. For a given language, in this case English.
    </p>
    <p>
      <time datetime="2023-01-29T06:18:01Z"></time> We don't give special
      treatment to those <q>list</q> articles. We just extract the (wiki) links
      from them. That's an operation you can define generally. Outbound wiki
      links from.
    </p>
    <p>
      <time datetime="2023-01-29T06:19:04Z"></time> The result will be naturally
      filtered when you apply the JS logic, because only those that are
      recognized as being about a period will have an assigned ISO. Adding more
      inputs would not harm, but would almost certainly not help this initial
      step.
    </p>
    <p>
      <time datetime="2023-01-29T06:20:36Z"></time> After that point, we get
      into more special processing. But throughout all this, the name of the
      thing in the virtual file system remains the wiki title, not the ISO. I
      think that's right.
    </p>
    <p>
      <time datetime="2023-01-29T06:22:56Z"></time> Basically we're linking the
      article with a date. We say, these Wikipedia articles are about these
      periods. So if you want to trace it up you can say, hey, what do we know
      about a wide range of periods? And I can say, well, if you tell me that
      wikipedia article X is about some ISO period, then I can extract short,
      time-tagged statements from it, containing substantial topic and date
      cross-links.
    </p>
    <p>
      <time datetime="2023-01-29T06:29:16Z"></time> You have to instigate this
      with a list of the languages that you want to generate for.
    </p>
    <p>
      <time datetime="2023-01-29T06:30:20Z"></time> For other languages, you can
      build a cross-reference against English.
    </p>
    <p>
      <time datetime="2023-01-29T06:31:22Z"></time> So you have something like
    </p>
    <math>∀ x ∈ L ∃ xref(x, en)</math>
    <p>
      <time datetime="2023-01-29T06:33:32Z"></time> And then what, the existence
      of the cross-reference compels the collection of those files? And then
      their existence triggers the
    </p>
    <aside>
      <p>
        <time datetime="2023-01-29T05:37:31Z"></time> I ignore the
        <q>decades</q> because, at last check, their bulleted lists were almost
        entirely transclusions from the individual years.
      </p>
      <p>
        <time datetime="2023-01-29T06:08:16Z"></time> I also dropped the
        <a href="https://en.wikipedia.org/wiki/List_of_days_of_the_year"
          >List_of_days_of_the_year</a
        >, which I had included in the original. As with the decades, the cross
        organization by January 1, January 2, etc is merely duplicative.
      </p>
    </aside>
    <aside>
      <p>
        <time datetime="2023-01-29T05:47:00Z"></time> Right, it's the adapters,
        the interpreters. The thing I keep coming back to is, what
        <em>drives</em> the computation? Pull from downstream? Or eager
        evauation of the rules? Tup's going to work the same either way, but it
        seem to matter for the descriptions. How do you define the concept of an
        intermediate result?
        <time datetime="2023-01-29T05:48:24Z"></time>
      </p>
      <p>
        <time datetime="2023-01-29T05:59:34Z"></time> I keep thinking of the
        steps: get the list of articles. Oh then you have to apply some
        javascript logic to figure out what the corresponding period is. It's
        very basic but I guess there's a reason I didn't attempt it in XSLT.
      </p>
      <p>
        <time datetime="2023-01-29T06:10:42Z"></time> In the bespoke version,
        each step of the processing got its own directory, by language, etc.
        Honestly, I expected that to be largely the same here. Just, how I say
        it now wouldn't be how I'd have said it in willshake.
      </p>
    </aside>
    <section>
      <h3>WIT <time datetime="2023-01-29T16:51:05Z"></time></h3>
      <p>
        <time datetime="2023-01-29T16:51:09Z"></time> In which I do whatever it
        takes to make one thing work and then throw this away.
      </p>
      <p>
        <time datetime="2023-01-29T16:51:37Z"></time> Writing Tup rules is not
        the problem, at least not at this point. I'm going to continue with the
        <a href="get-history">history</a> case.
      </p>
      <p>
        <time datetime="2023-01-29T16:52:09Z"></time> What does it look like?
      </p>
      <p>
        <time datetime="2023-01-29T16:53:37Z"></time> We have a couple of
        <q>seed</q> links for English (<code>en</code>). On its face, this would
        seem to comprise two facts:
      </p>
      <pre>
            &lt;https://en.wikipedia.org/wiki/List_of_decades,_centuries,_and_millennia&gt; ?p "en".
            &lt;https://en.wikipedia.org/wiki/List_of_years&gt; ?p "en".
          </pre
      >
      <p>
        <time datetime="2023-01-29T16:56:21Z"></time> For some value of
        <var>?p</var>. That is, there are entities (those Wikipedia pages) that
        have a certain relationship with <code>"en"</code>, the ISO code for
        English. That predicate then must be defined as meaning,
        <q
          >Relates a resource with a language code for which it should be probed
          to find the entry points for entries that probably have associated ISO
          codes.</q
        >
        You see how we can't really talk about this without talking about a lot
        of other things.
      </p>
      <p>
        <time datetime="2023-01-29T16:58:59Z"></time> I really could use
        Graphviz right about now but don't... don't.
      </p>
      <p>
        <time datetime="2023-01-29T16:59:29Z"></time> Okay you know what, maybe
        this is actually a good time for it.
      </p>
    </section>
  </section>
  <article>
    <h2>
      <time datetime="2023-01-31T03:54:33Z"></time>Next step: ISO tag links from
      list
    </h2>
    <aside>
      <p>
        <time datetime="2023-02-01T04:17:42Z"></time>This should be in
        <a href="get-resource-from-internet">get-resource-from-internet</a>, but
        it causes an ordering issue in current rule generator.<time
          datetime="2023-02-01T04:18:31Z"
        ></time>
      </p>
    </aside>

    <notebook-tuprule
      input="~/program/get-resource.sh"
      process="'%f' 'https://html.spec.whatwg.org/images/content-venn.svg' '%o'"
      output="~/alias/w3-html5-content-venn.svg"
      label="get content-venn SVG"
    />

    <p>
      <time datetime="2023-01-31T05:17:31Z"></time>Now that I have the power to
      make things happen just by writing, let's see what we can do with it.
    </p>

    <notebook-tuprule
      input="~/history/seed/en/*.html"
      process="echo '%f' > '%o'"
      output="~/scratch/list-the-en-seed-files"
      label="testing the seed file list"
    />
    <pre data-include-file="../wrapped/list-the-en-seed-files.xml"></pre>

    <p>
      <time datetime="2023-02-01T04:22:36Z"></time>I want to run those things
      through essentially two processes in succession, which should result in a
      <em>set</em>, a set of tokens, which will serve as the domain for some
      future inputs. This is the one-to-many case that I've been wondering
      about. How do I make that rule?<time
        datetime="2023-02-01T04:24:19Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-01T04:25:13Z"></time>Actually first of all, how do
      you make one command that produces an open set of outputs, with or without
      some input?<time datetime="2023-02-01T04:25:43Z"></time>
    </p>
    <p>
      <time datetime="2023-02-01T04:28:13Z"></time>This rule is an example of a
      multi-output rule.<time datetime="2023-02-01T04:28:42Z"></time>
    </p>
    <notebook-tuprule
      process="for x in %o; do echo $x > $x; done"
      outputs="~/scratch/many/blurbs ~/scratch/many/slorbs ~/scratch/many/floobs"
    />
    <p>
      <time datetime="2023-02-01T04:28:46Z"></time>Because Tup is so strict, you
      <em>must</em> write to all of the files for the rule to be value.
      <time datetime="2023-02-01T04:35:06Z"></time>A more minimal process would
      be <code>touch '%o'</code><time datetime="2023-02-01T04:35:23Z"></time>
    </p>
    <p>
      <time datetime="2023-02-01T04:35:37Z"></time>The point I guess is that
      such a rule must be generated logically. Yet the files have to be
      enumerated. The only place to do such kinds of interpolation would be in
      the transform that procudes the rules.
    </p>
    <p>
      <time datetime="2023-02-01T04:41:31Z"></time>I still don't have the files
      that I need to read.
    </p>
    <p>
      <time datetime="2023-02-01T04:42:53Z"></time>Now I don't know whether
      we'll be able to do a many-to-many rule, so I'll just stick with one file
      for the moment. I had an intermediate stage for producing the URL's of the
      Wikimedia API calls, but for the moment I can just write one out manually:
    </p>
    <notebook-tuprule
      input="~/program/get-resource.sh"
      process="'%f' 'https://en.wikipedia.org/w/api.php?action=parse&amp;page=List_of_years&amp;format=json' '%o'"
      output="~/wikipedia/en/parse/years.json"
    />
    <p>
      <time datetime="2023-02-01T04:52:49Z"></time>Okay, that gives us the
      JSON... why were we getting that instead of the HTML?<time
        datetime="2023-02-01T04:53:26Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-01T04:59:32Z"></time>Yeah. I think this case is
      just beyond what Tup can do. I would have to know the result of the fetch
      (and those 2 post processes) at the time when the run script is being
      generated. You just have to wrap your head around the fact that you can't
      do it in the way that you were (incorrectly) imagining.<time
        datetime="2023-02-01T05:00:44Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-01T05:00:47Z"></time>I see two other ways of going
      about it with Tup. One is that you do what you did in willshake, which is
      to say make the... well wait a second.<time
        datetime="2023-02-01T05:02:34Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-01T05:02:37Z"></time>If I'm using the list of
      <em>articles</em> as the keys, then yeah, I don't know what they're going
      to be. And I can't know until I've done some fetches.
    </p>
    <p>
      <time datetime="2023-02-01T05:03:48Z"></time>But I could know a list of
      <em>periods</em>, each of which may (or may not) have an associated
      article. That list could be generated logically (more or less) even from
      XSLT. It would also be language-agnostic.
    </p>
    <p>
      <time datetime="2023-02-01T05:05:42Z"></time>In a sense, we don't really
      need to scrape out the article titles, either. We could represent the
      English knowledge the other way around: what is the article title for a
      corresponding period?
      <time datetime="2023-02-01T05:06:22Z"></time>
    </p>
  </article>
  <article>
    <h2><time datetime="2023-02-01T23:03:57Z"></time>once more from the top</h2>
    <p>
      <time datetime="2023-02-01T23:04:04Z"></time>After much consideration,
      it's clear enough that I can't just say anything I want in this
      <a href="the_system.html">system</a>. Specifically, I can't say anything
      like
      <q
        >Fetch some document X and then run it through some process which will
        produce a set of things A, B, C...</q
      ><time datetime="2023-02-01T23:06:10Z"></time>
    </p>
    <p>
      <time datetime="2023-02-01T23:06:16Z"></time>Even more specifically, I
      can't say
      <q
        >Get these articles from Wikipedia, figure out which links in them look
        like they correspond to ISO dates, then write a file for each of the
        results.
      </q>
      I can't say that because there's only
      <a href="../bootstrap/rules.sh">one place for making rules</a>, and it
      must already have all of the inputs that it needs, i.e. before any rules
      have executed. Since fetching would require the execution of a rule—not to
      mention the tangling of the program that fetches resources, nor the
      post-processing of the fetched result, nor the tangling of the program
      that does the post processing—it's clear that that list has to be known
      <i>a priori</i>.<time datetime="2023-02-01T23:10:26Z"></time>
    </p>
    <p>
      <time datetime="2023-02-01T23:10:28Z"></time>Well, sort of. The other
      alternative in this particular case would be to generate the list of ISO
      dates <q>from nothing</q>, or from very little, since it is basically a
      regular, well-known domain.<time datetime="2023-02-01T23:12:20Z"></time>
    </p>
    <p>
      <time datetime="2023-02-01T23:12:24Z"></time>The problem with that
      approach is that it's bound to create both false positives (periods for
      which Wikipedia has no article) and false negatives (lacking ones for
      which Wikipedia does). I particularly want to avoid the former, since it
      would mean a bunch of meaningless entries cluttering up
      <a href="the_system.html">the system</a>.<time
        datetime="2023-02-01T23:14:17Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-01T23:18:46Z"></time>And yet... and yet... I note
      that the file itself should be consumable as XML <em>and</em> that the
      logic in question (mapping title to ISO period) could be done almost as
      easily in XSLT as in JavaScript. Supposing as we had access to that markup
      as a <q>ground truth</q> (say, snapshots of the list files), we could
      conceivably work from that to the results.<time
        datetime="2023-02-01T23:21:47Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-01T23:24:55Z"></time>Well except it's not really
      available as XML. The markup is embedded as a string inside of a JSON
      representation, don't ask me why.<time
        datetime="2023-02-01T23:25:34Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-01T23:27:34Z"></time>I haven't looked at the API
      in a while. It looks like there's a
      <a href="https://api.wikimedia.org/wiki/API_reference">newer API</a>
      that lets you
      <a href="https://api.wikimedia.org/wiki/API_reference/Core/Pages/Get_HTML"
        >get a page's content as HTML directly</a
      >. Let us try it.<time datetime="2023-02-01T23:29:15Z"></time>
    </p>
    <notebook-tuprule
      input="~/program/get-resource.sh"
      process="'%f' 'https://api.wikimedia.org/core/v1/wikipedia/en/page/List_of_years/html' '%o'"
      output="~/wikipedia/en/pages/years.html"
      label="get list of years (new API)"
    />
    <notebook-tuprule
      input="~/program/get-resource.sh"
      process="'%f' 'https://api.wikimedia.org/core/v1/wikipedia/en/page/List_of_decades,_centuries,_and_millennia/html' '%o'"
      output="~/wikipedia/en/pages/year-multiples.html"
      label="get list of multiples (new API)"
    />
    <p>
      <time datetime="2023-02-01T23:33:45Z"></time>Okay, so far so good. Now I
      want to run this through an XSLT. For now I'm going to write that XSLT
      outright in the <a href="../scripts"><code>scripts</code> directory</a>,
      but this could ultimately be embedded in a document.<time
        datetime="2023-02-01T23:34:43Z"
      ></time>
    </p>

    <notebook-tuprule
      input="~/wikipedia/en/pages/years.html"
      extra-inputs="~/program/xslt.sh"
      process="$(ROOT)/program/xslt.sh --html $(ROOT)/scripts/wiki-time-period-links.xsl '%f' |sort > '%o'"
      output="~/scratch/years-links.xml"
      label="get years links"
    />
    <notebook-tuprule
      input="~/wikipedia/en/pages/year-multiples.html"
      extra-inputs="~/program/xslt.sh"
      process="$(ROOT)/program/xslt.sh --html $(ROOT)/scripts/wiki-time-period-links.xsl '%f' | sort > '%o'"
      output="~/scratch/year-multiples-links.xml"
      label="get year-multiples links"
    />

    <aside>
      <p>
        <time datetime="2023-02-01T23:43:59Z"></time>This produces some unwanted
        output on <code>stderr</code>. The trick used in the bootstrapper (<code
          >2&gt; &gt;(sed '/Tag.*invalid/,+2d' &gt;&amp;2)</code
        >) doesn't work here, giving
        <code>/bin/sh: 1: Syntax error: redirection unexpected</code>, in other
        words yeah that subshell construct is a bashism (as noted in the place I
        stole it from), and apparently Tup is running <code>sh</code>, not
        <code>bash</code>. The sense of déjà vu is almost too much.<time
          datetime="2023-02-01T23:46:39Z"
        ></time>
      </p>
    </aside>
    <p>
      <time datetime="2023-02-01T23:41:18Z"></time>Okay great, this template
      does it:
    </p>
    <pre>
        &lt;xsl:template match="/"&gt;
          &lt;xsl:for-each select="//a[starts-with(@href, './')]"&gt;
            &lt;xsl:value-of
              select="concat(substring-after(@href, './'), '&amp;#xA;')"
            /&gt;
          &lt;/xsl:for-each&gt;
        &lt;/xsl:template&gt;
        </pre
    >
    <p>
      <time datetime="2023-02-01T23:47:25Z"></time>Now (ignoring the ISO mapping
      for the moment), if I wanted to turn that into a rule, I'd have to do
      something else with the list besides just dump it to
      <code>stdout</code> as a text list. Indeed, I'd have to represent it as a
      node set (or <q>result tree fragment</q>) and hand it off to another
      template for processing.<time datetime="2023-02-01T23:50:47Z"></time>
    </p>
    <p>
      <time datetime="2023-02-01T23:50:49Z"></time><em>Additionally</em>, I'd
      have to actually write a file for each of the titles, which would be the
      output for the rule in question.<time
        datetime="2023-02-01T23:51:35Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-01T23:51:37Z"></time>Let's assume that in such
      cases (as if I wanted more of them!) we're always going to be dealing in
      XML. I want to say that for each result in the element, to write a file in
      the form <code>X/Y.xml</code> where <var>X</var> is the directory to
      contain all of the outputs (a.k.a. the <q>domain</q>) and <var>Y</var> is
      the element's local name (which in this case will almost surely be the
      wiki title, possibly percent-encoded, although where in XSLT am I going to
      get percent encoding?).<time datetime="2023-02-01T23:54:57Z"></time>
    </p>
    <p>
      <time datetime="2023-02-01T23:54:59Z"></time>If this is going to be done
      anywhere, it has to be in <a href="../bootstrap/rules.sh">rules.sh</a>,
      since XSLT 1.0 cannot by itself write multiple output files. And this
      would also have to be done by a separate transform, since
      <a href="../bootstrap/rules.xsl">rules.xsl</a> is <em>only</em> able to
      emit completed rules (not additional information for producing both files
      and rules).<time datetime="2023-02-01T23:57:40Z"></time>
    </p>
    <p>
      <time datetime="2023-02-01T23:57:42Z"></time>Well, sort of. I can
      intercept the output from the rules transform and do other stuff with it.
      Like (and may God forgive me), more shell. You know what, I should really
      go home now.<time datetime="2023-02-01T23:58:52Z"></time>
    </p>
    <section>
      <h2><time datetime="2023-02-02T02:56:43Z"></time>Groundhog's eve</h2>
      <p>
        <time datetime="2023-02-02T02:57:04Z"></time>First, wrong again. You
        don't need to write any file from <code>rules.sh</code>. You just need
        to describe a process that will.<time
          datetime="2023-02-02T02:57:29Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-02T02:57:31Z"></time>Second, is Wikipedia's HTML
        sectionized now?<time datetime="2023-02-02T02:58"></time>
      </p>
      <pre>
../wikipedia/en/pages/years.html:290: HTML parser error : Tag section invalid
&lt;/section&gt;&lt;section data-mw-section-id="28" id="mwAwg"&gt;&lt;h3 id="3rd_century_BC"&gt;&lt;a
</pre
      >
      <p>
        <time datetime="2023-02-02T03:03:36Z"></time>Third, I silenced
        <code>stderr</code> on that process.
      </p>
      <p>
        <time datetime="2023-02-02T03:04:01Z"></time>I note that we cannot
        incorporate AI-generated responses in this kind of system as they are so
        non-deterministic.<time datetime="2023-02-02T03:04:34Z"></time>
      </p>
      <p>
        <time datetime="2023-02-02T03:04:37Z"></time>Now, for that rule.<time
          datetime="2023-02-02T03:04:48Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-02T03:05:22Z"></time>Now, I know it's crazy. But
        I keep thinking that there's a way to make a kind of logical induction
        using XSLT and available document material.
      </p>
      <p>
        <time datetime="2023-02-02T03:05:52Z"></time>Either way, I would be able
        to reuse the lower-level rule form if I were to, say, materialize some
        <code
          ><span
            ><del>tup:rule</del><ins>notebook-tuprule</ins
            ><time datetime="2023-02-06T03:53:30Z"></time></span
        ></code>
        elements. Then scan over those elements. And I'm saying that yeah some
        abstraction could be achieved by supporting the in-situ definition of
        certain rewrite rules. You would need a recursive template for that to
        be possible generally, and it would yeah, be a neat footgun.<time
          datetime="2023-02-02T03:08:50Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-02T03:30:58Z"></time>Inevitably, I will have to
        topo-sort the build rules anyway so there's no use continuing to target
        the <em>code</em>.<time datetime="2023-02-02T03:32:07Z"></time>
      </p>
      <p>
        <time datetime="2023-02-02T03:32:33Z"></time>For this moment, however, I
        just want to see this rule get constructed by any means.<time
          datetime="2023-02-02T03:32:55Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-02T03:33:21Z"></time>First, will
        <code>xsltproc</code> open an HTML document using the
        <code>document()</code> function (where I have no way to enable an
        <code>html</code> option)?<time datetime="2023-02-02T03:34:09Z"></time>
      </p>
      <p>
        <time datetime="2023-02-02T03:34:27Z"></time>Which by the way is exactly
        the kind of question most readily answered by ad-hoc Tupping and
        tangling.<time datetime="2023-02-02T03:34:46Z"></time>
      </p>
      <p>
        <time datetime="2023-02-02T03:35:25Z"></time>For tangling to XSL, since
        I'm already writing in HTML here, the question arises how to copy the
        elements. Hitherto, I have assumed text only. Org Babel blocks are
        essentially unstructred (except placeholders, which exist only
        there)<time datetime="2023-02-02T03:36:54Z"></time>
      </p>
      <p>
        <time datetime="2023-02-02T03:36:56Z"></time>If XML is the element, is
        the medium, then it would make sense to copy and tend towards targeting
        XML outputs (since that's what you can consume <q>natively</q>).<time
          datetime="2023-02-02T03:37:39Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-02T03:37:42Z"></time>But I also see the
        existence of the markup as a way of inducing computations, and such an
        interpretation of embedded XSL could also be put forth, if but a default
        input could be surmised.<time datetime="2023-02-02T03:38:47Z"></time>
      </p>
      <p>
        <time datetime="2023-02-02T03:38:51Z"></time>In any case we can surely
        use markup for templates, is the point, in literate programs.
        <q>Tangling</q> is subsumed by a large enough notion of
        transclusion.<time datetime="2023-02-02T03:39:59Z"></time>
      </p>
      <p>
        <time datetime="2023-02-02T03:40:31Z"></time>For the moment, I'm just
        going to keep ad-hocking.<time datetime="2023-02-02T03:41:17Z"></time>
      </p>
      <notebook-tuprule
        extra-inputs="~/program/xslt.sh"
        process="$(ROOT)/program/xslt.sh --html $(ROOT)/scripts/xsl-document-html.xsl $(ROOT)/articles/get-history.html > '%o'"
        output="~/scratch/xsl-doc"
        label="test opening html from document function"
      />
      <p>
        <time datetime="2023-02-02T03:52:25Z"></time>And the answer is, yes, you
        can! My next question would be whether this works in the browser too. It
        would if it were, but it is not.<time
          datetime="2023-02-02T03:53:28Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-02T03:54:11Z"></time>But yeah, about that
        default input. Hint hint. The document containing it. I mean that's
        essentially the default in XSLT: <code>document('')</code> means the
        stylesheet itself. And in this context (interpreting embedded
        templates), we always have a containing document.<time
          datetime="2023-02-02T03:55:34Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-02T03:57:21Z"></time>Yeah actually this is quite
        interesting. You can make transformations of the document... from within
        the document. Or at least, it's possible.
      </p>
      <p>
        <time datetime="2023-02-02T04:00:27Z"></time>But back to the rule.
        Snapshot the year list (so it's a <q>regular</q> file). Then open it
        from the rules transform. Then build a one-to-many rule from its
        content.<time datetime="2023-02-02T04:01:54Z"></time>
      </p>
      <p>
        <time datetime="2023-02-02T05:21:14Z"></time>One thing I'm finding is
        that this takes nearly a second, this transform. I haven't tested it
        separately, but the input document is 371K. If it ends up that this has
        to be done repeatedly on all edits, then I'll have to move the deep
        freeze up further.<time datetime="2023-02-02T05:22:41Z"></time>
      </p>
      <p>
        <time datetime="2023-02-02T05:34:13Z"></time>I got it down to 333ms, but
        yeah. Still too much.<time datetime="2023-02-02T05:34:51Z"></time>
      </p>
      <p>
        <time datetime="2023-02-02T05:35:26Z"></time>But hey! I did it. All of
        the files exist, and are listed, and Tup is happy, etc.<time
          datetime="2023-02-02T05:36:07Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-02T06:11:20Z"></time>Getting some weird output
        now. Unexpected at least in that this was mostly working a few minutes
        ago, and all I changed was the technique for uniquifying the list.<time
          datetime="2023-02-02T06:12:00Z"
        ></time>
      </p>
      <pre>
tup error: Unable to output to a different directory because 'all' is a generated file
* 1) [0.062s] pages
tup error: Failed to find directory ID for dir '../all/Year' relative to 'pages'
tup error: Unable to parse :-rule from run script: ':  |&gt; ^ project years^ $(ROOT)/scripts/touch-all.sh '$(ROOT)/all' 'Year 3rd_millennium 21st_century 2100 2099 2098 2097 2096 2095 2094 2093 2092 2091 2090 2089 2088 2087 2086 2085 AD_2084 2083 2082 2081 2080 2079 2078 2077 2076 2075 2074 AD_2073 2072 2071 2070 2069 2068 2067 2066 2065 2</pre
      >
      <p>
        <time datetime="2023-02-02T06:27:33Z"></time>I fixed that and also got
        the emission down to 82ms by using a <code>key</code>. It's still too
        much for a lower bound. I mean, if every edit will necessarily incur
        that. Yeah, it puts the floor at about 100ms, which is a different
        category. Minor edits should be single digits.<time
          datetime="2023-02-02T06:30:39Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-02T06:34:00Z"></time>I mean yeah particularly
        for something that really is never changing.<time
          datetime="2023-02-02T06:34"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-02T06:46:09Z"></time>So wait, does HTML5 support
        namespaces or no?<time datetime="2023-02-02T06:46:20Z"></time>
      </p>
      <p>
        <time datetime="2023-02-02T06:52:03Z"></time>So, lol, I can just make up
        names with a hyphenated prefix, or what? I mean, it is just a
        notebook...<time datetime="2023-02-02T06:53:07Z"></time>
      </p>
    </section>
  </article>
  <article>
    <h2>
      <time datetime="2023-02-09T03:10:25Z"></time>recognizing English Wikipedia
      article titles about time periods
    </h2>
    <p>
      <time datetime="2023-02-09T03:11:03Z"></time>I have this logic in
      JavaScript, here:<time datetime="2023-02-09T03:11:14Z"></time>
    </p>
    <figure>
      <figcaption>
        <time datetime="2023-02-09T03:11:28Z"></time>recognizing English titles
        referring to time periods
      </figcaption>
      <!-- prettier-ignore -->
      <textarea name="title-to-iso-en.js">
const int = (s) => parseInt(s, 10);

const PERIODS = [
  // Year
  [
    /^(?:AD_)?(\d+)(_BC)?$/,
    (year, bc) =>
      // > While Year Zero does not exist in the Julian and Gregorian calendar,
      // > ISO8601 uses 0000 for 1 BC, and "-" (minus) for Before Christ (-0001
      // > is 2 BC).
      (bc &amp;&amp; year !== "1" ? "-" : "") +
      (bc ? year - 1 : year).toString().padStart(4, "0"),
  ],

  // Decade
  [
    /^(\d+)s(?:_\(decade\))?(_BC)?$/,
    (s, bc) =>
      (bc ? "-" : "") +
      Math.floor(Math.abs(int(s)) / 10)
        .toString()
        .padStart(3, "0"),
  ],

  // Century
  [
    /^(\d+)\w+_century(_BC)?$/,
    (s, bc) => (bc ? "-" : "") + Math.abs(int(s)).toString().padStart(2, "0"),
  ],

  // Millennium
  [
    /^(\d+)\w+_millennium(_BC)?$/,
    (s, bc, n = int(s)) =>
      bc ? `-${n}000/-${n - 1}001` : `${n - 1}001/${n}000`,
  ],
];
</textarea>
    </figure>
    <p>
      <time datetime="2023-02-09T03:13:35Z"></time>This is the essential part,
      anyway. There's an interpreter which does the obvious thing with that:
    </p>
    <figure>
      <figcaption>
        <time datetime="2023-02-09T03:14:05Z"></time>JavaScript interpreter of
        pattern-match pairs
      </figcaption>
      <!-- prettier-ignore -->
      <textarea name="title-to-iso-en.js">/**
 * Return an ISO 8601 representation of a time period corresponding to the given
 * English-language Wikipedia article title, or `undefined` if not.
 *
 * The latest version of the ISO 8601 as of this writing can be found at
 * https://www.iso.org/obp/ui#iso:std:iso:8601:-1:ed-1:v1:en
 *
 * Regarding the representation of millennia, see
 * https://vocabs.acdh.oeaw.ac.at/date_entities/en/
 */
const period_to_iso = (name) => {
  for (const [pattern, map] of PERIODS) {
    const match = name.match(pattern);
    if (match) return map(...match.slice(1));
  }
};</textarea>
    </figure>
    <p>
      <time datetime="2023-02-09T03:14:55Z"></time>And finally, the thing that
      matters least of all, the module bindings:
    </p>
    <figure>
      <!-- prettier-ignore -->
      <textarea name="title-to-iso-en.js">
module.exports = { parse_annual, period_to_iso };
</textarea>
    </figure>
    <p>
      <time datetime="2023-02-09T03:22:48Z"></time>There is no effort here to
      say <em>what</em> you're doing here—that it has anything to do with time,
      or Wikipedia, or the English language, or anything. I mean apart from
      their names, which are informal.
    </p>
    <p>
      <time datetime="2023-02-09T03:24:53Z"></time>Rather, this is the
      <q>smallest thing that could possibly work.</q> It only says <em>how</em>.
    </p>
    <section>
      <h3><time datetime="2023-02-09T03:26:00Z"></time>but in XSLT</h3>
      <p>
        <time datetime="2023-02-09T03:26:09Z"></time>I am now to undertake this
        in XSLT. Why? Because I can do it <q>isomorphically</q>, to abuse the
        term in the fasion. I'm already running XSLT both in the shell and in
        the browser. I have <em>not</em> yet taken a dependency on JavaScript at
        the shell. Oh, I will eventually. But I want to put it off as long as I
        can keep making things. And with the help of extensions, we can very
        well say this in XSLT.<time datetime="2023-02-09T03:29:19Z"></time>
      </p>
      <aside>
        <p>
          <time datetime="2023-02-09T03:32:06Z"></time>It looks like there's a
          bug in the tangle rules, that I'm not uniquifying by file name:
        </p>
        <!-- prettier-ignore -->
        <pre>tup error: Unable to create output file '../program/title-to-iso-en.js' because it is already owned by command 39403.</pre>
        <p>
          <time datetime="2023-02-09T03:32:46Z"></time>I thought I had that
          working. But I changed a lot in the last round.<time
            datetime="2023-02-09T03:34:10Z"
          ></time>
        </p>
        <p>
          <time datetime="2023-02-09T03:34:26Z"></time>Strange, though, it works
          for <a href="tup.html#get-tup">~/program/get-tup.sh</a>, which uses
          multiple blocks.
        </p>
        <p>
          <time datetime="2023-02-09T03:38:19Z"></time>Well, now it's repeating
          itself:
        </p>
        <!-- prettier-ignore -->
        <pre>:  get-history.html  |  |&gt; ^ tangle ~/program/title-to-iso-en.js from get-history.html^ $(ROOT)/bootstrap/tangle.sh '%f' '%o' |&gt; $(ROOT)/program/title-to-iso-en.js  |  &gt;default&gt;
:  get-history.html  |  |&gt; ^ tangle ~/program/title-to-iso-en.js from get-history.html^ $(ROOT)/bootstrap/tangle.sh '%f' '%o' |&gt; $(ROOT)/program/title-to-iso-en.js  |  &gt;default&gt;
:  get-history.html  |  |&gt; ^ tangle ~/program/title-to-iso-en.js from get-history.html^ $(ROOT)/bootstrap/tangle.sh '%f' '%o' |&gt; $(ROOT)/program/title-to-iso-en.js  |  &gt;default&gt;
:  get-history.html  |  |&gt; ^ tangle ~/program/title-to-iso-en.js from get-history.html^ $(ROOT)/bootstrap/tangle.sh '%f' '%o' |&gt; $(ROOT)/program/title-to-iso-en.js  |  &gt;default&gt;
:  get-resource-from-internet.html  |  |&gt; ^ tangle ~/program/get-resource.sh from get-resource-from-internet.html^ $(ROOT)/bootstrap/tangle.sh '%f' '%o' |&gt; $(ROOT)/program/get-resource.sh  |  &gt;default&gt;
            </pre>
        <p>
          <time datetime="2023-02-09T03:40:02Z"></time>I could avoid this
          problem for right now by just not tangling that file. I mean, I'm not
          even planning to run it. It's just informational. The tangling
          directives would be just for convenience. Maybe these should be
          <code>textarea</code>, in which case I could give them all the same
          name. IIRC multiple inputs with the same name are all included, and
          the results should be considered their aggregate. Anyway, if you
          wanted to map textareas to files, you could use the name as a key and
          get essentially the same result as a tangle. That said I'm not putting
          all of this inside a <code>form</code>.
        </p>
      </aside>
    </section>
    <section>
      <h3><time datetime="2023-02-09T03:46:28Z"></time>test cases</h3>
      <p>
        <time datetime="2023-02-09T03:46:31Z"></time>I also had test cases in
        JavaScript:
      </p>
      <!-- prettier-ignore -->
      <pre>const period = [
  // Years
  ["AD_5", "0005"],
  ["AD_42", "0042"],
  ["399", "0399"],
  ["1989", "1989"],
  ["AD_1", "0001"],
  ["1_BC", "0000"],
  ["2_BC", "-0001"],
  ["10_BC", "-0009"],
  ["1989_BC", "-1988"],
  ["1481_BC", "-1480"],
  ["99_BC", "-0098"],

  // Decades
  ["0s", "000"],
  ["1660s", "166"],
  ["1500s_(decade)", "150"],
  ["0s_BC", "-000"],
  ["320s_BC", "-032"],

  // Centuries
  ["1st_century", "01"],
  ["1st_century_BC", "-01"],
  ["5th_century", "05"],
  ["5th_century_BC", "-05"],
  ["19th_century", "19"],
  ["19th_century_BC", "-19"],

  // Millennia
  ["1st_millennium", "0001/1000"],
  ["1st_millennium_BC", "-1000/-0001"],
  ["2nd_millennium_BC", "-2000/-1001"],
  ["2nd_millennium", "1001/2000"],
];
          </pre>
      <p>
        <time datetime="2023-02-09T03:54:19Z"></time>Okay, so the thing I'm
        going to do differently in this round, is to encode the test cases in
        HTML here in the document. There's no reason not to. I can make them
        directly presentable. They should be presented in a table, with their
        results included as a column, etc. They should be editable and dynamic.
        So the thing you say must have a live interpretation.<time
          datetime="2023-02-09T03:57:39Z"
        ></time>
      </p>
      <!-- prettier-ignore -->
      <style>
            test-cases { display: table }
            group { display: table-row-group }
            case { display: table-row }
            case { display: table-row }
            group::before { content: attr(name); display: block }
            case::before, case::after { display: table-cell }
            case::before { content: attr(given) " ↔ "; text-align: end }
            case::after { content: attr(expect); padding-inline-start: 1ch }
          </style>
      <test-cases for="notebook:period-to-iso">
        <group name="years">
          <case given="AD_5" expect="0005" />
          <case given="AD_42" expect="0042" />
          <case given="399" expect="0399" />
          <case given="1989" expect="1989" />
          <case given="AD_1" expect="0001" />
          <case given="1_BC" expect="0000" />
          <case given="2_BC" expect="-0001" />
          <case given="10_BC" expect="-0009" />
          <case given="1989_BC" expect="-1988" />
          <case given="1481_BC" expect="-1480" />
          <case given="99_BC" expect="-0098" />
        </group>
        <group name="decades">
          <case given="0s" expect="000" />
          <case given="1660s" expect="166" />
          <case given="1500s_(decade)" expect="150" />
          <case given="0s_BC" expect="-000" />
          <case given="320s_BC" expect="-032" />
        </group>
        <group name="centuries">
          <case given="1st_century" expect="01" />
          <case given="1st_century_BC" expect="-01" />
          <case given="5th_century" expect="05" />
          <case given="5th_century_BC" expect="-05" />
          <case given="19th_century" expect="19" />
          <case given="19th_century_BC" expect="-19" />
        </group>
        <group name="millennia">
          <case given="1st_millennium" expect="0001/1000" />
          <case given="1st_millennium_BC" expect="-1000/-0001" />
          <case given="2nd_millennium_BC" expect="-2000/-1001" />
          <case given="2nd_millennium" expect="1001/2000" />
        </group>
        <case given="James_Brown" expect="" />
      </test-cases>
      <p>
        <time datetime="2023-02-09T04:08:24Z"></time>Oh, I also want to try the
        <code>function</code> support.<time
          datetime="2023-02-09T04:08:38Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-09T04:36:05Z"></time>Okay, maybe this isn't
        <em>quite</em> straightforward without regex.<time
          datetime="2023-02-09T04:36:33Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-09T05:05:56Z"></time>I think it can work. I need
        to get these test running.
      </p>
      <!-- 
 -->
      <notebook-tuprule
        input="~/articles/get-history.html"
        extra-inputs="~/program/xslt.sh "
        process="cat '%f' | $(ROOT)/program/xslt.sh --html $(ROOT)/scripts/test-en-title-to-iso.xsl - > '%o'"
        output="~/test/result-en-title-to-iso.xml"
      />
    </section>

    <section>
      <h3>
        <time datetime="2023-02-09T03:15:52Z"></time>addendum: recognizing day
        of year in English
      </h3>
      <p>
        <time datetime="2023-02-09T03:16:20Z"></time>I originally included these
        in the corpus, but they are duplicative, etc.
      </p>
      <figure>
        <figcaption>
          JavaScript for recognizing day-of-the-year in English
        </figcaption>
        <!-- prettier-ignore -->
        <textarea name="title-to-iso-en.js">const MONTH_NAMES = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];

const naive_any_of = (alternatives) => `${alternatives.join("|")}`;
const DAY_PATTERN_TEXT = `(${naive_any_of(MONTH_NAMES)})_(\\d\\d?)`;
const DAY_PATTERN = new RegExp(DAY_PATTERN_TEXT);

/**
 * Return a `{month, day}` structure represented by the given English-language
 * Wikipedia article title, or `undefined` if not.  Month is zero-based.
 */
const parse_annual = (title) => {
  const match = title.match(DAY_PATTERN);
  if (match) {
    const [, month, day] = match;
    return {
      annual: { month: MONTH_NAMES.indexOf(month), day: parseInt(day, 10) },
    };
  }
};
</textarea>
      </figure>
      <p>
        <time datetime="2023-02-09T04:15:54Z"></time>I had tests for this as
        well.
      </p>
      <!-- prettier-ignore -->
      <pre>const annual = [
  ["January_1", { annual: { month: 0, day: 1 } }],
  ["July_9", { annual: { month: 6, day: 9 } }],
  ["December_31", { annual: { month: 11, day: 31 } }],
  ["February_29", { annual: { month: 1, day: 29 } }],
  ["October_11", { annual: { month: 9, day: 11 } }],
];
</pre>
    </section>
  </article>
  <article>
    <h2>
      <time datetime="2023-02-09T13:29:48Z"></time>has ACDH gotten rid of LODE?
    </h2>
    <p>
      <time datetime="2023-02-09T13:30:01Z"></time>The ACDH web site for Time
      Entities has always been pretty slow.
    </p>
    <p>
      <time datetime="2023-02-09T13:33:34Z"></time>But now it looks like they
      have removed the references to it from their
      <a href="https://vocabs.acdh.oeaw.ac.at/en/">Vocabularies index</a>.
    </p>
    <p>
      <time datetime="2023-02-09T13:34:00Z"></time>It was in the most recent
      Wayback Machine snapshot, which was in
      <a
        href="https://web.archive.org/web/20221224143047/https://vocabs.acdh.oeaw.ac.at/en/"
        >December 2022<time datetime="2022-12-24-T14:30:47Z"></time
      ></a>
      as of this writing. But it's
      <a
        href="https://web.archive.org/web/20230209134430/https://vocabs.acdh.oeaw.ac.at/en/"
        >not there now</a
      >. The page has been reorganized and doesn't mention the
      <q>Time Entities</q> pages.
    </p>
    <p>
      <time datetime="2023-02-09T13:45:43Z"></time>The
      <a href="https://vocabs.acdh.oeaw.ac.at/date_entities/en/">LODE page</a>
      still exists, but it fails to load content under
      <q>Vocabulary Information</q>, as well as under the
      <q>Alphabetical listing</q> (which was always useless anyway). The
      <q>Hierarchy</q> view (which was useful) does still function somewhat,
      though now with a number of entries showing as <code>null</code>, and many
      simply missing. Individual pages (such as
      <a
        href="https://vocabs.acdh.oeaw.ac.at/date_entities/en/page/?uri=https%3A%2F%2Fvocabs.acdh.oeaw.ac.at%2Fdate%2F01"
        >1st century</a
      >) still appear to exist.<time datetime="2023-02-09T14:49Z"></time>
    </p>
  </article>
  <article>
    <h2>
      <time datetime="2023-02-09T16:51:39Z"></time>history corpus dataflow
    </h2>
    <p>
      <time datetime="2023-02-09T16:50:07Z"></time>Here is an overview of the
      dataflow for the history corpus.
    </p>
    <figure id="history-corpus-dataflow">
      <figcaption>
        <time datetime="2023-02-09T16:50:50Z"></time>history corpus dataflow
      </figcaption>
      <!-- prettier-ignore -->
      <script type="graphviz:dot">
digraph {
  subgraph cluster_en_list {
    label="list pages (English)"
    "years"
    "centuries"
    }
    subgraph cluster_en_process {
      label="process (English)"
      en_big_list [label="big list"]
      }
      {years, centuries} -> en_big_list
}
          </script>
    </figure>
    <p>
      <time datetime="2023-02-09T16:55:22Z"></time><q>big list</q> is a list of
      article titles that <em>might</em> be about time periods. And we kind of
      believe that it will have all of them.<time
        datetime="2023-02-09T16:56:01Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-09T16:58:45Z"></time>I need to make a
      cross-reference between the titles and ISO, for ones which have a
      mapping.<time datetime="2023-02-09T16:59:07Z"></time>
    </p>
    <section>
      <h3>
        <time datetime="2023-02-09T18:02:01Z"></time>houston, we have a problem
      </h3>
      <p>
        <time datetime="2023-02-09T18:02:11Z"></time>I finally got around to
        making the change to fetch all of the time-period articles.<time
          datetime="2023-02-09T18:07:25Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-09T18:07:38Z"></time>Spoiler alert, it fails.
      </p>
      <!-- prettier-ignore -->
      <pre>runtime error: file /home/gavin/composition-notebook/bootstrap/rule-upstreams.xsl line 15 element variable
xsltApplySequenceConstructor: A potential infinite template recursion was detected.
You can adjust xsltMaxDepth (--maxdepth) in order to raise the maximum number of nested template calls and variables/params (currently set to 3000).
Templates:
#0 name * name rule-upstreams 
#1 name rules-sort 
#2 name rules-sort 
#3 name rules-sort 
#4 name rules-sort 
          </pre>
      <p>
        <time datetime="2023-02-09T18:08:20Z"></time>The problem is one I
        expected, yet I'm somehow surprised by it. At least this is what I think
        is happening.
      </p>
      <p>
        <time datetime="2023-02-09T18:08:59Z"></time>The fact is that we want
        all of these articles. They are the basis for the corpus that we're
        building here.<time datetime="2023-02-09T18:12:35Z"></time>
      </p>
      <figure id="periods-one-to-many">
        <figcaption>
          <time datetime="2023-02-09T18:03:34Z"></time>projecting one thing into
          many rules
        </figcaption>
        <!-- prettier-ignore -->
        <script type="graphviz:dot">
digraph {
  "a list of things to get" -> {"50 BC" "49 BC" "48 BC..." 1990 1991 1992 "1993..." }
}
            </script>
      </figure>
      <p>
        <time datetime="2023-02-09T18:14:43Z"></time>Each one of those articles
        contributes something distinct to the corpus. The article about
        <a href="https://en.wikipedia.org/wiki/1990">1990</a> contributes
        knowledge about the year 1990, and so on. I can't just pool all of the
        articles together, because it's the <em>fact</em> of coming from a
        certain article that lets me infer what its fact are about. That is, in
        general, throughout the article called <code>1990</code>, it's
        <em>implied</em> that the content is about the Gregorian year 1990.<time
          datetime="2023-02-09T18:17:09Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-09T18:17:21Z"></time>What I changed, was to go
        from one rule that nominally writes to many files, to many rules that
        each write to one file. This <em>should</em> be an implementation
        detail. It makes no difference how it's carried out, but I want it
        carried out.<time datetime="2023-02-09T18:18:44Z"></time>
      </p>
      <p>
        <time datetime="2023-02-09T18:25:10Z"></time>It happens to be the case
        that making one rule per article is the most convenient thing to do at
        the moment. More on this in a moment.<time
          datetime="2023-02-09T18:26:43Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-09T18:24:42Z"></time>The problem I'm running
        into is that the production of so many rules is blowing up the sort. Not
        only does it crash with a stack overflow (it's a recursive iteration,
        with depth <math>N</math>, not <math>log(N)</math>).<time
          datetime="2023-02-09T18:28:10Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-09T18:28:13Z"></time>Worse than that, the
        failure takes over 5 seconds.<time
          datetime="2023-02-09T18:29:48Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-09T18:29:52Z"></time>There's a lot to consider
        here. What comes to mind:
      </p>
      <ul>
        <li>
          <time datetime="2023-02-09T18:30:04Z"></time>I could verify whether
          the above is true by increasing the recursion depth to see whether
          this is in fact what's happening.
        </li>
        <li>
          <time datetime="2023-02-09T18:30:49Z"></time>The efficiency of the
          sort algorithm could likely be improved (e.g. with the use of a
          <code>key</code>). This would provide a good way to test that, too.
        </li>
        <li>
          <time datetime="2023-02-09T19:29:24Z"></time>I could collapse all of
          those rules into one for the purposes of sorting. I guess what I have
          in mind is using Tup groups. There's no reason (in this case at least)
          why the placement of one of those rules shouldn't be good enough for
          all of them. In other words, if they had a distinct group value, that
          could stand as a proxy for the whole set.<time
            datetime="2023-02-09T19:31:54Z"
          ></time>
        </li>
        <li>
          <time datetime="2023-02-09T18:31:30Z"></time>I shouldn't be doing
          this. I need a way to create <q>semi-derived</q>. More on that
          shortly.
        </li>
      </ul>
      <p>
        <time datetime="2023-02-09T18:32:34Z"></time>On the first point, the
        output tells us that <code>--maxdepth</code> is the option to increase.
        Let's try <code>5000</code>.<time
          datetime="2023-02-09T18:33:15Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-09T18:34:10Z"></time>There are 3 calls to
        <code>xsltproc</code>
        <a href="../bootstrap/rules.sh">in the bootstrapper</a>. The one that
        needs this is (I believe) the one called
        <a href="../bootstrap/process-tuprules.xsl"
          ><code>process-tuprules.xsl</code></a
        >, since that's where the sorting happens.<time
          datetime="2023-02-09T18:35:54Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-09T18:37:23Z"></time>Evidently it's more than
        5000? That doesn't sound right.
      </p>
      <p>
        <time datetime="2023-02-09T18:38:01Z"></time>I boosted it to 10000, and
        got this:
      </p>
      <!-- prettier-ignore -->
      <pre>tup error: Unable to create output file '../wikipedia/en/pages/$.html' because it is already owned by command 39493.
 - [39493] pages/['../program/get-resource.sh' 'https://api.wikimedia.org/core/v1/wikipedia/en/page/$/html' '../wikipedia/en/pages/$.html']
tup error: Unable to parse :-rule from run script: ':  $(ROOT)/program/get-resource.sh  '
tup error: Error parsing Tupfile line 2
  Line was: 'run $(ROOT)/bootstrap/rules.sh'
          </pre>
      <p>
        <time datetime="2023-02-09T18:38:33Z"></time>So am I just generating the
        wrong thing? Looks like a failed string interpolation—a mistake I make a
        lot. It's a bash/XSLT mixup.<time
          datetime="2023-02-09T18:39:26Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-09T18:40:35Z"></time>Yes, I had written
        <code>${title}</code> instead of <code>{$title}</code> in a couple of
        places. Now it fails with
      </p>
      <!-- prettier-ignore -->
      <pre>tup error: Unable to create output file '../wikipedia/en/pages/Lists_of_years_by_topic.html' because it is already owned by command 45161.
 - [45161] pages/['../program/get-resource.sh' 'https://api.wikimedia.org/core/v1/wikipedia/en/page/Lists_of_years_by_topic/html' '../wikipedia/en/pages/Lists_of_years_by_topic.html']
tup error: Unable to parse :-rule from run script: ':  $(ROOT)/program/get-resource.sh  '
</pre>
      <p>
        <time datetime="2023-02-09T18:41:37Z"></time>That shouldn't even be an
        entry.
      </p>
      <p>
        <time datetime="2023-02-09T18:42:28Z"></time>Also, this is killing my
        CPU.<time datetime="2023-02-09T18:42:34Z"></time>
      </p>
      <p>
        <time datetime="2023-02-09T18:42:59Z"></time>Running the rules script by
        itself right now takes 8 seconds and produces 610766 bytes of Tup.<time
          datetime="2023-02-09T18:43:31Z"
        ></time>
        Most of it is stuff like this:
      </p>
      <!-- prettier-ignore -->
      <pre>:  $(ROOT)/program/get-resource.sh  |  |&gt; ^ get Wiki time period article 2070^ '%f' 'https://api.wikimedia.org/core/v1/wikipedia/en/page/2070/html' '%o' |&gt; $(ROOT)/wikipedia/en/pages/2070.html  |  &lt;default&gt;
</pre>
      <p>
        <time datetime="2023-02-09T18:48:34Z"></time>First, what's the
        duplicate? <code>Lists_of_years_by_topic</code>. Is that in fact listed
        by multiple rules? Yes, it appears in a rule in the above form, then a
        few lines down. What ISO period does it think this is for?<time
          datetime="2023-02-09T18:51:06Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-09T19:41:24Z"></time>Quite stupidly, I was not
        making the rules conditional on the existence of an ISO mapping.<time
          datetime="2023-02-09T19:41:53Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-09T19:42:40Z"></time>It appears that's what was
        causing the duplication, and now Tup is doing a bunch of downloading. It
        looks like it's doing multiple fetches at once (one per core), but I
        have a 5-second wait in between so hopefully this is courteous
        enough.<time datetime="2023-02-09T19:43:54Z"></time>
      </p>
      <p>
        <time datetime="2023-02-09T19:44:04Z"></time>At this point I would ask,
        if I'm going to go ahead and do all of this fetching now, whether I am
        reasonably sure that these are in fact the addresses I want.
      </p>
      <p>
        <time datetime="2023-02-09T19:45:33Z"></time>I notice that my internet
        cache doesn't have the <code>alias</code> directory. If I add aliases to
        that rule, it will still be able to use the ~360 files that have been
        cached while I'm writing this?<time
          datetime="2023-02-09T19:47:44Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-09T19:48:00Z"></time>Also, if I were going to
        use an alias, what would it be? It's up to me to keep those from
        conflicting.<time datetime="2023-02-09T19:48:18Z"></time>
      </p>
      <p>
        <time datetime="2023-02-09T19:51:30Z"></time>Oh, but I did get
        throttled:<time datetime="2023-02-09T19:51:35Z"></time>
      </p>
      <!-- prettier-ignore -->
      <pre>HTTP request sent, awaiting response... 429 Too Many Requests
2023-02-09 14:51:07 ERROR 429: Too Many Requests.
          </pre>
      <p>
        <time datetime="2023-02-09T19:53:06Z"></time>Okay, so now I have two new
        problems.
      </p>
      <ul>
        <li>
          <time datetime="2023-02-09T19:53:25Z"></time>get rid of the 33
          zero-byte files I have in the cache.
        </li>
        <li>
          <time datetime="2023-02-09T19:53:55Z"></time>fix
          <a href="get-resource-from-internet.html"
            >get-resource-from-internet</a
          >
          so that it doesn't write anything on HTTP errors.
        </li>
        <li>
          <time datetime="2023-02-09T19:54:47Z"></time>don't parallelize that
          command. I know I can set parallelism on Tup, but I only want this
          limit on things calling get-resource. I don't really see how I could
          make that selective. But I also don't know how else I could gate it.
          And of course I don't want to use low parallelism generally. Likely I
          will have to use it for the initial fetch and then can go back to the
          default afterwards.<time datetime="2023-02-09T19:56:35Z"></time>
        </li>
      </ul>
      <p>
        <time datetime="2023-02-09T20:05:20Z"></time>I straightened out the
        cache using some good old fashioned shell commands.<time
          datetime="2023-02-09T20:05:42Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-09T20:16:42Z"></time>On the second point, I
        changed from <code>wget</code> to <code>curl --fail</code>. For better
        or worse, it's still chugging along after about 900 files, with what
        looks like 3 concurrent jobs. I don't really want to test this by
        getting throttled again, but on the third point, it doesn't appear that
        I can set parallelism on a per-rule basis. And actually these are all
        different rules, so it would have to apply to just the group. So yeah...
        I will just have to run this with <code>-j1</code> to hydrate the
        cache.<time datetime="2023-02-09T20:20:19Z"></time>
      </p>
      <p>
        <time datetime="2023-02-09T20:20:21Z"></time>Meanwhile, the 429's are
        back, and my change to get-resource clearly didn't work, since I have a
        bunch of zero-byte files again.<time
          datetime="2023-02-09T20:20:44Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-10T18:54:41Z"></time>Okay, I've dealt with the
        most immediate problems:<time datetime="2023-02-10T18:55:10Z"></time>
      </p>
      <ul>
        <li>
          <time datetime="2023-02-10T18:55:55Z"></time>I added (and manually
          used) utilities for cleaning up the internet cache.
        </li>
        <li>
          <time datetime="2023-02-10T18:55:14Z"></time>I added and (manually)
          tested error handling in
          <a href="get-resource-from-internet.html"
            >get-resource-from-internet</a
          >.
        </li>
        <li>
          <time datetime="2023-02-10T18:56:24Z"></time>I modified the
          <a href="./go.sh">main script</a> to first do a complete build with
          <code>-j1</code> (no parallelism) before going into a normal monitor.
        </li>
      </ul>
      <p>
        <time datetime="2023-02-10T18:57:38Z"></time>Now I'm downloading the
        remaining resources, which will take a while.<time
          datetime="2023-02-10T18:58:28Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-11T03:37:42Z"></time>Download completed with no
        errors.<time datetime="2023-02-11T03:38:02Z"></time>
      </p>
    </section>
    <section>
      <h3><time datetime="2023-02-20T15:32:22Z"></time>HTML to JS</h3>
      <p>
        <time datetime="2023-02-20T15:34:47Z"></time>The <q>raw</q> form of the
        history data—that is, the first thing we see from the outside world—is
        in the form of HTML files representing individual articles about
        periods.
      </p>
      <p>
        <time datetime="2023-02-20T15:36:37Z"></time>This is not really a usable
        format for our purposes.
      </p>
      <p>
        <time datetime="2023-02-20T15:40:58Z"></time>First, it's not immediately
        composable. I need something that can be bundled into a larger unit.
        These are all independent HTML documents. You can't compose entire
        <code>html</code>'s, nor entire <code>body</code>'s as such. I need a
        form that I can aggregate.
      </p>
      <p>
        <time datetime="2023-02-20T15:46:21Z"></time>Each page has structure
        something like
      </p>
      <figure>
        <figure>
          general structure of a typical Wikipedia timeline article
        </figure>
        <!-- prettier-ignore -->
        <pre>
html
  head
  body
    section
      h2 (Events)
      p
      ul
        li
        li
        li
        li
        li
    section
      h2 (Births)
      ul
        li
        li
        li
        li
        li
    section
      h2 (Deaths)
      ul
        li
        li
        li
        li
        li
          </pre>
      </figure>
      <p>
        <time datetime="2023-02-20T15:49:01Z"></time>It's the list items
        (<code>li</code>'s) that I'm interested in. Items sound pretty
        composable. Like, couldn't I just pull out all of the <code>li</code>'s
        into one giant list?
      </p>
      <p>
        <time datetime="2023-02-20T15:54:43Z"></time>Sort of, and that's close
        to what I do. But the items are not completely independent.
      </p>
      <ul>
        <li>
          <time datetime="2023-02-20T15:55:20Z"></time>When was it? The answer
          to that is in the <code>head</code>, which tells which article the
          stuff comes from. We can't really use the item without this
        </li>
        <li>
          <time datetime="2023-02-20T15:57:49Z"></time>What topic? The answer to
          that is in the <code>section</code>, or specifically its heading.
          Unlike period, this is <q>extra</q> information. We can use this item
          without this, but this may give some additional refinement. More about
          this later.
        </li>
      </ul>
    </section>
  </article>
  <article>
    <h2>
      <time datetime="2023-02-09T18:19:43Z"></time>future work on wiki time
      corpus
    </h2>
    <p>
      <time datetime="2023-02-09T18:19:52Z"></time>Recent periods in particular
      have much more granular categorization than I'm currently capturing. See
      for example
      <a href="https://en.wikipedia.org/wiki/Category:1990_establishments"
        >disestablishments</a
      >
      and
      <a href="https://en.wikipedia.org/wiki/Category:1990_disestablishments"
        >disestablishments</a
      >
      in 1990. A few observations:
    </p>
    <ul>
      <li>
        <time datetime="2023-02-09T18:21:12Z"></time>To the extent that these
        classifications are used consistently across time periods, they could be
        used to produce additional layers (which may not necessarily be in the
        main corpus). Or maybe they wouldn't be all that large.
      </li>
      <li>
        <time datetime="2023-02-09T18:22:34Z"></time>Start/end pairs like
        establishment/disestablishment could also have special interpretation as
        time ranges.
      </li>
      <li>
        <time datetime="2023-02-09T18:23:08Z"></time>You could say it's a goal
        of this system, that exploring the above ideas should be easy.<time
          datetime="2023-02-09T18:24:08Z"
        ></time>
      </li>
    </ul>
  </article>
  <article>
    <h2><time datetime="2023-02-23T14:50:54Z"></time>history corpus macros</h2>
    <p>
      <time datetime="2023-02-23T14:51:10Z"></time>The system supports
      <a href="the_system#notebook-macroexpand">macros</a>, which allows
      documents to contribute logical expansions of elements that will occur
      before processing. Among other things, this allows you to create
      <q>one thing from many</q>, which is what we want to do here. That is, I
      want to say a small, fixed set of things and end up processing thousands
      of things (in this case Wikipedia articles).<time
        datetime="2023-02-23T14:55:07Z"
      ></time>
    </p>
    <xsl-key name="wiki" match="a[starts-with(@href, './')]" use="@href" />
    <xsl-include href="../scripts/en-title-to-iso.xsl" />

    <!-- prettier-ignore -->
    <xsl-template
          match="get-history"
          mode="insert-after-end"
          xmlns:notebook="https://gavinpc.com/composition-notebook">
          <!-- this path can go into macro element -->
          <xsl-variable name="page" select="document('../snapshots/years.html')" />

          <!-- see also ../scripts/wiki-time-period-links.xsl -->
          <group>
            <xsl-for-each
              select="$page//a[starts-with(@href, './')][not(contains(@href, '#'))]"
            >
              <xsl-variable name="title" select="substring-after(@href, './')" />
              <xsl-variable name="iso" select="notebook:en-title-to-iso($title)" />

              <!-- SHOULD urlencode title in name, eh? -->
              <xsl-if test="$iso != ''">
                <notebook-tuprule
                  input="~/program/get-resource.sh"
                  process="'%f' 'https://api.wikimedia.org/core/v1/wikipedia/en/page/{$title}/html' '%o' 'wiki-en-{$title}.html'"
                  output="~/wikipedia/en/pages/{$title}.html"
                  label="get Wiki {$title} for {$iso}"
                />
              </xsl-if>
            </xsl-for-each>
          </group>
        </xsl-template>
    <get-history />
  </article>
</article>
