<article>
  <h1>
    get resource from internet
    <time datetime="2023-01-28T17:49:29Z"></time>
  </h1>
  <p>General considerations for fetching web resources</p>
  <p>Some considerations apply to fetching from the web generally:</p>
  <ul>
    <li>be respectful (pause between requests when doing bulk operations)</li>
    <li>cache results locally</li>
  </ul>
  <p>
    <time datetime="2023-01-28T17:00:08Z"></time> I imported the
    <a href="https://willshake.net/about/the_internet"
      >internet cache scripts</a
    >
    from willshake, with minor modifications. The source there dates back to
    <time datetime="2015-12-03">2015-12-03</time> and was last modified about
    <time datetime="2016-04-20">2016-04-20</time>
  </p>
  <p>
    <time datetime="2023-01-28T17:50:08Z"></time> This is about documenting
    those scripts, <a href="#get-resource">get-resource.sh</a> and
    <a href="#delete-resource">delete-resource.sh</a>. See also
    <a href="https://willshake.net/about/the_internet"><q>the internet</q></a>
    at willshake where this came from.
  </p>
  <figure>
    <figcaption>
      <time datetime="2023-02-04T03:46:46Z"></time>get-resource-from-internet-sh
    </figcaption>
  </figure>
  <p>
    <time datetime="2023-02-04T03:49:15Z"></time>This is a barebones web cache.
    It says nothing about headers, for example. URL is the only input to the
    key.<time datetime="2023-02-04T03:49:51Z"></time>
  </p>
  <p>
    <time datetime="2023-02-04T03:50:43Z"></time>Which I think makes sense when
    you're invoking the name as a reference. Transport metadata has no
    place.<time datetime="2023-02-04T03:51:06Z"></time>
  </p>
  <!-- prettier-ignore -->
  <pre data-tangle-file="~/program/get-resource.sh" id="get-resource">#!/bin/bash

# Fetch with cache on local FS.

set -eo pipefail

get_resource() {
    # HACK: havina helluva time with Tup &amp; env vars
    local INTERNET_CACHE_DIR=$HOME/def.inet

    if [ -z "$INTERNET_CACHE_DIR" ]; then
        # s/b to stderr, but Tup seems not to show
        echo 'abort: INTERNET_CACHE_DIR must be defined'
        echo cache dir = "$INTERNET_CACHE_DIR"
        return 1
    fi
    local cache_dir="$INTERNET_CACHE_DIR"

    local url="$1"
    local out_file="$2"
    local alias="$3"

    local internet_dir="$cache_dir/internet"

    local sha_full=$(echo $url | sha1sum)
    local hash="${sha_full%% *}"     # cut off the trailing space and hyphen
    local actual_file="$internet_dir/$hash"

    local type="${out_file##*.}"
    local actual_file="$actual_file.$type"

    local index_dir="$cache_dir/index"
    local index_file="$index_dir/$hash"

    if [ ! -f "$actual_file" ]; then
        mkdir -p "$internet_dir"
        # wget --output-document="$actual_file" "$url"
        >&amp;2 echo "Getting $url"
        >&amp;2 echo "hash: $hash"
        if ! curl --fail --location "$url" > "$actual_file"; then
            rm "$actual_file"
            return 1
        fi
        local did_fetch=yes
    fi

    if [ ! -f "$index_file" ]; then
        >&amp;2 echo "Writing index for $hash"
        mkdir -p "$index_dir"
        echo "$url" > "$index_file"
    fi

    # Rather than copying the file, we just link to it.
    if [ -e "$out_file" ]; then
        if [ ! -L "$out_file" ]; then
            >&amp;2 echo "Out file exists but is not a symlink! $out_file"
            return 1
        fi
        # We could confirm here that the link points to what it should
        # but that would require a call to `realpath`...
    else
        >&amp;2 echo "Linking $hash ← $out_file"
        ln --symbolic "$actual_file" "$out_file"
    fi

    if [ ! -z "$alias" ]; then
        local alias_dir="$cache_dir/alias"
        local alias_file="$alias_dir/$alias"

        if [ ! -f "$alias_file" ]; then
            >&amp;2 echo "Aliasing $hash as ‘$alias’"
            mkdir -p "$alias_dir"
            ln --symbolic --relative "$actual_file" "$alias_file"
        fi
    fi

    # When all changes are done, pause
    if [ "$did_fetch" == 'yes' ]; then
        local wait=$((5 + RANDOM % 10))
        >&amp;2 echo "Waiting $wait seconds..."
        sleep $wait
    fi
}

get_resource "$@"

exit 0
</pre
      >
  <section>
    <h2>findings <time datetime="2023-01-29T19:10:56Z"></time></h2>

    <p>
      <time datetime="2023-01-29T19:11:03Z"></time> The cache directory should
      be up to you. Which kinda means you can't build until you pick one.
    </p>
    <p>
      <time datetime="2023-01-29T19:14:01Z"></time>
      <strong>And</strong> take the trouble to
      <code>export INTERNET_CACHE_DIR</code> in your own shell. Lame,
      right?<time datetime="2023-01-29T19:14:30Z"></time>
    </p>
    <p>
      <time datetime="2023-01-29T19:11:45Z"></time> In practice, I have a
      default in the <q>unofficial</q> build script, which is
      <code>go.sh</code>. The default is <code>$HOME/def.inet</code>. Because
      <a href="https://def.codes">def.codes</a>.
    </p>
    <p>
      <time datetime="2023-01-29T19:12:47Z"></time> I found two things from
      this.
    </p>
    <ul>
      <li>
        <time datetime="2023-01-29T19:21:10Z"></time>If the directory named by
        <code>INTERNET_CACHE_DIR</code> has any ancestor with limited
        permissions, then loading from an HTTP file may fail. I didn't try this
        with an origin but I suspect it would be the same there. This was the
        case for my first choice, <code>$HOME/.cache/def.inet</code> because of
        some limited permissions on <code>$HOME/.cache</code>, which were put
        there by someone else (not me).<time
          datetime="2023-01-29T19:23:26Z"
        ></time>
      </li>
      <li>
        <time datetime="2023-01-29T19:13:14Z"></time> If you run
        <code>tup</code> with <code>--no-environ-check</code>, as I was doing,
        then Tup ignores changes to <code>INTERNET_CACHE_DIR</code>. Duh, right?
        But somehow I thought that it would do respect them anyway since the
        root Tupfile says <code>export INTERNET_CACHE_DIR</code>. In other
        words, we tell Tup explicitly that we're using that specific variable.
        Why else would we do such a thing, if by default Tup tracks all
        environment changes?<time datetime="2023-01-29T19:16:13Z"></time>
      </li>
    </ul>
  </section>
  <section>
    <h2>
      <time datetime="2023-02-01T03:36:24Z"></time>appendix: delete resource
    </h2>
    <!-- prettier-ignore -->
    <pre
          data-tangle-file="~/program/delete-resource.sh"
          id="delete-resource"
        >#!/bin/bash

# Delete a resource from the cache and its metadata files.

set -e

delete_resource () {
    # HACK: see get_resource
    local INTERNET_CACHE_DIR=$HOME/def.inet

    if [ -z "$INTERNET_CACHE_DIR" ]; then
        echo 'abort: INTERNET_CACHE_DIR must be defined'
        return 1
    fi        
    local cache_dir="$INTERNET_CACHE_DIR"

    local alias="$1"

    if [ -z "$alias" ]; then
        >&amp;2 echo "Please specify the alias of the resource you want to delete."
        return 1
    fi

    # Assumes a match exists
    for file in $cache_dir/alias/$alias.*; do
        if [ ! -L "$file" ]; then
            >&amp;2 echo "alias $alias is not a link, so I don't know what other files relate to it."
            return 1
        fi

        echo "Alias found: $file..."
        local target=`readlink -f $file`
        
        if [ ! -z "$target" ]; then
            echo "Target is $target..."
            
            local hash="${target##*/}"
            hash="${hash%.*}"
            if [ -z "$hash" ]; then
                echo "Hash is $hash"
                
                local index_entry="$cache_dir/index/$hash"
                if [ -f "$index_entry" ]; then
                    echo "Removing index entry"
                    rm "$index_entry"
                fi
            fi
            
            if [ -f "$target" ]; then
                echo "Removing resource"
                rm "$target"
            fi
        fi
        
        echo "Removing alias"
        rm $file
    done
}

delete_resource "$@"

exit 0
  </pre
        >
  </section>
  <section>
    <h2>
      <time datetime="2023-02-10T16:05:53Z"></time>addendum: delete multiple
      resources from cache
    </h2>
    <p>
      <time datetime="2023-02-10T16:06:13Z"></time>Sometimes it happens that a
      bunch of resources get written to the cache, and they need to be removed.
      You know, like you started getting throttled by an API and you still don't
      have error handling right. That sort of thing.<time
        datetime="2023-02-10T16:11:18Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-10T16:11:20Z"></time>Here we define a utility to
      remove resources based on some criteria. The criteria will based on
      <code>find</code> and as a default let's say <code>-size 0</code>, since
      that's very often a key that something went wrong.<time
        datetime="2023-02-10T16:12:53Z"
      ></time>
    </p>
    <!-- prettier-ignore -->
    <pre data-tangle-file="~/program/delete-resources.sh">#!/bin/bash

set -e

# HACK: see above
INTERNET_CACHE_DIR=$HOME/def.inet

purge_orphan_aliases() {
    local alias_dir="$INTERNET_CACHE_DIR/alias"
    find "$alias_dir" -xtype l | while read broken; do
        local alias="${broken##*/}"
        echo "Deleteing alias $alias" → missing $(realpath "$broken")
        rm "$broken"
    done
}

delete_resources() {
    local DEFAULT_CRITERIA='-size 0'
    local criteria="${1:-$DEFAULT_CRITERIA}"
    local content_dir="$INTERNET_CACHE_DIR/internet"
    local index_dir="$INTERNET_CACHE_DIR/index"

    shopt -s nullglob
    find "$content_dir" -type f $criteria | while read file; do
        local name="${file##*/}"
        local hash="${name%.*}"
        # echo okay I will delete "$file"
        # echo   which has name "$name"
        echo Deleting entry "$hash"...
        rm "$file"
        for index in "$index_dir/$hash".*; do
            rm "$index"
        done
    done
    # this could delete things beyond what was just deleted
    purge_orphan_aliases
}


delete_resources "$@"

exit 0
</pre>
    <p>
      <time datetime="2023-02-10T18:03:26Z"></time>It turns out that
      <code>find</code> makes it easy to find broken links, using
      <code>-xtype l</code>.<time datetime="2023-02-10T18:03:55Z"></time>
    </p>
    <p>
      <time datetime="2023-02-10T18:01:55Z"></time>Here is a script that deletes
      orphaned index files, meaning ones with no corresponding content.<time
        datetime="2023-02-10T18:02:47Z"
      ></time>
    </p>
    <!-- prettier-ignore -->
    <pre data-tangle-file="~/program/list-orphaned-indexes.sh">#!/bin/bash

set -e

# HACK: see above
INTERNET_CACHE_DIR=$HOME/def.inet

list_orphaned_indexes() {
    local index_dir="$INTERNET_CACHE_DIR/index"
    local content_dir="$INTERNET_CACHE_DIR/internet"
    find "$index_dir" -type f | while read index; do
        local name="${index##*/}"
        # should have no impact on index file, since they don't use extensions
        local hash="${name%.*}"
        # Assumes a hash will never be the substring of another hash
        # We need the glob because the content file may have an extension
        local content_file=$(compgen -G "$content_dir/$hash"*)
        if [ -z "$content_file" ]; then
            echo "$index"
        fi
    done
}

list_orphaned_indexes

exit 0
</pre>
    <p>
      <time datetime="2023-02-10T20:54:40Z"></time>I opted to list the files
      instead of deleting them. If you want to delete them, you can just
      run<time datetime="2023-02-10T20:55:02Z"></time>
    </p>
    <!-- prettier-ignore -->
    <pre>program/list-orphaned-indexes.sh | xargs rm</pre>
    <p>
      <time datetime="2023-02-10T18:24:01Z"></time>I now note that I have the
      opposite problem: content with no corresponding index:<time
        datetime="2023-02-10T18:24:28Z"
      ></time>
    </p>
    <!-- prettier-ignore -->
    <pre>$ find ~/def.inet/internet/ -type f | wc -l
1517
$ find ~/def.inet/index/ -type f | wc -l
1515
</pre>
    <p>
      <time datetime="2023-02-10T18:26:10Z"></time>A resource without an index
      is useless, because we don't know where it came from, i.e. it has no
      provenance.<time datetime="2023-02-10T18:26:31Z"></time>
    </p>
    <p>
      <time datetime="2023-02-10T18:25:24Z"></time>Fine, we can have a script
      for that, too:<time datetime="2023-02-10T18:25:33Z"></time>
    </p>
    <pre data-tangle-file="~/program/list-resources-missing-index.sh">
#!/bin/bash

set -e

# HACK: see above
INTERNET_CACHE_DIR=$HOME/def.inet

list_resources_missing_index() {
    local content_dir="$INTERNET_CACHE_DIR/internet"
    local index_dir="$INTERNET_CACHE_DIR/index"
    find "$content_dir" -type f | while read content_file; do
        local name="${content_file##*/}"
        local hash="${name%.*}"
        # Unlike the reverse lookup, we don't need a glob here
        local index_file="$index_dir/$hash"
        if [ ! -f "$index_file" ]; then
            echo "$content_file"
        fi
    done
}

delete_orphaned_indexes() {
    list_orphaned_indexes | while read file; do
        echo Deleting "$file"
        rm "$file"
    done
}

list_resources_missing_index
# delete_orphaned_indexes

exit 0
</pre
    >
    <p>
      <time datetime="2023-02-10T18:31:46Z"></time>Hmm, this isn't listing
      anything. But how else could there be more content files than indexes?
      Unless the same hash is used with multiple extensions...<time
        datetime="2023-02-10T18:32:28Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-10T18:34:40Z"></time>No, doesn't look that
      way:<time datetime="2023-02-10T18:34:47Z"></time>
    </p>
    <!-- prettier-ignore -->
    <pre>$ find . -type f | cut -f2 -d. | uniq -c | sort -rn | head -n1
1 /fffe00c2437d08c2f35fb2c1c4e5383008b7eaa2
</pre>
    <p>
      <time datetime="2023-02-10T18:41:04Z"></time>The lists are not exactly the
      same:<time datetime="2023-02-10T18:41:18Z"></time>
    </p>
    <!-- prettier-ignore -->
    <pre>gavin@hamlet:~/composition-notebook$ find ~/def.inet/index/ -type f | cut -f6 -d/ | sort > ~/ind
gavin@hamlet:~/composition-notebook$ find ~/def.inet/internet/ | cut -d. -f2 | cut -d/ -f3 | sort > ~/int
gavin@hamlet:~/composition-notebook$ diff ~/ind ~/int
0a1
> 
366a368
> 3e85a20dabced6db73a0f5a650f7049e742a7109
993a996
> a917535777d57d1716f9f3f84bc48e9815cb717e
</pre>
    <p>
      <time datetime="2023-02-10T18:42:11Z"></time>So wait, there <em>is</em> a
      duplicate in the <code>internet</code> list. Why didn't my above shelling
      find it?<time datetime="2023-02-10T18:42:29Z"></time>
    </p>
    <p>
      <time datetime="2023-02-10T18:43:21Z"></time>Because I forgot to
      <code>sort</code>:<time datetime="2023-02-10T18:43:27Z"></time>
    </p>
    <!-- prettier-ignore -->
    <pre>$ find . -type f | cut -f2 -d. | sort | uniq -c | sort -rn | head -n2
      2 /a917535777d57d1716f9f3f84bc48e9815cb717e
      2 /3e85a20dabced6db73a0f5a650f7049e742a7109
      1 /fffe00c2437d08c2f35fb2c1c4e5383008b7eaa2
</pre>
    <p>
      <time datetime="2023-02-10T18:44:42Z"></time>Yep, there's an
      <code>.html</code> and <code>.xml</code> version of the same file.<time
        datetime="2023-02-10T18:45:05Z"
      ></time>
    </p>
    <!-- prettier-ignore -->
    <pre>  -rw-rw-r--  627208 01-31 23:47 a917535777d57d1716f9f3f84bc48e9815cb717e.html
  -rw-rw-r--  627208 02-01 18:22 a917535777d57d1716f9f3f84bc48e9815cb717e.xml
</pre>
    <p>
      <time datetime="2023-02-10T18:45:13Z"></time>The scripts don't defend
      against that, but should. I mean, it should be an invariant that there
      should be only one content file per extension.<time
        datetime="2023-02-10T18:45:56Z"
      ></time>
    </p>
  </section>
  <h2>
    <time datetime="2023-02-10T19:55:15Z"></time>Is the error handling working?
  </h2>
  <p>
    <time datetime="2023-02-10T19:55:22Z"></time>I was running this on a large
    batch of requests to the Wikipedia API and apparently I got throttled again
    even without parallelism.
  </p>
  <p>
    <time datetime="2023-02-10T19:56:05Z"></time>My first thought is that I
    should make the timeout variable, as they may be looking for scrapers that
    make requests with mechanical regularity. That may not be what's happening
    at all, but a variable timeout couldn't hurt (modulo the added
    complexity).<time datetime="2023-02-10T19:57:09Z"></time>
  </p>
  <p>
    <time datetime="2023-02-10T19:57:19Z"></time>Also, it looks like this still
    doesn't quite clean up correctly.
  </p>
  <!-- prettier-ignore -->
  <pre>* 1263) pages: get Wiki 550 for 0550                                                                                      
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0    33    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
curl: (22) The requested URL returned error: 429
      </pre>
  <p>
    <time datetime="2023-02-10T19:58:02Z"></time>It appears this was processing
    the page called <code>550</code>. I would expect, since it failed, to have
    no trace of this in the cache. But there is an alias
    <code>wiki-en-550_BC.html</code>, which in fact—oh, never mind, that's 550
    BC. Okay good actually the cache looks clean.
  </p>
  <aside>
    <p>
      <time datetime="2023-02-10T20:12:39Z"></time>I spoke too soon. There's no
      errant alias, but there is an errant index entry.<time
        datetime="2023-02-10T20:12:59Z"
      ></time>
    </p>
  </aside>
  <p>
    <time datetime="2023-02-10T19:59:41Z"></time>But one other thing, I'm not
    printing the URL, nor the hash, nor the alias. I should be printing all of
    those.<time datetime="2023-02-10T20:00:04Z"></time>
  </p>
  <p><time datetime="2023-02-10T20:29:20Z"></time>I made some changes:</p>
  <ul>
    <li>
      <time datetime="2023-02-10T20:29:40Z"></time>Print the main info to
      <code>stderr</code>, like so
      <!-- prettier-ignore -->
      <pre>Get https://api.wikimedia.org/core/v1/wikipedia/en/page/193_BC/html
hash: 05f47f562cf171b471a8e90deadfc7e63ab1c1d3
file: ../wikipedia/en/pages/193_BC.html
alias: wiki-en-193_BC.html
</pre>
    </li>
    <li>
      <time datetime="2023-02-10T20:30:50Z"></time>Don't write the index until
      after the fetch has succeeded, avoiding orphaned indexes.
    </li>
    <li>
      <time datetime="2023-02-10T20:31:34Z"></time>Randomize post-fetch delay
    </li>
  </ul>
  <section>
    <h2><time datetime="2023-02-10T20:32:46Z"></time>interruption</h2>
    <p>
      <time datetime="2023-02-10T20:32:55Z"></time>What happens if you interrupt
      the process? Whatever the answer is, the invariants should be maintained.
    </p>
    <p>
      <time datetime="2023-02-10T20:33:38Z"></time>I ran <code>tup</code>, which
      kicked off several fetches, then stopped it with <kbd>Ctrl+C</kbd>. Now my
      cache has <em>ten</em> content files with no corresponding index. How is
      that possible?<time datetime="2023-02-10T20:34:31Z"></time>
    </p>
    <p>
      <time datetime="2023-02-10T20:52:00Z"></time>Ah, because I put the wait
      after the fetch but before the writing of the index. Still, I don't see
      how so many jobs were in that state.<time
        datetime="2023-02-10T20:52:43Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-10T21:28:39Z"></time>After more testing, it looks
      like Tup is doing 8 jobs at a time. I still had 2 duplicate extensions
      earlier, so that explains the difference of 10 that I was seeing earlier.
    </p>
    <p>
      <time datetime="2023-02-10T21:29:27Z"></time>I've made further
      modifications to echo output only when operations are being done.
    </p>
    <aside>
      <p>
        <time datetime="2023-02-10T21:32:02Z"></time>At least I thought I had.
        I'm still seeing it say <q>Linking</q> for things that already have
        links.
      </p>
      <p>
        <time datetime="2023-02-10T21:43:41Z"></time>On that point, I wonder
        whether Tup is confounding the script so that the symlink doesn't look
        like it already exists?<time datetime="2023-02-10T21:47:18Z"></time>
      </p>
      <p>
        <time datetime="2023-02-10T21:47:20Z"></time>I find it curious that both
        <code>-f</code> and <code>-L</code> appear true for these files, when I
        test them directly (not from a Tup command). Still, the script should be
        a no-op either way.<time datetime="2023-02-10T21:48:14Z"></time>
      </p>
    </aside>
    <p>
      <time datetime="2023-02-10T21:29:56Z"></time>More importantly, it waits at
      the <em>end</em> of the script if a fetch was done, allowing other the
      other changes to be made first.
    </p>
  </section>
  <section>
    <h2><time datetime="2023-02-13T16:08:22Z"></time>on Windows</h2>
    <p>
      <time datetime="2023-02-13T16:08:33Z"></time>If you have
      <code>curl</code> available, the <q>happy path</q> works on Windows for
      the first run: it downloads the file and creates an index and creates an
      alias.
    </p>
    <p>
      <time datetime="2023-02-13T16:09:57Z"></time>However, it's not doing what
      I intend. Specifically, the <code>ln</code> command is not creating links.
      This means that:
    </p>
    <ol>
      <li>
        <time datetime="2023-02-13T16:10:22Z"></time>The files in
        <code>alias</code> are actually <em>copies</em> of the content, not
        links
      </li>
      <li>
        <time datetime="2023-02-13T16:11:01Z"></time>On a second run, which
        should be a no-op since the resource is already cached, you instead get
        the error:
        <!-- prettier-ignore -->
        <pre>Out file exists but is not a symlink! ../wikipedia/en/pages/AD_2084.html</pre>
      </li>
    </ol>
    <p>
      <time datetime="2023-02-13T16:12:32Z"></time>In short, the POSIX
      abstraction for symlinks is leaking on Windows. Windows does have links,
      but it appears that <code>ln</code> is not making them.
      <code>ln --symbolic</code> is creating a copy, and
      <code>ln --symbolic --relative</code> is creating a zero-byte file.
      Windows has its own thing called <code>mklink</code> (if memory serves),
      though it appears to be a <code>cmd</code> built-in, not a real command.
    </p>
    <p>
      <time datetime="2023-02-13T16:15:33Z"></time>The answer must be to plug
      the abstraction. I can do that in just this script, but it's liable to
      apply more generally.<time datetime="2023-02-13T16:16:16Z"></time>
    </p>
    <p><time datetime="2023-02-14T13:15:19Z"></time>Are. You. Kidding me:</p>
    <!-- prettier-ignore -->
    <pre>mklink bar foo
You do not have sufficient privilege to perform this operation.
</pre>
    <p>
      <time datetime="2023-02-14T13:15:48Z"></time>Are you saying that I need to
      be an admin to make a frikkin <em>symlink</em>? There must be some
      misunderstanding.<time datetime="2023-02-14T13:16:23Z"></time>
    </p>
    <p>
      <time datetime="2023-02-14T13:16:53Z"></time>I vaguely remember running
      into something like this before, or at least concluding that there was
      some difference between using <code>mklink</code> from <code>cmd</code> as
      opposed to <code>powershell</code>, which IIRC has a different command for
      this.<time datetime="2023-02-14T13:18:03Z"></time>
    </p>
    <p>
      <time datetime="2023-02-14T13:18:18Z"></time>I'm offline at the moment, so
      just poking around. If there's basic documentation of the services on this
      machine <em>on this machine</em>, I'm not aware of it.<time
        datetime="2023-02-14T13:18:50Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-14T13:19:47Z"></time>Yeah, <code>mklink</code> is
      not recognized in <code>powershell</code>.
    </p>
    <p><time datetime="2023-02-14T13:22:22Z"></time>Oh, the inhumanity:</p>
    <!-- prettier-ignore -->
    <pre> Get-Help New-Alias

NAME
    New-Alias

SYNTAX
    New-Alias [-Name] &lt;string&gt; [-Value] &lt;string&gt; [-Description &lt;string&gt;] [-Option {None | ReadOnly | Constant |
    Private | AllScope | Unspecified}] [-PassThru] [-Scope &lt;string&gt;] [-Force] [-WhatIf] [-Confirm]
    [&lt;CommonParameters&gt;]


ALIASES
    nal


REMARKS
    Get-Help cannot find the Help files for this cmdlet on this computer. It is displaying only partial help.
        -- To download and install Help files for the module that includes this cmdlet, use Update-Help.
        -- To view the Help topic for this cmdlet online, type: "Get-Help New-Alias -Online" or
           go to https://go.microsoft.com/fwlink/?LinkID=113352.</pre>
    <p>
      <time datetime="2023-02-14T13:23:18Z"></time>Not even enough room on here
      for a single sentence saying what the thing does? While there are untold
      megabytes of stuff on here for telemetry and other spyware?<time
        datetime="2023-02-14T13:23:59Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-14T13:26:00Z"></time>I still found it by guessing:
    </p>
    <!-- prettier-ignore -->
    <pre> new-item -ItemType SymbolicLink -Path bar -Value foo
new-item : Administrator privilege required for this operation.
At line:1 char:1
+ new-item -ItemType SymbolicLink -Path bar -Value foo
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : PermissionDenied: (C:\Users\gcanni...ws-symlinks\foo:String) [New-Item], UnauthorizedAcc
   essException
    + FullyQualifiedErrorId : NewItemSymbolicLinkElevationRequired,Microsoft.PowerShell.Commands.NewItemCommand</pre>
    <p>
      <time datetime="2023-02-14T13:26:23Z"></time>I don't think this is a rule
      generally. It must be something about this computer's configuration.<time
        datetime="2023-02-14T13:33Z"
      ></time>
    </p>
    <p><time datetime="2023-02-14T13:58:46Z"></time>Confirmed:</p>
    <blockquote>
      <p>By default, members of the Administrators group have this right.</p>
      <cite
        ><a
          href="https://learn.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/create-symbolic-links#default-values"
          >Create symbolic links (learn.microsoft.com)</a
        ></cite
      >
    </blockquote>
    <p>
      <time datetime="2023-02-14T14:00:38Z"></time>I also confirmed that you
      <em>can</em> create a <q>hard link</q> as a regular user. I seem to recall
      this not being really substitutable for a symbolic link, which is why I
      didn't test it initially. I thought this was because deleting a hard link
      would also delete the target, but initial tests show this is not the case.
    </p>
    <!-- prettier-ignore -->
    <pre>new-item -ItemType HardLink -Path bar -Value foo</pre>
    <p>
      <time datetime="2023-02-14T14:04:06Z"></time>The hard link appears in
      <code>ls</code> like a regular file. It satisfies <code>-f</code> and not
      <code>-L</code>. So I'm not sure how I'd test whether it's a link, or what
      it points to. But for the moment, it appears that this could be an
      option.<time datetime="2023-02-14T14:05:50Z"></time>
    </p>
    <p>
      <time datetime="2023-02-14T14:05:52Z"></time>I have not tried
      <q>Developer Mode</q>, but it is available here and supposedly it will
      enable me to create symlinks from my account. References:
    </p>
    <ul>
      <li>
        <a
          href="https://learn.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development"
          >Enable your device for development</a
        >, which states
        <q
          >if you're writing software with Visual Studio on a computer for the
          first time, you <em>will</em> need to enable Developer Mode on both
          the development PC and on any devices you'll use to test your code.</q
        >, which is exactly the direction I'm afraid of.
      </li>
      <li>
        <a
          href="https://learn.microsoft.com/en-us/windows/apps/get-started/developer-mode-features-and-debugging"
          >Developer Mode features and debugging</a
        >
      </li>
      <li>
        This answer to
        <a href="https://stackoverflow.com/a/58048888"
          >Allow mklink for a non-admin user</a
        >, which states
        <q
          >If you have Windows 10, and turn on
          <strong>Developer Mode</strong> you may be able to create Symbolic
          Links without requiring admin privileges.</q
        >
      </li>
    </ul>
  </section>
  <section>
    <h2><time datetime="2023-02-10T18:47:30Z"></time>future work</h2>
    <section>
      <h3><time datetime="2023-02-10T18:48:02Z"></time>document invariants</h3>
      <p>
        <time datetime="2023-02-10T18:48:07Z"></time>The cache should be
        described in terms of invariants and operations. The operations should
        do whatever they need to do while maintaining those invariants.<time
          datetime="2023-02-10T18:49:34Z"
        ></time>
      </p>
    </section>
    <section>
      <h3>
        <time datetime="2023-02-10T20:04:33Z"></time>support limited parallelism
      </h3>
      <p>
        <time datetime="2023-02-10T20:04:46Z"></time>As noted elsewhere, there's
        currently a problem with running too many requests at once, at least to
        the same server. <a href="tup.html">Tup</a> lets you limit parallelism
        at the updater level, but not at the level of individual commands. The
        current way of dealing with this is in <a href="../go.sh">go.sh</a>,
        which is a convenience script for starting the system. There are several
        problems with this:<time datetime="2023-02-10T20:07:28Z"></time>
      </p>
      <ul>
        <li>
          <time datetime="2023-02-10T20:07:33Z"></time>It should be possible to
          start the system by calling <code>tup</code> directly.
        </li>
        <li>
          <time datetime="2023-02-10T20:07:52Z"></time>The initial build will
          run with no parallelism even for the tasks that could tolerate it
          perfectly well (which is to say, all but this one).
        </li>
        <li>
          <time datetime="2023-02-10T20:08:38Z"></time>Once you get past the
          initial build, the script then runs a monitor using the default, which
          will run things in parallel. It's perfectly possible to introduce
          multiple new requests at that point, and you're back where you
          started.
        </li>
      </ul>
      <p>
        <time datetime="2023-02-10T20:10:11Z"></time>My only proposal for this
        would be to modify <code>get-resource</code> so that it tracks state
        across requests and performs its own gating, perhaps on a per-host
        basis.<time datetime="2023-02-10T20:11:21Z"></time>
      </p>
    </section>
    <section>
      <h3>
        <time datetime="2023-02-10T18:47:44Z"></time>test get-resource failures
      </h3>
      <p>
        <time datetime="2023-02-10T18:49:48Z"></time>This rule correctly fails,
        but then in doing so it breaks the build. I need a way to ensure that
        commands that should fail in fact fail. This would be a simple matter of
        a script that calls it and confirms the error status, then writes some
        nominal output.
      </p>
      <!-- prettier-ignore -->
      <pre>
        &lt;notebook-tuprule
          input="~/program/get-resource.sh"
          process="'%f' nothing '%o' test-curl-fail"
          output="~/scratch/test-curl-fail"
          label="testing curl error"
        /&gt;
</pre>
    </section>
    <section>
      <h3>
        <time datetime="2023-02-10T21:50:03Z"></time>deal gracefully with
        interruptions
      </h3>
      <p>
        <time datetime="2023-02-10T21:50:26Z"></time>Despite the addition of
        some error handling, I am finding that I can still get this to produce
        zero-byte files if I send a <code>SIGINT</code> (<kbd>Ctrl+C</kbd>)
        while it is running. Besides being zero bytes, these files are missing
        the corresponding indexes and aliases. In other words, the violate
        invariants.<time datetime="2023-02-10T21:52:29Z"></time>
      </p>
      <p>
        <time datetime="2023-02-18T16:33:08Z"></time>See
        <a href="../go.sh"></a> for how transactional cleanup can be done in
        bash. See
        <a href="the_system.html#interrupting-the-system"
          >interrupting the system</a
        >
        for background.<time datetime="2023-02-18T16:34:54Z"></time>
      </p>
      <p>
        <time datetime="2023-02-23T19:43:02Z"></time>I just found that the
        script deleted a file that had already been downloaded, but not the
        index. I believe this happened because I interrupted tup, but this
        shouldn't happen when the entry is already available.<time
          datetime="2023-02-23T19:43:56Z"
        ></time>
      </p>
    </section>
  </section>
</article>
