<article>
  <h1>Git<time datetime="2023-03-03T16:45:21Z"></time></h1>
  <p>
    <time datetime="2023-03-03T16:45:24Z"></time>More specifically, life without
    Git.
  </p>
  <p>
    <time datetime="2023-03-03T16:46:02Z"></time>The move to bootstrap is also a
    move away from Git. A real notebook is its own source of truth.
  </p>
  <p>
    <time datetime="2023-03-03T16:50:50Z"></time> Besides, if we want to keep
    track of history, we'd have more expressive ways of stating deltas (that can
    still include arbitrary blobs). When HTML is the universal carrier (as for
    such a notebook it must be), then all revisions are DOM updates, and can be
    described as such. In other words, structural edits, which we can interpret
    as data. The sort of operations you need in an editor anyway. With a
    canonical form and a content-addressable registry, you can make something
    like a Git object store out of such deltas, though perhaps re-encoded to
    suit HTML.<time datetime="2023-03-03T16:59:40Z"></time>
  </p>
</article>
