<article>
  <h1>graph interpreters <time datetime="2023-01-25T23:44:54Z"></time></h1>
  <article>
    <h2>on the representation of truths with JavaScript objects</h2>
    <p>
      <time datetime="2023-01-25T23:16:06Z"></time> The 2022 system introduced a
      “driver” interface to interpret for types on behalf of instances.
      <time datetime="2023-01-25T23:17:24Z"></time>
    </p>
    <p>
      <time datetime="2023-01-25T23:18:26Z"></time> But why? Doesn't it just
      duplicate what you get from JavaScript's object system natively?
    </p>
    <p><time datetime="2023-01-25T23:28:09Z"></time> Not exactly.</p>
    <p>
      <time datetime="2023-01-25T23:25:45Z"></time> There is some simple
      polymorphism in the joining of objects. There's a destructor, which JS
      objects somehow don't have. And there are multi-valued properties.
    </p>
    <p>
      <time datetime="2023-01-25T23:28:31Z"></time> There's a lot of overlap:
      <time datetime="2023-01-25T23:07:15Z"></time> The driver interface is
      notified on creation (constructor), given a place to put state
      (<code>this</code>), and allowed interpretation of a fixed set of
      string-named predicates (properties). For each property, there is provided
      a collection of <code>assert</code> (<code>set</code>) and
      <code>retract</code> (<code>delete</code>) methods.
      <time datetime="2023-01-25T23:09:01Z"></time>
    </p>
    <p>
      <time datetime="2023-01-25T23:26:57Z"></time> I'm still interested in a
      more direct interface to this, though.
    </p>
    <p>
      <time datetime="2023-01-25T23:14:07Z"></time> That's all true for
      <dfn>functional</dfn> properties: properties that can take only one value.
    </p>
    <p>
      <time datetime="2023-01-25T23:15:08Z"></time> The system falls apart
      anyway when you <time datetime="2023-01-28T05:54:49Z"></time> have
      multiple values for a single property, that is, when a person has many
      friends, or many names. <time datetime="2023-01-28T05:55:28Z"></time>
    </p>
    <p>
      <time datetime="2023-01-23T05:48:09Z"></time> But remember, the
      interpreter also provided a <code>Map</code> compatible key for the
      property value, when it was an object. This implies that object values
      themselves must not be considered suitable as representing
      <q>the value</q>. Which in turn suggests that <code>assert</code> could be
      called multiple times with the same key (and no <code>retract</code> in
      between), and <em>not</em> expect to be ignored. The
      <code>assert</code> call may just be providing a new value that should
      supersede the previous one. I don't believe this is specified in the
      current interpreter.
      <time datetime="2023-01-23T05:52:06Z"></time>
    </p>
  </article>
</article>
