<article>
  <style>
    :read-write {
      outline: 0.5ch solid Highlight;
    }
    aside {
      border-inline-start: 1ch solid GrayText;
      padding-inline-start: 2pt;
    }
  </style>
  <h1>Graphviz <time datetime="2023-01-29T16:59:46Z"></time></h1>
  <figure>
    <figcaption>A Graphviz diagram</figcaption>
    <script id="graphviz-example" type="graphviz:dot">
      digraph { rankdir=LR a -> b -> c }
    </script>
  </figure>
  <aside>
    <p>
      <time datetime="2023-02-22T22:00:09Z"></time>BUG: this gets
      double-displayed because it's both pre-rendered and rendered in the
      browser.
    </p>
    <p>
      <time datetime="2023-03-04T17:45:53Z"></time>This is happening on all
      <code>script</code>-based diagrams now that everything is in one file. In
      theory this is the more general problem of <em>saying one thing</em> to
      mean both <q>server-</q> and <q>client-side</q> rendering, for lack of
      better terms.
    </p>
    <p>
      <time datetime="2023-03-04T18:05:00Z"></time>As things stand, the client
      has <q>no way to know</q> that the diagram has already been rendered. I
      mean, no <em>explicit, dedicated</em> way to know, beyond the fact that
      any fool can see it's already there. This is an instance where computers
      are exceedingly stupid.
    </p>
    <p>
      <time datetime="2023-03-04T18:06:33Z"></time>The simplest way we could
      approach this (though not the cheapest) would be to say, just render what
      you would have rendered, but before you add it to the document, see
      whether there's already an element after the script containing the exact
      same content. This will work only if the embedded Graphviz spits out
      <em>exactly</em> the same thing as the binary, which is too likely too
      strict a condition to be useful.
    </p>
    <p>
      <time datetime="2023-03-04T18:08:45Z"></time>The better solution has the
      same overall shape, except that instead of doing the work (which may have
      already been done) and comparing the results, we would compare what was
      <em>intended</em>.<time datetime="2023-03-04T18:10:11Z"></time>
    </p>
  </aside>
  <p>
    <time datetime="2023-01-31T05:00:46Z"></time>Some good examples on the
    <a href="https://renenyffenegger.ch/notes/tools/Graphviz/examples/index"
      >Graphviz web site</a
    >.
  </p>
  <!-- prettier-ignore -->
  <iframe src="https://renenyffenegger.ch/notes/tools/Graphviz/examples/index"></iframe>

  <p>
    <time datetime="2023-01-29T19:26:57Z"></time>And Graphviz interop in this
    <a href="system.html">system</a>.<time
      datetime="2023-01-29T19:27:15Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-01-29T16:59:51Z"></time> Is a tool that's kind of like
    <a href="tup.html">Tup</a> (in terms of dearness to me) but actually better
    in this respect: you can run it in the browser.
  </p>
  <p>
    <time datetime="2023-01-29T17:00:47Z"></time> At least that was my finding a
    good while ago when somebody posted a demo and I tried it out for about 50
    seconds and said,
    <q>Yeah, it doesn't render quite like the command but okay, it works.</q>
  </p>
  <p>
    <time datetime="2023-01-29T17:01:49Z"></time> My goal here is to support the
    creation of Graphviz diagrams from the browser by bundling together that (I
    assume WASM) compiled version and whatever else I need.
    <time datetime="2023-01-29T17:03:02Z"></time>
  </p>
  <section>
    <h2>concepts <time datetime="2023-01-29T17:03:11Z"></time></h2>
    <p>
      <time datetime="2023-01-29T17:03:14Z"></time> Always start with the
      concepts. The good news here is that the concepts are substantially
      defined already.
    </p>
    <p>
      <time datetime="2023-01-29T18:08:23Z"></time> Roughly, the
      <span
        ><del>top</del><ins>high</ins
        ><time datetime="2023-01-29T20:54:28Z"></time></span
      >-level concepts are
    </p>
    <ul>
      <li>
        <time datetime="2023-01-29T18:08:37Z"></time>
        <strong>Graph</strong> a graph description
      </li>
      <li>
        <time datetime="2023-01-29T18:09:04Z"></time>
        <strong>Graph</strong> = <strong>DirectedGraph</strong> ∪
        <strong>UndirectedGraph</strong>
      </li>
      <li>
        <time datetime="2023-01-29T18:08:46Z"></time>
        <strong>DOT</strong> language (syntax). Something you can say about a
        text
      </li>
      <li>
        <time datetime="2023-01-29T22:03:39Z"></time><strong>Node</strong> The
        most essential elements of graphs
      </li>
      <li>
        <time datetime="2023-01-29T22:05:30Z"></time><strong>Edge</strong>. An
        ordered pair of nodes
      </li>
      <li>
        <time datetime="2023-01-29T22:05:01Z"></time><strong>Subgraph</strong> A
        sort of graph within a graph.
      </li>
      <li>
        <time datetime="2023-01-29T22:06:39Z"></time><strong>Cluster</strong>. A
        marker subclass for subgraph
      </li>
      <li>
        <time datetime="2023-01-29T22:04:41Z"></time><strong>Property</strong> A
        superproperty for the big list of attributes. Perhaps not ontologically
        necessary, but useful for grouping.
      </li>
      <li>
        <time datetime="2023-01-29T22:09:18Z"></time
        ><strong>Attribute</strong> An instance of a property attribution (to a
        node, edge, a graph, a subgraph, a (sub)graph's nodes generally or a
        (sub)graph's edges generally)
      </li>
    </ul>
    <p>
      <time datetime="2023-01-29T22:08:40Z"></time>What is the relation between
      <strong>Graph</strong> and <strong>Subgraph</strong>? Both can contain
      nodes, edges, and subgraphs. Both can have attributes. A subgraph has no
      directed/non-directed attribute, and, syntax aside, does not necessarily
      carry whether its contained edges are directed or not. So in that sense,
      Graph is an extension of Subgraph.
    </p>
    <p>
      <time datetime="2023-01-29T22:12:59Z"></time>What is a
      <strong>Cluster</strong> about? In Graphviz, designating a subgraph as a
      cluster affects some aspects of their presentation. But how would you
      describe the semantic implications? It's a <q>user-facing</q>,
      <q>visible</q> subgraph? You might have merely notational reasons for
      wanting to use a subgraph, as I do in some of the examples here. You can
      save a lot of writing with subgraphs without ever meaning to demark the
      subgraph in any way.<time datetime="2023-01-29T22:14:57Z"></time>
    </p>
  </section>
  <section>
    <h2>vocabulary <time datetime="2023-01-29T18:03:20Z"></time></h2>
    <p>
      <time datetime="2023-01-29T17:04:18Z"></time> It appears that
      <a href="http://graphviz.org/">the Graphviz web site</a> has gotten a
      makeover since
      <a href="https://web.archive.org/web/20201101021045/https://graphviz.org/"
        >the last time I was consulting it regularly</a
      >.
    </p>
    <p>
      <time datetime="2023-01-29T17:15:45Z"></time> It's more than a makeover,
      in fact. It appears that each attribute now has its own URL! As I look at
      this, I note a number of things:
    </p>
    <ul>
      <li>
        <time datetime="2023-01-29T17:19:18Z"></time> Yes, each attribute now
        has its own URL under <code>https://graphviz.org/docs/attrs/</code>.
        There was no such arrangement before, either for anchors or subpaths.
        Even on
        <a
          href="https://web.archive.org/web/20201101120519/https://www.graphviz.org/doc/info/attrs.html"
          >the big page that listed and documented most attributes</a
        >, there were not element ID's <em>corresponding to the names</em> that
        could be used as locators (not to mention scopes).
        <p>
          <time datetime="2023-01-29T18:12:11Z"></time> I think that even this
          archived version is more organized than when I first assessed
          this.<time datetime="2023-01-29T18:12:49Z"></time>
        </p>
        <p>
          <time datetime="2023-01-29T17:21:58Z"></time> In the version I'm
          looking at, there are at least two different prefixes
          <code>https://www.graphviz.org/doc/info/attrs.html#d:</code>
          (for example
          <code>https://www.graphviz.org/doc/info/attrs.html#d:start</code>) and
          <code>https://www.graphviz.org/doc/info/attrs.html#a:</code>
          (for example
          <code>https://www.graphviz.org/doc/info/attrs.html#a:skew</code>). So
          you could say that, in terms of forming URL's there are two
          namespaces, although I'm not sure why <code>start</code> and
          <code>skew</code> would be in different namespaces, since they are
          both attributes.
        </p>
      </li>
      <li>
        <time datetime="2023-01-29T17:17:32Z"></time> There is some basic
        description using <code>meta</code> tags in the <code>head</code>.
        Mainly just that, a short textual summary for
        <code>og:description</code>, e.g.
        <pre>
&lt;meta name="description" content="Text label attached to objects"&gt;
&lt;meta property="og:title" content="label" /&gt;
&lt;meta property="og:description" content="Text label attached to objects" /&gt;
&lt;meta property="og:type" content="article" /&gt;
&lt;meta property="og:url" content="https://graphviz.org/docs/attrs/label/" /&gt;&lt;meta property="article:section" content="docs" /&gt;

&lt;meta property="article:modified_time" content="2022-06-12T17:19:21+03:00" /&gt;&lt;meta property="og:site_name" content="Graphviz" /&gt;

&lt;meta itemprop="name" content="label"&gt;
&lt;meta itemprop="description" content="Text label attached to objects"&gt;
&lt;meta itemprop="dateModified" content="2022-06-12T17:19:21+03:00" /&gt;
&lt;meta itemprop="wordCount" content="140"&gt;
&lt;meta itemprop="keywords" content="" /&gt;&lt;meta name="twitter:card" content="summary"/&gt;
&lt;meta name="twitter:title" content="label"/&gt;
&lt;meta name="twitter:description" content="Text label attached to objects"/&gt;
            </pre
        >
      </li>
      <li>
        <time datetime="2023-01-29T17:16:41Z"></time> The <q>canonical</q> forms
        of the URL have a trailing slash. (They redirect to this form, and the
        pages also have <code>link rel="canonical"</code> metadata.)
      </li>
    </ul>
    <p>
      <time datetime="2023-01-29T17:27:23Z"></time> For the prospect of making
      an RDF vocabulary from the Graphviz namespace—at least, one that that
      <q>grazes on their garden</q> to coin a phrase—this is a highly relevant
      change.
      <a href="https://graphviz.org/docs/attrs/skew/"><code>skew</code></a>
      and
      <a href="https://graphviz.org/docs/attrs/start/"><code>start</code></a>
      can now be addressed by a common prefix, <i>viz</i>
      <code>https://graphviz.org/docs/attrs/</code>, and the idea that they in
      fact belong to a common namespace is vindicated.
      <time datetime="2023-01-29T17:31:06Z"></time>
    </p>
    <aside>
      <p>
        <time datetime="2023-01-29T17:34:18Z"></time> Oh fascinating. There's an
        online
        <a href="http://magjac.com/graphviz-visual-editor/">playground</a>
        <strong>and</strong> it does transitions between changes! Pretty nice.
      </p>
      <p>
        <time datetime="2023-01-29T17:37:11Z"></time> It's a little rough
        otherwise, though. The <q>node format</q> and <q>edge format</q> tools
        don't work here, either in Firefox or Chrome.
      </p>
      <p><time datetime="2023-01-29T17:38:27Z"></time> But I digress.</p>
    </aside>
  </section>
  <section>
    <h2>library <time datetime="2023-01-29T18:03:53Z"></time></h2>
    <p>
      <time datetime="2023-01-29T17:38:36Z"></time> So I think the next thing is
      to find the bundle that implements this.
      <time datetime="2023-01-29T17:39:39Z"></time>
    </p>
    <p>
      <time datetime="2023-01-29T17:40:14Z"></time> Of course, the playground
      has everything bundled together so that's kind of useless. I have a
      bookmark for this, though.
      <time datetime="2023-01-29T17:40:32Z"></time>
    </p>
    <p>
      <time datetime="2023-01-29T17:41:52Z"></time> Is it
      <a href="http://viz-js.com/">viz-js</a>?
    </p>
    <p>
      <time datetime="2023-01-29T17:42:37Z"></time> No the playground appears to
      be this one:
      <a href="https://github.com/magjac/d3-graphviz"
        >https://github.com/magjac/d3-graphviz</a
      >
    </p>
    <p>
      <time datetime="2023-01-29T17:43:09Z"></time> They are both linked from
      <a href="https://news.ycombinator.com/item?id=16077158">this HN thread</a
      >.
    </p>
    <blockquote>
      <p>
        Since d3-graphviz is based on Viz.js it can can do everything that
        Viz.js can do. Also, it adds the following features:
      </p>
      <pre>
    Animated transition of one graph into another
    Edge path tweening
    Node shape tweening
    Fade-in and fade-out of entering and exiting nodes and edges
    Animated growth of entering edges
    Panning &amp; zooming of the generated graph
</pre
      >
      <cite
        ><a href="https://news.ycombinator.com/item?id=16112833"
          >magjac on: WebGraphviz: Graphviz in the Browser</a
        ></cite
      >
      <time datetime="2018-01-10T05:51:28">on Jan 10, 2018</time>
    </blockquote>
    <p>
      <time datetime="2023-01-29T17:49:48Z"></time> Certainly I'm inclined to
      prefer the more basic thing, without involving d3 and someone else's
      opinions about API, etc. But just how big is <code>d3-graphviz</code>,
      anyway? And is it self-contained?
    </p>
    <p>
      <time datetime="2023-01-29T17:52:56Z"></time> Holy cow, the minified build
      is 648,798 bytes.
    </p>
    <pre>
<output>
689843 d3-graphviz.js
934701 d3-graphviz.js.map
648798 d3-graphviz.min.js
</output>
        </pre>
    <p>
      <time datetime="2023-01-29T17:54:15Z"></time> But most of that must be the
      <code>dot</code> command, which is presumably why it doesn't compress so
      well. What about <code>viz.js</code>?
      <time datetime="2023-01-29T17:55:10Z"></time>
    </p>
    <p>
      <time datetime="2023-01-29T17:56:37Z"></time> The
      <a href="https://www.npmjs.com/package/viz.js">NPM package</a> is marked
      as <q>deprecated</q>, which is just a way of saying what everyone else
      implies.
    </p>
    <p>
      <time datetime="2023-01-29T17:57:29Z"></time> Hmm, this has no other
      dependencies (<code>d3-graphviz</code> installs about 30), and the
      directory looks like this:
      <time datetime="2023-01-29T17:58:23Z"></time>
    </p>
    <pre><output>1979770 full.render.js
   1063 LICENSE
1439383 lite.render.js
   1164 package.json
   1487 README.md
  10710 viz.es.js
  11468 viz.js</output></pre>
    <p>
      <time datetime="2023-01-29T17:58:51Z"></time> Um yeah. I know goodness
      when I see it.
    </p>
    <aside>
      <p>
        <time datetime="2023-01-29T18:00:14Z"></time> Not to get all
        wisdom-of-the-crowds with respect to the JavaScript world, but even
        while deprecated, and even though Graphviz's own site links to the
        magjac playground, <code>viz.js</code> has four times the regular usage
        of <code>d3-graphviz</code>.
        <time datetime="2023-01-29T18:02:15Z"></time>
      </p>
    </aside>
    <p>
      <time datetime="2023-01-29T18:06:34Z"></time> Okay, so how do I use it?
    </p>
    <section>
      <h3>
        a moment for the system
        <time datetime="2023-01-29T18:07:04Z"></time>
      </h3>
      <p>
        <time datetime="2023-01-29T18:07:08Z"></time> We're talking about a
        single file from the internet. Let's take a moment to recognize that we
        have a <a href="system.html">system</a> which can take care of things
        like this. (Despite not being a package manager!)
      </p>
      <p>
        <time datetime="2023-01-29T18:13:36Z"></time> In other words, I should
        be able to <em>write down the name</em> somewhere, the name being...
        <time datetime="2023-01-29T18:14:23Z"></time>
        <time datetime="2023-01-29T18:15:05Z"></time>
        <a
          href="https://github.com/mdaines/viz.js/releases/download/v2.1.2/lite.render.js"
          ><code
            >https://github.com/mdaines/viz.js/releases/download/v2.1.2/lite.render.js</code
          >
        </a>
        and have that file downloaded as part of an <q>evaluation</q> of the
        (Tup) project.
      </p>
      <p>
        <time datetime="2023-01-29T18:16:10Z"></time> But where do I write it
        down?
      </p>
      <p>
        <time datetime="2023-01-29T18:16:26Z"></time> Okay, I said
        <q>a moment</q> for the system. Let's not get tied in knots considering
        that the point of introducing Graphviz was itself to help think this
        through!
        <time datetime="2023-01-29T18:17:06Z"></time>
      </p>
      <p>
        <time datetime="2023-01-29T18:18:46Z"></time> But actually, having said
        that, I have to get this file somewhere, and I'm not sure at this point
        that I want to vendor it. So I'm going to write a special Tup rule to
        get it.
        <time datetime="2023-01-29T18:19:51Z"></time>
      </p>
      <p>
        <time datetime="2023-01-29T18:21:44Z"></time> Tup is amazing. Anyway,
        now I have it at <code>vendor/viz.lite.render.js</code>. Vendor render.
        Let's load it, shall we?
        <time datetime="2023-01-29T18:22:08Z"></time>
      </p>
      <pre><output>Loading failed for the &lt;script&gt; with source “file:///home/gavin/composition-notebook/vendor/viz.lite.render.js”.</output></pre>
      <aside>
        <p>
          <time datetime="2023-01-29T18:27:56Z"></time> Hmm. If I go to that
          file directly, Firefox says
        </p>
        <pre><output>Access to the file was denied

          The file at /home/gavin/.cache/def.inet/internet/d977a5c692b6e756fdcfb842a12f92cad134dee2.js is not readable.</output></pre>
        <p>
          <time datetime="2023-01-29T18:28:47Z"></time> That's the location it's
          symlinked to. Which is due to
          <a href="get-resource-from-internet.html"
            >get resource from internet</a
          >.
        </p>
        <p>
          <time datetime="2023-01-29T18:31:05Z"></time> The
          <code>.cache</code> directory has some restricted permissions, but not
          the subdirectories, nor the files, which all have world read.
        </p>
        <p>
          <time datetime="2023-01-29T18:31:56Z"></time> Still, let me first try
          moving that, just to avoid the obstacle.
          <time datetime="2023-01-29T18:32:47Z"></time>
        </p>
        <p>
          <time datetime="2023-01-29T18:44:07Z"></time> Yes, that was the
          problem.<time datetime="2023-01-29T18:44:11Z"></time>
        </p>
      </aside>
      <p>
        <time datetime="2023-01-29T18:44:38Z"></time> It loads, and Firefox
        warns in the console:
      </p>
      <pre><output>asm.js type error: Asm.js optimizer disabled because debugger is active</output></pre>
      <p>
        <time datetime="2023-01-29T18:44:59Z"></time> Maybe that is only because
        the console is open. Not sure how I'd know, since I'd have to um, close
        the console to prevent it.<time datetime="2023-01-29T18:45:26Z"></time>
      </p>
      <p><time datetime="2023-01-29T20:26:12Z"></time>Now it is saying</p>
      <pre>
asm.js type error: Asm.js optimizer disabled because no suitable wasm compiler is available</pre
      >
    </section>
  </section>
  <article>
    <p>
      <time datetime="2023-01-29T19:24:49Z"></time>In which I make a minimum
      viable userland testing area for (the viz.js bindings for) Graphviz
      interop.<time datetime="2023-01-29T19:25:32Z"></time>
    </p>

    <aside>
      <p>
        <time datetime="2023-01-29T19:56:14Z"></time>This doesn't work, even
        though this is our source of truth for these files, because looks like
        they aren't served with JS MIME type, i.e. Github isn't trying to be a
        CDN here.<time datetime="2023-01-29T19:56:52Z"></time>
      </p>
      <pre>
        &lt;script src="https://github.com/mdaines/viz.js/releases/download/v2.1.2/lite.render.js"&gt;&lt;/script&gt;
        &lt;script src="https://github.com/mdaines/viz.js/releases/download/v2.1.2/viz.js"&gt;&lt;/script&gt;
        </pre
      >
      <p>
        <time datetime="2023-01-29T19:57:08Z"></time>But it's worth noting that
        the names mean the same thing here.
      </p>
    </aside>

    <notebook-tuprule
      input=""
      process="echo 'hey mungy potato' > '%o'"
      output="~/breath"
      label="testing notebook:tuprule"
    />

    <notebook-tuprule
      input="~/program/get-resource.sh"
      process="'%f' 'https://github.com/mdaines/viz.js/releases/download/v2.1.2/lite.render.js' '%o'"
      output="~/vendor/viz.lite.render.js"
      label="get viz.lite.render"
    />
    <notebook-tuprule
      input="~/program/get-resource.sh"
      process="'%f' 'https://github.com/mdaines/viz.js/releases/download/v2.1.2/viz.js' '%o'"
      output="~/vendor/viz.js"
      label="get viz.js"
    />

    <script src="vendor/viz.js"></script>
    <script src="vendor/viz.lite.render.js"></script>

    <script style="display: block; white-space: pre">
      {
        function test_viz_js() {
          (globalThis.viz ??= new Viz())
            .renderSVGElement("digraph { a -> b }")
            .then(function (element) {
              // prettier-ignore
              document.currentScript?.insertAdjacentElement("afterend", element);
            })
            .catch(error => {
              console.error("Minimum viable viz.js failed", error);
            });
        }

        test_viz_js();
      }
    </script>
    <p><time datetime="2023-01-29T19:45:11Z"></time>Worked.</p>
    <p>
      <time datetime="2023-01-29T20:04:29Z"></time>In fact, here's a one liner
    </p>
    <pre>
document.body.prepend(await (globalThis.viz ??= new Viz()).renderSVGElement('digraph { rankdir=LR; a->b->{c d e f}->{w x y z}}'))</pre
    >
    <p>
      <time datetime="2023-01-29T20:05:05Z"></time>Very nice. Let's make it
      worth the 1.5MB we're paying for it.
    </p>
    <aside>
      <p>
        <time datetime="2023-01-29T20:56:05Z"></time>Wait what?
        <code>d3-graphviz</code> is actually less than half that size at 650K.
        Is that somehow a full package?<time
          datetime="2023-01-29T20:58:28Z"
        ></time>
        Or does that require <code>viz.js</code> as a separate dependency?
      </p>
      <p>
        <time datetime="2023-01-29T21:00:04Z"></time>It appears that is not a
        whole package, at least in that a
        <a
          href="https://gist.github.com/magjac/a23d1f1405c2334f288a9cca4c0ef05b"
          >minimal example</a
        >
        requires <code>d3</code> and something called
        <code>@hpcc-js/wasm</code> to be loaded separately.<time
          datetime="2023-01-29T21:00:52Z"
        ></time>
      </p>
    </aside>
    <p><time datetime="2023-01-29T20:17:20Z"></time>Here's another example.</p>
    <script>
      (globalThis.viz ??= new Viz())
        .renderSVGElement(
          "digraph { rankdir=LR; a->b->{c, d, e, f}->{w,x,y,z}}"
        )
        .then(it =>
          document.currentScript.insertAdjacentElement("afterend", it)
        );
    </script>
    <section>
      <h3>recognizers<time datetime="2023-01-29T21:55:25Z"></time></h3>
      <p>
        <time datetime="2023-01-29T21:55:36Z"></time>I can see this as defining
        at least three recognizers:
      </p>
      <dl>
        <div>
          <dt><time datetime="2023-01-29T21:58:11Z"></time>DOT</dt>
          <dd>Matches if the utterance parses as DOT as-is</dd>
        </div>
        <div>
          <dt>
            <time datetime="2023-01-29T21:58:43Z"></time>DOT graph content
          </dt>
          <dd>
            matches if the utterance parses as DOT when wrapped with
            <code>graph {</code> and <code>}</code>
          </dd>
        </div>
        <div>
          <dt>
            <time datetime="2023-01-29T22:00:06Z"></time>DOT digraph content
          </dt>
          <dd>
            matches if the utterance parses as DOT when wrapped with
            <code>digraph {</code> and <code>}</code>
          </dd>
        </div>
      </dl>
      <p>
        <time datetime="2023-01-29T22:17:28Z"></time><code>viz.js</code> doesn't
        separately expose a parser that I know of (haven't checked), but we get
        the same effect by asking it to generate the SVG, which (99% of the
        time) is what one would do next upon success anyway.
      </p>
      <p>
        <time datetime="2023-01-29T22:21:33Z"></time>I don't see any
        <q>parse</q> methods on a <code>new Viz()</code>. It might be slightly
        lighter weight to call <code>toJSONObject</code> if you only want to
        test validity, but I think there's no way to save any work by going from
        said JSON object to SVG, so yeah. Just ask for the thing and trap
        errors.<time datetime="2023-01-29T22:22:40Z"></time>
      </p>
    </section>
  </article>

  <article>
    <h2>Graphviz scratch area<time datetime="2023-01-29T19:24:35Z"></time></h2>
    <p>
      <time datetime="2023-01-29T20:06:02Z"></time>What we want here is a
      <a href="constructive-dialog.html">constructive dialog</a> in which you
      say some things that exist and we make dot programs. Or in which you
      provide dot code directly.<time datetime="2023-01-29T20:07:05Z"></time>
    </p>
    <p>
      <time datetime="2023-01-29T21:53:34Z"></time>The first two entries (<q
        >Bob</q
      >
      and <q>Alice</q>) are provisional.<time
        datetime="2023-01-29T21:54:24Z"
      ></time>
    </p>
    <dialog open id="hpZ0FgWt" oninput="hpZ0FgWt_dialog_oninput(event)">
      <p>
        <time datetime="2023-01-29T20:10:50Z"></time>Bob<time
          datetime="2023-01-29T20:11:00Z"
        ></time>
      </p>
      <output
        ><figure>
          <script style="display: inline-block; white-space: pre">
            (globalThis.viz ??= new Viz())
              .renderSVGElement("graph { Bob }")
              .then(it =>
                document.currentScript.insertAdjacentElement("afterend", it)
              );
          </script>
        </figure></output
      >
      <p>
        <time datetime="2023-01-29T20:11:13Z"></time>Alice<time
          datetime="2023-01-29T20:11:17Z"
        ></time>
      </p>
      <output
        ><figure>
          <script style="display: inline-block; white-space: pre">
            (globalThis.viz ??= new Viz())
              .renderSVGElement("graph { Bob Alice }")
              .then(it =>
                document.currentScript.insertAdjacentElement("afterend", it)
              );
          </script>
        </figure>
        <time datetime="2023-01-29T20:19:46Z"></time
      ></output>
      <p contenteditable property="dot:code"></p>
      <output property="dot:svg"></output>
      <style>
        #hpZ0FgWt {
          position: relative;
        }
        #hpZ0FgWt p {
          background: #8888;
          padding: 1ch 1em;
          max-width: fit-content;
          border-radius: 1em;
          border-start-start-radius: 0;
        }
      </style>
      <script>
        async function hpZ0FgWt_dialog_oninput(event) {
          const target = event.target;
          if (target.getAttribute("property") !== "dot:code") return;
          const text = target.innerText;
          console.debug("hpZ0FgWt_dialog_oninput text", text);
          const dialog = target.closest("dialog");
          const viz = (globalThis.viz ??= new Viz());
          let response_ele;
          try {
            response_ele = await viz.renderSVGElement(text);
          } catch (error) {
            globalThis.viz = null;
            if (error.message.startsWith("syntax error")) {
              response_ele = document.createElement("span");
              response_ele.innerText = `${error}`;
            } else throw error;
          }
          if (response_ele) {
            const output = dialog.querySelector('[property="dot:svg"]');
            // just clear the container
            // .querySelector(":scope > :is(svg, parsererror)")
            output.firstElementChild?.remove();
            output.append(response_ele);
          }
        }
      </script>
    </dialog>
    <p>
      <time datetime="2023-01-29T20:32:46Z"></time>So far so good. And this is
      better without transitions. Needs error handling now.
    </p>
    <aside>
      <p>
        <time datetime="2023-01-29T20:44:57Z"></time><code>parsererror</code> is
        the element that gets inserted instead of <code>svg</code> when you give
        Viz empty input<ins>
          (at least in Firefox)<time
            datetime="2023-01-29T21:52:27Z"
          ></time></ins
        >. I'm not sure who it's coming from.<time
          datetime="2023-01-29T20:45:47Z"
        ></time>
      </p>
    </aside>
    <section>
      <h3>avoiding memory leak<time datetime="2023-01-29T22:24:23Z"></time></h3>
      <header>
        <p>
          <time datetime="2023-01-30T03:17:22Z"></time>The issue here is
          <q>resolved</q> by using
          <code>(globalThis.viz ??= new Viz())</code> everywhere an instance is
          needed.
        </p>
      </header>
      <p>
        <time datetime="2023-01-29T22:24:29Z"></time>The above does a
        <code>new Viz()</code> every time you type, and it seems to work fine
        and is responsive etc. But that's probably
        <em>extreeeeeeemely</em> inefficient and not how the library is meant to
        be used.
      </p>
      <p>
        <time datetime="2023-01-29T22:25:31Z"></time>Rather, it's likely that
        you're supposed to do <code>new Viz()</code> once, which initiates the
        emscripten object, which you can use multiple times.<time
          datetime="2023-01-29T22:28:07Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-01-29T22:33:42Z"></time>Yes, as noted in the
        <a href="https://github.com/mdaines/viz.js/wiki/Caveats">Caveats</a>,
        you generally have to create a new <code>Viz</code> after an error.
      </p>
      <p>
        <time datetime="2023-01-29T22:36:00Z"></time>I'm wondering whether there
        would be any advantage to keeping a <q>clean</q> instance that you don't
        crash all the time, but only give something work one it's passed
        another. That assumes you're willing to process every input twice, and
        it doesn't really guarantee that the <q>clean</q> instance will never
        crash anyway.
      </p>
      <p>
        <time datetime="2023-01-29T22:37:05Z"></time>Anyway, I made a slight
        modification to the above to reuse a global instance during typing and
        refresh only (and always) after errors.<time
          datetime="2023-01-29T22:37:35Z"
        ></time>
      </p>
    </section>
    <section>
      <h3>findings<time datetime="2023-01-29T21:02:55Z"></time></h3>
      <p>
        <time datetime="2023-01-29T21:03:07Z"></time>I notice that, for this
        input
      </p>
      <pre>
graph {
  Bob, Alice
}</pre
      >
      <p>I get a blank node before <q>Bob</q>. But not for this one.</p>
      <pre>
graph {
 Bob, Alice
}</pre
      >
      <p>
        <time datetime="2023-01-29T21:05:18Z"></time>This would be easier to use
        if the <code>graph {}</code> or <code>digraph {}</code> wrapper were
        applied for you. We could easily do that by <q>speculative parsing</q>,
        I mean just try <code>graph {}</code> then <code>digraph {}</code> and
        take the first one to succeed.<time
          datetime="2023-01-29T21:07:22Z"
        ></time>
      </p>
    </section>
  </article>
  <article>
    <h2><time datetime="2023-01-30T03:25:25Z"></time>graphviz and the toc</h2>
    <p>
      <time datetime="2023-01-30T03:25:35Z"></time>Proposal: show document
      outline with Graphviz. It's a tree with identifiers, this can be trivially
      written in Dot, and with some room for exploring space allocation via
      attributes and styling.<time datetime="2023-01-30T03:26:43Z"></time>
    </p>
  </article>
  <article>
    <h2><time datetime="2023-02-08T03:06:47Z"></time>reflection</h2>
    <p>
      <time datetime="2023-02-08T03:06:53Z"></time>I'm not 100% sure what to
      work on next. When I have been in this situation, I have been telling
      myself, <q>always go back to the domain.</q> Right now,
      <q>the domain</q> is the timeline project. But I'm fairly sure that I
      would be led right back here, because this is where my momentum is right
      now. Also, I don't think that <q>the system</q> meets my own minimum
      thresholds for a humane system. I can't see it!<time
        datetime="2023-02-08T03:09:16Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-08T03:09:20Z"></time>The thing I want here, is
      another interpretation of
      <code
        >&lt;script type="graphviz:<span
          ><del>tup</del><ins>dot</ins
          ><time datetime="2023-02-23T03:36:15Z"></time></span
        >"&gt;</code
      >. I want to put Graphviz diagrams into the woven documents, even though I
      do have client-side scripts that can do it at load time.
    </p>
    <p>
      <time datetime="2023-02-08T03:11:10Z"></time>The story on how to do this,
      is something I would tell in diagrams.<time
        datetime="2023-02-08T03:11:26Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-08T03:11:30Z"></time>Instead, just observations.
    </p>
    <ul>
      <li>
        <time datetime="2023-02-08T03:12:17Z"></time>This has nothing to do with
        <em>files</em> or a <q>build system</q>. These elements already have
        <a href="graphviz.html">an in-memory interpretation</a
        ><time datetime="2023-02-08T03:14:30Z"></time>
      </li>
      <li>
        <time datetime="2023-02-08T03:14:40Z"></time>In willshake, I wrote all
        dot files to a directory, and converted everything in that directory to
        svg, in another directory.
      </li>
      <li>
        <time datetime="2023-02-08T03:16:02Z"></time>I plan to do the same thing
        here, with the difference being in the logical flow.
      </li>
    </ul>
    <p>
      <time datetime="2023-02-08T03:17:11Z"></time>By the <q>logical flow</q> I
      mean that, whereas you might think of the rules as implying the files, I
      think of <em>quantifications</em> and <em>mappints</em> as implying the
      rules.
    </p>
    <p>
      <time datetime="2023-02-08T03:18:20Z"></time>Domains can be expressed, you
      could say <em>projected</em>, upon the file system. In the case of
      Graphviz diagrams, the names of the diagrams—wherever they may come
      from—form a domain. I mean, we're processing a set of files together and
      treating them all as a namespace with respect to certain domains.
      <q>tangle</q> files are not such a domain because their whole location is
      specified at the call site. But that also means that <q>tangles</q>
      as a group cannot participate in a directory-to-directory rule for mapping
      domains (such as dot-to-svg). I'm saying that's okay and makes sense
      because the domain of all tangles is heterogeneous and could only be
      subject to a relatively narrower set of mappings once serialized.
    </p>
    <p>
      <time datetime="2023-02-08T03:28:02Z"></time>The diagrams need names, is
      the other side of this. I propose that diagrams take their names from
      their ID's, or their nearest ancestor ID. I don't want to add anything
      that would not be natural, and requiring the naming of diagrams is an
      essential accessibility practice anyway.
    </p>
    <p>
      <time datetime="2023-02-08T03:29:50Z"></time>I guess my lingering question
      about the proposal is, is the unique-across-documents thing really
      technically necessary? I mean, is it desirable?
    </p>
    <p>
      <time datetime="2023-02-08T03:32:40Z"></time>Yes, I think it is here. I
      want a notebook. The objective here is not to sustain things being in
      different physical files. This is more convenient under the tools where
      I'm most productive. But I think of this <em>logically</em> as a single
      collection. Thus it should be an <q>epsilon move</q> to cut file
      boundaries.<time datetime="2023-02-08T03:34:05Z"></time>
    </p>
    <p>
      <time datetime="2023-02-08T03:34:14Z"></time>As of now, this must be
      implemented in the bootstrapper, because it must survey the document
      contents. But I would observe two things. One is that I intend for schemes
      like this to be possible from documents, and I won't really feel like this
      system is complete until I've proven that. The other is that I want to try
      using <code>xsl:document</code> to implement this. If that goes well, I
      would like to use it for tangling. That would allow me to collapse
      tangling to one rule per document and, more importantly, do the whole
      thing from XSL only.<time datetime="2023-02-08T03:36:50Z"></time>
    </p>
    <p>
      <time datetime="2023-02-08T03:37:54Z"></time>I say more importantly
      because of the glue issue. Things are more portable when they don't
      require two systems glued together. Of course, you get nowhere without
      there being an invocation <em>somewhere</em>. The answer to that riddle in
      this system, is that the <q>regular</q> files are merely ground truths.
      The bootstrapper extracts <em>inference</em> rules from them. They
      masquerade as <q>build</q> rules, but they're logical entailments. The
      inputs are the antecedents, and they mean
      <q>for all X such that X is named Y</q>. (This has nothing to do with
      Tup's <code>foreach</code> rules. It applies to unitary rules too.) The
      process is a function. The outputs are the antecedent. There is no model
      of time or state.<time datetime="2023-02-08T03:42:27Z"></time>
    </p>
    <p>
      <time datetime="2023-02-08T03:46:44Z"></time>Well, I can make my own rules
      that read the documents. The reason this needs a template is that there's
      a many-to-one. For one written-out rule with a fixed set of tokens, you
      end up with one-per-match of something against something much bigger than
      what you notated. It doesn't have to be the writing of multiple rules (as
      is currently the case with tangle); it can also be multiple outputs from a
      single rule.
    </p>
    <p>
      <time datetime="2023-02-08T03:50:05Z"></time>The dirty reality is that
      each diagram will induce two files: a dot file, and an svg file. This is
      dirty in the sense that I don't need those intermediate outputs to be
      materialized <strong>most of the time</strong>. The <code>dot</code> is in
      the source document, and the <code>svg</code> is in the target. I don't
      really need separate copies of them on disk. I would be perfectly
      satisfied with an in-memory representation
      <strong>most of the time</strong>. When something goes wrong, I want to
      see the steps in the process. The system as implemented will materialize
      such intermediate steps all of the time because, well, it's a
      <q>file-based</q> tool.
    </p>
    <p>
      <time datetime="2023-02-08T03:59:43Z"></time>Note that the files in the
      dot directory don't <em>need</em> to come directly from a source document
      verbatim. They could very well be constructed. Indeed, it would be
      interesting to support the construction of dot diagrams using HTML
      elements over some morphism. We'd just need to swap some things. HTML
      elements have tags where ID's should be, if you're looking at it as dot.
      But <code>name</code> and <code>id</code> are designated for this purpose.
      Anyway, generated dot can go into the dot directory, and it will be
      converted to SVG. In fact, I can do that here.<time
        datetime="2023-02-08T04:04:10Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-08T04:05:53Z"></time>Wow. I don't even have
      graphviz installed on this system.<time
        datetime="2023-02-08T04:06Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-08T04:08:28Z"></time>This is reminding me that I
      should not call commands directly, but should wrap them in shell scripts
      so that I can e.g. probe for alternate implementations (as I found earlier
      with <code>wget</code> and <code>curl</code>), and also so that I can
      provide the option of a fallback (say, emit some dummy well-formed
      output), so that you don't necessarily break the entire build for lack of
      some particular tool.<time datetime="2023-02-08T04:10:07Z"></time>
    </p>
    <p>
      <time datetime="2023-02-08T04:11:16Z"></time>But actually I do have it, I
      just forgot the command is called <code>dot</code>.<time
        datetime="2023-02-08T04:11:29Z"
      ></time>
    </p>
    <figure>
      <figcaption>dot's help message</figcaption>
      <!-- prettier-ignore -->
      <pre>Usage: dot [-Vv?] [-(GNE)name=val] [-(KTlso)&lt;val&gt;] &lt;dot files&gt;
(additional options for neato)    [-x] [-n&lt;v&gt;]
(additional options for fdp)      [-L(gO)] [-L(nUCT)&lt;val&gt;]
(additional options for memtest)  [-m&lt;v&gt;]
(additional options for config)  [-cv]

 -V          - Print version and exit
 -v          - Enable verbose mode 
 -Gname=val  - Set graph attribute 'name' to 'val'
 -Nname=val  - Set node attribute 'name' to 'val'
 -Ename=val  - Set edge attribute 'name' to 'val'
 -Tv         - Set output format to 'v'
 -Kv         - Set layout engine to 'v' (overrides default based on command name)
 -lv         - Use external library 'v'
 -ofile      - Write output to 'file'
 -O          - Automatically generate an output filename based on the input filename with a .'format' appended. (Causes all -ofile options to be ignored.) 
 -P          - Internally generate a graph of the current plugins. 
 -q[l]       - Set level of message suppression (=1)
 -s[v]       - Scale input by 'v' (=72)
 -y          - Invert y coordinate in output

 -n[v]       - No layout mode 'v' (=1)
 -x          - Reduce graph

 -Lg         - Don't use grid
 -LO         - Use old attractive force
 -Ln&lt;i&gt;      - Set number of iterations to i
 -LU&lt;i&gt;      - Set unscaled factor to i
 -LC&lt;v&gt;      - Set overlap expansion factor to v
 -LT[*]&lt;v&gt;   - Set temperature (temperature factor) to v

 -m          - Memory test (Observe no growth with top. Kill when done.)
 -m[v]       - Memory test - v iterations.

 -c          - Configure plugins (Writes $prefix/lib/graphviz/config 
               with available plugin information.  Needs write privilege.)
 -?          - Print usage and exit
</pre
        >
    </figure>
    <!-- prettier-ignore -->
    <pre>#!/bin/bash
source="$1"
this_script_dir="$(cd "$(dirname "$0")" &amp;&amp; pwd)"
xsltproc --html "$this_script_dir"/../scripts/write-dots.xsl "$source" \
  2&gt; &gt;(sed '/Tag.*invalid/,+2d' &gt;&amp;2)
        </pre>
    <aside>
      <p>
        <time datetime="2023-02-23T19:51:30Z"></time>That file is no longer
        tangled because it's no longer used.<time
          datetime="2023-02-23T19:51:43Z"
        ></time>
      </p>
    </aside>
    <aside>
      <p>
        <time datetime="2023-02-08T05:33:56Z"></time>It looks like I may have
        hit a snag.
      </p>
      <!-- prettier-ignore -->
      <pre>tup error: Directory '/home/gavin/composition-notebook/graphviz' was created, but not subsequently removed. Only temporary directories can be created by commands.
tup error: Directory '/home/gavin/composition-notebook/graphviz/dot' was created, but not subsequently removed. Only temporary directories can be created by commands.
          </pre>
      <p>
        <time datetime="2023-02-08T05:34:39Z"></time>Actually I suspect I know
        why this is.<time datetime="2023-02-08T05:34:47Z"></time>
      </p>
      <p>
        <time datetime="2023-02-08T05:38:37Z"></time>Yes!!! It works! I had to
        cheat like crazy, but it works!<time
          datetime="2023-02-08T05:41:11Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-08T05:53:40Z"></time>The only thing remaining
        now is to get the diagrams into the woven documents. Such as this.<time
          datetime="2023-02-08T05:54:12Z"
        ></time>
      </p>
      <script type="graphviz:dot" id="source-dot-svg-target">
        digraph {rankdir=LR source -> dot -> svg -> target}
      </script>
      <p>
        <time datetime="2023-02-08T05:56:47Z"></time>I get lucky in this case
        because the files are SVG, so I can open them using the
        <code>document</code> function without having to wrap them
        separately.<time datetime="2023-02-08T06:00:44Z"></time>
      </p>
    </aside>
    <section>
      <h3><time datetime="2023-02-23T03:40:53Z"></time>mapping dot to svg</h3>
      <!-- prettier-ignore -->
      <pre>        &lt;notebook-tuprule
          label="dot to svg"
          input="~/graphviz/dot/*.dot"
          process="cat '%f' | dot -Tsvg &gt; '%o'"
          output="~/graphviz/svg/%B.svg"
        &gt;
          &lt;foreach /&gt;
        &lt;/notebook-tuprule&gt;
</pre>
      <notebook-tuprule
        label="dot to svg %b"
        input="~/graphviz/dot/*.dot"
        process="cat '%f' | dot -Tsvg > '%o'"
        output="~/graphviz/svg/%B.svg"
      >
        <foreach />
      </notebook-tuprule>

      <p>
        <time datetime="2023-02-08T05:48:39Z"></time>That rule is working
        now.<time datetime="2023-02-08T05:49:04Z"></time>
      </p>

      <p>
        <time datetime="2023-02-08T03:56:17Z"></time>Don't be distracted by the
        existence of the files, even though it seems like what you're saying is
        about files because the language begins and ends with files. These are
        logical residuals of a higher-level statement that can be understood
        without once setting foot in a file system.<time
          datetime="2023-02-08T03:57:34Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-08T03:58:59Z"></time>Another thing I keep
        bumping into as I start this, is that I imagined there being an
        abstraction related to graphviz directoy. But as long as it only appears
        in this one rule.
      </p>
      <aside>
        <p>
          <time datetime="2023-02-23T15:12:36Z"></time>I've migrated handing of
          <code>graphviz:dot</code> scripts to a
          <a href="#graphviz-dot-macro">macro</a> and removed the original
          code.<time datetime="2023-02-23T15:14:46Z"></time>
        </p>
      </aside>
      <p>
        <time datetime="2023-02-08T06:06:31Z"></time>Okay, the diagrams are
        appearing in the output now.<time
          datetime="2023-02-08T06:06:48Z"
        ></time>
      </p>
    </section>
    <section id="graphviz-dot-macro">
      <h3>
        <time datetime="2023-02-23T03:41:53Z"></time>Macro to support dot
        scripts
      </h3>
      <p>
        <time datetime="2023-02-23T03:42:04Z"></time>I originally implemented
        this directly in the bootstrapper, before I could define macros from
        documents.
      </p>
      <p>
        <time datetime="2023-02-23T03:42:37Z"></time>Proudly I present this now
        in macro form:<time datetime="2023-02-23T03:42:55Z"></time>
      </p>
      <template>
        <xsl-template
          match="script[@type='graphviz:dot']"
          mode="insert-attributes"
        >
          <!-- DUPLICATED below -->
          <xsl-variable
            name="name"
            select="(ancestor-or-self::*)[@id][last()]/@id"
          />
          <xsl-attribute name="data-tangle-file"
            ><xsl-value-of select="concat('~/graphviz/dot/', $name, '.dot')"
          /></xsl-attribute>
        </xsl-template>

        <xsl-template
          match="script[@type='graphviz:dot']"
          mode="insert-after-end"
        >
          <xsl-variable
            name="name"
            select="(ancestor-or-self::*)[@id][last()]/@id"
          />
          <!-- note that unlike img src, include embeds the content -->
          <!-- TODO: project paths are not supported in include -->
          <div data-include-file="../graphviz/svg/{$name}.svg"></div>
        </xsl-template>
      </template>
    </section>
  </article>

  <article>
    <h1>flip dot scripts<time datetime="2023-01-31T04:52:15Z"></time></h1>
    <p>
      <time datetime="2023-01-31T03:55:45Z"></time>I'm not going to say I would
      <em>mind</em> being able to just write Dot in a block with some
      annotation, even for just the sake of late (client-side) renditions. That
      would imply something like this<time
        datetime="2023-01-31T03:56:50Z"
      ></time>
    </p>
    <pre>
&lt;script type="graphviz:dot"&gt;
digraph { Alice -> Bob -> Catastrophe }
&lt;/script&gt;
      </pre
    >
    <p>
      <time datetime="2023-01-31T05:04:38Z"></time>producing this:<time
        datetime="2023-01-31T05:04:46Z"
      ></time>
    </p>
    <script id="diagram-ABC" type="graphviz:dot">
      digraph { Alice -> Bob -> Catastrophe }
    </script>
    <p>
      <time datetime="2023-01-31T05:06:57Z"></time>One could offer to the globe
      some way of <q>saying</q> that this should be the case: that any script
      block seen by the document at any time, you see where this is going. And
      would we have to listen for the contents, too? I mean, what sort of
      statement would it be otherwise? You want this equivalence or not?<time
        datetime="2023-01-31T05:13:09Z"
      ></time>
      <time datetime="2023-01-31T05:07:25Z"></time>
    </p>
    <script>
      {
        (async function flip_dot_scripts(scope) {
          const viz = (globalThis.viz ??= new Viz());
          const query = `script[type="graphviz:dot"]`;
          const scripts = scope.querySelectorAll(query);
          for (const script of scripts) {
            const code = script.text;
            try {
              const diagram = await viz.renderSVGElement(code);
              script.insertAdjacentElement("beforebegin", diagram);
            } catch (error) {
              globalThis.viz = null;
              console.warn(`flip_dot_scripts says, ${error}`);
            }
          }
        })(document.body);
      }
    </script>
    <p>
      <time datetime="2023-01-31T05:08:50Z"></time>This creates a process, but
      the process model is secondary. What I want to understand is,
      <em>What are the concepts</em> in <code>flip_dot_scripts</code>?
    </p>
    <p>
      <time datetime="2023-01-31T04:48:31Z"></time>This is minimum but not
      viable. I wouldn't put it in my global scope without it being idempotent,
      which this is not.<time datetime="2023-01-31T04:48:58Z"></time>
    </p>
    <p>
      <time datetime="2023-01-31T03:59:06Z"></time>It is also not dynamic. See
      <a href="dom-invariants.html">dom invariants</a>.
      <time datetime="2023-01-31T04:01:30Z"></time>
    </p>

    <p>
      <time datetime="2023-01-31T04:42:45Z"></time>If you want to wrap it in a
      <code>figure</code>, you can. But this requires only
      <code>script[type="graphviz:dot"]</code>. At any rate, if there were a
      qualified name for the language, it should be recognizable in this
      attribute.<time datetime="2023-01-31T04:44:01Z"></time>
    </p>
    <p>
      <time datetime="2023-01-31T04:03:05Z"></time>Then we have to grapple with
      the question of <q>what attributes?</q> But here we have help from RDFa.
      For we have already agreed that it's a <em>concept</em> that we want to
      represent. That we condescend to write it in some notation (Dot in this
      instance), does not mean we are suddenly owned by its worldview, nor that
      its declaring space extends to our declaring space.<time
        datetime="2023-01-31T04:06:32Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-01-31T04:06:34Z"></time>The concept in question here,
      however, does concern the Dot language itself. Because what I want to say
      is, here is some Graphviz code. And let's say that it finds itself inside
      of a <code>figure</code> element? That would be a ground truth from its
      point of view.<time datetime="2023-01-31T04:07:45Z"></time>
    </p>
    <p>
      <time datetime="2023-01-31T04:07:54Z"></time>I want to say,
      <del>this</del>, no, not this. I mean, not a statement
      <em>about the element</em> to which the annotation is affixed. Or any
      other way of saying <q>this</q>, which RDF naturally does not have. RDF's
      viewpoint is the Open World; there can be no default understanding of
      <q>this</q>.<time datetime="2023-01-31T04:10:07Z"></time>
    </p>
    <p>
      <time datetime="2023-01-31T04:10:08Z"></time>I want to say, there exists a
      text. There exists (and I have it right here) a lexical production with
      the datatype
      <a href="https://graphviz.org/doc/info/lang.html"
        >https://graphviz.org/doc/info/lang.html</a
      >. That document being a <em>literate program</em> which describes to the
      humans who find it, the way to understand the accompanying
      production.<time datetime="2023-01-31T04:14:24Z"></time>
    </p>
    <p>
      <time datetime="2023-01-31T04:20:39Z"></time>Okay okay, it's a qualified
      name. But it's not easy to write!! I just wanna say DOT obviously!<time
        datetime="2023-01-31T04:20:58Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-01-31T04:28:56Z"></time>Wait a second. Does Graphviz
      have a Media type? Because you could put it on the <code>type</code> of a
      <code>script</code>, without namespace qualification, and with some native
      semantics. And script text is hidden.<time
        datetime="2023-01-31T04:30:54Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-01-31T04:33:30Z"></time>Apparently an author of
      Graphviz saying that a generic MIME type will do. And that there are
      unresolved fuzzer bugs so please sandbox your
      <a
        href="https://forum.graphviz.org/t/mime-type-for-downloading-dot-files/877"
        >attacker-controlled strings</a
      >.<time datetime="2023-01-31T04:35:25Z"></time>
    </p>
    <p>
      <time datetime="2023-01-31T04:35:43Z"></time>Script with type makes more
      sense. But then, what type? Surely people do this kind of thing
      already.<time datetime="2023-01-31T04:37:52Z"></time>
    </p>
    <p>
      <time datetime="2023-01-31T04:37:59Z"></time>Ultimately, just make
      something up. I could say, recognize <code>graphviz:dot</code> on the
      assumption that this could be retroactively interpreted as a CURIE. It's
      better than declaring the existence of a lexical production. Because I
      wasn't even done—still had to choose a <code>property</code>.<time
        datetime="2023-01-31T04:40:18Z"
      ></time>
    </p>
  </article>
</article>
