<article>
  <h1>header <time datetime="2023-02-26T04:38:13Z"></time></h1>
  <p>
    <time datetime="2023-02-26T04:25:43Z"></time>I want to motivate that the
    pages in the notebook should share a header. You know, literally the oldest
    thing in the history of hypertext preprocessors. Ye olde server-side
    include. Whatever happened to SSI, anyway?
  </p>
  <p>
    <time datetime="2023-02-26T04:27:13Z"></time>PHP is a language that subsumed
    HTML by embedding inside <q>processing instructions</q>.
  </p>
  <p>
    <time datetime="2023-02-26T04:28:43Z"></time>Processing instructions are an
    XML conctruct that did not survive into HTML5:
  </p>
  <blockquote>
    <b>Warning:</b> <code>ProcessingInstruction</code> nodes are only supported
    in XML documents, not in HTML documents. In these, a process instruction
    will be considered as a comment and be represented as a
    <code>Comment</code> object in the tree.
    <cite
      ><a
        href="https://developer.mozilla.org/en-US/docs/Web/API/ProcessingInstruction"
        >ProcessingInstruction</a
      ></cite
    >.
  </blockquote>
  <p>
    <time datetime="2023-02-26T04:34:45Z"></time>That's a boundary line for me.
    HTML5 is not an XML.
  </p>
  <p>
    <time datetime="2023-02-26T04:41:05Z"></time>Anyway, how would we go about
    it in this system?
  </p>
  <p>
    <time datetime="2023-02-26T04:43:53Z"></time>I can say in one place a
    pattern-action that will be matched against every document in this
    directory.
  </p>
  <p>
    <time datetime="2023-02-26T04:49:11Z"></time>I note that the macroexpand
    does not have a way to wrap an element. Can that be done monotonically?
  </p>
  <p><time datetime="2023-02-26T04:49:57Z"></time>Anyway, I can say this:</p>
  <xsl-template match="/*" mode="insert-after-begin">
    <header>HEADER</header>
  </xsl-template>
  <p>
    <time datetime="2023-02-26T04:51:29Z"></time>And, that works. And it's not
    bad at all.
  </p>
  <p>
    <time datetime="2023-02-26T04:51:57Z"></time>Combining this with
    <a href="looking-around.html">:</a>
  </p>
  <xsl-template match="/*" mode="insert-after-begin">
    <header>
      INDEX of .
      <nav data-nav-directory="."></nav>
    </header>
  </xsl-template>
  <p>
    <time datetime="2023-02-26T05:20:48Z"></time>This is not quite like a
    server-side include in that its location is unmarked. I mean, there's no
    <q>include here</q> sign. The inclusion is done <q>remotely</q>, by a
    statement outside of the document.<time
      datetime="2023-02-26T05:25:13Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-02-26T05:26:37Z"></time>Oh, but the one in the header
    isn't working on the other page, either.
  </p>
</article>
