<article>
  <style>
    script,
    style {
      display: block;
      white-space: pre;
      font-family: sans-serif;
    }
  </style>
  <h1>composition notebook <time datetime="2023-01-20T19:37:25Z"></time></h1>
  <header>
    <p>
      if found, apologies from
      <a href="mailto:g@def.codes">g@def.codes</a>
    </p>
    <time datetime="2023-01-20T19:57:48Z"></time>
  </header>
  <p>
    <time datetime="2023-01-20T19:37:36Z"></time> Hello, person. This is a
    research notebook exploring several questions involving human-computer
    interaction on the web.
    <time datetime="2023-01-20T19:38:33Z"></time>
  </p>
  <p>
    <time datetime="2023-01-20T19:39:35Z"></time> This is not my first notebook,
    either physical or virtual, to explore these ideas. I do kinda hope it's my
    last. <time datetime="2023-01-20T19:40:34Z"></time>
  </p>
  <p>
    <time datetime="2023-01-20T19:49:58Z"></time> The goal is to get from here
    to <strong>userspace</strong>.
  </p>
  <section>
    <h2>composition <time datetime="2023-01-20T19:40:57Z"></time></h2>
    <p>
      <time datetime="2023-01-20T19:41:03Z"></time>
      <dfn>Composition</dfn> is putting together. The word <q>composition</q> is
      itself a composition: <code>com</code> + <code>position</code>.
    </p>
    <p>
      <time datetime="2023-01-20T19:43:54Z"></time>
      <em>Putting</em> is not <em>fusing</em>. If I put two things together, I
      can put them apart again. This is called <dfn>decomposition</dfn>, and you
      can't have one without the other.
    </p>
    <p>
      <time datetime="2023-01-20T19:46:21Z"></time> The composition that I've
      done so far is putting together document elements: head, body, main,
      section, heading, paragraphs, and so on.
    </p>
    <p>
      <time datetime="2023-01-20T19:53:16Z"></time> This notebook will bludgeon
      to death the question of composing software models using documents.
      <time datetime="2023-01-20T19:55:53Z"></time>
    </p>
  </section>
  <section>
    <h2>notebook <time datetime="2023-01-20T19:56:05Z"></time></h2>
    <blockquote>
      <p>
        If you haven't got a <em>book</em>, you don't know how the bloody
        <strong>program</strong> works. <br /><cite
          >—Joe Armstrong, <i>The Mess We're In</i>
          <a href="https://www.youtube.com/watch?v=lKXe3HUG2l4&amp;t=11m50s"
            >(YouTube link)</a
          >, <time datetime="2014-09">September 2014</time></cite
        >
      </p>
    </blockquote>
    <p>
      <time datetime="2023-01-20T19:56:09Z"></time> This notebook is a literate
      program. Like most literate programs, it invents its own literate
      programming system.
      <time datetime="2023-01-20T19:59:13Z"></time>
    </p>
    <p>
      <time datetime="2023-01-20T19:59:21Z"></time> That system starts with
      <a href="tup.html">Tup</a>.
    </p>
    <p>
      <time datetime="2023-01-20T20:03:01Z"></time> There's a file called
      <a href="Tupfile.ini"><code>Tupfile.ini</code></a
      >, which is just a marker for Tup in case the <code>.tup</code> directory
      (which is disposable) hasn't already been created.
    </p>
    <p>
      <time datetime="2023-01-20T20:05:40Z"></time> I've written an initial file
      rule in <a href="Tupfile"><code>Tupfile</code></a
      >.
    </p>
    <aside>
      <p>
        <time datetime="2023-01-20T20:10:27Z"></time>
        <code>xsltproc</code> <code></code>
        <time datetime="2023-01-20T20:10:47Z"></time>
        <time datetime="2023-01-20T20:54:30Z"></time> is not going to learn
        about HTML5, that I can see. Despite the <code>--novalid</code> option,
        which supposedly suppresses validation, it emits many (spurious)
        warnings. The command redirects these errors to <code>/dev/null</code>
        <time datetime="2023-01-20T20:56:51Z"></time>
      </p>
    </aside>
    <p>
      <time datetime="2023-01-20T20:06:57Z"></time> And finally, there's a
      transform called
      <a href="compose-html.xsl"><code>compose-html.xsl</code></a
      >.
    </p>
    <aside>
      <p>
        <time datetime="2023-01-22T16:35:20Z"></time> I'm running into a problem
        where it looks like <code>xsltproc</code> is not processing
        <code>CDATA</code> correctly for files in <code>html</code> mode. At
        least I assume it's because of HTML mode because surely it handles CDATA
        correctly in XML. But of course I can't just change these to use XML
        mode because, well, they're not.
        <time datetime="2023-01-22T16:37:19Z"></time> Yeah, that immediately
        fails.
      </p>
      <p>
        <time datetime="2023-01-22T16:53:30Z"></time> Yes, unless I am deeply
        misinformed about how CDATA should work in HTML, then
        <code>xsltproc</code> is just wrong.
        <time datetime="2023-01-22T16:55:34Z"></time> The
        <code>--html</code> flag appears to change the parser rules such that...
        CDATA is ignored. So this input (which I am escaping manually)
      </p>
      <pre>
&lt;pre&gt;
  &lt;![CDATA[
      I am a pre that &lt;b&gt;is&lt;/b&gt; wrapped in CDATA.  If I want to
      say things like &amp;lt;foo&amp;gt;, I must NOT escape that shizz myself.
]]&gt;
&lt;/pre&gt;
</pre
      >
      <p>
        <time datetime="2023-01-22T16:59:15Z"></time> when applied to an
        identity transform, produces the output
      </p>
      <pre>
&lt;pre&gt;
      is wrapped in CDATA.  If I want to
      say things like &amp;lt;foo&amp;gt;, I must NOT escape that shizz myself.
]]&amp;gt;
&lt;/pre&gt;
          </pre
      >
      <p>
        <time datetime="2023-01-22T17:00:25Z"></time> I know. I know. This is
        what I get for using XML and XSLT tools with HTML. But... but...
      </p>
      <p>
        <time datetime="2023-01-22T17:01:43Z"></time> My template is never
        seeing <code>I am a pre that </code> because that bit never makes it to
        the parse tree, because the <code>&lt;b&gt;</code> is somehow being....
        actually I don't understand it. I can't say that it's
        <em>ignoring</em> the CDATA because surely that's not what it would do
        if there were no CDATA there.
      </p>
      <p>
        <time datetime="2023-01-22T17:04:46Z"></time> Confirmed. The same
        <code>pre</code> element without the CDATA transfers just fine.
      </p>
      <p>
        <time datetime="2023-01-22T17:07:22Z"></time> Okay, maybe I am deeply
        misinformed. All authoritative sources are saying that
        <code>CDATA</code> is not a thing in HTML and if seen is treated as a
        comment. So I am wrong for using it in the HTML source.
        <time datetime="2023-01-22T17:09:47Z"></time>
      </p>
      <aside>
        <p>
          <time datetime="2023-01-22T17:15:21Z"></time> Re <q>authoritative</q>:
          <a href="https://dom.spec.whatwg.org/#interface-cdatasection"
            >The spec</a
          >
          doesn't manage to say it in so many words, but
          <a
            href="https://developer.mozilla.org/en-US/docs/Web/API/CDATASection#specifications"
            >MDN notes</a
          >:
          <q
            >CDATA sections should not be used within HTML they are considered
            as comments and not displayed.</q
          >
        </p>
      </aside>
      <p>
        <time datetime="2023-01-22T17:10:16Z"></time> What was throwing me off
        was perhaps that<code>nxml-mode</code> was treating it as if it were
        XML. <time datetime="2023-01-22T17:10:59Z"></time>
      </p>
    </aside>
    <p>
      <time datetime="2023-01-20T20:58:00Z"></time> Oh and there's also a little
      utility script called <a href="go.sh"><code>go.sh</code></a
      >, which runs <code>tup monitor</code>.
    </p>
  </section>
  <section>
    <h2>
      knowledge and composition
      <time datetime="2023-01-21T03:48:04Z"></time>
    </h2>
    <table id="HWxHwZo7">
      <caption>
        the separateness of things
        <time datetime="2023-01-21T04:18:12Z"></time>
      </caption>
      <tbody>
        <tr>
          <td>
            <p>
              <time datetime="2023-01-21T03:48:15Z"></time> How do we put things
              together?
            </p>
            <p>
              <time datetime="2023-01-21T03:51:48Z"></time> Consider that things
              can be created in different places, by different people, at
              different times, with different tools.
            </p>
            <p>
              <time datetime="2023-01-21T03:52:58Z"></time> What makes it
              possible for those things to be brought together and used
              together?
            </p>
          </td>
          <td>
            <figure id="HWxHwZo7-figure">
              <figcaption style="text-align: center">
                things far apart
                <time datetime="2023-01-21T04:24:25Z"></time>
              </figcaption>
              <pre style="font-size: 3em">🔩 🪛</pre>
              <!-- 
                  <pre style="font-size: 3em">🗺                 🧭</pre>
                  <pre style="font-size: 3em">🔌                 🔬</pre>
                  <pre style="font-size: 3em">🕶                 📉</pre>
                  <pre style="font-size: 3em">📯                 🛸</pre>
 -->
            </figure>
          </td>
        </tr>
      </tbody>
    </table>
    <table>
      <caption>
        knowledge as glue
        <time datetime="2023-01-21T03:53:50Z"></time>
      </caption>
      <tbody>
        <tr>
          <td>
            <p>
              <time datetime="2023-01-21T04:28:58Z"></time> My answer to that
              question is, Knowledge. Knowledge allows different things to be
              put together.
            </p>
            <p>
              <time datetime="2023-01-21T04:36:43Z"></time>
              Everything—at least everything artificial—carries with it some
              view of the world. Every tool, every artifact, implies some mental
              model describing a part of the world. A screwdriver implies a kind
              of thing that can be screwed, and
              <i>vice versa</i>.
            </p>
            <p>
              <time datetime="2023-01-21T04:38:51Z"></time> When two things have
              some overlapping worldview, we can compose them. If they don't, we
              can't.
              <time datetime="2023-01-21T04:40:30Z"></time>
            </p>
          </td>
          <td>
            <figure>
              <figcaption>
                knowledge mediates
                <time datetime="2023-01-21T04:30:34Z"></time>
              </figcaption>
            </figure>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <aside>
    <p>
      <time datetime="2023-02-03T20:38:13Z"></time>This nav
      <span
        ><del>should be</del><ins>is</ins
        ><time datetime="2023-02-17T07:21:39Z"></time
      ></span>
      generated from the <code>pages</code> directory.
    </p>
    <p>
      <time datetime="2023-02-18T13:35:40Z"></time>Note that the document that
      includes the generated index is actually in the
      <code>notebook</code> directory. The <code>notebook</code> directory also
      contains the same <code>.html</code> files because of the
      <a href="the_system.html#weaving">weaving</a> rule.<time
        datetime="2023-02-18T13:38:58Z"
      ></time>
    </p>
    <aside>
      <p>
        <time datetime="2023-02-18T16:50:48Z"></time>I <em>could</em> ask tup to
        directly report <code>notebook/*.html</code> instead, but I believe that
        would require a <code>preload</code> directive, which you can't do in a
        literate style. (Meaning, you can't emit it from a run script, so it
        would have to be hardcoded in a Tupfile, and thus not colocated with the
        relevant document.)
      </p>
      <p>
        <time datetime="2023-02-18T16:53:00Z"></time>Actually if I try changing
        the rule to that now, I get
      </p>
      <!-- prettier-ignore -->
      <pre>tup error: Command ID 74387 both reads from and writes to this group: pages/&lt;default&gt;
 - [74387] pages/[../program/list-to-xml.sh ../notebook/constructive-dialog.html ../notebook/dom-invariants.html ../notebook/get-history.html ../notebook/get-resource-from-internet.html ../notebook/graph-interpreters.html ../notebook/graphviz.html ../notebook/index.html ../notebook/qr-codes.html ../notebook/rulers.html ../notebook/the_system.html ../notebook/time-perspectives.html ../notebook/timespaces.html ../notebook/transclusion.html ../notebook/tup.html ../notebook/wikipedia-interop.html ../notebook/xsltproc.html | ../program/xslt.sh ../scripts/list-to-nav.xsl - > '../doc/toc.html']
        </pre>
      <p>
        <time datetime="2023-02-18T16:55:13Z"></time>If I add
        <code>group="pages"</code> to the above group, then Tup executes a bunch
        of commands but then terminates with:
      </p>
      <!-- prettier-ignore -->
      <pre>fatal tup error: Graph is not empty after execution. This likely indicates a circular dependency. See the dumped dependency graph for the dependency structure.
tup: saving graph '.tup/tmp/graph-full-2085293.dot'
tup: saving graph '.tup/tmp/graph-trimmed-2085293.dot'
        </pre>
      <p>
        <time datetime="2023-02-18T16:57:45Z"></time>The <q>trimmed</q> graph
        looks like this:
      </p>
      <img src="../snapshots/2023-02-18-circular-graph.svg" />
      <p>
        <time datetime="2023-02-18T16:59:57Z"></time>What does this signify?
        Well, I don't know what that boxed command (<code>74387</code>) is.
      </p>
      <p>
        <time datetime="2023-02-18T17:01:38Z"></time>Of course, there is some
        surface circularity, in that you're saying,
        <q
          >while producing this file in the <code>notebook</code> directory,
          list all of the files in the <code>notebook</code> directory.</q
        >
        But the circularity is only apparent: the rule only <em>lists</em> the
        files, doesn't actually read them. So nothing that happens in the
        creation of <code>notebook/index.html</code> could affect the result of
        listing the files. But from Tup's point of view—even though it traces
        all reads and writes—the file is a declared input to the command, so the
        command <em>could</em> read from it if it wanted to, which would indeed
        be circular.<time datetime="2023-02-18T17:04:02Z"></time>
      </p>
    </aside>
  </aside>
  <article>
    <p>
      <time datetime="2023-02-15T06:53:26Z"></time>TIL:
      <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/contain"
        ><code>contain</code></a
      >
    </p>
  </article>
  <article>
    <h2>
      <time datetime="2023-02-03T21:17:14Z"></time>JavaScript from XSLT in the
      browser?
    </h2>
    <p>
      <time datetime="2023-02-03T21:17:26Z"></time>I need to try
      <a href="https://stackoverflow.com/a/31044445">this</a>.
    </p>
    <p>
      <time datetime="2023-02-03T21:17:59Z"></time>At the same time, there
      doesn't seem to be a way to override the <code>document()</code> resolver
      (as you can do in .NET).<time datetime="2023-02-03T21:18:21Z"></time>
    </p>
  </article>
  <article>
    <h2>
      <time datetime="2023-02-03T17:35:40Z"></time>starting to come together
    </h2>
    <p>
      <time datetime="2023-02-03T17:35:47Z"></time>Gradually I am creating a
      <a href="system.html">system</a> here. It's a little too early to start
      documenting it systematically, since I'm still figuring out some of the
      basics. But overall, it's turning into something.<time
        datetime="2023-02-03T17:37:34Z"
      ></time>
    </p>
  </article>
  <article id="the-project-directory">
    <h2><time datetime="2023-02-03T18:28:24Z"></time>the project directory</h2>
    <p>
      <time datetime="2023-02-03T18:28:54Z"></time>I must confess to the reality
      that this project is just a bunch of files. Well, it's a bunch of files
      plus some ideas in my head. But I can't prove that those ideas exist.
      Hence the files.<time datetime="2023-02-03T18:30:37Z"></time>
    </p>
    <figure>
      <figcaption>
        <a href="..">the project directory</a
        ><time datetime="2023-02-03T18:43:20Z"></time>
      </figcaption>
      <iframe src=".." />
    </figure>
    <p>
      <time datetime="2023-02-03T18:31:28Z"></time>A file system is a way of
      organizing a bunch of bytes. I'd say a <q>sequence</q> of bytes, but in
      some sense when you start splitting that sequence into files, you're
      admitting that the whole thing is in no particular order. At least, I
      can't dictate the order in which you look at the files.<time
        datetime="2023-02-03T18:33:28Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-03T18:33:31Z"></time>We all have our reasons for
      splitting things into files, and then grouping those files into
      directories, and so on. Most of the time, these are <em>informal</em>
      decisions. It's of little consequence whether I call something
      <code>2023 taxes</code> or <code>taxes-2023</code> or <code>IRS</code> or
      whatever. The name is only there for my future reference.<time
        datetime="2023-02-03T18:38:46Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-03T18:38:49Z"></time>This project is more formal
      than that. The organization of the files <em>means</em> something,
      something beyond just an informational reference. Files and directories
      are used to some <em>effect</em>, which I will discuss at length.<time
        datetime="2023-02-03T18:45:47Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-03T18:45:50Z"></time>There are two kinds of file
      in this project:<time datetime="2023-02-03T18:46:09Z"></time>
    </p>
    <dl>
      <div>
        <dt>ground</dt>
        <dd>
          a.k.a. ground truths, a.k.a. givens. In
          <a href="tup.html">Tup</a> parlance, they are <q>regular</q> files.
        </dd>
      </div>
      <div>
        <dt>inferred</dt>
        <dd>
          a.k.a. derived, computed. In Tup parlance, these are
          <q>generated</q> files.
        </dd>
      </div>
      <!-- prettier-ignore -->
      <script type="graphviz:dot">
digraph {
  subgraph cluster_ground {
    label="ground"
    a b c
  }
  subgraph cluster_derived {
    label="derived"
    w x y z
  }
  a -> x
  b -> y
  {b,c} -> z
}
        </script>
      <p>
        <time datetime="2023-02-03T18:49:03Z"></time>A word about meaning. When
        I say that <var>X</var> <dfn>means</dfn> something, generally I mean
        that by knowing <var>X</var>, you can also know <var>Y</var>. The
        <q>meaning</q> of <var>X</var> is <var>Y</var>.
      </p>
      <p>
        <time datetime="2023-02-03T18:51:22Z"></time>So what does it
        <em>mean</em> for something to be a ground file <i>versus</i> an
        inferred file? If you know that something is a ground file then, you can
        also know that it's safe to edit, and that it <q>belongs</q> to the
        project's basic distribution, i.e. that it should be <q>committed</q> to
        the repository. Conversely, a derived file is <strong>not</strong> safe
        to edit (your edits will be overwritten), and it should
        <strong>not</strong> be checked into source control.<time
          datetime="2023-02-03T18:53:49Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-03T18:54:28Z"></time>For better or worse, there
        is no way to tell the difference between a generated file and an
        inferred file. Once you are running
        <a href="the_system.html">the system</a>, the project directory will
        contain a mixture of both kinds.<time
          datetime="2023-02-03T18:57:04Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-03T18:58:25Z"></time>One other final note before
        I describe the actual project organization. This thing is designed to
        grow. It's not enough for it to work now, or to be understandable now.
        It must tolerate expansion. The files will get bigger, and there will be
        more of them. At a minimum, the project should continue to work well
        (exhibit the desired properties) in the face of the expected modes of
        growth. Since this is a notebook, it will grow at a human scale. That
        is, it will grow linearly based on the amount of time that one person
        (me) devotes to it. In other word, I don't expect it to become 1,000
        times bigger overnight.<time datetime="2023-02-03T19:02:16Z"></time>
      </p>
      <p>
        <time datetime="2023-02-03T19:19:02Z"></time>Let's start with a couple
        of rules.
      </p>
      <ul>
        <li>
          <time datetime="2023-02-03T19:20:21Z"></time>
          <p>
            <time datetime="2023-02-03T19:16:26Z"></time>Don't mix regular and
            generated files in the same directory. It's possible for a directory
            to contain a mix of both kinds of file. However, it's not a good
            idea. It is simpler to reason about directories than about
            individual files. If you know that a file is regular or generated,
            then you know that all of its siblings are the same kind.<time
              datetime="2023-02-03T19:22:48Z"
            ></time>
          </p>
          <p>
            <time datetime="2023-02-03T19:20:30Z"></time>I don't currently have
            a way to make such a rule. I could detect the situation by asking
            Tup or its database. But for now, it is just a convention.<time
              datetime="2023-02-03T19:20:34Z"
            ></time>
          </p>
        </li>
        <li>
          <p>
            <time datetime="2023-02-03T19:23:08Z"></time>For similar reasons,
            the same should apply for directories: a directory should contain
            only directories of the same kind. Subdirectories under a regular
            directory are also regular, and the same goes for generated ones.
            The necessary exception to this is the root directory, which is
            naturally regular. It alone can contain a mix of regular and
            generated directories. This is the top-level structure which I'll
            describe in a moment<time datetime="2023-02-03T19:26:07Z"></time>
          </p>
        </li>
        <li>
          <p>
            <time datetime="2023-02-03T19:26:43Z"></time>Finally, to minimize
            mixing, the root directory should not contain generated files.<time
              datetime="2023-02-03T19:27:11Z"
            ></time>
          </p>
        </li>
      </ul>
      <p>
        <time datetime="2023-02-03T19:27:44Z"></time>With that, we can describe
        the system at a high level by just describing the regular directories
        directly contained by the project directory.<time
          datetime="2023-02-03T19:28:30Z"
        ></time>
      </p>
      <dl>
        <div>
          <dt><a href="../bootstrap">bootstrap</a></dt>
          <dd>
            the files that make it possible for everything else to live in
            documents
          </dd>
        </div>
        <div>
          <dt><a href="../pages">pages</a></dt>
          <dd>the source (HTML) documents</dd>
        </div>
        <div>
          <dt><a href="../snapshots">snapshots</a></dt>
          <dd>derived things that we cache as an optimization</dd>
        </div>
        <div>
          <dt><a href="../scripts">scripts</a></dt>
          <dd>
            A temporary place for scripts that haven't been absorbed into
            documents
          </dd>
        </div>
      </dl>
      <p>
        <time datetime="2023-02-03T19:32:38Z"></time>Perhaps a third category
        would be <q>hidden</q> directories. When you check out the code from its
        source (currently on on Gitlab at
        <a href="https://gitlab.com/gavinpc/composition-notebook"
          >gavinpc/composition-notebook</a
        >), you'll have a <code>.git</code> directory, which is managed by Git
        and ignored by most things. Likewise, when you start
        <a href="the_system.html">the system</a>, you'll have a
        <code>.tup</code> directory, which is managed by
        <a href="tup.html">Tup</a> and generally also ignored.<time
          datetime="2023-02-03T19:35:17Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-03T20:08:34Z"></time>Everything else is a
        derived file. Derived files are <q>throwaway</q> files insofar as they
        can be re-created. Indeed, they are re-created all the time while
        someone's working on the project.<time
          datetime="2023-02-03T20:10:57Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-03T20:11:30Z"></time>The computations done in
        this project are expected to be deterministic. This raises an
        interesting information-theoretic point. If the derived files can be
        thrown away, then the total amount of knowledge in the project cannot be
        greater than what is in the project directory as distributed, plus the
        minimal knowledge needed to interpret it.<time
          datetime="2023-02-03T20:15:44Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-03T20:15:46Z"></time>In practice, the
        <q>knowledge needed to interpret it</q> is an unbounded amount in that
        processing can involve fetching things from the Internet. Still, the
        notebook itself is more concerned with knowledge <em>about</em> those
        resources, like how to build things out of them. So in a real sense, the
        amount of knowledge is not increased by the addition of derived files,
        no matter how large they may become.<time
          datetime="2023-02-03T20:18:33Z"
        ></time>
      </p>
    </dl>
  </article>
  <article>
    <h2>graphviz support<time datetime="2023-02-03T19:05:47Z"></time></h2>
    <aside>
      <p>
        <time datetime="2023-02-03T19:03:36Z"></time>I COPIED the following
        script from <a href="graphviz.html">graphviz</a> so that I could use
        diagrams in this document. I'm still determining the best way to share
        this and similar things across documents.<time
          datetime="2023-02-03T19:06:35Z"
        ></time>
      </p>
    </aside>
    <script src="vendor/viz.js"></script>
    <script src="vendor/viz.lite.render.js"></script>
    <script>
      {
        (async function flip_dot_scripts(scope) {
          const viz = (globalThis.viz ??= new Viz());
          const query = `script[type="graphviz:dot"]`;
          const scripts = scope.querySelectorAll(query);
          for (const script of scripts) {
            const code = script.text;
            try {
              const diagram = await viz.renderSVGElement(code);
              script.insertAdjacentElement("beforebegin", diagram);
            } catch (error) {
              globalThis.viz = null;
              console.warn(`flip_dot_scripts says, “${error}”`);
            }
          }
        })(document.body);
      }
    </script>
  </article>
  <article>
    <h2><time datetime="2023-02-03T17:39:29Z"></time>system reflection</h2>
  </article>
  <article>
    <h2>
      and <em>that</em> is why we need Eddie van Halen
      <time datetime="2023-01-21T18:34:46Z"></time>
    </h2>
    <p>
      <time datetime="2023-01-21T18:35:08Z"></time> I am going in circles again.
    </p>
    <p>
      <time datetime="2023-01-21T18:35:24Z"></time> I have been trying to
      <q>get to the bottom of</q> this, whatever this is, for years. All the
      things that seem to be at the bottom, have something underneath them.
      Let's consider each of them.
    </p>
    <section>
      <h3>the knowledge base <time datetime="2023-01-21T18:56:39Z"></time></h3>
      <p>
        <time datetime="2023-01-21T18:36:23Z"></time> I decided long ago that I
        believe RDF should be the <i>lingua franca</i> of software. I have made
        the argument over and over again that it is logically inevitable. Here
        is the short version. Anything that you can say in any format, RDF can
        say more descriptively. Proof: given any text <var>T</var> in any
        language <var>L</var>, you submit that this is the ultimate expression
        of some concept <var>C</var>. I observe that for all such submissions,
        there exists an RDF graph saying that <var>T</var> is a text in language
        <var>L</var>, which covers what <var>T</var> accomplishes. It also
        covers something that <var>T</var> doesn't generally accomplish by
        itself, which is to tell that it may be interpreted via language
        <var>L</var>. Furthermore, the graph may also say that the
        interpretation of <var>T</var> under <var>L</var> expresses the concept
        <var>C</var>. The graph may give any amount of description for machines
        or humans as to <var>T</var>'s provenance, history, design, properties,
        etc, which are not possible to include with <var>T</var> for all choices
        of <var>L</var>. Using common annotations, you can do all of this
        without any prior knowledge of RDF:
      </p>
      <pre datatype="text/turtle">
@prefix wiki: &lt;https://en.wikipedia.org/wiki/>.
@prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#>.
@prefix rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#>.
@prefix perl: &lt;http://perl.org/lang/>.

[] a wiki:Computer_Program ; rdfs:comment """

This is a Perl program.  It does something we'll call “C”, which is...

To run it, give it to a Perl interpreter.

To get a Perl interpreter...

"""; rdf:value """
...blah blah blah write-only code here...
"""^^perl:v5
</pre
      >
      <p>
        <time datetime="2023-01-21T18:55:06Z"></time> This is a trivial proof.
      </p>
      <p>
        <time datetime="2023-01-21T19:16:00Z"></time> Note that this would be
        effectively human-readable in any RDF serialization, with no reliance on
        syntax-level comments (which may not be preserved).
        <time datetime="2023-01-21T19:17:24Z"></time>
      </p>
      <aside>
        <p>
          <time datetime="2023-01-21T19:14:07Z"></time> (Yes, I made up the
          <code>perl</code> namespace for illustration.)
          <time datetime="2023-01-21T19:14:18Z"></time>
        </p>
      </aside>
      <p>
        <time datetime="2023-01-21T18:59:10Z"></time> The alternative to
        exchanging self-descriptive things is, well, what we do now. We rely on
        out-of-band information to tell us what something is. That information
        is not always available. Like, what's <code>IMG29872343.JPG</code> a
        picture of? Well, I guess I better open it to find out. This might be
        fine for inert media like pictures and video. It becomes less clear for
        things that might have some <q>behavior</q>. But I digress.
        <time datetime="2023-01-21T19:04:10Z"></time>
      </p>
      <p>
        <time datetime="2023-01-21T19:04:11Z"></time> The point here is, I am
        convinced that a ubiquitous knowledge base must be at the center of any
        viable userspace.
      </p>
      <p>
        <time datetime="2023-01-21T19:04:46Z"></time> Okay, so what's the user
        interface for RDF?
      </p>
      <p>
        <time datetime="2023-01-21T19:06:13Z"></time> Well, that's the thing.
        There isn't one. HTML documents have a user interface, known as web
        browsers. Files and directories have a user interface, which go by
        various names
        <ins
          >(Explorer, Nautilus, Finder, etc)
          <time datetime="2023-01-26T17:44:53Z"></time> </ins
        >but are present on all systems. But knowledge graphs have no official
        human interface. In a sense, that's what I aim to create. When I say
        <q>userspace</q>, I mean, a human interface to a ubiquitous knowledge
        base.
        <time datetime="2023-01-21T19:09:32Z"></time>
      </p>
      <p>
        <time datetime="2023-01-21T19:11:04Z"></time> That's all fine, but it
        means that the <strong>knowledge base</strong> can't be at the bottom,
        because I have to build the things to support it. And that will require
        some invention because, well, a machine interface for RDF isn't quite
        ubiquitous, either.
        <time datetime="2023-01-21T19:12:18Z"></time>
      </p>
    </section>
    <section>
      <h3>the interpreter <time datetime="2023-01-21T19:18:04Z"></time></h3>
      <p>
        <time datetime="2023-01-21T19:18:07Z"></time> I am talking here about a
        knowledge graph interpreter. So it would seem like this depends on the
        knowledge base, but it ain't necessarily so.
      </p>
      <p>
        <time datetime="2023-01-21T19:18:33Z"></time> The interpreter requires
        only a stream of triples representing assertions. It can also accept a
        stream of retractions, which supports non-monotonic interpretation. The
        current version requires a simple <code>match</code> operation, though
        this is kind of an implementation detail and it could provide this
        itself.
      </p>
      <p>
        <time datetime="2023-01-21T19:22:03Z"></time> More importantly, the
        interpreter introduces a notion of <q>drivers</q>, which provide the
        actual functionality. That is, drivers do the actual interpretation by
        adapting truth assertions to host capabilities . They generally don't
        take other dependencies on the knowledge base.
        <time datetime="2023-01-21T19:26:10Z"></time>
      </p>
    </section>
    <section>
      <h3>the process model <time datetime="2023-01-21T19:12:37Z"></time></h3>
      <p>
        <time datetime="2023-01-21T21:06:35Z"></time> Important facts about a
        process model:
      </p>
      <ul>
        <li>
          <time datetime="2023-01-21T21:08:35Z"></time> You can initiate a
          process by describing it.
        </li>
        <li>
          <time datetime="2023-01-21T21:07:34Z"></time> You can ask what
          processes are alive.
        </li>
        <li>
          <time datetime="2023-01-21T21:10:28Z"></time> You can stop a process
          by identifying it.
        </li>
        <li>
          <time datetime="2023-01-21T21:08:11Z"></time> In the browser, don'a
          process cannot hog the UI thread. This means some pretty serious
          restrictions on how we describe work.
        </li>
      </ul>
      <section>
        <h4>
          the interpreter's process model
          <time datetime="2023-01-21T21:07:18Z"></time>
        </h4>
        <p>
          <time datetime="2023-01-21T20:57:51Z"></time> The interpreter has a
          simple process model of its own:
        </p>
        <ul>
          <li>
            <time datetime="2023-01-21T20:58:32Z"></time> The interpreter
            receives an assertion or a retraction. These facts can be regarded
            as an event stream, but there is no stream abstraction, just an API.
            So whoever is providing the assertions, and indeed whoever created
            the interpreter in the first place, has to bring its own process
            model.
          </li>
          <li>
            <time datetime="2023-01-21T21:00:10Z"></time> Reactions to facts are
            all synchronous, at least as far as the interpreter is concerned.
            That is, there is no waiting for a driver to complete any work
            before changing interpreter state. Drivers are notified of changes
            to facts and expected to do whatever they need to do.
          </li>
          <li>
            <time datetime="2023-01-21T21:02:18Z"></time> Drivers (meaning
            instances) can communicate with other drivers (meaning other
            instances) by way of relations that are asserted between them.
          </li>
          <li>
            <time datetime="2023-01-21T21:01:54Z"></time> Drivers can
            <q>invalidate</q> themselves at any point, meaning that related
            things will get a new object to represent the thing.
          </li>
        </ul>
      </section>
    </section>
  </article>
  <article>
    <h2>my dilemma <time datetime="2023-01-21T04:54:29Z"></time></h2>
    <p>
      <time datetime="2023-01-21T04:54:35Z"></time> My dilemma in making this
      notebook is that I am used to programming the <q>old-fashioned way</q>,
      and tend to be drawn into that. Indeed, I have no other way of getting
      anything done at the moment. I created a JavaScript-based RDF dataset
      interface with an interpreter, which would operate on descriptions of
      things, and which could interpret graphs differentially and
      non-monotonically. I mean it is pretty cool. There was some logical
      entailment using forward chaining, but it could tap into more powerful
      engines through some common interface. Etc.
    </p>
    <p>
      <time datetime="2023-01-21T04:57:46Z"></time> The problem with that for my
      immediate purposes is that it has only a JavaScript interface. So it's no
      use to me at all in userspace, until I can construct descriptions of
      things here. So I see no point “previving” it when it isn't called for.
    </p>
    <p>
      <time datetime="2023-01-21T04:58:52Z"></time> The question of how to
      construct representations from userland, though, that remains.
    </p>
    <p>
      <time datetime="2023-01-21T04:59:47Z"></time> This must be where the chat
      dialog and recognizers come in. I mean, I don't want concepts that don't
      have a conversational interface. At least insofar as being able to
      recognize some constructions (of their dialect) in text. These could be
      more or less suited to both speech and otherwise-encoded text.
      <time datetime="2023-01-21T05:01:41Z"></time>
    </p>
    <p>
      <time datetime="2023-01-21T05:02:06Z"></time> All of this implies that the
      chat is the user-facing interface to the knowledge base. The chat can be
      used in both formal and semi-formal ways by recognizing and interpreting
      both <q>code</q> and spoken language.
    </p>
    <p>
      <time datetime="2023-01-21T05:03:16Z"></time> Of course, these should be
      standard practices. The concepts of
      <del>such <time datetime="2023-01-21T18:15:05Z"></time></del>descriptive
      programming
      <del>systems <time datetime="2023-01-21T18:15:17Z"></time></del>go back
      for generations and were explored in systems across the USA.
    </p>
    <p>
      <time datetime="2023-01-21T05:05:21Z"></time>Logical assertion has never
      quite become the <i>lingua franca</i> of computing. Expressions for
      machine consumption mostly range from the imperative to the informative.
      <time datetime="2023-01-21T05:10:50Z"></time>
    </p>
    <p>
      <time datetime="2023-01-21T05:11:06Z"></time> Okay, so we have to have
      recognizers. Recognizers are the kind of function that could use the
      def.codes API, since they would be wont to return descriptions with RDF
      I/O.
    </p>
    <p>
      <time datetime="2023-01-21T05:13:05Z"></time> But it is also easy to
      create ad-hoc terminologies and use them without much baggage. And to
      author descriptions only required serializable objects.<time
        datetime="2023-01-21T05:13:55Z"
      ></time>
    </p>

    <script>
      const eval2 = eval;

      function minimum_viable_interpret(message) {
        try {
          return [eval2(message)];
        } catch (error) {
          return `Error.  ${error}`;
        }
      }

      async function minimum_viable_ripl({ read, interpret, print, prompt }) {
        while (true) print(await interpret(await read(prompt)));
      }
      minimum_viable_ripl.comment = `‘prompt’ is anything you want passed to reader.`;

      async function minimum_viable_read(dialog = document.body) {
        let form = dialog.appendChild(
          dialog.ownerDocument.createElement("form")
        );
        return new Promise(resolve => {
          form.innerHTML = `<input />`;
          form.onsubmit = event => {
            event.preventDefault();
            resolve(form.querySelector("input").value);
          };
        });
      }

      const make_minimum_viable_print =
        (output = document.createElement("output")) =>
        unknown => {
          output.append(unknown);
        };

      function minimum_viable_dom_ripl(how) {
        let prompt = how.prompt ?? document.createElement("dialog");
        let output;
        return {
          prompt,
          ripl: minimum_viable_ripl({
            read: minimum_viable_read,
            interpret: minimum_viable_interpret,
            print(results) {
              const form = prompt.querySelector(`:scope > form:last-of-type`);
              const container = form ?? prompt;
              const output = container.ownerDocument.createElement("output");
              output.append(...results);
              container.append(output);
            },
            prompt,
            ...how,
          }),
        };
      }
    </script>
    <p>
      <time datetime="2023-01-21T06:14:16Z"></time> I am mainly interested in
      keeping the process model simple. But this loop is a little too simple.
      You need to do the trampolining in order to retain visibility into the
      process and control over it. I mean, you can tell it to stop by yielding
      it a signal value.
    </p>
    <p>
      <time datetime="2023-01-21T06:16:59Z"></time> Still, let's see if that one
      works
    </p>
    <script>
      {
        const it = minimum_viable_dom_ripl({});
        const dialog = it.prompt;
        dialog.show();
        document.body.prepend(dialog);
      }
    </script>
    <p>
      <time datetime="2023-01-21T05:14:15Z"></time> The proposed program... I
      <a href="chatgpc.html">wrote one already</a>. The knowledge base must be
      the clearinghouse for recognizers. So what is the entrypoint into the
      knowledge base?
    </p>
    <p>
      <time datetime="2023-01-21T05:15:32Z"></time> For the provider of the
      program,
    </p>
    <p>
      <time datetime="2023-01-21T05:54:49Z"></time> Recognizers are
      constructors. They make formal descriptions from text.
    </p>
    <p>
      <time datetime="2023-01-21T05:57:44Z"></time> Labelers are...
      representers? With a labeler, you can report some things from the
      knowledge base.
    </p>
    <p>
      <time datetime="2023-01-21T05:31:53Z"></time> So recognizers and labelers
      are the natural language I/O for RDF. The ones used here will be very
      low-tech. The concept of interest is how the answers in a REPL can be both
      machine and human readable.
      <time datetime="2023-01-21T05:35:26Z"></time>
    </p>
    <p>
      <time datetime="2023-01-21T05:35:42Z"></time> Without an all-out API, how
      do we register recognizers and labelers who want to be in the loop?
    </p>
    <p>
      <time datetime="2023-01-21T05:37:05Z"></time> Synchronous recognizers are
      much easier to implement. Some kinds of recognizers must be asynchronous
      (say, to query a service). That's a future scope.
    </p>
    <p>
      <time datetime="2023-01-21T05:40:39Z"></time> Conversational interface
      introduces the concepts of an input from the user <em>to the system</em>.
      Conversation directly addresses the <q>mind</q> of the machine.
    </p>
    <p>
      <time datetime="2023-01-21T06:45:55Z"></time> You need the concepts of
      utterance so that you can say
      <q>The person uttered X, and I recognized Y and Z.</q>. If you can't say
      it, you can't know it. And the system should of course <em>know</em> that
      you said X, and that it recognized Y and Z. That involves making
      statements about X, which is an utterance.
    </p>
    <p>
      <time datetime="2023-01-21T06:48:44Z"></time> I mean the thing about it is
      that anyone can write one of these.
    </p>
  </article>
</article>
