<article>
  <h1>looking around <time datetime="2023-02-26T04:25:06Z"></time></h1>
  <p>
    <time datetime="2023-02-26T04:25:20Z"></time>Specifically, looking around in
    the file system.
  </p>
  <p>
    <time datetime="2023-02-25T04:55:14Z"></time>We may think of a document as
    floating out in the universe.
  </p>
  <p>
    <time datetime="2023-02-25T04:56:15Z"></time>Floating out in the universe as
    in, existing in no particular location, but definitely existing.
  </p>
  <p>
    <time datetime="2023-02-25T04:57:02Z"></time>In no
    <em>particular</em> location.
  </p>
  <p>
    <time datetime="2023-02-25T05:59:35Z"></time>There's not much in the
    computer that we can call reality.
  </p>
  <p>
    <time datetime="2023-02-25T06:00:11Z"></time>But a <em>file system</em> is
    kind of real, right?
  </p>
  <p>
    <time datetime="2023-02-25T06:01:00Z"></time>I mean, suppose you looked
    around and saw files and directories—the kinds of things that live in a file
    system. You could say that you were, you know, <q>located</q> there, right?
    Because you looked around and saw those things.
  </p>
  <p>
    <time datetime="2023-02-25T05:54:21Z"></time>So I write an element that says
    <code>data-nav-directory="."</code> and it includes a bunch of
    <code>a</code>'s with relative <code>href</code>'s.
  </p>
  <p>
    <time datetime="2023-02-25T05:56:59Z"></time>In other words something like
    this:
  </p>
  <nav data-nav-directory="."></nav>

  <!-- prettier-ignore -->
  <pre data-tangle-file="~/program/nav-a.sh">#!/bin/bash
echo "&lt;nav&gt;"
for href in "$@"; do
  echo "&lt;a href=\"$href\"&gt;$href&lt;/a&gt;"
done
echo "&lt;/nav&gt;"
</pre>
  <xsl-template match="*[@data-nav-directory]" mode="insert-after-begin">
    <xsl-variable name="path" select="@data-nav-directory" />
    <p>
      Directory of <code><xsl-value-of select="$path" /></code>
    </p>
    <output data-include-file="../dir/articles.html"></output>
    <notebook-tuprule
      input="* ^dir.html"
      extra-input="~/program/nav-a.sh"
      process="$(ROOT)/program/nav-a.sh %f > '%o'"
      output="~/dir/%d.html"
    />
  </xsl-template>
  <aside>
    <p>
      <time datetime="2023-02-25T06:29:15Z"></time>Interesting. I can produce
      what looks like a bug. If I remove this rule, the build works, then if I
      restore it, it still works. But on the <em>next build</em>, even without
      changing the rule, Tup will say:
    </p>
    <!-- prettier-ignore -->
    <pre>tup error: Missing input dependency - a file was read from, and was not specified as an input link for the command. This is an issue because the file was created from another command, and without the input link the commands may execute out of order. You should add this file as an input, since it is possible this could randomly break in the future.
 - [145319] pages/dir.html
</pre>
    <p>
      <time datetime="2023-02-25T06:30:40Z"></time>This is a tricky case. What's
      happening is that I'm reading the <em>list</em> of files in this
      directory. That makes at least the existence of the files an input to the
      command. Tup must consider this <q>reading from</q> the file in some
      sense. Anyway, when I remove the rule, then <code>dir.html</code> stops
      being created, and is in fact removed, since it was the output of the rule
      I removed.
    </p>
    <p>
      <time datetime="2023-02-25T06:32:19Z"></time>When I restore the rule, I
      once again produce <code>dir.html</code>, based on the contents of the
      directory <em>as it was seen</em> at the beginning of the command. Tup
      records all of the files in the directory at that time as being inputs to
      the command.
    </p>
    <p>
      The next time I make an edit, however, the directory's contents are read
      again, and now the list includes <code>dir.html</code>.
    </p>
    <p>
      <time datetime="2023-02-25T06:37:08Z"></time>I still don't quite get it
      actually, unless '%f' is re-expanded in the context of that command again,
      even though its previous results were recorded.
    </p>
    <p>
      <time datetime="2023-02-25T06:38:20Z"></time>Anyway, yeah it's circular to
      say that a file (in this case <code>dir.html</code>) is both upstream and
      downstream from the directory's contents. And somehow yet not logically
      inconsistent.
    </p>
    <aside>
      <p>
        <time datetime="2023-02-25T06:44:43Z"></time>I did not know about Tup's
        dependency exclusion clauses.
      </p>
    </aside>
    <p>
      <time datetime="2023-02-25T06:46:48Z"></time>I don't like writing to the
      <q>current</q> directory anyway. The current directory is a source
      directory, and I don't like mixing.
    </p>
    <p>
      <time datetime="2023-02-25T06:47:39Z"></time>I can still
      <em>ask</em> about the current directory. I just can't
      <q>write the result</q> there. The need for a file is an artifact of the
      build system™.
    </p>
    <p>
      <time datetime="2023-02-25T06:49:39Z"></time>Related, if I have more than
      one thing asking for a listing of the same directory, how would I avoid
      those rules colliding? As they would if they both tried to write to the
      file.
    </p>
    <p>
      <time datetime="2023-02-25T07:09:00Z"></time>Instead of relative paths,
      you can use project-rooted paths. But then you're back to the same
      question: <q>what paths</q>? That's the whole question you were trying to
      answer here!<time datetime="2023-02-25T07:10:13Z"></time>
    </p>
  </aside>
  <p>
    <time datetime="2023-02-25T07:19:37Z"></time>Anyway, what use are these
    links? What use is this knowledge?<time
      datetime="2023-02-25T07:20:33Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-02-26T04:52:57Z"></time>It is good for exploring
    individual pages of a notebook without losing sight of the other pages.
  </p>
  <aside>
    <p>
      <time datetime="2023-02-26T04:53:45Z"></time>Does the insertion of the
      header in the same manner across the array of pages imply that it is the
      <q>same thing</q> in all those cases? That we don't think of them as
      distinct instances of the header, on which one might scribble, and not
      expect that scribble to persist? This is the kind of junk I think about.
    </p>
  </aside>
  <article>
    <h1><time datetime="2023-02-16T05:36:03Z"></time>looking around</h1>
    <p>
      <time datetime="2023-02-16T05:36:41Z"></time>What files are actually here?
      I mean, not what someone wrote down, but that a machine reported?
    </p>
    <p>
      <time datetime="2023-02-16T05:37:46Z"></time>That's a question Tup can
      answer, along with just about any other host platform. What files are in
      this directory? It's the main ingredient of an index, for example.
    </p>
    <!-- prettier-ignore -->
    <pre data-tangle-file="~/program/list-to-xml.sh">#!/bin/bash
echo '&lt;d&gt;'
for f in "$@"; do
  echo "&lt;item&gt;$f&lt;/item&gt;"
done
echo '&lt;/d&gt;'
    </pre>
    <notebook-tuprule
      input="*.html"
      extra-inputs="~/program/list-to-xml.sh ~/program/xslt.sh"
      process="$(ROOT)/program/list-to-xml.sh %f | $(ROOT)/program/xslt.sh $(ROOT)/scripts/list-to-nav.xsl - &gt; '%o'"
      output="~/doc/toc.html"
    />
    <nav data-include-file="../doc/toc.html"></nav>
  </article>
</article>
