<article>
  <h1>macroexpand <time datetime="2023-02-27T03:50:01Z"></time></h1>
  <p>
    <time datetime="2023-02-27T03:50:05Z"></time>I'm calling this macroexpand,
    but I may change my mind before all is done.
  </p>
  <p>
    <time datetime="2023-02-27T03:50:38Z"></time>An initial macroexpansion pass
    already exists in <a href="the_system.html">the system</a>. I will describe
    it briefly.
  </p>
  <p>
    <time datetime="2023-02-27T03:55:01Z"></time>A stylesheet is constructed
    which is the concatenation of all <code>xsl-</code> elements in all the
    documents in a directory, mapping <code>xsl-</code> to <code>xsl:</code> and
    surrounded by a general <code>macroexpand</code> template. In other words,
    we composite all <q>userland</q> XSL things in no particular order and apply
    the macroexpansion across a group of HTML files.
  </p>
  <p>
    <time datetime="2023-02-27T03:59:32Z"></time>The macroexpansion template
    extends the identity (copy) function in all directions relative to each
    matched element: before begin, attribute, after begin, before end, after
    end.
  </p>
  <p>
    <time datetime="2023-02-27T04:02:52Z"></time>I am happy with this much, at
    least in theory. These <q>directions</q> don't correspond to XPath axes, nor
    exactly to any existing DOM concept (the <code>insertAdjacent</code> API's
    are close but don't include attributes). The important thing is composition.
    We can talk about the logical implications of these operations meaningful
    terms. (At least, in terms of selectors combinators. More on that later.)
  </p>
  <aside>
    <p>
      <time datetime="2023-02-27T04:07:11Z"></time>I would like to add to this
      list, the <q>around</q> operator. If we liken attributes to arguments, we
      could say that Lisp's function advice were the closest model.
      <q>Around</q> is even more unlike than <q>attribute</q>.
    </p>
  </aside>
  <p>
    <time datetime="2023-02-27T04:10:05Z"></time>To <q>define a macro</q>, then,
    you must construct an <code>xsl-template</code> that targets the mode
    <code>insert-before-begin</code> or <code>insert-attributes</code>, etc.
  </p>
  <p>
    <time datetime="2023-02-27T04:12:10Z"></time>Terminology aside, this form
    makes sense for at many use cases: I have in mind some kind of thing (the
    matching pattern), and I want to embellish it, mirror it, or simply operate
    in its domain. Add links to headings. Construct table of contents. Represent
    hidden elements. Interpret shorthand notations.
  </p>
  <time datetime="2023-02-27T04:14:57Z"></time>If this were how XSL modes
  worked, I would be content with this form.
  <p>
    <time datetime="2023-02-27T04:15:31Z"></time>However, XSL mode will apply
    exactly <em>one</em> of the matching templates for each element. It chooses
    one using some precedence rules.
  </p>
  <p>
    <time datetime="2023-02-27T04:17:16Z"></time>There's a name for this
    property of rule engines, which escapes me, but it's the kind where you
    decide not to fire all applicable rules but instead apply a conflict
    resolution procedure. Anyway. XSL is that kind, with winners and losers.
  </p>
  <p>
    <time datetime="2023-02-27T04:38:53Z"></time>The macroexpansion is
    <strong>not</strong> supposed to have winners and losers. Every match should
    win. In fact, that's the point of using these particular relations,
    <q>before begin</q>, <q>after begin</q>, and so on: they're conflict-free.
    They stay true no matter how many people use them.
  </p>
  <p>
    <time datetime="2023-02-27T04:51:40Z"></time>So I need an actual macro
    concept, not just an XSL template.
  </p>
  <p>
    <time datetime="2023-02-27T04:54:35Z"></time>In the system, this happens on
    every frame, so I can't let it dominate the processing time.
  </p>
  <p>
    <time datetime="2023-02-27T04:55:33Z"></time>I have something in mind that
    might work, but it's pretty hand wavy.
  </p>
  <p>
    <time datetime="2023-02-27T04:58:56Z"></time>The general idea is to use
    <code>xsl:key</code>s to identify matching points, rather than templates.
    The <code>match</code> expression for key and template, I believe are the
    same.
  </p>
  <aside>
    <p>
      <time datetime="2023-02-27T05:02:04Z"></time>But what do you use for
      <code>use</code>? Is it required? Does it default to <code>.</code>?
    </p>
  </aside>
  <p>
    <time datetime="2023-02-27T05:04:42Z"></time>The thing is, we have to do the
    distribution over the matches in <q>userland</q>, I mean XSL userland. I
    don't like the rules, so I abandon the standard process. Now the traversal
    will flare out at points wherever it matches anyone's antecedent.<time
      datetime="2023-02-27T05:08:05Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-02-27T05:08:17Z"></time>In this proposal, each new
    macro adds one test per node. So a macro is linear on the size of the
    document before it can even dream of expanding.
    <time datetime="2023-02-27T05:14:25Z"></time>This would militate in favor of
    <code>xsl:key</code> if the match clause is liable to take worse than
    constant time, which it is, being so very explorable.
  </p>
  <p>
    <time datetime="2023-02-27T05:02:30Z"></time>You also need to supply a
    template.
  </p>
  <p>
    <time datetime="2023-02-27T05:31:19Z"></time>The thing also needs a name,
    although that can be defaulted.
  </p>
  <p>
    <time datetime="2023-02-27T05:19:52Z"></time>So what does the macro
    expression look like? If it's not an XSL vocabulary then we have to make one
    up. Let's assume a name prefix of <code>notebook-</code>. I guess this must
    be <code>notebook-macro</code>.
  </p>
  <p><time datetime="2023-02-27T05:36:54Z"></time>Is this a macro or a rule?</p>
  <notebook-macro>
    <before xpath="body"><header>my notebook</header></before>
    <after xpath="body"
      ><footer>copyreich 3014</footer>
      body</after
    >
  </notebook-macro>
  <p>
    <time datetime="2023-02-27T05:38:10Z"></time>This notation lets you say
    multiple rules, and generally provides its own scope for interpretation of
    elements. I think it's better than saying one rule == one macro. Yes, this
    is more constructive than something which is invalid during formation. A
    notebook-macro with no clauses is a no-op.
  </p>
  <p>
    <time datetime="2023-02-27T05:40:11Z"></time>In this context, it's up to
    <code>notebook-macro</code> how the elements are interpreted, right? Not
    necessarily.
  </p>
  <p>
    <time datetime="2023-02-27T05:43:04Z"></time>Using <code>xpath</code> as the
    attribute name is basically punting on naming the relation. Most CSS
    selectors could also be used, <code>css</code> could be an alternate form.
  </p>
  <p>
    <time datetime="2023-03-01T03:45:24Z"></time>There are many names we could
    give to what this expression represents. I don't really prefer one over the
    other. In logical terms, it's an antececdent: it's the part of a rule that
    enables the consequent. <q>pattern-action</q> is another name given to this
    form. Here the pattern is the XPath expression and the action (consequent)
    is the template. <q>Antecedent</q> and <q>consequent</q> can give the
    impression that something <q>happens</q>, and in a certain order, but this
    is not the case, at least, not in the model. You must strive to see the
    premises and their conclusions as existing all simultaneously.
  </p>
  <aside>
    <p>
      <time datetime="2023-03-01T04:15:45Z"></time>If that's the case, then
      wouldn't <q>rule</q> fit better than <q>macro</q>? Although rule isn't
      perfect, either.
    </p>
  </aside>
  <p>
    <time datetime="2023-02-27T05:45:54Z"></time>But no, it's not <q>up to</q>
    <code>notebook macro</code> to determine how everything inside is
    interpreted, is it? Yes, and no. It's a special case because all notebook
    macros must be interpreted before macroexpansion can be applied.
  </p>
  <p>
    <time datetime="2023-02-27T05:48:08Z"></time>But for userland macros, no,
    there are no real borders. All contents are interpretable by all other
    macros.
  </p>
  <p>
    <time datetime="2023-02-27T05:49:23Z"></time>I want to pause there because
    that's problematic. I have already found that expressions need to be
    excluded from interpretation when they belong to a template.
  </p>
  <p>
    <time datetime="2023-02-27T05:50:33Z"></time>Actually I had this rule and I
    think I took it out yesterday. Why?
  </p>
  <p>
    <time datetime="2023-02-27T05:59:19Z"></time>Ah right:
    <q>Leaving these in is kind of hazardous but how else do we retain them?</q>
  </p>
  <p>
    <time datetime="2023-02-27T06:00:11Z"></time>I think the answer to that is
    that you provide a macro that copies them to the output.
  </p>
  <p>
    <time datetime="2023-02-27T06:03:53Z"></time>Without objection, be it so?
  </p>

  <notebook-rule>
    <before> </before>
  </notebook-rule>

  <figure>
    <figcaption>
      <time datetime="2023-02-27T03:51:21Z"></time>document processing overview
    </figcaption>
    <!-- prettier-ignore -->
    <script id="macroexpand-1" type="graphviz:dot">
digraph {
  node [shape=none]
  subgraph sources { 🌞 🌙 }
  🌞 -> 🌞_macros [label="extract"]
  🌙 -> 🌙_macros [label="extract"]
  { 🌞_macros 🌙_macros } -> macros
  macros -> {🌞_expanded 🌙_expanded} [label=expand]
  {🌞} -> 🌞_expanded
  {🌙} -> 🌙_expanded
}
        </script>
  </figure>
  <p>
    <time datetime="2023-03-01T03:54:03Z"></time>What do you call that stage,
    where you can't even think about tangling yet, because you're just...
    extracting logic but I don't like the word <q>extracting</q>. It's accurate
    but too vague.
  </p>
  <p>
    <time datetime="2023-03-01T03:15:30Z"></time>Well, let's do this. To recap
    the proposal:
  </p>
  <figure>
    <figcaption>
      <time datetime="2023-03-01T03:16:24Z"></time>proposed macro form
    </figcaption>
    <!-- prettier-ignore -->
    <pre>
&lt;notebook-macro /&gt;
&lt;notebook-macro&gt;&lt;/notebook-macro&gt;
&lt;notebook-macro id="make-table-of-contents"&gt;&lt;/notebook-macro&gt;
&lt;notebook-macro id="section-anchor-links"&gt;
  &lt;before /&gt;
  &lt;before xpath="main | section | article | nav"/&gt;
  &lt;before xpath="(main | section | article | nav)[@id]"&gt;
    &lt;!-- se habla XSL --&gt;
    &lt;a href="#{@id}"&gt;§&lt;/a&gt;
  &lt;/before/&gt;
&lt;/notebook-macro&gt;
        </pre>
  </figure>
  <p>
    <time datetime="2023-03-01T03:31:36Z"></time>And the expectation is that as
    a rule, <strong>for every</strong> every named section,
    <strong>there exists</strong> an anchor link standing in some relation.
  </p>
  <p>
    <time datetime="2023-03-01T04:09:50Z"></time>This needs to bottom out on
    XSL. I mean, I need a <q>real programming language</q> as an escape hatch.
    XSL is not too much of that, but it has some good properties in this medium.
  </p>
  <section id="test-section">
    <notebook-macro />
    <notebook-macro></notebook-macro>
    <notebook-macro id=""></notebook-macro>
    <notebook-macro id="body-has-table-of-contents"></notebook-macro>
    <notebook-macro id="section-anchor-links">
      <comment>Sectioning elements with id's have anchor links</comment>
      <after-begin xpath="(main | section | article | nav)[@id]">
        <a href="#{@id}">§</a>
      </after-begin>
    </notebook-macro>
  </section>
  <section>
    <h2>
      <time datetime="2023-03-01T04:55:49Z"></time>what to call prepend and
      append?
    </h2>
    <p>
      <time datetime="2023-03-01T04:25:01Z"></time>I'm not sold on any names for
      the after-begin and before-end relations.
    </p>
    <p>
      <time datetime="2023-03-01T04:56:38Z"></time><q>Prepend</q> and
      <q>append</q> are two kinds of graft defined in the DOM API.
    </p>
    <p>
      <time datetime="2023-03-01T04:35:36Z"></time>Taken individually, they are
      indistinguishable from <q>contains</q>.
    </p>
    <p>
      <time datetime="2023-03-01T04:30:52Z"></time>When applied to a set, one
      groups to the start and one groups to the end.
    </p>
    <p>
      <time datetime="2023-03-01T04:36:18Z"></time>Elements may have had
      contents to begin with. Content not tied to such a rule as this.
    </p>
    <p>
      <time datetime="2023-03-01T04:38:15Z"></time>Derived elements, under these
      operations, will never interpose between two elements that had been
      adjacent.
    </p>
  </section>
  <section>
    <h2><time datetime="2023-03-01T04:40:15Z"></time>provenance</h2>
    <p>
      <time datetime="2023-03-01T04:39:37Z"></time>one last question about this
      abstraction
    </p>
    <p>
      <time datetime="2023-03-01T04:39:49Z"></time>The proposal is that inserted
      elements should always have some indication of their being derived, an
      <code>aria-live</code>, or something like that—or at least a place for it.
      In other words, if you're going to let any old user macro inject elements,
      the first thing you ask will be where these things came from. Also, when
      it's time to <q>hydrate</q>, etc.
    </p>
    <p>
      <time datetime="2023-03-01T04:44:13Z"></time>Rather than dumping the
      userland template, we would dump an element that includes the id of the
      macro being expanded.
    </p>
    <p>
      <time datetime="2023-03-01T04:45:47Z"></time>Attributes wouldn't have any
      similar place to put provenance (i.e. what rule produced the attribute). I
      also have not proposed a syntax for attribute operations in the above
      notation.
    </p>
    <p>
      <time datetime="2023-03-01T04:48:23Z"></time>Elements could put provenance
      on a wrapper element. But what element? What else would it be usable for?
    </p>
    <p>
      <time datetime="2023-03-01T04:50:08Z"></time>No, no, it's a terrible idea.
      The only worse idea is having no idea where anything came from.
    </p>
    <p>
      <time datetime="2023-03-01T04:51:04Z"></time><q>Original</q> content means
      what, content that was found in a document whenever the system came along.
      <q>Regular files</q> in Tup parlance, <q>ground truths</q>.
    </p>
    <p>
      <time datetime="2023-03-01T05:12:18Z"></time>Anyway,
      <q>original</q> content is in some sense any content with no other
      provenance. No other explanation for itself but that you found it here.
    </p>
    <p>
      <time datetime="2023-03-01T05:13:22Z"></time>Under that definition, you
      can't distinguish origin <i>versus</i> non-original. That is, not unless
      you're willing to assume that all exotic things are carrying their papers.
    </p>
  </section>
  <section>
    <h2>
      <time datetime="2023-03-01T05:22:29Z"></time>I need to see another use
      case
    </h2>
    <p>
      <time datetime="2023-03-01T05:22:39Z"></time>This is heady. I mean it's
      complicated to think about, probably because I'm trying to design,
      implement, and motivate it at the same time.
    </p>
    <p>
      <time datetime="2023-03-01T05:24:36Z"></time>But like, what would a TOC
      template look like? And also, how do you know when an expanded thing would
      be invalidated, if you can use XSL to reach all around the document?
    </p>
  </section>
  <section>
    <h2>
      <time datetime="2023-03-01T05:00:09Z"></time>can macros target macros?
    </h2>
    <p>
      <time datetime="2023-03-01T05:00:16Z"></time>This is an important use
      case, obviously, for making the things presentable.
    </p>
  </section>

  <article>
    <h2><time datetime="2023-03-01T03:23:02Z"></time>notebook-quote?</h2>
    <p>
      <time datetime="2023-03-03T04:14:14Z"></time>Update: see dom quote in
      <a href="blocks.html"></a>.
    </p>
    <p>
      <time datetime="2023-03-01T03:23:05Z"></time>The thing I keep wondering
      about is, how to write markup that I don't have to manually escape. I
      don't see why the manual escaping of characters should be a userland
      activity.
    </p>
    <p>
      <time datetime="2023-03-01T03:24:44Z"></time>And yet, with apologies to
      Whitney Houston, <em>how would I know??</em> When I intend XML that I'm
      telling you <i>qua</i> code (which is a thing we do, what with this being
      a literate program), <i>versus</i> code that I actually want interpreted?
    </p>
    <p>
      <time datetime="2023-03-01T03:27:07Z"></time>And yeah, I don't like doing
      it by serialization to text. I mean, the target is HTML.
    </p>
    <p>
      <time datetime="2023-03-01T03:29:38Z"></time>It seems to me that I could
      use the markup itself to signal when the content would be disposed to a
      literal rendering. But that would not necessarily indispose it to direct
      interpretation, either. The <q>same thing</q> thing can be represented
      both literally and figuratively.
    </p>
    <p>
      <time datetime="2023-03-01T04:54:27Z"></time>What does
      <code>notebook-quote</code> mean, then? Could it be interpreted as a
      macro?
    </p>
    <p>
      <time datetime="2023-03-01T05:03:13Z"></time>Or does it need to be known
      even during macro processing?
    </p>
  </article>
</article>
