<article>
  <h1>notebook <time datetime="2023-03-03T19:55:12Z"></time></h1>
  <pre style="font-family: inherit">
        <time datetime="2023-03-03T19:55:20Z"></time>
A notebook is supposed to be a <em>file</em>
Not a directory.
      </pre>
  <p>
    <time datetime="2023-03-03T19:56:23Z"></time>A notebook is a collection.
    Semi-organized, not fully determined.
  </p>
  <!-- BUT this doesn't embed -->
  <img src="graphviz/svg/document-bootstrap-lifecycle.svg" />
  <section>
    <h3>
      <time datetime="2023-03-04T20:02:40Z"></time>structure of a notebook
    </h3>
    <p>
      <time datetime="2023-03-04T20:02:53Z"></time>What is the simplest possible
      structure for a notebook that could possibly work?
    </p>
    <p>
      <time datetime="2023-03-04T20:05:07Z"></time>An empty HTML document is
      <strong>not</strong> a notebook. It is too barren.
    </p>
    <figure>
      <figcaption>
        <time datetime="2023-03-04T20:10:49Z"></time>an empty notebook
      </figcaption>
      <notebook-structure></notebook-structure>
    </figure>
    <p>
      <time datetime="2023-03-04T20:04:28Z"></time>No, at the very least, a
      notebook must have a bootstrapper. Or we could call it a <q>kernel</q>.
      It's the seed that a notebook carries so that it can live on in another
      place.
    </p>
    <p>
      <time datetime="2023-03-04T20:09:28Z"></time>Is that enough? For an empty
      notebook, perhaps, but empty notebooks are not interesting. What is the
      structure of a non-empty notebook?
    </p>
    <figure>
      <figcaption>
        <time datetime="2023-03-04T20:11:04Z"></time>a non-empty notebook
      </figcaption>
      <notebook-structure>
        <a_bootstrapper />
        <front_matter />
        <an_article />
        <an_article />
        <an_article />
        <an_article />
      </notebook-structure>
    </figure>
    <p>
      <time datetime="2023-03-04T20:18:17Z"></time>I'd say that the minimal
      structure of a notebook is something like in the figure:
    </p>
    <ol>
      <li>a bootstrapper</li>
      <li>some front matter</li>
      <li>some articles</li>
    </ol>
    <p>
      <time datetime="2023-03-04T20:19:02Z"></time><q>Front matter</q> (or
      perhaps <q>cover</q>) is whatever distinguished content you want
      <q>above the fold</q>. This gives the author a way to say what someone
      should see when picking up the notebook (besides the bootstrapper stuff,
      which should be common to all notebooks and not require a whole viewport).
    </p>
    <p>
      <time datetime="2023-03-04T20:21:49Z"></time>I would also say that the
      collection of articles is <em>unordered</em>. In other words, you can't
      get around the need for a cover by just making it an article and putting
      it first (although it may still be an article).
    </p>
    <p>
      <time datetime="2023-03-04T03:53:24Z"></time>At present, I see no reason
      why the notebook should be more than a simple concatenation of the
      bootstrapper and<ins>
        (expanded)<time datetime="2023-03-04T18:02:50Z"></time
      ></ins>
      articles, with the minimum header and footer.
    </p>
  </section>
  <section>
    <h3>
      the notebook is at the root of the (Tup) project file system<time
        datetime="2023-03-04T20:02:30Z"
      ></time>
    </h3>
    <p>
      <time datetime="2023-03-04T03:37:59Z"></time>I find it strange that the
      notebook should have to reach back to a parent directory for assets.
    </p>
    <p>
      <time datetime="2023-03-04T03:38:44Z"></time>More basic to assume that the
      notebook is located at the root. That it is special, a singleton. That you
      are not producing more than one notebook per project. That certainly has
      some appeal, although I don't know what would stop someone from making
      more.
    </p>
    <p>
      <time datetime="2023-03-04T03:40:47Z"></time>Associating a single notebook
      with a unary, root location (w.r.t. the project file system), means that,
      when <q>source</q> files are organized in some directory (as with
      <code>~/articles</code>), the paths are not true relative to their lexical
      origin.
    </p>
    <p>
      <time datetime="2023-03-04T03:42:18Z"></time>This is okay because the
      documents are split out only for editorial convenience. Standalone
      articles are not meant to be viewed directly. Rationally this is true but
      I find it an ominous compromise.
    </p>
  </section>
  <!-- prettier-ignore -->
  <pre type="bash" data-tangle-file="~/program/bind-notebook.sh">#!/usr/bin/sh
      echo '&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8" /&gt;
    &lt;meta name="viewport" content="initial-scale=1" /&gt;
    &lt;link rel="icon" href="data:," /&gt;
    &lt;title&gt;composition notebook&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;'
cat "$@"
echo '&lt;/body&gt;&lt;/html&gt;'
</pre>
  <notebook-tuprule
    input="~/expanded/*.html"
    extra-input="~/program/bind-notebook.sh"
    process="%i %f &gt; %o"
    output="~/notebook.html"
  />
  <p>
    <time datetime="2023-03-04T03:52:10Z"></time>Is
    <code>~/articles</code> meant to replace <code>~/pages</code> completely?
    And do the default Tup rules then transfer to there?
  </p>
</article>
