<article>
  <header>
    <nav><a href="../index.html">..</a></nav>
    <h1>QR codes ™<time datetime="2023-01-16T18:19:30Z"></time></h1>
  </header>
  <section>
    <h1>
      motivation
      <time datetime="2023-01-16T18:18:45Z"></time>
    </h1>
    <p>use cases <time datetime="2023-01-16T18:20:40Z"></time></p>
    <ul>
      <li>
        airgapping
        <time datetime="2023-01-16T18:20:54Z"></time>
      </li>
      <li>
        indicating information size
        <time datetime="2023-01-16T18:21:16Z"></time>
      </li>
      <li>
        indicating information scope
        <time datetime="2023-01-16T18:21:27Z"></time>
      </li>
    </ul>
  </section>
  <section>
    <h1>resources <time datetime="2023-01-16T18:18:57Z"></time></h1>
    <p>
      <a href="https://www.qrcode.com/en/about/standards.html">this page</a>
      could use a decent timeline view
      <time datetime="2023-01-16T17:30:15Z"></time>
    </p>
  </section>
  <article>
    <h1>in which paragraphs sport their QR codes</h1>
    <p>
      <time datetime="2023-01-28T04:47:49Z"></time> This is gonna be all the
      rage.
    </p>
    <blockquote>
      <p>
        All signs point to this strengthening the value of curation and
        authenticated sources.
        <cite
          ><a href="https://news.ycombinator.com/item?id=34547482">
            lubujackson on: ChatGPT and the Enshittening of Knowledge</a
          >
        </cite>
      </p>
      <time datetime="2023-01-28T04:49:58Z"></time>
    </blockquote>
    <p>
      <time datetime="2023-01-28T04:52:13Z"></time> Your mission: to make
      something that (lets you describe a kind of thing that) puts QR codes on
      <code>p</code> elements. I'm sure someone's already, blah blah blah. I'm
      not going to completely NIH this, though. I'll use a library to generate
      the QR codes.
    </p>
    <aside>
      <p>
        <time datetime="2023-01-28T04:53:50Z"></time> Indeed, that would be my
        preferred approach for things that have some defined vocabulary. Finding
        an RDF vocabulary for QR codes is a separate task.
      </p>
      <p>
        <time datetime="2023-01-28T05:00:32Z"></time> I'm not finding anything
        on
        <a href="https://lov.linkeddata.es/dataset/lov/terms?q=qr+code">LOV</a>.
      </p>
      <p>
        <time datetime="2023-01-28T05:02:40Z"></time> That means for now, if I
        want to make a statement in a knowledge base involving the existence of
        a QR code, I will have to make up terminology for it. I will have to
        say, Hey knowledge base, there's a kind of thing called QR code, and
        here's a name to use whenever you're talking about one.
      </p>
      <p>
        <time datetime="2023-01-28T05:05:09Z"></time> Then I can start telling
        you about things which are special kinds of QR formats, each of which
        can encode data with some combination of byte size and error correction
        level.
        <time datetime="2023-01-28T05:05:42Z"></time>
      </p>
      <p>
        <time datetime="2023-01-28T05:07:58Z"></time> I could then go on to
        claim the existence of a thing that is some type of QR code, which
        encodes a certain message.
      </p>
      <p>
        <time datetime="2023-01-28T05:09:36Z"></time> Now tell me, if you wanted
        to make a QR code in a certain format encoding a certain message, do you
        think that that requires a particular, I mean <em>specific</em> piece of
        software? To create the QR code from such a description?
      </p>
      <p>
        <time datetime="2023-01-28T05:11:41Z"></time> No, it's a general
        description, it describes the <q>genera</q> of things that are QR codes.
      </p>
      <p>
        <time datetime="2023-01-28T05:12:19Z"></time> So ladies and gentlemen of
        the jury, tell me why is there no way for me to say to a machine:
        <q><q>Hello world</q> encoded by the simplest suitable QR encoding</q>?
        Even though almost nothing in the world could be so thoroughly
        determined by its description?
      </p>
      <p>
        <time datetime="2023-01-28T05:24:14Z"></time> Actually there is still a
        lot of latitude in how exactly the QR Code™ is represented: as to the
        medium, material, color, etc. Even if the message and error level are
        given. <time datetime="2023-01-28T05:25:22Z"></time>
      </p>
      <p>
        <time datetime="2023-01-28T05:01:42Z"></time> I must admit I had better
        luck on
        <a href="https://www.npmjs.com/search?q=qr-code-generator">NPM</a>.
      </p>
    </aside>
    <p>
      <time datetime="2023-01-28T05:16:26Z"></time> I am looking most for
      something self-contained.
    </p>
    <p>
      <time datetime="2023-01-28T05:17:42Z"></time> The API of
      <a href="https://www.npmjs.com/package/qrcode-generator"
        >qrcode-generator</a
      >
      looks promising.
    </p>
    <!-- TODO: this should be downloaded anyway -->
    <script src="qrcode.js"></script>
    <script>
      {
        let mb = "UTF-8";
        let typeNumber;
        let errorCorrectionLevel;

        let text = "mama mia!";

        const mode = "Byte";

        qrcode.stringToBytes = qrcode.stringToBytesFuncs[mb];

        const qr = qrcode(typeNumber || 4, errorCorrectionLevel || "M");

        qr.addData(text, mode);
        qr.make();

        //  return qr.createTableTag();
        const html = qr.createSvgTag();
        // const html = qr.createImgTag();
        document.currentScript.insertAdjacentHTML("afterend", html);
        // document.currentScript.insertAdjacentHTML("afterend", qrcode);
      }
    </script>
    <p>
      <time datetime="2023-01-28T06:00:02Z"></time> I mean surely somebody's
      doing this already, right? Timestamping and QR-coding everything?
    </p>
    <p><time datetime="2023-01-28T06:00:30Z"></time> I saw this earlier:</p>
    <blockquote>
      <p>
        Erlang has an interesting history. If I understand things correctly, it
        started of as a Prolog library for building reliable distributed
        systems, morphed into a Prolog dialect, before finally becoming a
        language in its own right.
        <cite
          ><a
            href="https://github.com/stevana/armstrong-distributed-systems/blob/main/docs/erlang-is-not-about.md#background"
            >“Erlang's not about lightweight processes and message passing”</a
          ></cite
        >
      </p>
      <time datetime="2023-01-28T06:00:51Z"></time>
    </blockquote>
    <p>
      <time datetime="2023-01-28T06:09:43Z"></time> That's a propos nothing
      here, but, well, it's a transclusion. And transclusion is one of those big
      hairy problems that the web never took on. The <q>Xanadu</q> system
      famously claims to have solved transclusion, among other fundamental
      problems of the web including payments, decades ago, before the World Wide
      Web ever came along.
      <time datetime="2023-01-28T06:13:08Z"></time>
    </p>
    <p>
      <time datetime="2023-01-28T06:15:14Z"></time> Meanwhile we sling around
      these proof chains, these revision histories, like mere magic.
      <time datetime="2023-01-28T06:17:00Z"></time>
    </p>
    <p>
      <time datetime="2023-01-28T06:17:33Z"></time> But is that true, that
      Erlang began as a Prolog system!?
    </p>
    <p>
      <time datetime="2023-01-29T07:52:25Z"></time> Okay, let's make every
      paragraph show itself as a QR code. Then make it contenteditable, then
      make it update when you type
    </p>
    <p>
      <time datetime="2023-01-29T08:14:29Z"></time> Here is a bit of script that
      adds a QR code to every paragraph, choosing the smallest format available
      for the highest-quality correction. Paragraphs beyond a certain length
      cannot be captured in one code.
    </p>
    <script>
      {
        function prefix_qr_code(element) {
          // const text = element.innerText;
          const text = element.innerHTML;
          let qr;
          qrcode.stringToBytes = qrcode.stringToBytesFuncs["UTF-8"];

          for (const correction of "HQML") {
            for (let i = 5; i <= 40; i++) {
              try {
                qr = qrcode(i, "L");
                qr.addData(text, "Byte");
                qr.make();
                break;
              } catch (error) {
                console.info(error);
              }
            }
          }

          //  const html = qr.createTableTag();
          // const html = qr.createSvgTag();
          const html = qr.createImgTag();
          try {
            element.insertAdjacentHTML("afterbegin", html);
          } catch (error) {
            console.warn(`Didn't like html`, error, html);
          }
        }

        function prefix_qr_code_to_first_20_paragraphs() {
          for (const ele of [...document.body.querySelectorAll("p")].slice(
            0,
            10
          )) {
            prefix_qr_code(ele);
          }
        }
        prefix_qr_code_to_first_20_paragraphs();
      }
    </script>
  </article>
</article>
