<article id="notebook-quote-unquote">
  <style>
    @import "../style/quote-blocks.css";
    body {
      background: hsl(0deg, 3%, 44%);
      color: hsl(0deg, 10%, 10%);
    }
  </style>
  <h1><time datetime="2023-03-10T05:50:34Z"></time>quote &amp; unquote</h1>
  <p>
    <time datetime="2023-03-10T05:55:34Z"></time>Define a two-way encoding
    between HTML and arbitrary XML.
  </p>
  <aside>
    <p>
      <time datetime="2023-03-10T05:57:53Z"></time>Or at least XML 1.0, which
      did not have namespaces, right? Anyway I don't propose a way to embed
      namespaced things generally (but handle XSL specifically).
    </p>
  </aside>
  <p>
    <time datetime="2023-03-10T06:10:14Z"></time>I've been calling this quote
    and unquote because I was thinking of it as forestalling or enabling
    evaluation.
  </p>
  <p>But it's also like <code>print</code> and <code>read</code>.</p>
  <p>
    Motivation: In the DOM, we're often dealing with, well the DOM. There are
    the recognized vocabularies of HTML, SVG, MathML, and it's also handy to use
    DOM elements for representing all sorts of hierarchical forms. Heck even as
    a text notation it's as convenient as any other inert format for embedding
    DSL's. When using the DOM as the locus of formal statements, we become
    interested in parts of the tree that are normally hidden, <i>viz</i> the
    tags and the attributes.
  </p>
  <article id="notebook-quote">
    <h2>notebook quote<time datetime="2023-03-10T05:54:51Z"></time></h2>
    <p>
      The inverse of <code>notebook-quote</code> is
      <code>notebook-unquote</code>.
    </p>
    <anything-hyphenated>
      <graph>
        <node id="PV" />
        <subgraph>
          <node id="charge controller" />
          <edge from="PV" to="charge controller" />
          <node id="battery" />
          <node id="inverter" />
          <edge from="charge controller" to="battery" />
        </subgraph>
        <edge from="battery" to="inverter" />
        <edge from="inverter" to="AC panel" />
        <node id="DC panel" /><node id="DC loads" />
        <edge from="DC panel" to="DC loads" />
        <node id="AC panel" /><node id="AC loads" />
        <edge from="AC panel" to="AC loads" />
      </graph>
    </anything-hyphenated>
    <quoted-as-html> </quoted-as-html>
  </article>
  <article id="notebook-unquote">
    <h2><time datetime="2023-03-10T03:42:16Z"></time>notebook-unquote</h2>
    <p>
      <dfn>Unquoting</dfn> taking the HTML markup and reading it back into
      whatever elements it was quoting.
    </p>
    <xsl-template match="@*" mode="quote-as-html" />
    <xsl-template match="*" mode="quote-as-html">
      <div data-dom-tag="{name()}">
        <span data-part="tag"><xsl-value-of select="name()" /></span>
        <xsl-text> </xsl-text>
        <xsl-if test="@*">
          <dl data-part="attributes">
            <xsl-for-each select="@*">
              <div data-attribute="{name()}">
                <dt><xsl-value-of select="name()" /></dt>
                <xsl-text> </xsl-text>
                <dd><xsl-value-of select="." /></dd>
              </div>
            </xsl-for-each>
          </dl>
        </xsl-if>
        <xsl-apply-templates select="node()" mode="quote-as-html" />
      </div>
    </xsl-template>
    <p>
      To be on the safe side, <q>unquote</q> defined only for recognized
      elements. For now I'm saying that means ones with a <code>data-tag</code>
      attribute.
    </p>
    <xsl-template mode="read-html" match="node() | @*" />
    <xsl-template mode="read-html" match="*[@data-type='text']">
      <xsl-value-of select="." />
    </xsl-template>
    <xsl-template mode="read-html" match="*[@data-type='comment']">
      <xsl-comment>
        <xsl-value-of select="." />
      </xsl-comment>
    </xsl-template>
    <xsl-template mode="read-html" match="*[@data-tag]">
      <xsl-element name="{@data-tag}">
        <xsl-for-each select="dl/dt | dl/div/dt">
          <xsl-attribute name="{.}">
            <xsl-value-of select="following-sibling::dd" />
          </xsl-attribute>
        </xsl-for-each>
        <xsl-apply-templates mode="read-html" select="ul/li" />
      </xsl-element>
    </xsl-template>

    <notebook-formula>
      <transform
        ><system>
          <x-source></x-source>
          <battery> </battery> <load> </load> </system
      ></transform>
    </notebook-formula>
    <xsl-template match="/*[1]" mode="insert-before-end">
      GOODBYTE
    </xsl-template>
  </article>
</article>
