<article>
  <h1>rulers<time datetime="2023-02-03T20:37:33Z"></time></h1>
  <p>
    <time datetime="2023-02-03T20:38:56Z"></time>In which we create rulers. The
    kind of rulers this world needs now.<time
      datetime="2023-02-03T20:39:48Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-02-22T20:42:02Z"></time>To this day, your standard
    drugstore composition book is still likely to feature a nearly-foot-long
    ruler in its back flap. I appreciate the utility-belt ethos that these
    bookbinders adopt, though I can't positively say that I've found occasion to
    take measurements against my notebook cover.
  </p>
  <p>
    <time datetime="2023-02-22T20:46:28Z"></time>If those printed measuring
    sticks are more likely to be cherished than to be used, we may blame the
    messenger (the medium), rather than the motive.
  </p>
  <p>
    <time datetime="2023-02-22T20:48:56Z"></time>Indeed, I would like to extend
    the basic concept of the composition-book ruler into a virtual medium.<time
      datetime="2023-02-22T20:49:43Z"
    ></time>
  </p>
  <section id="aEkCLwvb">
    <h2><time datetime="2023-02-03T20:40:12Z"></time>initial sketch</h2>
    <p>
      <time datetime="2023-02-03T20:40:19Z"></time>The kind of rulers I want
      will be <em>dynamic</em> and <em>knowledgeable</em>. To start with, I will
      make a few sketches of what such rulers might look like at any given
      moment, though these ruler-sketches will be neither dynamic nor
      knowledgeable.<time datetime="2023-02-03T20:42:14Z"></time>
    </p>
    <figure>
      <figcaption>
        <time datetime="2023-02-03T21:10:43Z"></time>an example of a ruler
      </figcaption>
      <div class="ruler">
        <span class="marker">1in </span>
        <span class="marker">2in </span>
        <span class="marker">3in </span>
      </div>
      <!-- prettier-ignore -->
      <style>
#aEkCLwvb figure .ruler {
  display: inline-flex;
}
#aEkCLwvb figure .ruler > .marker {
  border: 2pt solid GrayText;
  flex: 0 0 1in;
  overflow: hidden;
}
          </style>
    </figure>
    <p>
      <time datetime="2023-02-15T04:08:55Z"></time>One's intuition, in a markup
      language like HTML, is that we would <em>construct</em> a ruler using
      elements, since it is so clearly constituted of elements (a surface and
      markings). I mean a ruler is about the most literal thing there is.
    </p>
    <p>
      <time datetime="2023-02-15T04:11:11Z"></time>And in fact, you can do this
      in HTML. Here.
    </p>
    <figure>
      <figure>an empty ruler. a ruler with no markings</figure>
      <ruler></ruler>
    </figure>
    <p><time datetime="2023-02-15T04:26:58Z"></time>The markup for which is</p>
    <pre>&lt;ruler&gt;&lt;/ruler&gt;</pre>
    <section>
      <h3>
        <time datetime="2023-02-15T06:21:09Z"></time>borders and the sizing of
        rulers
      </h3>
      <p>
        <time datetime="2023-02-15T04:17:10Z"></time>What if we put borders
        around all rulers?
      </p>
      <!-- prettier-ignore -->
      <figure id="ruler-with-borders">
          <figure>rulers with borders</figure>
          <ruler class="with-border"></ruler>
          <ruler class="with-border"></ruler>
        </figure>
      <pre>ruler.with-border { border: 1ch solid GrayText }</pre>
      <p>
        <time datetime="2023-02-15T04:18:47Z"></time>A border will make a ruler
        bigger by some amount. (Assuming <code>box-sizing: border-box</code>).
      </p>
      <p>
        <time datetime="2023-02-15T04:19:38Z"></time>Well, you see the border
        extends the ruler in all directions. This embiggening of the ruler thus
        interferes with the ruler's function, to contrast lengths,
      </p>
      <p>
        <time datetime="2023-02-15T04:21:28Z"></time>We could instead just shade
        the ruler's background.
      </p>
      <p>
        <time datetime="2023-02-15T04:23:37Z"></time>But if a ruler contains
        nothing, and we haven't told it what size to be, then the ruler will
        remain empty and invisible.
      </p>
      <p>
        <time datetime="2023-02-15T04:36:09Z"></time>So if we want the ruler to
        be visible, but we're not going to extend its borders, what should we
        do?
      </p>
      <p>
        <time datetime="2023-02-15T04:44:18Z"></time>I must admit that rulers
        are a special case. I would say that that, as a rule, things should have
        their natural sizing. But a ruler must be sized by decree: we have to
        say what size it should be, and it makes all the difference if we agree.
      </p>
    </section>
    <section>
      <h3>
        <time datetime="2023-02-15T06:22:52Z"></time>rulers and their spans
      </h3>

      <p>
        <time datetime="2023-02-15T04:45:32Z"></time>What element should put
        under a ruler? One is tempted to say <code>mark</code>, but that is for
        emphasizing text, and emphasis should not be placed on wallpaper. Rulers
        are there to keep time for a space, nothing more.
      </p>
      <p>
        <time datetime="2023-02-15T04:47:03Z"></time>No, <code>span</code> is
        the element to give to a <code>ruler</code>. The span has a beginning
        and a ending. It coextends a period. But in some light, each of these
        spans reflects a single point. We will be biased to mark only one of its
        ends: one foot, two feet, and so on.
      </p>
      <p>
        <time datetime="2023-02-15T05:07:02Z"></time>Spans will have the same
        problem that rulers had, if we go to demark them with borders. Borders
        will conflict with their meaning.
      </p>
      <p>
        <time datetime="2023-02-15T05:07:45Z"></time>So we give these
        spans—those living directly under <code>ruler</code>s—an intrinsic
        width. We can't set specific widths using text, so we appeal to the
        presentational layer.
      </p>
    </section>
    <section>
      <h3>
        <time datetime="2023-02-15T06:23:24Z"></time>the inline bias of our
        rulers
      </h3>
    </section>

    <p>
      <time datetime="2023-02-15T04:53:40Z"></time>Our rulers are biased in the
      inline direction. <time datetime="2023-02-15T04:41:25Z"></time>The ruler
      has markers, and markers have text. The ruler's markers flow in the
      prevalent direction.<time datetime="2023-02-15T05:51:26Z"></time>
    </p>
    <p>
      <time datetime="2023-02-15T05:24:46Z"></time
      ><code>ruler &gt; span</code> should not have its own natural length, if
      it relates to a known interval. The way that this knowledge is conveyed,
      is everything.
    </p>

    <p>
      <time datetime="2023-02-15T06:10:22Z"></time>Yes, we could make a unit
      ruler
    </p>

    <p>
      <time datetime="2023-02-15T05:36:11Z"></time>Basically, I have very little
      interest in <code>static</code> or <code>flex</code> rulers because they
      are in fact less flexible than absolutely-positioned arrangements.
      Absolute positioning makes for better composition in space, as the
      introduction of new elements never interferes with the placement of the
      residents.<time datetime="2023-02-15T05:42:16Z"></time>
    </p>

    <aside>
      <p>
        <time datetime="2023-02-15T05:55:53Z"></time>When we subdivide the
        units, are we adding <code>spans</code> to the <code>ruler</code>, or to
        any spans representing the units being subdivided?
      </p>
    </aside>
    <section>
      <h3><time datetime="2023-02-15T06:11:21Z"></time>unit rulers</h3>
      <p>
        <time datetime="2023-02-15T05:53:34Z"></time>The most basic kind of
        ruler is one with uniform markings. One whose parts are the same length.
        In fact, most rulers are of this kind, if you put aside their
        subdivisions. Well, most rulers except those that put Anglo units and SI
        units side-by-side. These could be called <q>dual-unit</q> rulers.
      </p>
      <p>
        <time datetime="2023-02-16T02:40:10Z"></time>In fact let's make such a
        ruler here.<time datetime="2023-02-16T02:40:23Z"></time>
      </p>
      <figure id="jFR4jsBD">
        <figcaption>
          <time datetime="2023-02-16T02:40:33Z"></time>inches and centimeters
        </figcaption>
        <ol data-ruler-unit="in">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ol>
        <ol data-ruler-unit="cm">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ol>
        <details>
          <!-- prettier-ignore -->
          <style style="display: block; white-space: pre">
#jFR4jsBD [data-ruler-unit] { white-space: nowrap }
#jFR4jsBD [data-ruler-unit] > li {
  display: inline-block;
  overflow: hidden;
  counter-increment: list-item;
  text-align: end;
  border-inline-end: 1pt solid;
}
#jFR4jsBD [data-ruler-unit="in"] > li { inline-size: 1in }
#jFR4jsBD [data-ruler-unit="cm"] > li { inline-size: 1cm }
#jFR4jsBD [data-ruler-unit="cm"] > li::before { content: counter(list-item) "cm" }
#jFR4jsBD [data-ruler-unit="in"] > li::before { content: counter(list-item) "in" }
            </style>
        </details>
      </figure>
      <p>
        <time datetime="2023-02-16T02:56:06Z"></time>I don't like this so much.
        I want the label to come <em>after</em> the mark. I just think it would
        look better. But that would put the label outside of the span
        itself.<time datetime="2023-02-16T02:59:31Z"></time>
      </p>
      <p>
        <time datetime="2023-02-16T03:03:30Z"></time>What if we just got rid of
        the unit designation? Then the numeral would be beside the mark. But the
        label would not be as self-descriptive.<time
          datetime="2023-02-16T03:04:18Z"
        ></time>
      </p>
      <figure id="LTmwfSnk">
        <ol data-ruler-unit="in">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ol>
        <ol data-ruler-unit="cm">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ol>
        <details>
          <!-- prettier-ignore -->
          <style style="display: block; white-space: pre">
#LTmwfSnk [data-ruler-unit] { white-space: nowrap }
#LTmwfSnk [data-ruler-unit] > li {
  display: inline-block;
  overflow: hidden;
  counter-increment: list-item;
  text-align: end;
  border-inline-end: 1pt solid;
}
#LTmwfSnk [data-ruler-unit="in"] > li { inline-size: 1in }
#LTmwfSnk [data-ruler-unit="cm"] > li { inline-size: 1cm }
#LTmwfSnk [data-ruler-unit="cm"] > li::before { content: counter(list-item) }
#LTmwfSnk [data-ruler-unit="in"] > li::before { content: counter(list-item) }
            </style>
        </details>
      </figure>
      <p>
        <time datetime="2023-02-15T05:57:28Z"></time>We can define a unit ruler
        such that the only thing necessary to extend it is to add elements.
        Indeed, we can even count the demarkations <q>for free</q>, meaning,
        without script, using CSS counters and such.<time
          datetime="2023-02-15T05:58:34Z"
        ></time>
      </p>
      <p>
        <time datetime="2023-02-15T04:10:21Z"></time>Unit rulers grow
        incrementally. <time datetime="2023-02-15T06:11:46Z"></time>A unit ruler
        can be extended with nothing but a <q>duplicate</q> operation.
      </p>
      <p>
        <time datetime="2023-02-15T06:12:20Z"></time>In HTML, we might implement
        a unit ruler using <code>ol &gt; li</code
        ><time datetime="2023-02-15T06:12:43Z"></time>
      </p>
    </section>
    <section>
      <h3><time datetime="2023-02-15T06:10:45Z"></time>absolute rulers</h3>
      <p>
        <time datetime="2023-02-15T05:33:03Z"></time>I would prefer to use
        attributes for information in general. But you cannot (as of this
        writing) transfer attribute values to CSS values. It's much more
        important in making rulers that we can <em>compute</em> on the values
        than that we can <em>select</em> on them. I don't see any harm in the
        fact that the values cascade; on the contrary, that could be
        useful.<time datetime="2023-02-15T05:36:03Z"></time>
      </p>
      <p>
        <time datetime="2023-02-15T06:15:43Z"></time>When you depart from the
        closed-world mooring of a unit ruler, you can no longer assume what any
        given child
      </p>
      <p>
        <time datetime="2023-02-15T05:26:54Z"></time>How do we say (tell &amp;
        ask) <em>what</em> part of the ruler a particular element is about?
      </p>
      <p>
        <time datetime="2023-02-15T05:30:40Z"></time>To declare the meaning of
        the spans in a single source of truth, then I would write two CSS
        properties, <code>--ruler-span-from</code> and
        <code>--ruler-span-to</code>, which give, in ruler-defined units, the
        bounds of the interval.
      </p>
    </section>
    <figure>
      <figcaption>a unit ruler</figcaption>
      <ol class="inch ruler">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ol>
      <aside>
        <p>
          <time datetime="2023-02-15T07:08:12Z"></time>If you make an
          <code>ol</code>'s items <code>inline-block</code>, it somehow breaks
          the default counter. That must be some special case, if it's intended.
          I mean you couldn't say in CSS
          <q
            >reset counter X if Y has some computed property, or has children
            with the same. </q
          ><time datetime="2023-02-15T07:10:35Z"></time>
        </p>
      </aside>
      <style style="display: block; white-space: pre">
        ol.ruler {
          white-space: nowrap;
        }
        ol.ruler > li {
          border: 1pt solid red;
          width: 1in;
          height: 1in;
        }
        ol.ruler > li::before {
          content: "Hello " counter(list-item);
        }
        /*
            ol.ruler > li {
              counter-increment: list-item;
            }
            ol.ruler > li::after {
              content: "I mean " counter(list-item);
            }
            */
      </style>
    </figure>
  </section>
  <section>
    <h2><time datetime="2023-02-22T20:31:51Z"></time>describing rulers</h2>
    <p>
      <time datetime="2023-02-22T20:32:25Z"></time>The most essential thing
      about a ruler is its <em>unit of measure</em>. We can induce a ruler
      simply by choosing one. Inches, centimeters, etc.
    </p>
    <p>
      <time datetime="2023-02-22T20:34:37Z"></time>An
      <dfn>abstract ruler</dfn> is one whose unit does not happen to measure
      length: grams, dollars, miles per gallon, etc.
    </p>
    <p>
      <time datetime="2023-02-22T20:39:12Z"></time>Sure, you can't measure
      weight with a ruler. But you can <em>represent</em> it. More importantly,
      you can <em>compare</em> (and even measure) representations made against
      the same ruler.
    </p>
    <p>
      <time datetime="2023-02-22T20:56:12Z"></time>I have said that an ordered
      list is the HTML element most naturally suited to representing a ruler. If
      we are going to <q>spell out</q> the ruler in HTML (with all its markings
      and so on), then this would be the most direct expression.
    </p>
    <p>
      <time datetime="2023-02-22T20:58:44Z"></time>But I just said that it's
      possible to induce a ruler simply by choosing a unit of measure.
      Intuitively, I can say something like <q>inches ruler</q> or
      <q>pixel ruler</q> and expect a result.
    </p>
    <p>
      <time datetime="2023-02-22T21:01:53Z"></time>I mean that literally, by the
      way. This document should define textual recognizers for those phrases
      which can be interpreted as constructors.
    </p>
    <p>
      <time datetime="2023-02-22T21:02:47Z"></time>But I also mean at the markup
      level. If my only option is to spell out a ruler with all of the markers
      on it, then I am missing an abstraction. You can think of the markup as
      being the most direct HTML interpretation of the phrase
      <q>inches ruler</q>, etc.
    </p>
    <p>
      <time datetime="2023-02-22T21:04:21Z"></time>So where I'm going with this
      is to introduce an abstraction that will let me ask directly for a ruler
      and all that that implies.
    </p>
    <p>
      <time datetime="2023-02-22T21:05:22Z"></time>I also said that these rulers
      must be <em>dynamic</em>. In that sense, it wouldn't make sense to spell
      out the ruler's markings anyway, because the intent is really to provide a
      view into a navigable metric space. You may hint at a good starting point,
      but context may have something to say about what would be a logical place
      to begin. That is to say, the person (or thing) inducing the ruler doesn't
      neccesarily get to or need to dictate everything about it. For instance, I
      can <q>pan and zoom</q> the view, bringing different markers into view,
      and so forth.<time datetime="2023-02-22T21:08:18Z"></time>
    </p>
    <p>
      <time datetime="2023-02-22T21:10:51Z"></time>In short, what I want to say
      is <em>not</em> in the HTML vocabulary.
    </p>
    <p>
      <time datetime="2023-02-22T21:11:57Z"></time>I would also say that,
      because of the points mentioned above (intent is a metric space view),
      this is not simply a shorthand notation for a sequence expansion, as
      tempting as that particular generalization might appear. In any case, even
      when the Turing siren comes a' calling, the use of lower-level sequence
      abstractions for rulers would only be an implementation detail.<time
        datetime="2023-02-22T21:15:57Z"
      ></time>
    </p>
  </section>
</article>
