<article>
  <h1>tangling <time datetime="2023-02-23T05:17:59Z"></time></h1>
  <p>
    <time datetime="2023-02-23T05:18:23Z"></time><dfn>Tangling</dfn> is a thing
    you do in literate programming. Personally, I don't think that
    <q>tangling</q> is an ideal name for the activity, if only because it
    suggests that I've made my life more complicated by taking it on. There's no
    doubt that I have, but I would rather deceive myself about it and use a more
    innocent term like, I don't know, <q>splicing</q>.<time
      datetime="2023-02-23T05:27:02Z"
    ></time>
  </p>
  <aside>
    <p>
      <time datetime="2023-02-23T14:45:44Z"></time><strong>UPDATE:</strong> The
      following is wrong. Tangling is not done in userland, it's a primitive.
      Whether or not this should also be true of weaving remains to be
      determined.<time datetime="2023-02-23T14:46:38Z"></time>
    </p>
  </aside>
  <p>
    <time datetime="2023-02-23T05:27:34Z"></time>In this system, tangling is
    done as a userland operation. If we ever reach the point where I've unpacked
    <em>both</em> of those terms adequately, you will understand why that is
    such a very unusual property.
  </p>
  <p>
    <time datetime="2023-02-23T05:29:49Z"></time>Literate programming systems
    can generally trace their heritage to Donald Knuth's original WEB system
    from the early 1980's. Knuth defined the two basic operations of
    <em>tangling</em> and <em>weaving</em> as the production of two sets of
    files from a single source. The audience for the two file sets are,
    respectively, machines and humans: tangle for machine, weave for human.
    Anyway, these two operations would seem to be pretty fundamental to literate
    programming. How can you have a system without them?
  </p>
  <p>
    <time datetime="2023-02-23T05:32:40Z"></time>This system is a bit different.
    Instead of treating tangling and weaving as two special operations, it
    recognizes that they are two instances of a more general case, in which
    source documents in some known format are processed to produce some
    result.<time datetime="2023-02-23T05:36:44Z"></time>
  </p>
  <p>
    <time datetime="2023-02-23T05:59:23Z"></time>Instead of providing primitives
    related to tangling and weaving, the system provides primitives for
    <em>macro expansion</em> and <em>file processing rules</em>. These
    primitives can be used to implement tangling, weaving, and any other form of
    deception that pleases you.<time datetime="2023-02-23T06:01:19Z"></time>
  </p>
  <section>
    <h2><time datetime="2023-02-23T06:02:16Z"></time>definitions</h2>
    <p>
      <time datetime="2023-02-23T06:02:34Z"></time>Tangling is a way of
      producing a file from a source document by extracting certain blocks and
      putting those blocks together.
    </p>
    <p>
      <time datetime="2023-02-23T06:04:22Z"></time>The
      <code>data-tangle-file</code> attribute identifies a <q>tangle</q> block
      and tells what file its contents should belong to.<time
        datetime="2023-02-23T06:05:02Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-23T06:07:53Z"></time>Here's an example of a block
      that has a tangle attribute.
    </p>
    <!-- prettier-ignore -->
    <pre data-tangle-file="~/tangled/example-one">Example tangled file part one.</pre>
    <p>
      <time datetime="2023-02-23T06:13:32Z"></time>Tangles can use multiple
      block. They are all written to the indicated file, in document order.<time
        datetime="2023-02-23T06:14:32Z"
      ></time>
    </p>
    <!-- prettier-ignore -->
    <pre data-tangle-file="~/tangled/example-one">
Tangle file part two.</pre>
    <p>
      <time datetime="2023-02-23T06:14:38Z"></time>A document can of course
      tangle multiple files.
    </p>
    <!-- prettier-ignore -->
    <pre data-tangle-file="~/tangled/example-two">It takes two to tangle.</pre>
    <xsl-key
      name="tangle"
      match="*[@data-tangle-file]"
      use="@data-tangle-file"
    />

    <!-- 
        <xsl-template match="body" mode="insert-before-end">
          <xsl-variable
            name="tangles"
            select="//*[@data-tangle-file][generate-id() = generate-id(key('tangle', @data-tangle-file)[1])]"
          />
          hello
          <xsl-if test="$tangles">
            <x-notebook-tuprule
              input="the-file-i-get-somehow"
              process="xsltproc - -html SOMEWHERE/tangle-all.sh '%f'"
            >
              <xsl-for-each select="$tangles">
                <output>
                  <xsl-value-of select="@data-tangle-file" />
                </output>
              </xsl-for-each>
            </x-notebook-tuprule>
          </xsl-if>
        </xsl-template>

THIS works but it causes badly-formed output

    <xsl-template
      match="*[@data-tangle-file][generate-id() = generate-id(key('tangle', @data-tangle-file)[1])]"
      mode="insert-after-end"
    >
      tangling <xsl-value-of select="@data-tangle-file" />
      <xsl-for-each select="key('tangle', @data-tangle-file)">
        BLOCK <xsl-value-of select="position()" />
      </xsl-for-each>
    </xsl-template>
 -->
    <p>
      <time datetime="2023-02-23T06:09:51Z"></time>It might be tempting to write
      a macro that uses <code>ex:document</code> to write the tangled file right
      then and there. After all, we're already right there visiting the element,
      just grab the content and be done!
    </p>
    <p>
      <time datetime="2023-02-23T06:10:45Z"></time>We can't do that, though. The
      point at which the macro is expanded is not the time to write files.
      Instead, we have to describe how the file is going to be written.<time
        datetime="2023-02-23T06:11:56Z"
      ></time>
    </p>
  </section>
</article>
