<article>
  <h1><time datetime="2023-02-15T23:09:39Z"></time>timespaces</h1>
  <p><time datetime="2023-02-16T04:04:56Z"></time>Time in userspace</p>
  <p>
    <time datetime="2023-02-16T04:05:34Z"></time>I mean modes of presentation
    centering on a time ordering.<time datetime="2023-02-16T04:05:58Z"></time>
  </p>
  <p>
    <time datetime="2023-02-16T04:06:18Z"></time>I say <q>a</q> time ordering,
    but really part of the affair here is that there is <q>a</q> time ordering,
    which is of course intuitive. Yet we can also imagine fictional
    chronologies, which use our calendar system. Such chronologies would be as
    well expressible in these modes. Likewise future senarios may be dreamed of
    along these lines.<time datetime="2023-02-16T04:08:06Z"></time>
  </p>
  <p>
    <time datetime="2023-02-16T04:08:25Z"></time>At present, the manifest of
    this application-in-progress is as follows:
  </p>
  <dl>
    <dt>
      <a href="../snapshots/timelines-2022/interface.html"></a>
    </dt>
    <dd>host page for the interface</dd>
    <dt><a href="../snapshots/timelines-2022/history.css"></a></dt>
    <dd>stylesheet for same</dd>
    <dt><a href="../snapshots/timelines-2022/history-data.js"></a></dt>
    <dd>
      a compiled corpus of historical line items from WIkipedia. This is about
      32 megabytes and it's <q>derived</q> (see
      <a href="../snapshots/timelines-2022/get-history.html"></a> regarding its
      construction process). I'm including it in the repository, but rebuilding
      it for the notebook.
    </dd>
  </dl>
  <p>
    <time datetime="2023-02-16T04:32:32Z"></time>These files have their own
    histories, which are told in another place. Someday I might reopen
    them.<time datetime="2023-02-16T04:33:08Z"></time>
  </p>
  <p>
    <time datetime="2023-02-16T04:43:49Z"></time>The interface is in a pretty
    sorry state. An earlier snapshot would better reflect
    <q>where I got</q> with this iteration.<time
      datetime="2023-02-16T04:46:12Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-02-16T04:46:34Z"></time>Now that I have
    <a href="the_system.html">a factory</a> at my disposal, I can address the
    difficulty I ran into talking about
    <a href="timeframes.html">time frames</a>.
  </p>
  <section>
    <h2>
      <time datetime="2023-02-18T17:46:44Z"></time>Take an earlier snapshot of
      interface
    </h2>
    <p>
      <time datetime="2023-02-18T17:46:53Z"></time>Finding where this went off
      the rails.<time datetime="2023-02-18T17:47:14Z"></time>
    </p>
    <p>
      <time datetime="2023-02-18T17:52:01Z"></time>Looks like it was
      <time datetime="2023-01-02">Jan 2</time>.
    </p>
    <p>
      <time datetime="2023-02-18T17:52:18Z"></time>But there were good revisions
      before that, too.
    </p>
    <p>
      <time datetime="2023-02-18T17:57:13Z"></time>Took a
      <a href="../snapshots/timelines-jan-2/cronwall.html">snapshot of Jan 2</a
      >.
    </p>
    <p>
      <time datetime="2023-02-18T17:58:20Z"></time>But there was also an earlier
      one where the streams looked more coherent.<time
        datetime="2023-02-18T17:58:33Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-18T18:04:27Z"></time>Added a
      <a href="../snapshots/timelines-dec-30/cronwall.html"
        >snapshot of <time datetime="2022-12-30">Dec 30</time></a
      >
    </p>
    <p>That will do for now.<time datetime="2023-02-18T18:08:42Z"></time></p>
  </section>
  <article id="time-elements">
    <h2><time datetime="2023-03-03T18:39:32Z"></time>marking time</h2>
    <p>
      <time datetime="2023-03-03T18:40:05Z"></time>I put
      <code>time</code> elements all over the place. Empty ones. So they're
      invisible.
    </p>
    <p>
      <time datetime="2023-03-03T18:41:00Z"></time>Invisible to humans: but not
      to the machine. All of the <code>time</code> elements—and they are
      <em>everywhere</em>—have a <code>datetime</code> attribute declaring what
      point in time, be it so ever broad, it represents.
    </p>
    <p>
      <time datetime="2023-03-03T18:43:08Z"></time>Here I use templates to map
      those attributes to CSS properties that can be used for positioning.
    </p>
    <p>
      <time datetime="2023-03-03T18:43:39Z"></time>This will give me a way to
      place pretty much <em>everything you see</em> on a timeline. And see how
      that goes.
    </p>

    <p>
      <time datetime="2023-03-03T18:44:10Z"></time>The first thing to do is mark
      the <code>time</code> elements in some way. We can do that using CSS, with
      no change to the markup.
    </p>
    <style>
      body {
        --timespace-from: 1671080400; /* mid Dec ‘22 */
        --timespace-to: 1680235200; /* end of this march */
        --timespace-from: 1672549200; /* mid Dec ‘22 */
        --timespace-to: 1678852800; /* ides of march */
        position: relative;
      }
      .show-time time {
        outline: 2pt solid Highlight;
      }
      .show-time time[datetime]:empty::before {
        content: attr(datetime);
      }
      time:empty::before {
        content: "⏰";
      }
      time:empty {
        position: absolute;
        z-index: -1;
        opacity: 0.8;
        border-left: 2pt solid GrayText;
        transition: left 250ms;
        left: calc(
          100% * (var(--date-seconds) - var(--timespace-from)) /
            (var(--timespace-to) - var(--timespace-from))
        );
      }
    </style>

    <xsl-template match="*" mode="inline-css">
      <xsl-for-each select="@*">
        <xsl-if test="position() &gt; 1">; </xsl-if>
        <xsl-value-of select="concat(name(), ': ', .)" />
      </xsl-for-each>
    </xsl-template>
    <xsl-template match="custom-properties" mode="inline-css">
      <xsl-for-each select="@*">
        <xsl-if test="position() &gt; 1">; </xsl-if>
        <xsl-if test=".">
          <xsl-value-of select="concat('--', name(), ': ', .)" />
        </xsl-if>
      </xsl-for-each>
    </xsl-template>
    <xsl-template match="time" mode="insert-attributes">
      <xsl-variable name="date" select="date:date(@datetime)" />
      <xsl-variable name="time" select="date:time(@datetime)" />
      <xsl-variable name="styles">
        <custom-properties
          date-seconds="{date:seconds($date)}"
          date-year="{date:year($date)}"
          date-month-in-year="{date:month-in-year($date)}"
          date-day-in-month="{date:day-in-month($date)}"
          date-hour-in-day="{date:hour-in-day($time)}"
          date-minute-in-hour="{date:minute-in-hour($time)}"
          date-second-in-minute="{date:second-in-minute($time)}"
        />
      </xsl-variable>
      <xsl-attribute name="style">
        <xsl-apply-templates
          select="ex:node-set($styles)/*"
          mode="inline-css"
        />
      </xsl-attribute>
    </xsl-template>
  </article>
</article>
