<article>
  <h1>transclusion <time datetime="2023-02-03T21:37:49Z"></time></h1>
  <section>
    <h2><time datetime="2023-02-03T21:38:57Z"></time>round one</h2>
  </section>
  <p>
    <time datetime="2023-02-03T21:38:13Z"></time>Here's an example of what I
    want to do.<time datetime="2023-02-03T21:38:20Z"></time>
  </p>
  <p>
    <time datetime="2023-02-03T21:28:01Z"></time>What I want to say here is:
    <q href="https://developer.mozilla.org/en-US/docs/Web/CSS/length"
      >Quote <a>this URL</a> starting with the paragraph that beings
      <q>For low-dpi</q> along with the following paragraph (which should begin
      <q>For high-dpi</q>).</q
    >
    In other words, I'd like a way to transclude the content, if I'm going to go
    to the trouble of sourcing it. This is simply an extension of the knowledge
    principle to quotations. Of course, in such cases, the citation can also be
    generated, using the nearest available anchor, etc.<time
      datetime="2023-02-03T21:29:46Z"
    ></time>
  </p>
  <p>
    This kind of thing can be done pretty easily in XSLT given the document as
    input. <time datetime="2023-02-03T21:39:53Z"></time>
  </p>
  <p>
    <time datetime="2023-02-03T21:40:02Z"></time>Specifically, I want to say
    something like this:<time datetime="2023-02-03T21:40:25Z"></time>
  </p>
  <pre>
get the MDN page on CSS values and units (https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units)
find the paragraph that starts <q>For low-dpi</q>
      </pre>
  <p>
    <time datetime="2023-02-03T21:43:07Z"></time>To keep things simple, I'll
    just quote the two paragraphs separately. Then I don't need to worry about
    how to say <q>and the next paragraph</q>.<time
      datetime="2023-02-03T21:44:05Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-02-03T21:44:31Z"></time>To formalize it further, I can
    say,
    <q
      >There exists here a copy of the portion of URL(X), where the enclosing
      paragraph begins with text T.</q
    >
    For some value of <var>X</var> and <var>T</var>.<time
      datetime="2023-02-03T21:47:18Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-02-03T21:47:47Z"></time>Suppose I define an element
    <code>notebook-transclude</code>, what would this example look like?<time
      datetime="2023-02-03T21:48:28Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-02-03T21:51:24Z"></time>Something like this,
    perhaps:<time datetime="2023-02-03T21:51:30Z"></time>
  </p>
  <!-- prettier-ignore -->
  <pre>
        &lt;notebook-transclude
          source="https://developer.mozilla.org/en-US/docs/Web/CSS/length"
          &gt;&lt;paragraph starting="For low-dpi" /&gt;
        &lt;/notebook-transclude&gt;
      </pre>
  <p>
    <time datetime="2023-02-03T21:51:36Z"></time>It's stupid arbitrary. I'm just
    going with the <q>simplest thing that could possibly work</q>.<time
      datetime="2023-02-03T21:52:22Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-02-03T21:53:01Z"></time>I want to
    <q>macroexpand</q> this into something that causes the transclusion. Some of
    the parts exist:
    <a href="get-resource-from-internet.html">get resource from internet</a>,
    <code>notebook-tuprule</code>, and
    <a href="the_system.html#weaving">data-include-file</a>.<time
      datetime="2023-02-03T21:59:29Z"
    ></time>
  </p>
  <p>
    <time datetime="2023-02-03T22:33:45Z"></time>A transclusion would impact two
    different operations:<time datetime="2023-02-03T22:35:05Z"></time>
  </p>
  <ul>
    <li>
      <time datetime="2023-02-03T22:35:09Z"></time>The production of the
      document where the transclusion will occur.
    </li>
    <li>
      <time datetime="2023-02-03T22:35:28Z"></time>The set of project rules,
      which needs to include a rule to fetch the resource (assuming it is
      remote), and a rule to process that file to do the necessary
      extraction.<time datetime="2023-02-03T22:36:34Z"></time>
    </li>
  </ul>
  <p>
    <time datetime="2023-02-03T22:36:38Z"></time>I'm assuming that the input
    will be HTML.<time datetime="2023-02-03T22:37:26Z"></time>
  </p>
  <p>
    <time datetime="2023-02-03T22:37:56Z"></time>Let's start with the inclusion,
    since that <q>pulls</q> the resource into play (in other words, the rules
    derive from that).<time datetime="2023-02-03T22:38:49Z"></time>
  </p>
  <p>
    <time datetime="2023-02-03T22:38:59Z"></time>What I'm saying is that a
    <code>notebook-transclude</code> can expand as follows:<time
      datetime="2023-02-03T22:40:44Z"
    ></time>
    a
  </p>
  <ul>
    <li>
      <time datetime="2023-02-03T22:40:51Z"></time>
      <code>blockquote</code> containing
      <ul>
        <li>
          <time datetime="2023-02-03T22:41:29Z"></time>an inclusion. say, a
          <code>div</code> with a <code>data-include-file</code>. I would not
          use the <code>blockquote</code> itself because I also want to add...
        </li>
        <li>
          <time datetime="2023-02-03T22:41:59Z"></time>a
          <code>cite</code> element that links to the source and attempts to get
          an anchor and title.<time datetime="2023-02-03T22:42:47Z"></time>
        </li>
      </ul>
    </li>
    <li>
      <time datetime="2023-02-03T22:42:58Z"></time>A
      <code>notebook-tuprule</code> with
      <dl>
        <div>
          <dt>input</dt>
          <dd>the alias of the source document</dd>
        </div>
        <div>
          <dt>extra inputs</dt>
          <dd>
            the transform that extracts designated bits, such as
            <q>paragraph starting</q> (which is presumably a tangled file)
          </dd>
        </div>
        <div>
          <dt>process</dt>
          <dd>application of said transform to said document</dd>
        </div>
        <div>
          <dt>output</dt>
          <dd>
            a file containing the extract from the source document. This
            filename needs to match that of the include file. Probably the
            <q>template operation</q> I'm defining here needs to take this as an
            argument (though perhaps could determine something based on the
            parameters).
          </dd>
        </div>
      </dl>
    </li>
    <li>
      <time datetime="2023-02-03T22:47:41Z"></time>A rule to get the resource
      with some alias, which perhaps also has to be provided by the template.
      (Could be based on the URL if we can escape it).<time
        datetime="2023-02-03T22:48:40Z"
      ></time>
    </li>
  </ul>
</article>
