<article>
  <header>
    <h1>tup <time datetime="2023-01-18T02:39:46Z"></time></h1>
  </header>
  <header>
    <nav><a href="index.html">.</a></nav>
  </header>
  <p>
    <time datetime="2023-01-18T02:39:58Z"></time>
    <a href="https://gittup.org/tup/">tup</a> is a wonderful little piece of
    software by Mike Shal. It's on a very short list of tools that I truly hold
    dear. And I've decided, after a long hiatus, that I'm going to start using
    it again. <time datetime="2023-01-18T02:41:30Z"></time>
  </p>
  <section>
    <h1>getting tup <time datetime="2023-01-18T02:41:49Z"></time></h1>
    <p>
      <time datetime="2023-01-18T02:42:07Z"></time>
      <a href="https://gittup.org/tup/">tup's own web site</a> explains how it's
      done, mostly. But not quite. If you're going to build tup locally, which
      is the preferred approach (it is after all a build system), you will need
      to create some preconditions that are not documented. You know,
      dependencies.
      <time datetime="2023-01-18T02:43:49Z"></time>
    </p>
    <section>
      <h1>
        getting tup on Linux
        <time datetime="2023-01-18T02:44:19Z"></time>
      </h1>
      <p>
        <time datetime="2023-01-18T02:48:56Z"></time> The build procedure
        provided on the web site assumes that you already have the packages
        required for the build to succeed, or that you think nothing of figuring
        out what they are and then getting them. This is the one area where Tup
        is not domain agnostic: it assumes that the human building it has this
        knowledge. Here are commands for getting the prerequisites with
        <code>apt</code>:
        <time datetime="2023-01-18T02:52:15Z"></time>
      </p>
      <!-- prettier-ignore -->
      <pre id="get-tup" data-tangle-file="~/program/get-tup.sh">
sudo apt update
sudo apt install -y pkg-config
sudo apt install -y libfuse3-dev
sudo apt install -y build-essential
sudo apt install -y libpcre3-dev
# Or all at once:
# sudo apt install -y pkg-config libfuse3-dev build-essential libpcre3-dev
          </pre>
      <details>
        <summary>
          and if you don't
          <time datetime="2023-01-18T03:30:44Z"></time>
        </summary>
        <p>
          <time datetime="2023-01-18T03:05:29Z"></time> If you try to build
          without this on a vanilla system and you see something like this
        </p>
        <!-- prettier-ignore -->
        <pre>./build.sh: 1: pkg-config: not found
</pre>
        <p><time datetime="2023-01-18T03:09:45Z"></time> or this</p>
        <!-- prettier-ignore -->
        <pre>Package fuse3 was not found in the pkg-config search path.
Perhaps you should add the directory containing `fuse3.pc'
to the PKG_CONFIG_PATH environment variable
No package 'fuse3' found
</pre>
        <p>
          <time datetime="2023-01-18T03:10:25Z"></time> or this (no, I didn't
          even have <code>gcc</code>)
        </p>
        <!-- prettier-ignore -->
        <pre> mkdir build
  cd build
  bootstrap CC -g ../src/lua/lapi.c
./build.sh: 73: gcc: not found
</pre>
        <p><time datetime="2023-01-18T03:11:33Z"></time> or this</p>
        <!-- prettier-ignore -->
        <pre>  *** Command ID=1790 failed with return value 1
* 55) src/tup/server: CC fuse_fs.c                                             
/bin/sh: 1: pcre-config: not found
In file included from ../../../src/tup/file.h:31,
                 from ../../../src/tup/server.h:24,
                 from fuse_fs.c:33:
../../../src/tup/entry.h:31:10: fatal error: pcre.h: No such file or directory
   31 | #include &lt;pcre.h&gt;
      |          ^~~~~~~~
</pre>
        <p>
          that's the reason.
          <time datetime="2023-01-18T03:06:23Z"></time>
        </p>
      </details>
      <p>
        <time datetime="2023-01-18T02:45:07Z"></time> <em>Now</em> we can use
        Mike's instructions, which have you building directly from the trunk (as
        opposed to one of the
        <a href="https://gittup.org/tup/releases/">releases</a>, which will also
        work). This assumes that you already have
        <a href="https://git-scm.com/">git</a>. Start in the parent of the
        directory where you want <code>tup</code> to live:
      </p>
      <!-- prettier-ignore -->
      <pre data-tangle-file="~/program/get-tup.sh">
git clone https://github.com/gittup/tup.git
# or if you have SSH configured
# git clone git@github.com:gittup/tup.git
cd tup
./bootstrap.sh
          </pre>
      <aside>
        <details>
          <summary>
            actually... <time datetime="2023-01-20T21:03:10Z"></time>
          </summary>
          <p>
            <time datetime="2023-01-18T03:01:24Z"></time> Actually it appears
            that the script on the site is not correct, at least not now. If you
            try to clone from <code>git://github.com/gittup/tup.git</code>,
            it'll time out. The address according to GitHub now is
            <code>git@github.com:gittup/tup.git</code>. Note
            <code>git://github.com<del>/</del><ins>:</ins>gittup/tup.git</code>.
            It's <em>really hard</em> to get everything right in software,
            friends.
            <time datetime="2023-01-18T03:04:32Z"></time>
          </p>
        </details>
      </aside>
      <p>
        <time datetime="2023-01-18T03:18:17Z"></time> I prefer to keep
        <code>tup</code> at <code>/opt/tup</code>, so I also
      </p>
      <!-- prettier-ignore -->
      <pre>
cd ..
sudo mv tup /opt
</pre>
      <p>
        <time datetime="2023-01-18T03:20:24Z"></time> Finally, you'll likely
        want <code>tup</code> in your <code>PATH</code>, so add something like
        this to your <code>~/.profile</code> or equivalent:
      </p>
      <!-- prettier-ignore -->
      <pre>
export PATH="/opt/tup:$PATH"
</pre>
      <p>
        <time datetime="2023-01-18T03:21:26Z"></time> and restart your shell.
      </p>
      <section>
        <h1>
          minimum viable tup test<time datetime="2023-01-18T03:25:40Z"></time>
        </h1>
        <p>
          <time datetime="2023-01-18T03:25:25Z"></time> To make sure that Tup is
          working, I do something like this:
        </p>
        <!-- prettier-ignore -->
        <pre>
mkdir test-tup
cd test-tup
touch Tupfile.ini
echo ': hello |> cat %f | tr w W > %o |> goodbye' > Tupfile
echo world > hello
tup
cat goodbye
</pre>
        <p>
          <time datetime="2023-01-18T03:28:31Z"></time> The result of all that
          should be the following, ending with <code>World</code> (capital
          <code>W</code>) as the content of <code>goodbye</code>:
        </p>
        <!-- prettier-ignore -->
        <pre>Initializing .tup in /home/gavin/scratch/test-tup
.tup repository initialized: .tup/db
[ tup ] [0.004s] Scanning filesystem...
[ tup ] [0.006s] Reading in new environment variables...
[ tup ] [0.008s] Parsing Tupfiles...
 0) [0.002s] .
 [ ] 100%
[ tup ] [0.014s] No files to delete.                                           
[ tup ] [0.014s] Generating .gitignore files...
[ tup ] [0.016s] Executing Commands...
 0) [0.001s] cat hello | tr w W > goodbye                                      
 [ ] 100%
[ tup ] [0.019s] Updated.                                                      
World
</pre>
      </section>
    </section>
  </section>
  <article id="tup-multiple-groups">
    <h2>
      <time datetime="2023-02-09T19:32:02Z"></time>does Tup allow multiple
      groups on a rule?
    </h2>
    <p>
      <time datetime="2023-02-09T19:32:27Z"></time>At this point, the quickest
      way to test this is by writing directly to a <code>Tupfile</code>.
      <code>notebook-tuprule</code> is no good because it (currently) assumes
      only one group.<time datetime="2023-02-09T19:33:05Z"></time>
    </p>
    <p><time datetime="2023-02-09T19:34:21Z"></time>Answer: nope.</p>
    <!-- prettier-ignore -->
    <pre>tup error: Multiple output groups detected: '&lt;a&gt;' and '&lt;b&gt;/&lt;b&gt;'
tup error: Error parsing Tupfile line 1
  Line was: ': |&gt; echo 'bar' &gt; '%o' |&gt; foo &lt;a&gt; &lt;b&gt;'
</pre>
  </article>
  <section>
    <h1>Tup tips <time datetime="2023-01-18T03:31:56Z"></time></h1>
    <p>
      <time datetime="2023-01-18T03:32:09Z"></time> Other observations from my
      years of using Tup:
    </p>
    <ul>
      <li>
        <time datetime="2023-01-20T21:04:24Z"></time> Prefer
        <code>touch Tupfile.ini</code> to <code>tup init</code>. Just as Git
        uses the presence of a <code>.git</code> directory to locate its project
        root, Tup looks for a <code>.tup</code> directory. But unlike
        <code>.git</code>, <code>.tup</code> is disposable. So unlike Git, Tup
        supports a marker file (<code>Tupfile.ini</code>) that indicates a
        project root. Having a <code>Tupfile.ini</code> will allow
        <code>tup</code> commands to work consistently whether or you've nuked
        your <code>.tup</code> directory (which you definitely will), or whether
        you've just cloned the repo.
        <time datetime="2023-01-20T21:11:47Z"></time>
      </li>

      <li>
        <time datetime="2023-01-18T03:33:19Z"></time> Don't forget that
        <code>tup monitor</code> doesn't actually perform any commands by
        default; it only monitors the file system so that the next
        <code>tup</code> update command doesn't have to. That's a workflow I
        want exactly 0% of the time, so I always use
        <pre>
[monitor]
autoupdate=1</pre
        >
        which you can put in
        <code>~/.tupoptions</code>
      </li>
      <li>
        <time datetime="2023-01-18T03:32:27Z"></time> I always use
        <code>--no-environ-check</code>. There are too many ways for an
        irrelevant variable change to invalidate your build. Unfortunately, this
        is not an option like <code>autoupdate</code>, since it actually affects
        <em>what</em> gets done, not just <em>how</em>. So in order to make
        things really one-step, I make scripts for the commands:
        <pre>tup --no-environ-check</pre>
        for a one-off build and
        <pre>tup monitor --no-environ-check</pre>
        for the watcher.
        <time datetime="2023-01-18T03:41:15Z"></time>
      </li>
    </ul>
  </section>
</article>
