<article>
  <header>
    <h1>
      Wikipedia interop
      <time datetime="2023-01-28T17:40:24Z"></time>
    </h1>
    <aside>
      <p>
        <time datetime="2023-01-28T17:39:25Z"></time> This was done around 2018,
        but the earliest concrete date I still have for any copy of the original
        documentation is
        <time datetime="2021-06-27">2021-06-27</time>
      </p>
    </aside>
  </header>
  <section>
    <h2>requires</h2>
    <ul>
      <li>
        <a href="get-resource-from-internet.html">get resource from internet</a>
      </li>
      <li>
        <a href="https://stedolan.github.io/jq/">jq</a>
      </li>
    </ul>
  </section>
  <section>
    <p><time datetime="2023-02-17T04:47:38Z"></time>Some links:</p>
    <!-- prettier-ignore -->
    <ul>
          <li><a href="https://api.wikimedia.org/wiki/API_reference"></a></li>
          <li><a href="https://api.wikimedia.org/wiki/API_reference/Feed/On_this_day"></a></li>
          <li><a href="https://api.wikimedia.org/wiki/API_reference/Core/Revisions/Get_revision"></a></li>
          <li><a href="https://api.wikimedia.org/wiki/API_reference/Core/Pages/Get_HTML"></a></li>
          <li><a href="https://api.wikimedia.org/wiki/API_reference/Core/Pages/Get_page"></a></li>
          <li><a href="https://api.wikimedia.org/wiki/API_reference/Core/Pages/Get_page_offline"></a></li>
        </ul>
  </section>
  <section>
    <h3>Special behaviors</h3>
    <p>
      While the scripts defined here are intended to be more or less a
      general-purpose client for Wikipedia articles, some application-specific
      bits have made it in.
    </p>
    <p>
      For one, see the <q>streamline</q> parameters in
      <a href="../scripts/get-parse.sh">get-parse.sh</a>.
    </p>
    <p>
      Also, the extracted markup is <q>sectionized</q>. The markup rendered by
      the Wiki platform is old-style flat HTML, where most body elements are at
      the same level and headings are used to imply a document structure. This
      makes some kinds of processing difficult, so a simple transform is applied
      that injects
      <code>&lt;section&gt;</code>
      elements wherever they are implied by the headings.
    </p>
    <aside>
      <p>
        It may be desirable at some point to apply other such
        <q>normalizations.</q> The API has not changed in a long time. The most
        direct way to extend the functionality would be to get the article's
        source text, preprocess it, and have it rendered again (as described
        <a href="https://stackoverflow.com/a/16262146">here)</a>.
      </p>
    </aside>
  </section>
  <section>
    <h3>
      future considerations
      <time datetime="2023-01-28T19:59:00Z"></time>
    </h3>
    <p><time datetime="2023-01-28T19:59:04Z"></time> Rooms for improvement.</p>
    <section>
      <h4>How we represent web requests</h4>
      <p>
        Currently, a URL (string) is the portable piece of data used to
        represent a web request. In some cases, specific headers are also
        wanted. Together with any <code>POST</code> data (though we are only
        concerned with <code>GET</code> here), these things represent a single
        web request in practice.
      </p>
      <p>
        <code>curl</code> commands have become the de-facto
        <q>data structure</q> for representing web requests.
      </p>
      <p>
        A <code>curl</code> command is portable (as portable as anything). But
        it's still an opaque string.
      </p>
      <pre>
curl 'http://localhost:8081/main.js' \
   -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:62.0) Gecko/20100101 Firefox/62.0' \
   -H 'Accept: */*' \
   -H 'Accept-Language: en-US,en;q=0.5' --compressed \
   -H 'Referer: http://localhost:8081/' \
   -H 'Connection: keep-alive' \
   -H 'Pragma: no-cache' \
   -H 'Cache-Control: no-cache'          
        </pre
      >
    </section>
    <section>
      <h4>Considerations special to WIkipedia</h4>
      <section>
        <h5>How we represent Wikipedia API requests</h5>
        <p>
          If we were representing a request to the Wikipedia API as structured
          data, how would this differ from the structure used to represent web
          requests generally?
        </p>
        <section>
          <h6>The content is already revision controlled</h6>
          <p>
            Each article's content has a revision id and so is immutable,
            forward-only.
          </p>
          <p>
            Requesting an article <em>without</em> specifying a revision ID will
            give you the current article. From that point, you can use the
            revision ID to get the same article again.
          </p>
          <p>In other words, some requests are volatile and some are stable.</p>
          <aside>
            <p>
              (Or, mostly stable. For example, might not the
              <em>rest</em> of the payload change even when requesting a
              specific revision ID? I'm thinking of the links to other articles,
              which is not part of the article's content <i>per se</i>.)
            </p>
          </aside>
        </section>
        <section>
          <h6>There is a separate API for each language</h6>
          <p>
            Our Wikipedia request format would specify language along with other
            fields. In a general URL structure, this information would be lost
            as part of the hostname.
          </p>
          <p>
            From our POV, we have a request object that includes language and it
            doesn't matter whether these fields map to a subdomain or a query
            key.
          </p>
          <aside>
            <p>
              <time datetime="2023-01-28T19:54:22Z"></time> So wait, we don't
              consider the language to be part of the article identifier? In
              other words, can we really say <code>wiki:Popcorn</code> and
              expect that to mean
              <q>The Wikipedia article for popcorn, in any given language</q>?
              Obviously not, since the name needs to be resolved first against
              some specific-language Wikipedia. So in truth there could be no
              <q><code>wiki:</code></q> namespace for at-large article content,
              but rather only language-specific ones such as
              <code>wiki-en</code>. And this is trivially true in terms of how
              prefixes work anyway: what would be the expansion of
              <code>wiki:</code> ?
              <time datetime="2023-01-28T19:58:08Z"></time>
            </p>
          </aside>
        </section>
        <section>
          <h6>The API has a structured query format</h6>
          <p>We could</p>
          <ul>
            <li>use appropriate types for non-string keys</li>
            <li>use arrays for list values (such as <code>prop</code>)</li>
            <li>
              canonicalize queries based on this knowledge (to improve caching)
              <ul>
                <li>sort keys</li>
                <li>sort list values (e.g. <code>prop</code>)</li>
              </ul>
            </li>
            <li>express the structure using a typescript interface</li>
          </ul>
        </section>
      </section>
    </section>
  </section>
</article>
