<article>
  <h1>xsltproc <time datetime="2023-02-09T00:33:52-0500"></time></h1>
  <section>
    <h2>
      <time datetime="2023-02-18T14:15:11Z"></time>wrapping
      <code>xsltproc</code>
    </h2>
    <p>
      <time datetime="2023-02-09T05:34:00Z"></time>It's past time that I wrap
      XSLT calls, at least to HTML files. The output is so noisy, I just have to
      suppress it in a common way everywhere.
    </p>
    <p>
      <time datetime="2023-02-09T05:34:49Z"></time>Which means that I need to
      change all instances to call a wrapper script. I can't just change what
      <code>xsltproc</code> means in process calls.
    </p>
    <p>
      <time datetime="2023-02-09T05:35:56Z"></time>Or could I? I could certainly
      make a command definition and activate it for all rule processes. Heck,
      Tup itself has something like this. But calling a specific command makes
      it clearer that it's actually wrapped.<time
        datetime="2023-02-09T05:37:19Z"
      ></time>
    </p>
    <!-- prettier-ignore -->
    <pre data-tangle-file="~/program/xslt.sh">#!/bin/bash
set -e

xsltproc --encoding utf-8 "$@" 2> >(sed '/\(Tag.*invalid\|Unexpected end tag\)/,+2d' >&amp;2)

exit 0
      </pre>
    <p>
      <time datetime="2023-02-09T05:54:01Z"></time>That will do for now. I went
      through the existing rules that use <code>xsltproc</code> and replaces
      them with this, which requires adding it as an
      <code>extra-input</code>.<time datetime="2023-02-09T05:54:43Z"></time>
    </p>
  </section>
  <section>
    <p><time datetime="2023-02-13T04:12:47Z"></time>TIL:</p>
    <blockquote>
      <p>
        In XSLT 3.0, an inbound document can be in JSON, rather than XML. The
        processor can take that document, use the json-to-xml() function to
        convert it into a specific known XML format, process that through the
        templates, then convert the resulting output <em>back</em> into JSON (or
        can convert it into HTML 5 among other formats).
      </p>
      <cite
        ><a
          href="https://www.xml.com/articles/2017/02/14/why-you-should-be-using-xslt-30/"
          >Why You Should Be Using XSLT 3.0</a
        ></cite
      >
    </blockquote>
  </section>
  <section>
    <h2>
      <time datetime="2023-02-18T13:45:49Z"></time>Can web XsltProcessor do
      extension functions?
    </h2>
    <p>
      <time datetime="2023-02-18T13:46:19Z"></time>I saw somewhere recently that
      this was possible.<time datetime="2023-02-18T13:47:09Z"></time>
    </p>
    <p><time datetime="2023-02-18T13:50:38Z"></time>I think it was this:</p>
    <blockquote>
      <p>
        <b
          >Although it is not standard,
          <em
            >it is possible to execute JavaScript functions from within your
            XSLT</em
          >.</b
        >
      </p>
      <p>
        With MSXML you can use the <code>msxsl:script</code> extension element.
      </p>
      <cite
        ><a href="https://stackoverflow.com/a/4526456"
          >Mads Hansen on stackoverflow.com</a
        ></cite
      >
    </blockquote>
    <p>
      <time datetime="2023-02-18T13:52:25Z"></time>For some reason, the XSLT
      gurus on StackOverflow like using all <b>bold</b> paragraphs.
    </p>
    <p>
      <time datetime="2023-02-18T13:53:01Z"></time>Anyway, is this only a
      Microsoft thing? It was in 2010 and references <code>JScript</code> so it
      sure looks like it. That would of course be of no use at all.<time
        datetime="2023-02-18T13:53:51Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-18T13:54:45Z"></time>Yeah
      <a href="https://stackoverflow.com/a/32373840">confirmed here</a>. If
      there were a way to call JS from XSLT in the browser, I would have found
      out about it when making getflow.<time
        datetime="2023-02-18T13:55:22Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-18T13:56:55Z"></time>Does the browser really not
      support the <code>document()</code> function either, though?
    </p>
    <p>
      <time datetime="2023-02-18T13:58:53Z"></time
      ><a href="http://test.greenbytes.de/tech/tc/xslt/">This site</a> has a
      browser-support reference for a few XSLT extensions circa Firefox 40 (no
      dates on the page).<time datetime="2023-02-18T14:00:31Z"></time>
    </p>
  </section>
  <article>
    <p>
      <time datetime="2023-02-18T14:15:47Z"></time>This popped up again:
      <a
        href="https://softwareengineering.stackexchange.com/questions/380344/why-is-xslt-so-rarely-used-on-the-web"
        >Why is XSLT so rarely used on the web?</a
      >. I agree more with the questioner than most of the answerers.<time
        datetime="2023-02-18T14:16:42Z"
      ></time>
    </p>
    <p>
      <time datetime="2023-02-18T14:27:29Z"></time>Perhaps from the same
      department:
      <a
        href="https://groups.google.com/a/chromium.org/g/blink-dev/c/zIg2KC7PyH0/m/njaoWjDEzXAJ"
        >Intent to Deprecate and Remove: XSLT</a
      >. I read that in about <time datetime="2014">2014</time> when the
      discussion was current, and it still gives me emotions. Glad to see the
      thread concludes with several posts in opposition.
    </p>
    <p>
      <time datetime="2023-02-18T14:31:09Z"></time>Also this is interesting:
    </p>
    <blockquote>
      <blockquote>
        <p>
          I'm now seeing that perhaps another solution would be implementing the
          &lt;xsl:template /&gt; tag as a custom tag using Saxon-CE. Then XSL
          2.0 becomes a new fangled Web-Component without the change to core
          browser code.
        </p>
      </blockquote>
      <p>
        Yes, that would be great!! This kind of thing is exactly what we want to
        enable with web components. And if it's not fast enough, then we can try
        to track down the cause and fix it, which will benefit everyone using
        the platform.
      </p>
      <cite
        ><a>Domenic Denicola</a
        ><time datetime="2014-08-08">Aug 8, 2014, 1:55:13 PM</time></cite
      >
    </blockquote>
    <p>
      <time datetime="2023-02-18T14:32:49Z"></time>I'm sure that statement is
      OBE now. But Domenic is a recognizable webkit/Chrome maintainer and it's
      interested to see how that suggestion landed.<time
        datetime="2023-02-18T14:34:09Z"
      ></time>
    </p>
  </article>
  <section>
    <h2>
      <time datetime="2023-02-18T14:02:45Z"></time>what about those JavaScript
      XSLT implementations?
    </h2>
    <p>
      <time datetime="2023-02-18T14:02:58Z"></time>Times have changed a little,
      and I'm prepared to relax my opposition to using a userland XSLT processor
      in the browser, insofar as this can provide more power while remaining
      compatible with other processors.
    </p>
    <p>
      <time datetime="2023-02-18T14:05:07Z"></time>Saxon is of course the main
      one. There was also a project called <q>frameless</q>, which supposedly
      offered a smaller distributable.
    </p>
    <p>
      <time datetime="2023-02-18T14:05:53Z"></time>I suppose I had two
      objections:
    </p>
    <ul>
      <li>
        <time datetime="2023-02-18T14:06:32Z"></time>You defeat the purpose of
        using only stock facilities if you depend on a userland library.
      </li>
      <li>
        <time datetime="2023-02-18T14:07:19Z"></time>Those userland libraries
        must be big. To tell the truth, I never even looked.
      </li>
      <li>
        <time datetime="2023-02-18T14:09:56Z"></time>I would add now, they are
        naturally going to be slower than the native implementation.<time
          datetime="2023-02-18T14:10:10Z"
        ></time>
      </li>
    </ul>
    <p>
      <time datetime="2023-02-18T14:07:42Z"></time>So let's look now. Where are
      they, how big are they, what do they provide, how do they work, and are
      they maintained. Not necessarily in that order.<time
        datetime="2023-02-18T14:08:22Z"
      ></time>
    </p>
    <p><time datetime="2023-02-18T14:10:25Z"></time>Initial findings:</p>
    <ul>
      <li>
        <time datetime="2023-02-18T14:10:31Z"></time
        ><a href="https://github.com/Xcential-Corporation/XSLTjs">XSLTjs</a>. An
        <q>in-progress</q> reworking of the older
        <a href="https://github.com/4031651/ajaxslt">AJAXSLT</a>.
      </li>
      <li>
        <time datetime="2023-02-18T14:25:55Z"></time
        ><a href="https://github.com/fiduswriter/xslt-processor"
          >XSLT-processor</a
        >. <q>looking for a maintainer</q>
      </li>
      <li>
        <time datetime="2023-02-18T14:41:56Z"></time>Frameless seems to be long
        dead now. <a href="https://stamm-wilbrandt.de/frameless/">Here</a> is
        something from <time datetime="2013-11">November 2013</time>. I don't
        know whether the site <a href="http://frameless.io/">frameless.io</a> is
        still about this or not, as it's a few sentences and they're in Dutch.
        The Twutter handle <code>frameless_io</code> links to that site and
        describes itself as:
        <q>Reactive template engine for a flow-based and model-driven web</q>,
        but hasn't posted since <time href="2014">2014</time>.
      </li>
      <li>
        <time datetime="2023-02-18T14:46:34Z"></time>And then of course there's
        Saxon. Last I knew, it was compiled to JavaScript from Java using GWT,
        and the result was honkin' huge.
      </li>
    </ul>
    <p>
      <time datetime="2023-02-18T14:50:13Z"></time>Regarding Saxon, before I get
      to the distributable, I have to say that I like their motivation:
    </p>
    <blockquote>
      <p>
        Saxon-CE is not simply an XSLT 2.0 processor running in the browser,
        doing the kind of things that an XSLT 1.0 processor did, but with more
        language features (though that in itself is a great step forward). It
        also takes XSLT into the world of interactive programming. With Saxon-CE
        it's not just a question of translating XML into HTML-plus-JavaScript
        and then doing all the interesting user interaction in the JavaScript;
        instead, user input and interaction is handled directly within the XSLT
        code.
      </p>
      <cite
        ><a href="https://www.saxonica.com/ce/user-doc/1.1/index.html"
          >About Saxon-CE</a
        ></cite
      >
    </blockquote>
    <p>
      <time datetime="2023-02-18T14:50:54Z"></time>Okay, regarding Saxon-CE,
      Michael Kay describes it on the project's GitHub page:
    </p>
    <blockquote>
      <p>
        Saxon-CE was Saxonica's first venture into client-side (browser-based)
        XSLT support, including interactive XSLT extensions designed to allow an
        XSLT stylesheet to respond to user interaction events by modifying the
        content of the HTML page.
      </p>
      <p>
        The product was a stripped-down version of the Saxon-Java code,
        cross-compiled to Javascript using Google's GWT transpiler.
      </p>
      <p>
        It has since been superseded by Saxon-JS, which is written in pure
        Javascript, but which retains the interactive XSLT extensions.
      </p>
      <p>
        Saxon-CE is no longer maintained or supported and should not be used for
        new projects.
      </p>
      <cite
        ><a href="https://github.com/Saxonica/Saxon-CE"
          >Michael Kay Saxonica <time datetime="2021-04">April 2021</time></a
        ></cite
      >
    </blockquote>
    <p>
      <time datetime="2023-02-18T14:53:53Z"></time>Okay, so what's Saxon-JS? Is
      it this?
    </p>
    <blockquote>
      <p>
        In this paper, we introduce Saxon-JS, an XSLT 3.0 run-time written in
        pure JavaScript. We've effectively split the Saxon product into its
        compile-time and run-time components. The compiler runs on the server,
        and generates an intermediate representation of the compiled and
        optimized stylesheet in a custom XML format. Saxon-JS, running on the
        browser, reads in the compiled stylesheet and executes it. We describe
        some particular features of Saxon-JS: the event-handling extensions to
        the XSLT language (as used for Saxon-CE), the way that XSLT and
        JavaScript can interwork, conformance to the W3C XSLT and XPath
        specifications, and some details of the internal implementation.
      </p>
      <cite
        ><a
          href="https://www.balisage.net/Proceedings/vol17/html/Lockett01/BalisageVol17-Lockett01.html"
          >Balisage Paper: Saxon-JS: XSLT 3.0 in the Browser</a
        ></cite
      >
    </blockquote>
    <p>
      <time datetime="2023-02-18T14:55:12Z"></time>Interesting. So they
      concluded that the apparatus for stylesheet compilation was too heavy for
      the browser itself, which is not surprising considering that XSLT 2.0 and
      3.0 add considerable requirements on top of 1.0.<time
        datetime="2023-02-18T14:56:06Z"
      ></time>
    </p>
    <p><time datetime="2023-02-18T14:58:02Z"></time>Well, not necessarily:</p>
    <blockquote>
      <p>SaxonJS 2 is a major upgrade.</p>
      <p>The most noticeable differences are:</p>
      <ul>
        <li>It runs on Node.js as well as in the browser</li>
        <li>
          It comes with its own XSLT compiler, rather than relying on
          stylesheets being cross-compiled using the Java product
        </li>
      </ul>
      <cite
        ><a href="https://www.saxonica.com/saxon-js/index.xml#new"
          >What's new in SaxonJS 2?</a
        ></cite
      >
    </blockquote>
    <p>
      <time datetime="2023-02-18T14:59:23Z"></time>The Java thing was basically
      a non-starter for me, and I guess I wasn't the only one.
    </p>
    <p>
      <time datetime="2023-02-18T15:00:07Z"></time>The
      <a href="https://www.saxonica.com/saxon-js/index.xml#license">license</a>
      (<q>free of charge but not open source</q>) could also be a concern, but
      let's at least take a look.<time datetime="2023-02-18T15:00:46Z"></time>
    </p>
    <!-- prettier-ignore -->
    <pre>$ mkdir try-saxon-js
$ cd try-saxon-js/
$ echo {} &gt; package.json
$ npm i -E saxon-js xslt3

added 4 packages, and audited 5 packages in 6s

1 package is looking for funding
  run `npm fund` for details

found 0 vulnerabilities
</pre>
    <p>
      <time datetime="2023-02-18T15:08:31Z"></time>So far so good. Now where's
      the distributable?<time datetime="2023-02-18T15:09:11Z"></time>
    </p>
    <p>
      <time datetime="2023-02-18T15:11:40Z"></time>From <code>saxon-js</code>:
    </p>
    <!-- prettier-ignore -->
    <pre>  -rw-rw-r-- 2603895 02-18 10:07 SaxonJS2N.js
        </pre>
    <p><time datetime="2023-02-18T15:12:00Z"></time>From <code>xslt3</code>:</p>
    <!-- prettier-ignore -->
    <pre>  -rwxrwxr-x 42695 02-18 10:07 xslt3.js
        </pre>
    <p>
      <time datetime="2023-02-18T15:12:13Z"></time>Both appear to be obfuscated
      code (as I'd expect from the license), but I believe that
      <code>xslt3</code> only has the command-line bindings.
    </p>
    <p>
      <time datetime="2023-02-18T15:13:07Z"></time>So from that and the name
      <code>SaxonJS2N</code>, I'm guessing that they replaced the Java
      dependency with a Node dependency, but that they retained the overall
      architecture of compiling rather than interpreting stylesheets.
    </p>
    <p>
      <time datetime="2023-02-18T15:14:29Z"></time>Conclusion: could be
      interesting, but this is where I stop for today.<time
        datetime="2023-02-18T15:14:54Z"
      ></time>
    </p>
    <aside>
      <p>
        <time datetime="2023-02-18T14:19:03Z"></time>Something I should probably
        read:
        <a
          href="https://www.balisage.net/Proceedings/vol10/html/Delpratt01/BalisageVol10-Delpratt01.html"
          >Balisage Paper: Interactive XSLT in the browser</a
        >. Some background docs about Saxon.<time
          datetime="2023-02-18T14:19:35Z"
        ></time>
      </p>
    </aside>
  </section>
  <article>
    <h2><time datetime="2023-02-18T14:22:04Z"></time>XSLT blender @ NIST</h2>
    <p>
      <time datetime="2023-02-18T14:22:13Z"></time>Just came across this work by
      someone at NIST, which looks interesting.
    </p>
    <ul>
      <li><a href="https://github.com/usnistgov/xslt-blender"></a></li>
      <li>
        <a href="https://pages.nist.gov/xslt-blender/">XSLT Blender Portal</a>
        which commences, (using a <code>q</code> element!):
        <q>Least power, greatest effect</q>. I like it.
      </li>
      <li>
        <a href="https://github.com/usnistgov/xslt-blender/wiki"
          >XSLT Blender - overview</a
        >. I also like how this begins:
        <blockquote>
          <p>
            XSLT Blender is a mix of old-school and newfangled document
            processing logic, delivered safely to your browser for local use.
          </p>
          <p>
            An HTML page with some lightweight Javascript provides an
            application space.
          </p>
        </blockquote>
      </li>
    </ul>
  </article>
  <article>
    <h2><time datetime="2023-03-03T18:20:54Z"></time>xsltproc extensions</h2>
    <pre>xsltproc --dumpextensions</pre>
    <!-- prettier-ignore -->
    <output><pre>
        Registered XSLT Extensions
--------------------------
Registered Extension Functions:
{http://exslt.org/crypto}rc4_decrypt
{http://exslt.org/math}constant
{http://exslt.org/dates-and-times}date-time
{http://icl.com/saxon}expression
{http://icl.com/saxon}line-number
{http://exslt.org/math}min
{http://exslt.org/sets}distinct
{http://exslt.org/sets}has-same-node
{http://exslt.org/dates-and-times}difference
{http://exslt.org/dates-and-times}year
{http://exslt.org/crypto}sha1
{http://exslt.org/math}asin
{http://exslt.org/math}atan2
{http://exslt.org/dates-and-times}add-duration
{http://exslt.org/dates-and-times}day-name
{http://exslt.org/dates-and-times}month-in-year
{http://exslt.org/dynamic}evaluate
{http://exslt.org/crypto}rc4_encrypt
{http://exslt.org/math}max
{http://exslt.org/math}tan
{http://exslt.org/math}exp
{http://exslt.org/sets}leading
{http://exslt.org/sets}trailing
{http://exslt.org/strings}decode-uri
{http://exslt.org/strings}concat
{http://exslt.org/dates-and-times}day-in-month
{http://exslt.org/dates-and-times}seconds
{http://exslt.org/dates-and-times}time
{http://icl.com/saxon}evaluate
{http://exslt.org/dynamic}map
{http://exslt.org/math}highest
{http://exslt.org/math}sin
{http://exslt.org/math}cos
{http://exslt.org/dates-and-times}date
{http://exslt.org/dates-and-times}duration
{http://exslt.org/dates-and-times}week-in-year
{http://exslt.org/crypto}md5
{http://exslt.org/dates-and-times}add
{http://exslt.org/dates-and-times}leap-year
{http://exslt.org/dates-and-times}minute-in-hour
{http://exslt.org/dates-and-times}month-abbreviation
{http://exslt.org/dates-and-times}sum
{http://exslt.org/dates-and-times}week-in-month
{http://exslt.org/common}node-set
{http://exslt.org/math}abs
{http://exslt.org/math}sqrt
{http://exslt.org/math}power
{http://exslt.org/sets}difference
{http://exslt.org/strings}padding
{http://exslt.org/strings}align
{http://exslt.org/dates-and-times}hour-in-day
{http://xmlsoft.org/XSLT/}test
{http://exslt.org/math}random
{http://exslt.org/math}log
{http://exslt.org/math}atan
{http://exslt.org/strings}encode-uri
{http://exslt.org/dates-and-times}day-abbreviation
{http://exslt.org/dates-and-times}day-in-week
{http://exslt.org/dates-and-times}day-of-week-in-month
{http://exslt.org/dates-and-times}month-name
{http://exslt.org/dates-and-times}second-in-minute
{http://exslt.org/common}object-type
{http://exslt.org/crypto}md4
{http://exslt.org/math}acos
{http://exslt.org/strings}tokenize
{http://exslt.org/strings}replace
{http://icl.com/saxon}eval
{http://icl.com/saxon}systemId
{http://exslt.org/math}lowest
{http://exslt.org/sets}intersection
{http://exslt.org/strings}split
{http://exslt.org/dates-and-times}day-in-year

Registered Extension Elements:
{http://exslt.org/common}document
{http://exslt.org/functions}result
{http://xmlsoft.org/XSLT/}test

Registered Extension Modules:
http://icl.com/saxon
http://exslt.org/functions
http://xmlsoft.org/XSLT/
out</pre></output>
  </article>
</article>
